RevOps-Analysts/Documentation/Flows/contact-extractdomainfromemail/flow.schema.json
{
  "properties": {
    "connectionReferences": {
      "shared_commondataserviceforapps": {
        "api": {
          "name": "shared_commondataserviceforapps"
        },
        "connection": {
          "connectionReferenceLogicalName": "revops_sharedcommondataserviceforapps_bccd6"
        },
        "runtimeSource": "embedded"
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        },
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        }
      },
      "triggers": {
        "When_a_contact_is_added_or_modified": {
          "type": "OpenApiConnectionWebhook",
          "inputs": {
            "parameters": {
              "subscriptionRequest/message": 4,
              "subscriptionRequest/entityname": "contact",
              "subscriptionRequest/scope": 4,
              "subscriptionRequest/filteringattributes": "emailaddress1",
              "subscriptionRequest/filterexpression": "revops_domain eq null and emailaddress1 ne null"
            },
            "host": {
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
              "operationId": "SubscribeWebhookTrigger",
              "connectionName": "shared_commondataserviceforapps"
            }
          },
          "metadata": {
            "operationMetadataId": "ff5d8911-9e7a-4d7a-bda4-0d9d8dcf12d3"
          }
        }
      },
      "actions": {
        "Initialize_variable": {
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "email",
                "type": "array"
              }
            ]
          },
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "b94e8266-4dc9-47f2-bf01-12dd434d0b3f"
          }
        },
        "Split_Email": {
          "type": "SetVariable",
          "inputs": {
            "name": "email",
            "value": "@split(triggerOutputs()?['body/emailaddress1'], '@')"
          },
          "runAfter": {
            "Initialize_variable": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "d169257e-0aea-4488-af70-0557d3544e97"
          }
        },
        "Get_Domain": {
          "type": "Compose",
          "inputs": "@last(variables('email'))",
          "runAfter": {
            "Split_Email": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "472e896c-a3cd-45ff-a7ac-b269031adc56"
          }
        },
        "Update_a_row": {
          "type": "OpenApiConnection",
          "inputs": {
            "parameters": {
              "entityName": "contacts",
              "recordId": "@triggerOutputs()?['body/contactid']",
              "item/revops_domain": "@outputs('Get_Domain')"
            },
            "host": {
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
              "operationId": "UpdateRecord",
              "connectionName": "shared_commondataserviceforapps"
            }
          },
          "runAfter": {
            "Get_Domain": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "aaf9c71f-b6d9-4b5d-be6e-09d2bb51da4d"
          }
        }
      }
    },
    "templateName": null
  },
  "schemaVersion": "1.0.0.0"
}