RevOps-Analysts/Documentation/Flows/audienceimport-upsertcontactandassociate/flow.schema.json
{
  "properties": {
    "connectionReferences": {
      "shared_commondataserviceforapps": {
        "api": {
          "name": "shared_commondataserviceforapps"
        },
        "connection": {
          "connectionReferenceLogicalName": "revops_sharedcommondataserviceforapps_bccd6"
        },
        "runtimeSource": "embedded"
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        },
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        }
      },
      "triggers": {
        "When_a_row_is_added,_modified_or_deleted": {
          "type": "OpenApiConnectionWebhook",
          "inputs": {
            "parameters": {
              "subscriptionRequest/message": 1,
              "subscriptionRequest/entityname": "revops_audienceimport",
              "subscriptionRequest/scope": 4,
              "subscriptionRequest/name": "bf728815-6f4c-f011-877b-7c1e52409afe"
            },
            "host": {
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
              "operationId": "SubscribeWebhookTrigger",
              "connectionName": "shared_commondataserviceforapps"
            }
          },
          "metadata": {
            "operationMetadataId": "ebc6d147-205d-4f00-81d6-59394695c37d"
          }
        }
      },
      "actions": {
        "List_rows": {
          "type": "OpenApiConnection",
          "inputs": {
            "parameters": {
              "entityName": "contacts",
              "$filter": "emailaddress1 eq '@{triggerOutputs()?['body/revops_emailaddress']}'",
              "$orderby": "modifiedon desc",
              "$top": 1
            },
            "host": {
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
              "operationId": "ListRecords",
              "connectionName": "shared_commondataserviceforapps"
            }
          },
          "runAfter": {
            "iVar_contactid": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "6fa8735e-4203-4693-abdc-9a5c832fc44f"
          }
        },
        "Condition": {
          "type": "If",
          "expression": {
            "greater": [
              "@length(outputs('List_rows')?['body/value'])",
              0
            ]
          },
          "actions": {
            "uRow_audience_import_associate": {
              "type": "OpenApiConnection",
              "inputs": {
                "parameters": {
                  "entityName": "revops_audienceimports",
                  "recordId": "@triggerOutputs()?['body/revops_audienceimportid']",
                  "item/revops_contact@odata.bind": "/contacts(@{variables('contactid')})"
                },
                "host": {
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                  "operationId": "UpdateOnlyRecord",
                  "connectionName": "shared_commondataserviceforapps"
                }
              },
              "runAfter": {
                "sVar_-_contactid_listed": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "cfbdbd22-18de-4b6a-9a37-ba00719f79ef"
              }
            },
            "sVar_-_contactid_listed": {
              "type": "SetVariable",
              "inputs": {
                "name": "contactid",
                "value": "@{first(body('List_rows')?['value'])?['contactid']}"
              },
              "metadata": {
                "operationMetadataId": "cb50ca71-0872-4f3e-acd8-a305d81b8168"
              }
            }
          },
          "else": {
            "actions": {
              "aRow_contact": {
                "type": "OpenApiConnection",
                "inputs": {
                  "parameters": {
                    "entityName": "contacts",
                    "item/emailaddress1": "@triggerOutputs()?['body/revops_emailaddress']",
                    "item/lastname": "@triggerOutputs()?['body/revops_lastname']",
                    "item/firstname": "@triggerOutputs()?['body/revops_firstname']",
                    "item/jobtitle": "@triggerOutputs()?['body/revops_jobtitle']",
                    "item/company": "@triggerOutputs()?['body/revops_phonenumber']",
                    "item/revops_languagechoice": "@triggerOutputs()?['body/revops_language']"
                  },
                  "host": {
                    "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                    "operationId": "CreateRecord",
                    "connectionName": "shared_commondataserviceforapps"
                  }
                },
                "metadata": {
                  "operationMetadataId": "105542bf-f156-4a92-8922-9818c0e670ee"
                }
              },
              "uRow_audience_import_associate1": {
                "type": "OpenApiConnection",
                "inputs": {
                  "parameters": {
                    "entityName": "revops_audienceimports",
                    "recordId": "@triggerOutputs()?['body/revops_audienceimportid']",
                    "item/revops_contact@odata.bind": "/contacts(@{variables('contactid')})"
                  },
                  "host": {
                    "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                    "operationId": "UpdateOnlyRecord",
                    "connectionName": "shared_commondataserviceforapps"
                  }
                },
                "runAfter": {
                  "sVar_-_contactid_created": [
                    "Succeeded"
                  ]
                },
                "metadata": {
                  "operationMetadataId": "cfbdbd22-18de-4b6a-9a37-ba00719f79ef"
                }
              },
              "sVar_-_contactid_created": {
                "type": "SetVariable",
                "inputs": {
                  "name": "contactid",
                  "value": "@outputs('aRow_contact')?['body/contactid']"
                },
                "runAfter": {
                  "aRow_contact": [
                    "Succeeded"
                  ]
                },
                "metadata": {
                  "operationMetadataId": "3a7fa73e-a156-4ff2-9605-e71bc9d38536"
                }
              }
            }
          },
          "runAfter": {
            "List_rows": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "d76f8ee0-bd18-4e64-97b0-65aabecdaeed"
          }
        },
        "iVar_contactid": {
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "contactid",
                "type": "string"
              }
            ]
          },
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "3fdea0a5-4343-48d5-ab48-f4507c1573ae"
          }
        }
      },
      "outputs": {}
    },
    "templateName": null
  },
  "schemaVersion": "1.0.0.0"
}