RevOps-Analysts/Documentation/Flows/setsupportedservicecolumn-emailchannel/flow.schema.json
{
  "properties": {
    "connectionReferences": {
      "shared_commondataserviceforapps": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "revops_sharedcommondataserviceforapps_61b07"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      },
      "shared_conversionservice": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "revops_sharedconversionservice_1f7ec"
        },
        "api": {
          "name": "shared_conversionservice"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        }
      },
      "triggers": {
        "When_a_row_is_added,_modified_or_deleted": {
          "metadata": {
            "operationMetadataId": "38bb2d3c-dd84-4b2a-86db-e5a58888fd82"
          },
          "type": "OpenApiConnectionWebhook",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "SubscribeWebhookTrigger",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "subscriptionRequest/message": 1,
              "subscriptionRequest/entityname": "incident",
              "subscriptionRequest/scope": 4,
              "subscriptionRequest/filterexpression": "caseorigincode eq 2"
            },
            "authentication": "@parameters('$authentication')"
          }
        }
      },
      "actions": {
        "Update_Service": {
          "runAfter": {
            "Detect_Service_in_Description": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "6d96d52e-409b-459c-8809-221bc7a5086d"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "UpdateOnlyRecord",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "incidents",
              "recordId": "@triggerOutputs()?['body/incidentid']",
              "item/revops_service@odata.bind": "revops_services(@{outputs('Detect_Service_in_Description')?['body/responsev2/predictionOutput/text']})"
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Detect_Service_in_Description": {
          "runAfter": {
            "Html_to_text": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "8671c4d0-d2a4-4128-b410-8a0cb199d7fd",
            "flowSystemMetadata": {
              "portalOperationId": "aibuilderpredict_customprompt",
              "portalOperationGroup": "aibuilder",
              "portalOperationApiDisplayNameOverride": "AI Builder",
              "portalOperationIconOverride": "https://content.powerapps.com/resource/makerx/static/pauto/images/designeroperations/aiBuilderNew.51dbdb6b.png",
              "portalOperationBrandColorOverride": "#0A76C4",
              "portalOperationApiTierOverride": "Standard"
            }
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "aibuilderpredict_customprompt",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "recordId": "3f677161-0431-4696-beab-f3f756a1ee9a",
              "item/requestv2/Description": "@body('Html_to_text')"
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "List_rows": {
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "2234ea9b-ea4f-4c5d-8e03-87b58296e4f8"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "ListRecords",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "emails",
              "$filter": "_regardingobjectid_value eq '@{triggerOutputs()?['body/incidentid']}'"
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Html_to_text": {
          "runAfter": {
            "List_rows": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "f9f9bf87-2b72-4735-a05b-1eed7f9adb1c"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_conversionservice",
              "operationId": "HtmlToText",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_conversionservice"
            },
            "parameters": {
              "Content": "<p>@{outputs('List_rows')?['body/value'][0]?['description']}</p>"
            },
            "authentication": "@parameters('$authentication')"
          }
        }
      }
    },
    "templateName": ""
  },
  "schemaVersion": "1.0.0.0"
}