RevOps-Analysts/Documentation/Flows/account-backfillchannelrelationship/flow.schema.json
{
  "properties": {
    "connectionReferences": {
      "shared_commondataserviceforapps": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "revops_sharedcommondataserviceforapps_4857e"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      },
      "shared_teams": {
        "runtimeSource": "invoker",
        "connection": {
          "connectionReferenceLogicalName": "revops_sharedteams_afc8a"
        },
        "api": {
          "name": "shared_teams"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "undefined",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        }
      },
      "triggers": {
        "manual": {
          "metadata": {
            "operationMetadataId": "f289e9a4-a8c1-47ab-9862-10a7f7d49a32"
          },
          "type": "Request",
          "kind": "Button",
          "inputs": {
            "schema": {
              "type": "object",
              "properties": {},
              "required": []
            }
          }
        }
      },
      "actions": {
        "Initialize_Count_of_Accounts": {
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "6c1cc671-a17f-46bb-ad6b-caecc12d6acd"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "Count of Accounts",
                "type": "integer",
                "value": 1
              }
            ]
          }
        },
        "Do_until": {
          "actions": {
            "List_Partner_Accounts": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "b73bd1d4-9cef-49ff-be63-38384fd39bd8"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "parameters": {
                  "entityName": "accounts",
                  "fetchXml": "<fetch version=\"1.0\" output-format=\"xml-platform\" mapping=\"logical\" savedqueryid=\"65ffaf9a-e8c5-432d-860b-32f841b00d87\" distinct=\"true\" no-lock=\"false\"><entity name=\"account\"><attribute name=\"entityimage_url\"/><attribute name=\"parentaccountid\"/><attribute name=\"name\"/><attribute name=\"telephone1\"/><attribute name=\"address1_city\"/><attribute name=\"primarycontactid\"/><filter type=\"and\"><condition attribute=\"customertypecode\" operator=\"ne\" value=\"3\"/><condition attribute=\"revops_channel\" operator=\"null\"/></filter><link-entity alias=\"accountprimarycontactidcontactcontactid\" name=\"contact\" from=\"contactid\" to=\"primarycontactid\" link-type=\"outer\" visible=\"false\"><attribute name=\"emailaddress1\"/></link-entity><attribute name=\"statecode\"/><attribute name=\"accountid\"/><attribute name=\"ownerid\"/><attribute name=\"revops_monthlyrecurringrevenue\"/><attribute name=\"territoryid\"/><attribute name=\"customertypecode\"/><attribute name=\"revops_channel\"/><link-entity name=\"revops_cumulusaccount\" alias=\"ab\" link-type=\"inner\" from=\"revops_account\" to=\"accountid\"><filter type=\"and\"><condition attribute=\"revops_clienttype\" operator=\"eq\" value=\"Partner\"/></filter></link-entity></entity></fetch>"
                },
                "host": {
                  "connectionName": "shared_commondataserviceforapps",
                  "operationId": "ListRecords",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "authentication": "@parameters('$authentication')"
              }
            },
            "Set_Count_of_Accounts": {
              "runAfter": {
                "List_Partner_Accounts": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "93235497-6773-48ff-809f-5a0664c7bdd9"
              },
              "type": "SetVariable",
              "inputs": {
                "name": "Count of Accounts",
                "value": "@length(outputs('List_Partner_Accounts')?['body/value'])"
              }
            },
            "For_each": {
              "foreach": "@outputs('List_Partner_Accounts')?['body/value']",
              "actions": {
                "Update_Partner_Accounts": {
                  "runAfter": {},
                  "metadata": {
                    "operationMetadataId": "961c5b98-5631-4327-ad56-f4e44243b069"
                  },
                  "type": "OpenApiConnection",
                  "inputs": {
                    "parameters": {
                      "entityName": "accounts",
                      "recordId": "@item()?['accountid']",
                      "item/revops_channel": 283040001,
                      "item/customertypecode": 3
                    },
                    "host": {
                      "connectionName": "shared_commondataserviceforapps",
                      "operationId": "UpdateRecord",
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                    },
                    "authentication": "@parameters('$authentication')"
                  }
                }
              },
              "runAfter": {
                "Set_Count_of_Accounts": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "d086594d-2095-4bc4-889c-402bec46fdcd"
              },
              "type": "Foreach"
            }
          },
          "runAfter": {
            "Initialize_Count_of_Accounts": [
              "Succeeded"
            ]
          },
          "expression": "@equals(variables('Count of Accounts'),0)",
          "limit": {
            "count": 60,
            "timeout": "PT1H"
          },
          "metadata": {
            "operationMetadataId": "888221ec-384d-4380-8865-7547abf7e653"
          },
          "type": "Until"
        },
        "Do_until_1": {
          "actions": {
            "List_Direct_Accounts": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "31323ba9-a952-4c74-98cd-02e6c1175770"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "parameters": {
                  "entityName": "accounts",
                  "fetchXml": "<fetch version=\"1.0\" output-format=\"xml-platform\" mapping=\"logical\" savedqueryid=\"65ffaf9a-e8c5-432d-860b-32f841b00d87\" distinct=\"true\" no-lock=\"false\"><entity name=\"account\"><attribute name=\"entityimage_url\"/><attribute name=\"parentaccountid\"/><attribute name=\"name\"/><attribute name=\"telephone1\"/><attribute name=\"address1_city\"/><attribute name=\"primarycontactid\"/><filter type=\"and\"><condition attribute=\"customertypecode\" operator=\"ne\" value=\"3\"/><condition attribute=\"revops_channel\" operator=\"null\"/></filter><link-entity alias=\"accountprimarycontactidcontactcontactid\" name=\"contact\" from=\"contactid\" to=\"primarycontactid\" link-type=\"outer\" visible=\"false\"><attribute name=\"emailaddress1\"/></link-entity><attribute name=\"statecode\"/><attribute name=\"accountid\"/><attribute name=\"ownerid\"/><attribute name=\"revops_monthlyrecurringrevenue\"/><attribute name=\"territoryid\"/><attribute name=\"customertypecode\"/><attribute name=\"revops_channel\"/><link-entity name=\"revops_cumulusaccount\" alias=\"ab\" link-type=\"inner\" from=\"revops_account\" to=\"accountid\"><filter type=\"and\"><condition attribute=\"revops_clienttype\" operator=\"eq\" value=\"Direct\"/></filter></link-entity></entity></fetch>"
                },
                "host": {
                  "connectionName": "shared_commondataserviceforapps",
                  "operationId": "ListRecords",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "authentication": "@parameters('$authentication')"
              }
            },
            "For_each_Direct_Account": {
              "foreach": "@outputs('List_Direct_Accounts')?['body/value']",
              "actions": {
                "Update_Direct_Accounts": {
                  "runAfter": {},
                  "metadata": {
                    "operationMetadataId": "c6eaa1a3-64bc-4eef-af34-ee5271566a54"
                  },
                  "type": "OpenApiConnection",
                  "inputs": {
                    "parameters": {
                      "entityName": "accounts",
                      "recordId": "@item()?['accountid']",
                      "item/revops_channel": 283040000,
                      "item/customertypecode": 3
                    },
                    "host": {
                      "connectionName": "shared_commondataserviceforapps",
                      "operationId": "UpdateRecord",
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                    },
                    "authentication": "@parameters('$authentication')"
                  }
                }
              },
              "runAfter": {
                "Set_Count_of_Accounts_3": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "58bc823c-eb94-4835-86c9-e64a74b618c0"
              },
              "type": "Foreach"
            },
            "Set_Count_of_Accounts_3": {
              "runAfter": {
                "List_Direct_Accounts": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "cb1c4497-c768-49a4-bee8-99197c7301e9"
              },
              "type": "SetVariable",
              "inputs": {
                "name": "Count of Accounts",
                "value": "@length(outputs('List_Direct_Accounts')?['body/value'])"
              }
            }
          },
          "runAfter": {
            "Set_Count_of_accounts_2": [
              "Succeeded"
            ]
          },
          "expression": "@equals(variables('Count of Accounts'),0)",
          "limit": {
            "count": 60,
            "timeout": "PT1H"
          },
          "metadata": {
            "operationMetadataId": "4a09bc89-8e07-4de3-8326-cd39140fb6f4"
          },
          "type": "Until"
        },
        "Set_Count_of_accounts_2": {
          "runAfter": {
            "Do_until": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "7f264b52-a745-4969-9aa5-fd4b9098f004"
          },
          "type": "SetVariable",
          "inputs": {
            "name": "Count of Accounts",
            "value": 1
          }
        },
        "Post_message_in_a_chat_or_channel": {
          "runAfter": {
            "Do_until_1": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "38b190ac-adea-42b2-9f27-dbdf301ab12b"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "parameters": {
              "poster": "Flow bot",
              "location": "Group chat",
              "body/recipient": "19:64782cf04c7f479aaf4def64b4df7130@thread.v2",
              "body/messageBody": "<p>It's been did.</p>"
            },
            "host": {
              "connectionName": "shared_teams",
              "operationId": "PostMessageToConversation",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_teams"
            },
            "authentication": {
              "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']",
              "type": "Raw"
            }
          }
        }
      }
    },
    "templateName": ""
  },
  "schemaVersion": "1.0.0.0"
}