AIDocumentation/Flows/journey-customtriggerforlead/flow.schema.json
{
  "properties": {
    "connectionReferences": {
      "shared_commondataserviceforapps": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "revops_sharedcommondataserviceforapps_bccd6"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        }
      },
      "triggers": {
        "When_an_action_is_performed": {
          "metadata": {
            "operationMetadataId": "db634772-784c-4178-9b11-724299999057"
          },
          "type": "OpenApiConnectionWebhook",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "BusinessEventsTrigger",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "catalog": "msdynmkt_catalog",
              "category": "msdynmkt_custom",
              "subscriptionRequest/entityname": "none",
              "subscriptionRequest/sdkmessagename": "msdynmkt_sherweb_contactdatamapping_144625265"
            },
            "authentication": "@parameters('$authentication')"
          }
        }
      },
      "actions": {
        "Get_contact_by_ID": {
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "3bebae88-fcf3-4e3d-9483-9134b3d1ad86"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "GetItem",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "contacts",
              "recordId": "@triggerOutputs()?['body/InputParameters/msdynmkt_profileid']"
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "List_leads": {
          "runAfter": {
            "Get_contact_by_ID": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "18507852-4383-40d5-82e0-18b463ffe049"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "ListRecords",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "leads",
              "$filter": "_parentcontactid_value eq '@{triggerBody()?['InputParameters']?['msdynmkt_profileid']}'",
              "$orderby": "createdon desc",
              "$top": 1
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Condition": {
          "actions": {
            "Update_lead_attribute1_=_Trade_Show": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "5f421b22-a07e-4c55-b313-99162709a97b"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps",
                  "operationId": "UpdateRecord",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "leads",
                  "recordId": "@outputs('List_leads')?['body/value'][0]?['leadid']",
                  "item/leadsourcecode": 7
                },
                "authentication": "@parameters('$authentication')"
              }
            }
          },
          "runAfter": {
            "List_leads": [
              "Succeeded"
            ]
          },
          "else": {
            "actions": {
              "Update_lead_contact_sales_yes": {
                "runAfter": {},
                "metadata": {
                  "operationMetadataId": "92f12346-fdc0-405f-9f38-80b2a9865bc7"
                },
                "type": "OpenApiConnection",
                "inputs": {
                  "host": {
                    "connectionName": "shared_commondataserviceforapps",
                    "operationId": "UpdateRecord",
                    "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                  },
                  "parameters": {
                    "entityName": "leads",
                    "recordId": "@outputs('List_leads')?['body/value'][0]?['leadid']",
                    "item/revops_contactsales": true
                  },
                  "authentication": "@parameters('$authentication')"
                }
              }
            }
          },
          "expression": {
            "equals": [
              "@triggerOutputs()?['body/InputParameters/msdynmkt_attribute1']",
              "Trade Show"
            ]
          },
          "metadata": {
            "operationMetadataId": "bfdad73b-c0bf-4d11-b523-e84b3dd05ba3"
          },
          "type": "If"
        }
      },
      "outputs": {}
    },
    "templateName": ""
  },
  "schemaVersion": "1.0.0.0"
}