AIDocumentation/Flows/leadnotifyuserwhenassigned/flow.schema.json
{
  "properties": {
    "connectionReferences": {
      "shared_commondataserviceforapps": {
        "api": {
          "name": "shared_commondataserviceforapps"
        },
        "connection": {
          "connectionReferenceLogicalName": "revops_sharedcommondataserviceforapps_bccd6"
        },
        "runtimeSource": "embedded"
      },
      "shared_teams": {
        "api": {
          "name": "shared_teams"
        },
        "connection": {
          "connectionReferenceLogicalName": "new_sharedteams_2425c"
        },
        "runtimeSource": "embedded"
      },
      "shared_office365": {
        "api": {
          "name": "shared_office365"
        },
        "connection": {
          "connectionReferenceLogicalName": "revops_sharedoffice365_3dd6b"
        },
        "runtimeSource": "embedded"
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        },
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        }
      },
      "triggers": {
        "When_a_row_is_added,_modified_or_deleted": {
          "type": "OpenApiConnectionWebhook",
          "inputs": {
            "parameters": {
              "subscriptionRequest/message": 4,
              "subscriptionRequest/entityname": "lead",
              "subscriptionRequest/scope": 4,
              "subscriptionRequest/filteringattributes": "ownerid",
              "subscriptionRequest/filterexpression": "_ownerid_value ne d524a81c-2b24-ef11-840a-6045bd5d1869 and _ownerid_value ne 51bc9700-6b91-41d7-a87d-5ed093e8fefb and _ownerid_value ne c6fe1fdf-7423-ef11-840a-000d3af34dcf"
            },
            "host": {
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
              "operationId": "SubscribeWebhookTrigger",
              "connectionName": "shared_commondataserviceforapps"
            }
          },
          "conditions": [
            {
              "expression": "@or(and(greaterOrEquals(triggerOutputs()?['body/createdon'], addMinutes(utcNow(), -2)), equals(triggerOutputs()?['body/leadsourcecode'], 7)), less(triggerOutputs()?['body/createdon'], addMinutes(utcNow(), -10)))"
            }
          ],
          "metadata": {
            "operationMetadataId": "2140c2fd-571d-4e6d-8a9d-dc87355adc8a"
          }
        }
      },
      "actions": {
        "Get_lead_by_ID": {
          "type": "OpenApiConnection",
          "inputs": {
            "parameters": {
              "entityName": "leads",
              "recordId": "@triggerOutputs()?['body/leadid']"
            },
            "host": {
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
              "operationId": "GetItem",
              "connectionName": "shared_commondataserviceforapps"
            }
          },
          "runAfter": {
            "Condition": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "a47e8138-4386-4266-a913-04257c5892f2"
          }
        },
        "Get_owner_by_ID": {
          "type": "OpenApiConnection",
          "inputs": {
            "parameters": {
              "entityName": "systemusers",
              "recordId": "@outputs('Get_lead_by_ID')?['body/_ownerid_value']"
            },
            "host": {
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
              "operationId": "GetItem",
              "connectionName": "shared_commondataserviceforapps"
            }
          },
          "runAfter": {
            "Get_lead_by_ID": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "001c9a71-4e9d-4db1-b1f5-b9aac108c6ec"
          }
        },
        "modified_=_owner": {
          "type": "If",
          "expression": {
            "and": [
              {
                "equals": [
                  "@outputs('Get_lead_by_ID')?['body/_modifiedby_value']",
                  "@outputs('Get_lead_by_ID')?['body/_ownerid_value']"
                ]
              }
            ]
          },
          "actions": {
            "Cancel_flow_1": {
              "type": "Terminate",
              "inputs": {
                "runStatus": "Cancelled"
              },
              "metadata": {
                "operationMetadataId": "bbc42e8c-eac8-4e4d-bcda-c565c49940d8"
              }
            }
          },
          "else": {
            "actions": {
              "BizDev_and_Partner_Sales": {
                "type": "If",
                "expression": {
                  "or": [
                    {
                      "equals": [
                        "@outputs('Get_owner_by_ID')?['body/revops_salesrole']",
                        283040001
                      ]
                    },
                    {
                      "equals": [
                        "@outputs('Get_owner_by_ID')?['body/revops_salesrole']",
                        283040002
                      ]
                    }
                  ]
                },
                "actions": {
                  "Send_an_email_from_a_shared_mailbox_(V2)_1": {
                    "type": "OpenApiConnection",
                    "inputs": {
                      "parameters": {
                        "emailMessage/MailboxAddress": "revops-noreply@sherweb.com",
                        "emailMessage/To": "@outputs('Get_owner_by_ID')?['body/internalemailaddress']",
                        "emailMessage/Subject": "You've been assigned a new Lead!",
                        "emailMessage/Body": "<p>Hello,<br>\n<br>\n<br>\nA new lead has been assigned to you:<br>\n<br>\nName: @{outputs('Get_lead_by_ID')?['body/firstname']} @{outputs('Get_lead_by_ID')?['body/lastname']}<br>\n<br>\nCompany: @{outputs('Get_lead_by_ID')?['body/companyname']}<br>\n<br>\n<br>\nView it in CRM: https://sherweb-prod.crm3.dynamics.com/main.aspx?appid=51dc05e6-7a23-ef11-840a-0022483e8dfe&amp;pagetype=entityrecord&amp;etn=lead&amp;id=@{outputs('Get_lead_by_ID')?['body/leadid']}</p>",
                        "emailMessage/Cc": "ysimard@sherweb.com",
                        "emailMessage/Importance": "Normal"
                      },
                      "host": {
                        "apiId": "/providers/Microsoft.PowerApps/apis/shared_office365",
                        "operationId": "SharedMailboxSendEmailV2",
                        "connectionName": "shared_office365"
                      }
                    },
                    "metadata": {
                      "operationMetadataId": "8d37db3d-0052-4bed-a946-69445c8b3800"
                    }
                  },
                  "Post_message_in_a_chat_or_channel_1": {
                    "type": "OpenApiConnection",
                    "inputs": {
                      "parameters": {
                        "poster": "Flow bot",
                        "location": "Chat with Flow bot",
                        "body/recipient": "@outputs('Get_owner_by_ID')?['body/internalemailaddress']",
                        "body/messageBody": "<p>Hello,<br>\n<br>\n<br>\nA new lead has been assigned to you:@{triggerOutputs()?['body/_owninguser_value']}<br>\n<br>\nName: @{outputs('Get_lead_by_ID')?['body/firstname']} @{outputs('Get_lead_by_ID')?['body/lastname']}<br>\n<br>\nCompany: @{outputs('Get_lead_by_ID')?['body/companyname']}<br>\n<br>\n<br>\nView it in CRM: https://sherweb-prod.crm3.dynamics.com/main.aspx?appid=51dc05e6-7a23-ef11-840a-0022483e8dfe&amp;pagetype=entityrecord&amp;etn=lead&amp;id=@{outputs('Get_lead_by_ID')?['body/leadid']}</p>"
                      },
                      "host": {
                        "apiId": "/providers/Microsoft.PowerApps/apis/shared_teams",
                        "operationId": "PostMessageToConversation",
                        "connectionName": "shared_teams"
                      }
                    },
                    "runAfter": {
                      "Send_an_email_from_a_shared_mailbox_(V2)_1": [
                        "SUCCEEDED"
                      ]
                    },
                    "metadata": {
                      "operationMetadataId": "21b4627d-05aa-4cd2-b3bd-828f72a313b0"
                    }
                  }
                },
                "else": {
                  "actions": {
                    "Send_an_email_from_a_shared_mailbox_(V2)": {
                      "type": "OpenApiConnection",
                      "inputs": {
                        "parameters": {
                          "emailMessage/MailboxAddress": "revops-noreply@sherweb.com",
                          "emailMessage/To": "@outputs('Get_owner_by_ID')?['body/internalemailaddress']",
                          "emailMessage/Subject": "You've been assigned a new Lead!",
                          "emailMessage/Body": "<p>Hello,<br>\n<br>\n<br>\nA new lead has been assigned to you:<br>\n<br>\nName: @{outputs('Get_lead_by_ID')?['body/firstname']} @{outputs('Get_lead_by_ID')?['body/lastname']}<br>\n<br>\nCompany: @{outputs('Get_lead_by_ID')?['body/companyname']}<br>\n<br>\n<br>\nView it in CRM: https://sherweb-prod.crm3.dynamics.com/main.aspx?appid=51dc05e6-7a23-ef11-840a-0022483e8dfe&amp;pagetype=entityrecord&amp;etn=lead&amp;id=@{outputs('Get_lead_by_ID')?['body/leadid']}</p>",
                          "emailMessage/Importance": "Normal"
                        },
                        "host": {
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_office365",
                          "operationId": "SharedMailboxSendEmailV2",
                          "connectionName": "shared_office365"
                        }
                      },
                      "metadata": {
                        "operationMetadataId": "8d37db3d-0052-4bed-a946-69445c8b3800"
                      }
                    },
                    "Post_message_in_a_chat_or_channel": {
                      "type": "OpenApiConnection",
                      "inputs": {
                        "parameters": {
                          "poster": "Flow bot",
                          "location": "Chat with Flow bot",
                          "body/recipient": "@outputs('Get_owner_by_ID')?['body/internalemailaddress']",
                          "body/messageBody": "<p>Hello,<br>\n<br>\n<br>\nA new lead has been assigned to you:@{triggerOutputs()?['body/_owninguser_value']}<br>\n<br>\nName: @{outputs('Get_lead_by_ID')?['body/firstname']} @{outputs('Get_lead_by_ID')?['body/lastname']}<br>\n<br>\nCompany: @{outputs('Get_lead_by_ID')?['body/companyname']}<br>\n<br>\n<br>\nView it in CRM: https://sherweb-prod.crm3.dynamics.com/main.aspx?appid=51dc05e6-7a23-ef11-840a-0022483e8dfe&amp;pagetype=entityrecord&amp;etn=lead&amp;id=@{outputs('Get_lead_by_ID')?['body/leadid']}</p>"
                        },
                        "host": {
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_teams",
                          "operationId": "PostMessageToConversation",
                          "connectionName": "shared_teams"
                        }
                      },
                      "runAfter": {
                        "Send_an_email_from_a_shared_mailbox_(V2)": [
                          "SUCCEEDED"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "21b4627d-05aa-4cd2-b3bd-828f72a313b0"
                      }
                    }
                  }
                }
              }
            }
          },
          "runAfter": {
            "Get_owner_by_ID": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "a7cd16de-935d-40c1-9801-7a01f17293ed"
          }
        },
        "Condition": {
          "type": "If",
          "expression": {
            "or": [
              {
                "not": {
                  "equals": [
                    "@triggerOutputs()?['body/_owninguser_value']",
                    "@null"
                  ]
                }
              },
              {
                "contains": [
                  "@triggerOutputs()?['body/_ownerid_value@Microsoft.Dynamics.CRM.lookuplogicalname']",
                  "team"
                ]
              },
              {
                "equals": [
                  "@triggerOutputs()?['body/_createdby_value']",
                  "@triggerOutputs()?['body/_ownerid_value']"
                ]
              },
              {
                "contains": [
                  "@triggerOutputs()?['body/_ownerid_type']",
                  "team"
                ]
              }
            ]
          },
          "actions": {
            "Terminate": {
              "type": "Terminate",
              "inputs": {
                "runStatus": "Cancelled"
              },
              "metadata": {
                "operationMetadataId": "ac370ecc-b995-4bb0-8a58-bb4e827b2a61"
              }
            }
          },
          "else": {
            "actions": {}
          },
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "3b41e63f-a84a-4dea-8880-efadb1d05c5a"
          }
        }
      },
      "outputs": {}
    },
    "templateName": null
  },
  "schemaVersion": "1.0.0.0"
}