AIDocumentation/Flows/revopschangelog/flow.schema.json
{
  "properties": {
    "connectionReferences": {
      "shared_visualstudioteamservices": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "revops_sharedvisualstudioteamservices_ee70d"
        },
        "api": {
          "name": "shared_visualstudioteamservices"
        }
      },
      "shared_commondataserviceforapps": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "revops_sharedcommondataserviceforapps_98103"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      },
      "shared_approvals": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "revops_sharedapprovals_8687d"
        },
        "api": {
          "name": "shared_approvals"
        }
      },
      "shared_teams": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "revops_sharedteams_d089f"
        },
        "api": {
          "name": "shared_teams"
        }
      },
      "shared_office365": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "revops_sharedoffice365_11b10"
        },
        "api": {
          "name": "shared_office365"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        }
      },
      "triggers": {
        "Recurrence": {
          "recurrence": {
            "frequency": "Week",
            "interval": 1,
            "timeZone": "Eastern Standard Time",
            "startTime": "2024-08-19T14:00:00Z",
            "schedule": {
              "weekDays": [
                "Monday"
              ],
              "hours": [
                "7"
              ],
              "minutes": [
                55
              ]
            }
          },
          "metadata": {
            "operationMetadataId": "8da3f4e6-f720-4c7f-8934-1462a0233aa2"
          },
          "type": "Recurrence"
        }
      },
      "actions": {
        "Get_query_results": {
          "runAfter": {
            "Set_variable": [
              "Succeeded"
            ]
          },
          "metadata": {
            "4fb34f56-f404-4fe3-9754-354cc7850b62": "Shared Queries/Change Log",
            "operationMetadataId": "1a89711e-5087-40af-9274-d38e91d29569"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_visualstudioteamservices",
              "operationId": "GetQueryResultsV2",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_visualstudioteamservices"
            },
            "parameters": {
              "account": "Revenue-Operations",
              "project": "RevOps - Analysts",
              "queryId": "4fb34f56-f404-4fe3-9754-354cc7850b62"
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Condition": {
          "actions": {
            "Create_text_with_GPT_using_a_prompt": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "b65c497c-bc56-41fd-b626-aca74ae998c9",
                "flowSystemMetadata": {
                  "portalOperationId": "aibuilderpredict_customprompt",
                  "portalOperationGroup": "aibuilder",
                  "portalOperationApiDisplayNameOverride": "AI Builder",
                  "portalOperationIconOverride": "https://content.powerapps.com/resource/makerx/static/pauto/images/designeroperations/aiBuilderNew.51dbdb6b.png",
                  "portalOperationBrandColorOverride": "#0A76C4",
                  "portalOperationApiTierOverride": "Standard"
                }
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps",
                  "operationId": "aibuilderpredict_customprompt",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "recordId": "f7b5ae94-78f1-4314-8a07-277e07dd6aa3",
                  "item/requestv2/Date": "@variables('Date')",
                  "item/requestv2/JSON": "@outputs('Get_query_results')?['body/value']"
                },
                "authentication": "@parameters('$authentication')"
              }
            },
            "Start_and_wait_for_an_approval_of_text": {
              "runAfter": {
                "Create_text_with_GPT_using_a_prompt": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "97e1ad95-b84b-40fa-9e42-ffd6499d5c1f"
              },
              "type": "OpenApiConnectionWebhook",
              "inputs": {
                "host": {
                  "connectionName": "shared_approvals",
                  "operationId": "StartAndWaitForATextSuggestionApproval",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_approvals"
                },
                "parameters": {
                  "WebhookTextSuggestionApprovalCreationInput/title": "Change Log - @{variables('Date')}",
                  "WebhookTextSuggestionApprovalCreationInput/suggestedText": "@outputs('Create_text_with_GPT_using_a_prompt')?['body/responsev2/predictionOutput/text']",
                  "WebhookTextSuggestionApprovalCreationInput/assignedTo": "becressall@sherweb.com;tfrancoeur@sherweb.com;jtgousse@sherweb.com;wkwok@sherweb.com;mclement@sherweb.com;vlaverdiere@sherweb.com",
                  "WebhookTextSuggestionApprovalCreationInput/enableNotifications": true,
                  "WebhookTextSuggestionApprovalCreationInput/enableReassignment": true
                },
                "authentication": "@parameters('$authentication')"
              }
            },
            "Condition_2": {
              "actions": {
                "Add_a_new_row": {
                  "runAfter": {},
                  "metadata": {
                    "operationMetadataId": "975cffd8-96a7-46a9-895d-edd80b66d36a"
                  },
                  "type": "OpenApiConnection",
                  "inputs": {
                    "host": {
                      "connectionName": "shared_commondataserviceforapps",
                      "operationId": "CreateRecord",
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                    },
                    "parameters": {
                      "entityName": "revops_changelogs",
                      "item/revops_name": "D365 Weekly Change Log - @{variables('Date')}",
                      "item/revops_releasenotes": "@outputs('Start_and_wait_for_an_approval_of_text')?['body/acceptedText']"
                    },
                    "authentication": "@parameters('$authentication')"
                  }
                },
                "Post_message_in_Sales": {
                  "runAfter": {
                    "Add_a_new_row": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "f54dcef2-2763-44a5-9c0e-3b090f53b5d3"
                  },
                  "type": "OpenApiConnection",
                  "inputs": {
                    "host": {
                      "connectionName": "shared_teams",
                      "operationId": "PostMessageToConversation",
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_teams"
                    },
                    "parameters": {
                      "poster": "Flow bot",
                      "location": "Channel",
                      "body/recipient/groupId": "8ee0c481-e84a-4c31-a125-2f71875a7125",
                      "body/recipient/channelId": "19:0f8e35b117d54ba6a4d25dd8e493b6d0@thread.skype",
                      "body/messageBody": "<p><span style=\"font-size: 18px\"><strong>D365 Weekly Change Log<br>\n</strong></span><br>\n@{outputs('Start_and_wait_for_an_approval_of_text')?['body/acceptedText']}</p>"
                    },
                    "authentication": "@parameters('$authentication')"
                  }
                },
                "Send_email_to_Sales": {
                  "runAfter": {
                    "Post_message_in_Sales": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "b75311e6-68bc-48ef-8457-da3cbf42a8bb"
                  },
                  "type": "OpenApiConnection",
                  "inputs": {
                    "host": {
                      "connectionName": "shared_office365",
                      "operationId": "SendEmailV2",
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_office365"
                    },
                    "parameters": {
                      "emailMessage/To": "team-sales@sherweb.com",
                      "emailMessage/Subject": "D365 Weekly Change Log - @{variables('Date')}",
                      "emailMessage/Body": "<p>@{outputs('Start_and_wait_for_an_approval_of_text')?['body/acceptedText']}<br>\n<br>\nCordially,<br>\nThe RevOps Team</p>",
                      "emailMessage/From": "revops-noreply@sherweb.com",
                      "emailMessage/Importance": "Normal"
                    },
                    "authentication": "@parameters('$authentication')"
                  }
                },
                "Post_message_in_Marketing": {
                  "runAfter": {
                    "Add_a_new_row": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "f54dcef2-2763-44a5-9c0e-3b090f53b5d3"
                  },
                  "type": "OpenApiConnection",
                  "inputs": {
                    "host": {
                      "connectionName": "shared_teams",
                      "operationId": "PostMessageToConversation",
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_teams"
                    },
                    "parameters": {
                      "poster": "Flow bot",
                      "location": "Channel",
                      "body/recipient/groupId": "5ce8734b-bbe2-43e2-9812-433107141b34",
                      "body/recipient/channelId": "19:5de41499251f4e4c8fd590c21c315936@thread.skype",
                      "body/messageBody": "<p><span style=\"font-size: 18px\"><strong>D365 Weekly Change Log<br>\n</strong></span><br>\n@{outputs('Start_and_wait_for_an_approval_of_text')?['body/acceptedText']}</p>"
                    },
                    "authentication": "@parameters('$authentication')"
                  }
                },
                "Send_email_to_Marketing": {
                  "runAfter": {
                    "Post_message_in_Marketing": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "b75311e6-68bc-48ef-8457-da3cbf42a8bb"
                  },
                  "type": "OpenApiConnection",
                  "inputs": {
                    "host": {
                      "connectionName": "shared_office365",
                      "operationId": "SendEmailV2",
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_office365"
                    },
                    "parameters": {
                      "emailMessage/To": "team-marketing@sherweb.com",
                      "emailMessage/Subject": "D365 Weekly Change Log - @{variables('Date')}",
                      "emailMessage/Body": "<p>@{outputs('Start_and_wait_for_an_approval_of_text')?['body/acceptedText']}<br>\n<br>\nCordially,<br>\nThe RevOps Team</p>",
                      "emailMessage/From": "revops-noreply@sherweb.com",
                      "emailMessage/Importance": "Normal"
                    },
                    "authentication": "@parameters('$authentication')"
                  }
                },
                "Send_email_to_Support": {
                  "runAfter": {
                    "Add_a_new_row": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "65933dc6-b882-4e78-913f-1363d395bbae"
                  },
                  "type": "OpenApiConnection",
                  "inputs": {
                    "host": {
                      "connectionName": "shared_office365",
                      "operationId": "SendEmailV2",
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_office365"
                    },
                    "parameters": {
                      "emailMessage/To": "team-sac-jacques-cartier@sherweb.com",
                      "emailMessage/Subject": "D365 Weekly Change Log - @{variables('Date')}",
                      "emailMessage/Body": "<p>@{outputs('Start_and_wait_for_an_approval_of_text')?['body/acceptedText']}<br>\n<br>\nCordially,<br>\nThe RevOps Team</p>",
                      "emailMessage/Importance": "Normal"
                    },
                    "authentication": "@parameters('$authentication')"
                  }
                }
              },
              "runAfter": {
                "Start_and_wait_for_an_approval_of_text": [
                  "Succeeded"
                ]
              },
              "expression": {
                "equals": [
                  "@outputs('Start_and_wait_for_an_approval_of_text')?['body/outcome']",
                  "Approve"
                ]
              },
              "metadata": {
                "operationMetadataId": "9783167f-3853-4afb-99a1-d807cb75392a"
              },
              "type": "If"
            }
          },
          "runAfter": {
            "Get_query_results": [
              "Succeeded"
            ]
          },
          "expression": {
            "greater": [
              "@length(outputs('Get_query_results')?['body/value'])",
              0
            ]
          },
          "metadata": {
            "operationMetadataId": "222e97fc-3207-4485-93f6-b22639d00bed"
          },
          "type": "If"
        },
        "Initialize_variable": {
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "b44f37a1-b012-4071-886e-fe20a85eb115"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "Date",
                "type": "string"
              }
            ]
          }
        },
        "Set_variable": {
          "runAfter": {
            "Initialize_variable": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "bfc771e2-7cfb-4804-a09f-c4dca05ab104"
          },
          "type": "SetVariable",
          "inputs": {
            "name": "Date",
            "value": "@{utcNow('dd-MM-yyyy')}"
          }
        }
      }
    },
    "templateName": ""
  },
  "schemaVersion": "1.0.0.0"
}