RevOps-Analysts/Documentation/Flows/caseresolutionsurvey/flow.schema.json
{
  "properties": {
    "connectionReferences": {
      "shared_commondataserviceforapps-1": {
        "api": {
          "name": "shared_commondataserviceforapps"
        },
        "connection": {
          "connectionReferenceLogicalName": "revops_sharedcommondataserviceforapps_0a1fe"
        },
        "runtimeSource": "embedded"
      },
      "shared_microsoftformspro": {
        "api": {
          "name": "shared_microsoftformspro"
        },
        "connection": {
          "connectionReferenceLogicalName": "revops_sharedmicrosoftformspro_f2be0"
        },
        "runtimeSource": "embedded"
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        },
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        }
      },
      "triggers": {
        "When_a_Case_is_Closed": {
          "type": "OpenApiConnectionWebhook",
          "inputs": {
            "parameters": {
              "subscriptionRequest/message": 3,
              "subscriptionRequest/entityname": "incident",
              "subscriptionRequest/scope": 4,
              "subscriptionRequest/filteringattributes": "statecode, primarycontactid",
              "subscriptionRequest/filterexpression": "statecode eq 1"
            },
            "host": {
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
              "operationId": "SubscribeWebhookTrigger",
              "connectionName": "shared_commondataserviceforapps-1"
            }
          },
          "metadata": {
            "operationMetadataId": "cf1ea8db-f305-48d9-8724-6fc1beacdf29"
          }
        }
      },
      "actions": {
        "Get_Case_Contact": {
          "type": "OpenApiConnection",
          "inputs": {
            "parameters": {
              "entityName": "contacts",
              "recordId": "@triggerOutputs()?['body/_customerid_value']"
            },
            "host": {
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
              "operationId": "GetItem",
              "connectionName": "shared_commondataserviceforapps-1"
            }
          },
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "cd4bb0a2-c09e-451e-a44f-07c6f0808afc"
          }
        },
        "Send_a_survey": {
          "type": "OpenApiConnection",
          "inputs": {
            "parameters": {
              "to": "@outputs('Get_Case_Contact')?['body/emailaddress1']",
              "ProjectId": "4f0c954c-3db0-4e30-8bee-4d1ee9512ebe",
              "FormId": "WbJEd__xJkS4aXpOcLKBBojxIkbsCORNhk3xGXTfL-FUMDBFTVJCVTc3VTFDUVJWMFFYTkNWRUJXSi4u",
              "EmailTemplateId": "e883d033-fda2-48f0-90cc-74f8b2e7edbc",
              "Regarding": "incident,@{triggerOutputs()?['body/incidentid']}\n",
              "RecipientInfo": "contact,@{outputs('Get_Case_Contact')?['body/contactid']}"
            },
            "host": {
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_microsoftformspro",
              "operationId": "sendSurvey",
              "connectionName": "shared_microsoftformspro"
            }
          },
          "runAfter": {
            "Get_Case_Contact": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "5601d5bf-bed3-4cdc-9b9e-1e8e59db0204"
          }
        },
        "Terminate": {
          "type": "Terminate",
          "inputs": {
            "runStatus": "Succeeded"
          },
          "runAfter": {
            "Send_a_survey": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "1dfeb246-de58-4d37-a46d-d76e07cc1172"
          }
        }
      },
      "outputs": {}
    },
    "templateName": null
  },
  "schemaVersion": "1.0.0.0"
}