RevOps-Analysts/Documentation/Flows/iso-3166-cumulus-account-to-account/flow.schema.json
{
  "properties": {
    "connectionReferences": {
      "shared_commondataserviceforapps": {
        "api": {
          "name": "shared_commondataserviceforapps"
        },
        "connection": {
          "connectionReferenceLogicalName": "revops_sharedcommondataserviceforapps_2748b"
        },
        "runtimeSource": "embedded"
      },
      "shared_commondataserviceforapps-1": {
        "api": {
          "name": "shared_commondataserviceforapps"
        },
        "connection": {
          "connectionReferenceLogicalName": "revops_sharedcommondataserviceforapps_0a1fe"
        },
        "runtimeSource": "embedded"
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        },
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        }
      },
      "triggers": {
        "manual": {
          "type": "Request",
          "kind": "Button",
          "inputs": {
            "schema": {
              "type": "object",
              "properties": {},
              "required": []
            }
          }
        }
      },
      "actions": {
        "varCountryCache": {
          "type": "InitializeVariable",
          "description": "Cache country GUID lookups by ISO alpha-2 code",
          "inputs": {
            "variables": [
              {
                "name": "varCountryCache",
                "type": "object",
                "value": {}
              }
            ]
          },
          "runAfter": {}
        },
        "varSubdivisionCache": {
          "type": "InitializeVariable",
          "description": "Cache subdivision GUID lookups by composite key",
          "inputs": {
            "variables": [
              {
                "name": "varSubdivisionCache",
                "type": "object",
                "value": {}
              }
            ]
          },
          "runAfter": {
            "varCountryCache": [
              "Succeeded"
            ]
          }
        },
        "List_Accounts_with_Cumulus_Accounts": {
          "type": "OpenApiConnection",
          "inputs": {
            "parameters": {
              "entityName": "accounts",
              "$select": "accountid, name, revops_country, revops_stateorprovince",
              "$filter": "revops_cumulusaccount_account_account/any()",
              "$top": 10
            },
            "host": {
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
              "operationId": "ListRecords",
              "connectionName": "shared_commondataserviceforapps"
            }
          },
          "runAfter": {
            "varSubdivisionCache": [
              "Succeeded"
            ]
          }
        },
        "For_each_Account": {
          "type": "Foreach",
          "foreach": "@outputs('List_Accounts_with_Cumulus_Accounts')?['body/value']",
          "actions": {
            "Get_Highest_MRR_Cumulus_Account": {
              "type": "OpenApiConnection",
              "inputs": {
                "parameters": {
                  "entityName": "revops_cumulusaccounts",
                  "$select": "revops_cumulusaccountid, revops_name, revops_iso3166alpha2countrycode, revops_iso3166_2subdivisioncode, revops_mrr",
                  "$filter": "_revops_account_value eq '@{items('For_each_Account')?['accountid']}'",
                  "$orderby": "revops_mrr desc",
                  "$top": 1
                },
                "host": {
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                  "operationId": "ListRecords",
                  "connectionName": "shared_commondataserviceforapps-1"
                }
              }
            },
            "Condition_-_Cumulus_Account_Found": {
              "type": "If",
              "expression": {
                "and": [
                  {
                    "greater": [
                      "@length(outputs('Get_Highest_MRR_Cumulus_Account')?['body/value'])",
                      0
                    ]
                  }
                ]
              },
              "actions": {
                "Compose_-_Cumulus_Data": {
                  "type": "Compose",
                  "inputs": {
                    "CountryAlpha2": "@first(outputs('Get_Highest_MRR_Cumulus_Account')?['body/value'])?['revops_iso3166alpha2countrycode']",
                    "SubdivisionCode": "@first(outputs('Get_Highest_MRR_Cumulus_Account')?['body/value'])?['revops_iso3166_2subdivisioncode']"
                  }
                },
                "Condition_-_Country_Cached": {
                  "type": "If",
                  "expression": {
                    "and": [
                      {
                        "contains": [
                          "@variables('varCountryCache')",
                          "@outputs('Compose_-_Cumulus_Data')?['CountryAlpha2']"
                        ]
                      }
                    ]
                  },
                  "actions": {
                    "Compose_-_Get_Cached_Country": {
                      "type": "Compose",
                      "inputs": "@variables('varCountryCache')?[outputs('Compose_-_Cumulus_Data')?['CountryAlpha2']]"
                    }
                  },
                  "else": {
                    "actions": {
                      "Get_Country": {
                        "type": "OpenApiConnection",
                        "inputs": {
                          "parameters": {
                            "entityName": "revops_countries",
                            "$filter": "revops_isocountrycode eq '@{outputs('Compose_-_Cumulus_Data')?['CountryAlpha2']}'",
                            "$select": "revops_countryid, revops_name",
                            "$top": 1
                          },
                          "host": {
                            "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                            "operationId": "ListRecords",
                            "connectionName": "shared_commondataserviceforapps"
                          }
                        }
                      },
                      "Condition_-_Country_Found": {
                        "type": "If",
                        "expression": {
                          "and": [
                            {
                              "greater": [
                                "@length(outputs('Get_Country')?['body/value'])",
                                0
                              ]
                            }
                          ]
                        },
                        "actions": {
                          "Set_variable_-_Cache_Country": {
                            "type": "SetVariable",
                            "inputs": {
                              "name": "varCountryCache",
                              "value": "@addProperty(variables('varCountryCache'), outputs('Compose_-_Cumulus_Data')?['CountryAlpha2'], first(outputs('Get_Country')?['body/value'])?['revops_countryid'])"
                            }
                          }
                        },
                        "runAfter": {
                          "Get_Country": [
                            "Succeeded"
                          ]
                        }
                      }
                    }
                  }
                },
                "Update_Account": {
                  "type": "OpenApiConnection",
                  "inputs": {
                    "parameters": {
                      "entityName": "accounts",
                      "recordId": "@items('For_each_Account')?['accountid']",
                      "item/revops_country@odata.bind": "/revops_countries(@{coalesce(outputs('Compose_-_Get_Cached_Country'), first(outputs('Get_Country')?['body/value'])?['revops_countryid'])})"
                    },
                    "host": {
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                      "operationId": "UpdateOnlyRecord",
                      "connectionName": "shared_commondataserviceforapps"
                    }
                  },
                  "runAfter": {
                    "Condition_-_Country_Cached": [
                      "Succeeded"
                    ]
                  }
                }
              },
              "else": {
                "actions": {}
              },
              "runAfter": {
                "Get_Highest_MRR_Cumulus_Account": [
                  "Succeeded"
                ]
              }
            }
          },
          "runAfter": {
            "List_Accounts_with_Cumulus_Accounts": [
              "Succeeded"
            ]
          }
        }
      },
      "outputs": {}
    },
    "templateName": null
  },
  "schemaVersion": "1.0.0.0"
}