RevOps-Analysts/Documentation/Flows/attachfiletoasana/flow.schema.json
{
  "properties": {
    "connectionReferences": {
      "shared_microsoftforms": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "revops_sharedmicrosoftforms_65062"
        },
        "api": {
          "name": "shared_microsoftforms"
        }
      },
      "shared_sharepointonline": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "new_sharedsharepointonline_bfd09"
        },
        "api": {
          "name": "shared_sharepointonline"
        }
      },
      "shared_asana": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "revops_sharedasana_24299"
        },
        "api": {
          "name": "shared_asana"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        }
      },
      "triggers": {
        "When_a_new_response_is_submitted": {
          "splitOn": "@triggerOutputs()?['body/value']",
          "metadata": {
            "operationMetadataId": "b166f693-45ac-4927-a23c-a0100f5bcf5a"
          },
          "type": "OpenApiConnectionWebhook",
          "inputs": {
            "host": {
              "connectionName": "shared_microsoftforms",
              "operationId": "CreateFormWebhook",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_microsoftforms"
            },
            "parameters": {
              "form_id": "WbJEd__xJkS4aXpOcLKBBktz6Fziu-JDmBJDMQcUGzRUN1BRRzJDRjA3UVFDNkE2VDVYMzBURzRUTCQlQCN0PWcu"
            },
            "authentication": "@parameters('$authentication')"
          }
        }
      },
      "actions": {
        "Get_response_details": {
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "067d20e9-1385-440d-a43e-ab0142f88769"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_microsoftforms",
              "operationId": "GetFormResponseById",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_microsoftforms"
            },
            "parameters": {
              "form_id": "WbJEd__xJkS4aXpOcLKBBktz6Fziu-JDmBJDMQcUGzRUN1BRRzJDRjA3UVFDNkE2VDVYMzBURzRUTCQlQCN0PWcu",
              "response_id": "@triggerOutputs()?['body/resourceData/responseId']"
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Parse_JSON": {
          "runAfter": {
            "Get_response_details": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "e8dd0e82-1068-4592-a108-119e22c1a7ba"
          },
          "type": "ParseJson",
          "inputs": {
            "content": "@json(outputs('Get_response_details')?['body/rb25f12b2438940a6975f1e4b3ab25f2b'])\r\n",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "link": {
                    "type": "string"
                  },
                  "id": {
                    "type": "string"
                  },
                  "type": {
                    "type": [
                      "string",
                      "null"
                    ]
                  },
                  "size": {
                    "type": "integer"
                  },
                  "referenceId": {
                    "type": "string"
                  },
                  "driveId": {
                    "type": "string"
                  },
                  "status": {
                    "type": "integer"
                  },
                  "uploadSessionUrl": {
                    "type": [
                      "string",
                      "null"
                    ]
                  }
                },
                "required": [
                  "name",
                  "link",
                  "id"
                ]
              }
            }
          }
        },
        "Apply_to_each": {
          "foreach": "@body('Parse_JSON')",
          "actions": {
            "Compose_-_filetype": {
              "runAfter": {
                "Compose_-_fileurl": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "d455fe64-8968-45d5-a43f-5c21a2df1066"
              },
              "type": "Compose",
              "inputs": "@if(equals(toLower(last(split(items('Apply_to_each')?['name'], '.'))), 'pdf'), 'application/pdf',\r\nif(equals(toLower(last(split(items('Apply_to_each')?['name'], '.'))), 'png'), 'image/png',\r\nif(or(equals(toLower(last(split(items('Apply_to_each')?['name'], '.'))), 'jpg'), equals(toLower(last(split(items('Apply_to_each')?['name'], '.'))), 'jpeg')), 'image/jpeg',\r\nif(equals(toLower(last(split(items('Apply_to_each')?['name'], '.'))), 'gif'), 'image/gif',\r\nif(equals(toLower(last(split(items('Apply_to_each')?['name'], '.'))), 'docx'), 'application/vnd.openxmlformats-officedocument.wordprocessingml.document',\r\nif(equals(toLower(last(split(items('Apply_to_each')?['name'], '.'))), 'doc'), 'application/msword',\r\nif(equals(toLower(last(split(items('Apply_to_each')?['name'], '.'))), 'xlsx'), 'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet',\r\nif(equals(toLower(last(split(items('Apply_to_each')?['name'], '.'))), 'xls'), 'application/vnd.ms-excel',\r\nif(equals(toLower(last(split(items('Apply_to_each')?['name'], '.'))), 'pptx'), 'application/vnd.openxmlformats-officedocument.presentationml.presentation',\r\nif(equals(toLower(last(split(items('Apply_to_each')?['name'], '.'))), 'ppt'), 'application/vnd.ms-powerpoint',\r\nif(equals(toLower(last(split(items('Apply_to_each')?['name'], '.'))), 'txt'), 'text/plain',\r\nif(equals(toLower(last(split(items('Apply_to_each')?['name'], '.'))), 'csv'), 'text/csv',\r\nif(equals(toLower(last(split(items('Apply_to_each')?['name'], '.'))), 'zip'), 'application/zip',\r\n'application/octet-stream'\r\n)))))))))))))"
            },
            "Compose_-_filename": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "d71e6225-484b-4c54-acf1-8b185f7bb993"
              },
              "type": "Compose",
              "inputs": "@items('Apply_to_each')?['name']\r\n"
            },
            "Compose_-_fileurl": {
              "runAfter": {
                "Compose_-_filename": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "23ecae49-cddd-4ba9-a3db-5513d6a95351"
              },
              "type": "Compose",
              "inputs": "@items('Apply_to_each')?['link']\r\n"
            },
            "Compose_-_id": {
              "runAfter": {
                "Compose_-_filetype": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "d024e5ed-3ad0-4e72-882e-64045e68bd6f"
              },
              "type": "Compose",
              "inputs": "@items('Apply_to_each')['id']"
            },
            "HTTP": {
              "runAfter": {
                "Get_file_content": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "93d828d0-2d9f-465a-a46b-0f915bbc527a"
              },
              "type": "Http",
              "inputs": {
                "method": "POST",
                "uri": "https://app.asana.com/api/1.0/tasks/@{variables('taskgid')}/attachments\n",
                "headers": {
                  "Authorization": "Bearer 2/1211024040406492/1211173784923785:00bab4586a730328cf29525b4557133b",
                  "Accept": "application/json"
                },
                "body": {
                  "$content-type": "multipart/form-data",
                  "$multipart": [
                    {
                      "headers": {
                        "Content-Disposition": "form-data; name=\"file\"; filename=\"@{outputs('Compose_-_filename')}\"",
                        "Content-Type": "@{outputs('Compose_-_filetype')}",
                        "Content-Transfer-Encoding": "base64"
                      },
                      "body": "@base64ToBinary(body('Get_file_content')?['$content'])"
                    }
                  ]
                }
              },
              "runtimeConfiguration": {
                "contentTransfer": {
                  "transferMode": "Chunked"
                }
              }
            },
            "Get_file_content": {
              "runAfter": {
                "Compose_-_id": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "50613dcc-850f-4012-8a54-77605bc1d54b"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_sharepointonline",
                  "operationId": "GetFileContentByPath",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline"
                },
                "parameters": {
                  "dataset": "https://sherwebcorp.sharepoint.com/sites/Marketing",
                  "path": "Documents partages/Applications/Microsoft Forms/Shared Services Intake Form/Please upload any relevant files or documents (opt/@{outputs('Compose_-_filename')}"
                },
                "authentication": "@parameters('$authentication')"
              }
            }
          },
          "runAfter": {
            "Initialize_variable_-_taskgid": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "9fa65603-bcb9-4207-95d5-f20940027959"
          },
          "type": "Foreach"
        },
        "Initialize_variable_-_taskgid": {
          "runAfter": {
            "Create_Task": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "e3c5114d-95c0-4079-8a1a-568ab810aab5"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "taskgid",
                "type": "string",
                "value": "@outputs('Create_Task')?['body/gid']"
              }
            ]
          }
        },
        "Create_Task": {
          "runAfter": {
            "Compose_-_output_response_detail": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "2156dace-e414-4a39-8f5c-83855b7ec952"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_asana",
              "operationId": "CreateTaskV2",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_asana"
            },
            "parameters": {
              "workspace": "9303438673591",
              "projects": "1210977088467159",
              "task/data/name": "new request - @{triggerOutputs()?['body/resourceData/responseId']}",
              "task/data/assignee": "jpmercier@sherweb.com",
              "task/data/notes": "@outputs('Compose_-_output_response_detail')",
              "task/data/completed": false
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Compose_-_output_response_detail": {
          "runAfter": {
            "Parse_JSON": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "80bbae31-c382-40c8-b2ae-783e5e60f716"
          },
          "type": "Compose",
          "inputs": "WHAT TYPE OF SUPPORT DO YOU NEED?\n@{outputs('Get_response_details')?['body/r28a519f087184e929c7a0ff4a69412c0']}\n\nWHAT TYPE OF SPECIALISTS DO YOU NEED?\n@{replace(replace(replace(outputs('Get_response_details')?['body/ra7c0e37347a34dc4b10974d1a2987e96'], '[', ''), ']', ''), '\"', '')}\n\nDESIRED TIMELINE OR DEADLINE\n@{formatDateTime(outputs('Get_response_details')?['body/r69a4735bbd3d47e4be073d0efdf3570e'], 'MMMM dd, yyyy')}\n\nPROJECT DETAILS\n@{outputs('Get_response_details')?['body/r4c764e6607b646719274e1cf903cf50d']}\n\nRELATED ASANA TASKS\n@{replace(replace(replace(outputs('Get_response_details')?['body/rfba76b2d84ac432ebed75d1609121315'], 'http://', 'https://'), 'www.', 'https://www.'), 'https://https://', 'https://')}\n\nURGENCY\n@{outputs('Get_response_details')?['body/re934ac57fafb408db9070e6de6d2b189']}\n"
        },
        "HTTP_-_subtask": {
          "runAfter": {
            "Apply_to_each": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "8c87c21e-e3f8-4c43-9c69-4daf2da0c742"
          },
          "type": "Http",
          "inputs": {
            "method": "POST",
            "uri": "https://app.asana.com/api/1.0/tasks/@{outputs('Create_Task')?['body/gid']}/subtasks",
            "headers": {
              "Authorization": "Bearer 2/1211024040406492/1211173784923785:00bab4586a730328cf29525b4557133b",
              "Content-Type": "application/json"
            },
            "body": {
              "data": {
                "name": "Analyze",
                "due_at": "@{formatDateTime(addDays(utcNow(), if(equals(dayOfWeek(utcNow()), 5), 3, if(equals(dayOfWeek(utcNow()), 6), 2, 1))), 'yyyy-MM-ddTHH:mm:ssZ')}"
              }
            }
          },
          "runtimeConfiguration": {
            "contentTransfer": {
              "transferMode": "Chunked"
            }
          }
        }
      }
    },
    "templateName": ""
  },
  "schemaVersion": "1.0.0.0"
}