AIDocumentation/Flows/p2pautomation/flow.schema.json
{
  "properties": {
    "connectionReferences": {
      "shared_commondataserviceforapps": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "new_sharedcommondataserviceforapps_56fd0"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      },
      "shared_excelonlinebusiness-1": {
        "runtimeSource": "invoker",
        "connection": {
          "connectionReferenceLogicalName": "new_sharedexcelonlinebusiness_4d658"
        },
        "api": {
          "name": "shared_excelonlinebusiness"
        }
      },
      "shared_sharepointonline-1": {
        "runtimeSource": "invoker",
        "connection": {
          "connectionReferenceLogicalName": "new_sharedsharepointonline_4ee64"
        },
        "api": {
          "name": "shared_sharepointonline"
        }
      },
      "shared_office365-1": {
        "runtimeSource": "invoker",
        "connection": {
          "connectionReferenceLogicalName": "new_sharedoffice365_25f58"
        },
        "api": {
          "name": "shared_office365"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        }
      },
      "triggers": {
        "manual": {
          "metadata": {
            "operationMetadataId": "ca364636-6dc4-4e39-8c3f-202e54f6bb75"
          },
          "type": "Request",
          "kind": "PowerAppV2",
          "inputs": {
            "schema": {
              "type": "object",
              "properties": {
                "text": {
                  "title": "PartnerName",
                  "type": "string",
                  "x-ms-dynamically-added": true,
                  "description": "Please enter your input",
                  "x-ms-content-hint": "TEXT"
                },
                "text_1": {
                  "title": "MPNID",
                  "type": "string",
                  "x-ms-dynamically-added": true,
                  "description": "Please enter your input",
                  "x-ms-content-hint": "TEXT"
                },
                "text_2": {
                  "title": "Contact",
                  "type": "string",
                  "x-ms-dynamically-added": true,
                  "description": "Please enter your input",
                  "x-ms-content-hint": "TEXT"
                },
                "text_3": {
                  "title": "Email",
                  "type": "string",
                  "x-ms-dynamically-added": true,
                  "description": "Please enter your input",
                  "x-ms-content-hint": "TEXT"
                },
                "text_4": {
                  "title": "CumulusURL",
                  "type": "string",
                  "x-ms-dynamically-added": true,
                  "description": "Please enter your input",
                  "x-ms-content-hint": "TEXT"
                },
                "text_5": {
                  "title": "LosingPartner",
                  "type": "string",
                  "x-ms-dynamically-added": true,
                  "description": "Please enter your input",
                  "x-ms-content-hint": "TEXT"
                },
                "text_6": {
                  "title": "LPMicrosoftID",
                  "type": "string",
                  "x-ms-dynamically-added": true,
                  "description": "Please enter your input",
                  "x-ms-content-hint": "TEXT"
                },
                "text_7": {
                  "title": "Orgs",
                  "type": "string",
                  "x-ms-dynamically-added": true,
                  "description": "Please enter your input",
                  "x-ms-content-hint": "TEXT"
                },
                "text_8": {
                  "title": "salesuser",
                  "type": "string",
                  "x-ms-dynamically-added": true,
                  "description": "Please enter your input",
                  "x-ms-content-hint": "TEXT"
                },
                "text_9": {
                  "description": "Please enter your input",
                  "title": "Notes",
                  "type": "string",
                  "x-ms-content-hint": "TEXT",
                  "x-ms-dynamically-added": true
                },
                "number": {
                  "description": "Please enter a number",
                  "title": "Number",
                  "type": "number",
                  "x-ms-content-hint": "NUMBER",
                  "x-ms-dynamically-added": true
                },
                "number_1": {
                  "description": "Please enter a number",
                  "title": "Orgs#",
                  "type": "number",
                  "x-ms-content-hint": "NUMBER",
                  "x-ms-dynamically-added": true
                },
                "text_10": {
                  "description": "Please enter your input",
                  "title": "Location",
                  "type": "string",
                  "x-ms-content-hint": "TEXT",
                  "x-ms-dynamically-added": true
                },
                "text_11": {
                  "description": "Please enter your input",
                  "title": "MRR",
                  "type": "string",
                  "x-ms-content-hint": "TEXT",
                  "x-ms-dynamically-added": true
                },
                "boolean": {
                  "description": "Please select yes or no",
                  "title": "NCE",
                  "type": "boolean",
                  "x-ms-content-hint": "BOOLEAN",
                  "x-ms-dynamically-added": true
                },
                "boolean_1": {
                  "description": "Please select yes or no",
                  "title": "Azure",
                  "type": "boolean",
                  "x-ms-content-hint": "BOOLEAN",
                  "x-ms-dynamically-added": true
                }
              },
              "required": []
            }
          }
        }
      },
      "actions": {
        "Partner_Details": {
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "ff22f652-4aba-49e0-aba3-c595f5b036ed"
          },
          "type": "Compose",
          "inputs": "@createArray(\r\n    json(concat('{\"Key\":\"Sherweb Partner Name\",\"Column2\":\"', triggerBody()?['text'], '\",\"Column3\":\"', triggerBody()?['text_9'], '\"}')),\r\n    json(concat('{\"Key\":\"Sherweb Partner MPNID\",\"Column2\":\"', triggerBody()?['text_1'], '\",\"Column3\":\"\"}')),\r\n    json(concat('{\"Key\":\"Sherweb Partner Contact Name & Email\",\"Column2\":\"', triggerBody()?['text_2'], ' (', triggerBody()?['text_3'], ')\",\"Column3\":\"\"}')),\r\n    json(concat('{\"Key\":\"Partner Cumulus URL\",\"Column2\":\"', triggerBody()?['text_4'], '\",\"Column3\":\"\"}')),\r\n    json(concat('{\"Key\":\"Current Losing CSP Partner Name\",\"Column2\":\"', triggerBody()?['text_5'], '\",\"Column3\":\"\"}')),\r\n    json(concat('{\"Key\":\"Current Losing Partner CSP Microsoft ID\",\"Column2\":\"', triggerBody()?['text_6'], '\",\"Column3\":\"\"}'))\r\n)\r\n"
        },
        "Parse_JSON": {
          "runAfter": {
            "Apply_to_each": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "97d507f5-825f-40c9-93fa-1d44506fec28"
          },
          "type": "ParseJson",
          "inputs": {
            "content": "@triggerBody()?['text_7']",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "Value": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "getDetails": {
          "foreach": "@body('Parse_JSON')",
          "actions": {
            "List_Organizations": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "322b92d1-4db4-408a-ac4f-99d34a0b37b5"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "parameters": {
                  "entityName": "revops_cumulusorganizations",
                  "$filter": "revops_cumulusorganizationid eq '@{item()?['Value']}'"
                },
                "host": {
                  "connectionName": "shared_commondataserviceforapps",
                  "operationId": "ListRecords",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "authentication": "@parameters('$authentication')"
              }
            },
            "For_each": {
              "foreach": "@outputs('List_Organizations')?['body/value']",
              "actions": {
                "List_Platform_Settings": {
                  "runAfter": {},
                  "metadata": {
                    "operationMetadataId": "31eda561-3a80-4cf5-9400-a437f1136583"
                  },
                  "type": "OpenApiConnection",
                  "inputs": {
                    "parameters": {
                      "entityName": "revops_platformsettingses",
                      "$filter": "revops_organizationid eq '@{items('For_each')?['revops_id']}'"
                    },
                    "host": {
                      "connectionName": "shared_commondataserviceforapps",
                      "operationId": "ListRecords",
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                    },
                    "authentication": "@parameters('$authentication')"
                  }
                },
                "For_each_1": {
                  "foreach": "@outputs('List_Platform_Settings')?['body/value']",
                  "actions": {
                    "Add_a_row_into_a_table": {
                      "runAfter": {},
                      "metadata": {
                        "operationMetadataId": "b929f210-3a97-4e62-b08e-1177f77b6ec2",
                        "tableId": "@outputs('Create_orgDetails_table')?['body/name']"
                      },
                      "type": "OpenApiConnection",
                      "inputs": {
                        "parameters": {
                          "source": "sites/sherwebcorp.sharepoint.com,964af4eb-d9bd-4504-9038-deb542d2dff2,ab903fa2-b602-47cd-98b5-51d75d05bf0b",
                          "drive": "b!6_RKlr3ZBEWQON61QtLf8qI_kKsCts1HmLVR110FvwvWXu0FHW48Ta5jMqOS-Z9S",
                          "file": "@outputs('Create_file')?['body/Path']",
                          "table": "@outputs('Create_orgDetails_table')?['body/name']",
                          "item": {
                            "Cumulus Name": "@{items('For_each_1')?['_revops_organization_value@OData.Community.Display.V1.FormattedValue']}",
                            "Cumulus Org Link": "@{concat(triggerBody()?['text_4'], 'organizations/', items('For_each')?['revops_organizationuniquename'])}",
                            "Org ID": "@{items('For_each_1')?['revops_organizationid']}",
                            "onmicrosoftcom Domain": "@{items('For_each_1')?['revops_tenantdomain']}",
                            "Tenant ID": "@{items('For_each_1')?['revops_tenantid']}",
                            "Partner Center URL": "@{items('For_each_1')?['revops_partnercenterurl']}/Transfers"
                          }
                        },
                        "host": {
                          "connectionName": "shared_excelonlinebusiness-1",
                          "operationId": "AddRowV2",
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_excelonlinebusiness"
                        },
                        "authentication": {
                          "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']",
                          "type": "Raw"
                        }
                      }
                    }
                  },
                  "runAfter": {
                    "List_Platform_Settings": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "e2ed6d4e-1b06-4ebc-87bc-d0a9f1d0f5ed"
                  },
                  "type": "Foreach"
                }
              },
              "runAfter": {
                "List_Organizations": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "31fb231e-c157-46d4-8f4e-809ddddf2751"
              },
              "type": "Foreach"
            }
          },
          "runAfter": {
            "Create_orgDetails_table": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "62e63f66-748d-408f-8aa0-a2a9e3c9278c"
          },
          "type": "Foreach"
        },
        "Get_file_content": {
          "runAfter": {
            "Partner_Details": [
              "Succeeded"
            ]
          },
          "metadata": {
            "%252fDocuments%2bpartages%252fDynamics%2b365%252fP2P%2bTemplate%2b-%2bCopy.xlsx": "/Documents partages/Dynamics 365/P2P Template - Copy.xlsx",
            "%252fDocuments%2bpartages%252fDynamics%2b365%252fBlank%2bP2P%2bTemplate.xlsx": "/Documents partages/Dynamics 365/Blank P2P Template.xlsx",
            "operationMetadataId": "40b7a43a-39da-4409-b864-8e36dbb1d474"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "parameters": {
              "dataset": "https://sherwebcorp.sharepoint.com/sites/T_BU_Sales_SalesOps",
              "id": "%252fDocuments%2bpartages%252fDynamics%2b365%252fBlank%2bP2P%2bTemplate.xlsx",
              "inferContentType": true
            },
            "host": {
              "connectionName": "shared_sharepointonline-1",
              "operationId": "GetFileContent",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline"
            },
            "authentication": {
              "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']",
              "type": "Raw"
            }
          }
        },
        "Create_file": {
          "runAfter": {
            "Get_file_content": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "086cacf4-8945-4be4-8817-1e2e5af9b722"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "parameters": {
              "dataset": "https://sherwebcorp.sharepoint.com/sites/T_BU_Sales_SalesOps",
              "folderPath": "/Documents partages/Dynamics 365/P2P Transfer",
              "name": "@concat(triggerBody()?['text'], ' - ', 'CSP - P2P Transfer',' - ',utcNow(),'.xlsx')",
              "body": "@body('Get_file_content')"
            },
            "host": {
              "connectionName": "shared_sharepointonline-1",
              "operationId": "CreateFile",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline"
            },
            "authentication": {
              "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']",
              "type": "Raw"
            }
          },
          "runtimeConfiguration": {
            "contentTransfer": {
              "transferMode": "Chunked"
            }
          }
        },
        "Create_transferdetails_table": {
          "runAfter": {
            "Create_file": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "51c388fb-1ad8-4901-a1e6-ee2d993e6f59",
            "tableId": null
          },
          "type": "OpenApiConnection",
          "inputs": {
            "parameters": {
              "source": "groups/e240fe4e-be1d-4b28-aa7e-f42e982bcc43",
              "drive": "b!6_RKlr3ZBEWQON61QtLf8qI_kKsCts1HmLVR110FvwvWXu0FHW48Ta5jMqOS-Z9S",
              "file": "@outputs('Create_file')?['body/Path']",
              "table/Range": "B2:D2",
              "table/TableName": "transferdetails",
              "table/ColumnsNames": "NCE CSP Transfer Details; Details; Notes"
            },
            "host": {
              "connectionName": "shared_excelonlinebusiness-1",
              "operationId": "CreateTable",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_excelonlinebusiness"
            },
            "authentication": {
              "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']",
              "type": "Raw"
            }
          }
        },
        "Apply_to_each": {
          "foreach": "@outputs('Partner_Details')",
          "actions": {
            "Add_Transfer_Details": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "7f313f02-4683-426c-bb81-5f454612b045",
                "tableId": "@outputs('Create_transferdetails_table')?['body/name']"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "parameters": {
                  "source": "sites/sherwebcorp.sharepoint.com,964af4eb-d9bd-4504-9038-deb542d2dff2,ab903fa2-b602-47cd-98b5-51d75d05bf0b",
                  "drive": "b!6_RKlr3ZBEWQON61QtLf8qI_kKsCts1HmLVR110FvwvWXu0FHW48Ta5jMqOS-Z9S",
                  "file": "@outputs('Create_file')?['body/Path']",
                  "table": "@outputs('Create_transferdetails_table')?['body/name']",
                  "item": {
                    "NCE CSP Transfer Details": "@{items('Apply_to_each')?['Key']}",
                    "Details": "@{items('Apply_to_each')?['Column2']}",
                    "Notes": "@{items('Apply_to_each')?['Column3']}"
                  }
                },
                "host": {
                  "connectionName": "shared_excelonlinebusiness-1",
                  "operationId": "AddRowV2",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_excelonlinebusiness"
                },
                "authentication": {
                  "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']",
                  "type": "Raw"
                }
              }
            }
          },
          "runAfter": {
            "Create_transferdetails_table": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "8392b48d-602b-42b9-889c-af618dc25323"
          },
          "type": "Foreach"
        },
        "Create_orgDetails_table": {
          "runAfter": {
            "Parse_JSON": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "220184d8-6728-4d10-aaac-9554d802c310",
            "tableId": null
          },
          "type": "OpenApiConnection",
          "inputs": {
            "parameters": {
              "source": "groups/e240fe4e-be1d-4b28-aa7e-f42e982bcc43",
              "drive": "b!6_RKlr3ZBEWQON61QtLf8qI_kKsCts1HmLVR110FvwvWXu0FHW48Ta5jMqOS-Z9S",
              "file": "@outputs('Create_file')?['body/Path']",
              "table/Range": "B11:G11",
              "table/TableName": "orgDetails",
              "table/ColumnsNames": "Cumulus Name;\tCumulus Org Link;\tOrg ID;\tonmicrosoftcom Domain;\tTenant ID;\tPartner Center URL"
            },
            "host": {
              "connectionName": "shared_excelonlinebusiness-1",
              "operationId": "CreateTable",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_excelonlinebusiness"
            },
            "authentication": {
              "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']",
              "type": "Raw"
            }
          }
        },
        "Do_until": {
          "actions": {
            "Delay": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "ff0b962c-94bc-4d4c-a045-e6ec33e04b81"
              },
              "type": "Wait",
              "inputs": {
                "interval": {
                  "count": 15,
                  "unit": "Second"
                }
              }
            },
            "List_rows_present_in_a_table": {
              "runAfter": {
                "Delay": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "1480666d-8cb6-438c-863f-e300df81cd77",
                "tableId": "@outputs('Create_orgDetails_table')?['body/name']"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "parameters": {
                  "source": "sites/sherwebcorp.sharepoint.com,964af4eb-d9bd-4504-9038-deb542d2dff2,ab903fa2-b602-47cd-98b5-51d75d05bf0b",
                  "drive": "b!6_RKlr3ZBEWQON61QtLf8qI_kKsCts1HmLVR110FvwvWXu0FHW48Ta5jMqOS-Z9S",
                  "file": "@outputs('Create_file')?['body/Path']",
                  "table": "@outputs('Create_orgDetails_table')?['body/name']"
                },
                "host": {
                  "connectionName": "shared_excelonlinebusiness-1",
                  "operationId": "GetItems",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_excelonlinebusiness"
                },
                "authentication": {
                  "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']",
                  "type": "Raw"
                }
              }
            },
            "Set_variable": {
              "runAfter": {
                "List_rows_present_in_a_table": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "73e2ee03-e529-4d9e-8aa5-6a4ea0fc4d9f"
              },
              "type": "SetVariable",
              "inputs": {
                "name": "RowCount",
                "value": "@length(outputs('List_rows_present_in_a_table')?['body/value'])"
              }
            }
          },
          "runAfter": {
            "Initialize_variable": [
              "Succeeded"
            ]
          },
          "expression": "@equals(variables('RowCount'),triggerBody()?['number_1'])",
          "limit": {
            "count": 10,
            "timeout": "PT1H"
          },
          "metadata": {
            "operationMetadataId": "2f3efe02-ffbd-425a-a04c-4f703b65edf9"
          },
          "type": "Until"
        },
        "Initialize_variable": {
          "runAfter": {
            "getDetails": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "f59e7e67-62bc-47ec-9970-9119034f32a9"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "RowCount",
                "type": "integer"
              }
            ]
          }
        },
        "Condition": {
          "actions": {
            "Get_attachments": {
              "runAfter": {
                "Get_file_properties": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "d9d0984f-4345-4fc6-b53f-58978ca9d4aa"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "parameters": {
                  "dataset": "https://sherwebcorp.sharepoint.com/sites/T_BU_Sales_SalesOps",
                  "table": "797bbd9b-2efb-4a93-a303-a68d5cac531a",
                  "itemId": "@triggerBody()?['number']"
                },
                "host": {
                  "connectionName": "shared_sharepointonline-1",
                  "operationId": "GetItemAttachments",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline"
                },
                "authentication": {
                  "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']",
                  "type": "Raw"
                }
              }
            },
            "For_each_2": {
              "foreach": "@outputs('Get_attachments')?['body']",
              "actions": {
                "Get_attachment_content": {
                  "runAfter": {},
                  "metadata": {
                    "operationMetadataId": "fa9fedd2-723b-44b4-9d53-8a65183bc29f"
                  },
                  "type": "OpenApiConnection",
                  "inputs": {
                    "parameters": {
                      "dataset": "https://sherwebcorp.sharepoint.com/sites/T_BU_Sales_SalesOps",
                      "table": "797bbd9b-2efb-4a93-a303-a68d5cac531a",
                      "itemId": "@triggerBody()?['number']",
                      "attachmentId": "@items('For_each_2')?['Id']"
                    },
                    "host": {
                      "connectionName": "shared_sharepointonline-1",
                      "operationId": "GetAttachmentContent",
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline"
                    },
                    "authentication": {
                      "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']",
                      "type": "Raw"
                    }
                  }
                },
                "Send_Email_to_Create_Ticket": {
                  "runAfter": {
                    "Get_attachment_content": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "1eecbaa6-525f-4065-a05a-6ed3a1394d97"
                  },
                  "type": "OpenApiConnection",
                  "inputs": {
                    "host": {
                      "connectionName": "shared_office365-1",
                      "operationId": "SendEmailV2",
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_office365"
                    },
                    "parameters": {
                      "emailMessage/To": "Office365Migration@sherweb.com",
                      "emailMessage/Subject": "@{triggerBody()?['number_1']} - P2P transfer for @{triggerBody()?['text']} from @{triggerBody()?['text_5']} - @{outputs('Get_file_properties')?['body/Created']}",
                      "emailMessage/Body": "<p class=\"editor-paragraph\">Partner Name: @{triggerBody()?['text_2']}<br>Partner Email: @{triggerBody()?['text_3']}<br><br>Partner Cumulus URL: @{triggerBody()?['text_4']}<br>Location: @{triggerBody()?['text_10']}<br>Estimated MRR: @{triggerBody()?['text_11']}</p><p class=\"editor-paragraph\">NCE: @{triggerBody()?['boolean']}</p><p class=\"editor-paragraph\">Azure: @{triggerBody()?['boolean_1']}<br><br># of Orgs: @{triggerBody()?['number_1']}<br>Losing Provider: @{triggerBody()?['text_5']}<br><br>Notes:<br>@{triggerBody()?['text_9']}</p><br><p class=\"editor-paragraph\">Submitted by: @{triggerBody()?['text_8']}</p><br><p class=\"editor-paragraph\">P2P Excel Link: @{outputs('Get_file_properties')?['body/{Link}']}</p>",
                      "emailMessage/Attachments": [
                        {
                          "Name": "@item()?['DisplayName']",
                          "ContentBytes": "@body('Get_attachment_content')"
                        }
                      ],
                      "emailMessage/Importance": "Normal"
                    },
                    "authentication": "@parameters('$authentication')"
                  }
                }
              },
              "runAfter": {
                "Get_attachments": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "f31fb015-657c-4ec1-a5dc-b56e8334721f"
              },
              "type": "Foreach"
            },
            "Get_file_properties": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "ba257250-7c9f-4459-9c11-808d3523087e"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "parameters": {
                  "dataset": "https://sherwebcorp.sharepoint.com/sites/T_BU_Sales_SalesOps",
                  "table": "05ed5ed6-6e1d-4d3c-ae63-32a392f99f52",
                  "id": "@outputs('Create_file')?['body/ItemId']"
                },
                "host": {
                  "connectionName": "shared_sharepointonline-1",
                  "operationId": "GetFileItem",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline"
                },
                "authentication": {
                  "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']",
                  "type": "Raw"
                }
              }
            },
            "Run_script_from_SharePoint_library_1": {
              "runAfter": {
                "For_each_2": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "01OFKAWE4GDSFF6MRYWNGLAN7SPAOWEF3W": "/Dynamics 365/Final Script.osts",
                "tableId": null,
                "operationMetadataId": "d6ea379a-a3db-4474-b97f-83d3137da808"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "parameters": {
                  "source": "groups/e240fe4e-be1d-4b28-aa7e-f42e982bcc43",
                  "drive": "b!6_RKlr3ZBEWQON61QtLf8qI_kKsCts1HmLVR110FvwvWXu0FHW48Ta5jMqOS-Z9S",
                  "file": "@outputs('Create_file')?['body/Path']",
                  "scriptSource": "groups/e240fe4e-be1d-4b28-aa7e-f42e982bcc43",
                  "scriptDrive": "b!6_RKlr3ZBEWQON61QtLf8qI_kKsCts1HmLVR110FvwvWXu0FHW48Ta5jMqOS-Z9S",
                  "scriptId": "01OFKAWE4GDSFF6MRYWNGLAN7SPAOWEF3W"
                },
                "host": {
                  "connectionName": "shared_excelonlinebusiness-1",
                  "operationId": "RunScriptProdV2",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_excelonlinebusiness"
                },
                "authentication": {
                  "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']",
                  "type": "Raw"
                }
              }
            }
          },
          "runAfter": {
            "Do_until": [
              "Succeeded"
            ]
          },
          "else": {
            "actions": {
              "Terminate": {
                "runAfter": {
                  "Send_an_email_(V2)": [
                    "Succeeded"
                  ]
                },
                "metadata": {
                  "operationMetadataId": "05f8ae83-a3a0-4d80-99f3-91aa399c08c0"
                },
                "type": "Terminate",
                "inputs": {
                  "runStatus": "Failed"
                }
              },
              "Send_an_email_(V2)": {
                "runAfter": {},
                "metadata": {
                  "operationMetadataId": "73929585-b0a8-42ac-afe9-32a747763fdd"
                },
                "type": "OpenApiConnection",
                "inputs": {
                  "host": {
                    "connectionName": "shared_office365-1",
                    "operationId": "SendEmailV2",
                    "apiId": "/providers/Microsoft.PowerApps/apis/shared_office365"
                  },
                  "parameters": {
                    "emailMessage/To": "jdgraaf@sherweb.com;lcalabrese@sherweb.com;plira@sherweb.com;@{triggerBody()?['text_8']}",
                    "emailMessage/Subject": "P2P - Failed",
                    "emailMessage/Body": "<p class=\"editor-paragraph\">The P2P flow failed.</p><br><p class=\"editor-paragraph\">Please ensure you have selected the proper number of organizations from the P2P Transfer screen.</p>",
                    "emailMessage/Importance": "High"
                  },
                  "authentication": "@parameters('$authentication')"
                }
              }
            }
          },
          "expression": {
            "and": [
              {
                "equals": [
                  "@variables('RowCount')",
                  "@triggerBody()?['number_1']"
                ]
              }
            ]
          },
          "metadata": {
            "operationMetadataId": "0c34b9f5-0744-44d8-ad8e-5ee980f0741a"
          },
          "type": "If"
        }
      }
    },
    "templateName": ""
  },
  "schemaVersion": "1.0.0.0"
}