AIDocumentation/Flows/sendp2ptransfer/flow.schema.json
{
  "properties": {
    "connectionReferences": {
      "shared_commondataserviceforapps_1": {
        "api": {
          "name": "shared_commondataserviceforapps"
        },
        "connection": {
          "connectionReferenceLogicalName": "revops_sharedcommondataserviceforapps_88e45"
        },
        "runtimeSource": "embedded"
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        },
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "Competitor - Pax8 (revops_competitorpax8)": {
          "defaultValue": "6d37b522-84c4-ee11-9079-000d3a09cf8e",
          "type": "String",
          "metadata": {
            "schemaName": "revops_competitorpax8"
          }
        }
      },
      "triggers": {
        "When_a_transfer_is_ready_to_be_sent": {
          "type": "OpenApiConnectionWebhook",
          "inputs": {
            "parameters": {
              "subscriptionRequest/message": 3,
              "subscriptionRequest/entityname": "revops_transfer",
              "subscriptionRequest/scope": 4,
              "subscriptionRequest/filteringattributes": "revops_readyfortransfer"
            },
            "host": {
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
              "operationId": "SubscribeWebhookTrigger",
              "connectionName": "shared_commondataserviceforapps_1"
            }
          },
          "conditions": [
            {
              "expression": "@equals(triggerOutputs()?['body/revops_readyfortransfer'], true)"
            }
          ],
          "metadata": {
            "operationMetadataId": "47185b47-fb36-44fa-95c9-a854452f054d"
          }
        }
      },
      "actions": {
        "Get_Cumulus_Account": {
          "type": "OpenApiConnection",
          "inputs": {
            "parameters": {
              "entityName": "revops_cumulusaccounts",
              "recordId": "@triggerOutputs()?['body/_revops_cumulusaccount_value']"
            },
            "host": {
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
              "operationId": "GetItem",
              "connectionName": "shared_commondataserviceforapps_1"
            }
          },
          "runAfter": {
            "Get_Contact": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "c2239efd-8fab-4e42-a49d-8d008bebce20"
          }
        },
        "Get_Cumulus_Org": {
          "type": "OpenApiConnection",
          "inputs": {
            "parameters": {
              "entityName": "revops_cumulusorganizations",
              "recordId": "@triggerOutputs()?['body/_revops_cumulusorganization_value']"
            },
            "host": {
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
              "operationId": "GetItem",
              "connectionName": "shared_commondataserviceforapps_1"
            }
          },
          "runAfter": {
            "Get_Cumulus_Account": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "ffcd157f-7b40-4caf-bc08-f291b51cb604"
          }
        },
        "Get_Platform_Settings": {
          "type": "OpenApiConnection",
          "inputs": {
            "parameters": {
              "entityName": "revops_platformsettingses",
              "recordId": "@triggerOutputs()?['body/_revops_platformsettings_value']"
            },
            "host": {
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
              "operationId": "GetItem",
              "connectionName": "shared_commondataserviceforapps_1"
            }
          },
          "runAfter": {
            "Get_Cumulus_Org": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "2d27ff3c-f725-4296-805b-7db916229735"
          }
        },
        "Compose_–_CreateTransfer_body": {
          "type": "Compose",
          "inputs": {
            "tenantRegion": "@{variables('TenantRegion')}",
            "tenantId": "@{triggerOutputs()?['body/revops_microsoftid']}",
            "losingPartnerId": "@{outputs('Get_Competitor_ID')?['body/revops_name']}",
            "losingPartnerName": "@{outputs('Get_Competitor')?['body/name']}",
            "customerName": "@{outputs('Get_Cumulus_Org')?['body/revops_name']}",
            "customerEmail": "@{outputs('Get_Contact')?['body/emailaddress1']}",
            "cumulusOrganizationUniqueName": "@{outputs('Get_Cumulus_Org')?['body/revops_organizationuniquename']}",
            "mpnId": "@{outputs('Get_Cumulus_Account')?['body/revops_mpnid']}"
          },
          "runAfter": {
            "Condition_Region_is_GB": [
              "SUCCEEDED"
            ]
          },
          "metadata": {
            "operationMetadataId": "121a0988-8009-4c1b-94a3-b1f3d4345f8f"
          }
        },
        "Get_Case": {
          "type": "OpenApiConnection",
          "inputs": {
            "parameters": {
              "entityName": "incidents",
              "recordId": "@triggerOutputs()?['body/_revops_case_value']"
            },
            "host": {
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
              "operationId": "GetItem",
              "connectionName": "shared_commondataserviceforapps_1"
            }
          },
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "7dc244ac-fca3-45d1-947b-8c3e8fc4da9d"
          }
        },
        "Get_Contact": {
          "type": "OpenApiConnection",
          "inputs": {
            "parameters": {
              "entityName": "contacts",
              "recordId": "@outputs('Get_Case')?['body/_customerid_value']"
            },
            "host": {
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
              "operationId": "GetItem",
              "connectionName": "shared_commondataserviceforapps_1"
            }
          },
          "runAfter": {
            "Get_Case": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "2ed66972-76c3-4ff9-ac76-7a6ac906f60b"
          }
        },
        "HTTP": {
          "type": "Http",
          "inputs": {
            "uri": "https://nce-transfer.sherweb.com/create-transfer",
            "method": "POST",
            "headers": {
              "Content-Type": "application/json"
            },
            "body": "@outputs('Compose_–_CreateTransfer_body')"
          },
          "runAfter": {
            "Add_Payload_to_Transfer": [
              "Succeeded"
            ]
          },
          "runtimeConfiguration": {
            "contentTransfer": {
              "transferMode": "Chunked"
            },
            "secureData": {
              "properties": [
                "inputs",
                "outputs"
              ]
            }
          },
          "metadata": {
            "operationMetadataId": "a0959714-9cd0-4965-85b1-0228e6c0d822"
          }
        },
        "Switch": {
          "type": "Switch",
          "expression": "@outputs('HTTP')?['statusCode']",
          "default": {
            "actions": {}
          },
          "cases": {
            "Case_200": {
              "actions": {
                "Update_Transfer": {
                  "type": "OpenApiConnection",
                  "inputs": {
                    "parameters": {
                      "entityName": "revops_transfers",
                      "recordId": "@triggerOutputs()?['body/revops_transferid']",
                      "item/revops_requestid": "@body('Parse_JSON')['transferID']",
                      "item/statuscode": 234570001
                    },
                    "host": {
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                      "operationId": "UpdateOnlyRecord",
                      "connectionName": "shared_commondataserviceforapps_1"
                    }
                  },
                  "runAfter": {
                    "Parse_JSON": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "500480bf-875b-43ac-8c9a-fe9c8b8e4913"
                  }
                },
                "Parse_JSON": {
                  "type": "ParseJson",
                  "inputs": {
                    "content": "@body('HTTP')",
                    "schema": {
                      "type": "object",
                      "properties": {
                        "transferID": {
                          "type": "string"
                        },
                        "customerID": {
                          "type": "string"
                        },
                        "customerName": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "transferID"
                      ]
                    }
                  },
                  "metadata": {
                    "operationMetadataId": "032bff18-f11e-4a30-afb1-647bca26ba55"
                  }
                }
              },
              "case": 200
            },
            "Case_500": {
              "actions": {
                "Update_Transfer_Fail": {
                  "type": "OpenApiConnection",
                  "inputs": {
                    "parameters": {
                      "entityName": "revops_transfers",
                      "recordId": "@triggerOutputs()?['body/revops_transferid']",
                      "item/revops_readyfortransfer": false,
                      "item/statuscode": 234570005
                    },
                    "host": {
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                      "operationId": "UpdateOnlyRecord",
                      "connectionName": "shared_commondataserviceforapps_1"
                    }
                  },
                  "runAfter": {
                    "Create_Note_on_Case": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "b03d0aa2-b81a-4d38-85bc-c91b5fbb6929"
                  }
                },
                "Create_Note_on_Case": {
                  "type": "OpenApiConnection",
                  "inputs": {
                    "parameters": {
                      "entityName": "annotations",
                      "item/subject": "P2P Transfer Notification",
                      "item/notetext": "Status:\n@{outputs('HTTP')?['statusCode']}\nOrg Name:\n@{outputs('Get_Cumulus_Org')?['body/revops_organizationuniquename']}\nCustomer ID:\n@{triggerOutputs()?['body/revops_microsoftid']}\nIssue:\n@{body('HTTP')}",
                      "item/objectid_incident@odata.bind": "/incidents(@{triggerOutputs()?['body/_revops_case_value']})"
                    },
                    "host": {
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                      "operationId": "CreateRecord",
                      "connectionName": "shared_commondataserviceforapps_1"
                    }
                  },
                  "metadata": {
                    "operationMetadataId": "75ba4757-ff93-4d82-9cb3-261e68aefef2"
                  }
                }
              },
              "case": 500
            },
            "Case_400": {
              "actions": {
                "Update_Transfer_Missing": {
                  "type": "OpenApiConnection",
                  "inputs": {
                    "parameters": {
                      "entityName": "revops_transfers",
                      "recordId": "@triggerOutputs()?['body/revops_transferid']",
                      "item/revops_readyfortransfer": false,
                      "item/statuscode": 234570005
                    },
                    "host": {
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                      "operationId": "UpdateOnlyRecord",
                      "connectionName": "shared_commondataserviceforapps_1"
                    }
                  },
                  "metadata": {
                    "operationMetadataId": "ffe6928d-827e-4439-a942-e270630af15a"
                  }
                },
                "Create_Note_on_Case_2": {
                  "type": "OpenApiConnection",
                  "inputs": {
                    "parameters": {
                      "entityName": "annotations",
                      "item/subject": "P2P Transfer Notification",
                      "item/notetext": "Status:\n@{outputs('HTTP')?['statusCode']}\nOrg Name:\n@{outputs('Get_Cumulus_Org')?['body/revops_organizationuniquename']}\nCustomer ID:\n@{triggerOutputs()?['body/revops_microsoftid']}\nIssue:\n@{body('HTTP')}",
                      "item/objectid_incident@odata.bind": "/incidents(@{triggerOutputs()?['body/_revops_case_value']})"
                    },
                    "host": {
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                      "operationId": "CreateRecord",
                      "connectionName": "shared_commondataserviceforapps_1"
                    }
                  },
                  "runAfter": {
                    "Update_Transfer_Missing": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "5110a353-b85c-49ed-9d4f-4e985097ede4"
                  }
                }
              },
              "case": 400
            }
          },
          "runAfter": {
            "HTTP": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "a6f7c158-457e-4fc7-89ce-53a5823b817b"
          }
        },
        "Get_Competitor_ID": {
          "type": "OpenApiConnection",
          "inputs": {
            "parameters": {
              "entityName": "revops_competitortransferids",
              "recordId": "@triggerOutputs()?['body/_revops_competitorid_value']"
            },
            "host": {
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
              "operationId": "GetItem",
              "connectionName": "shared_commondataserviceforapps_1"
            }
          },
          "runAfter": {
            "Get_Platform_Settings": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "ed524bf7-3c98-49ab-b446-2bd6c6dcb17a"
          }
        },
        "Get_Region": {
          "type": "OpenApiConnection",
          "inputs": {
            "parameters": {
              "entityName": "msdyn_regions",
              "recordId": "@outputs('Get_Competitor_ID')?['body/_revops_region_value']"
            },
            "host": {
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
              "operationId": "GetItem",
              "connectionName": "shared_commondataserviceforapps_1"
            }
          },
          "runAfter": {
            "Get_Competitor": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "73ed45ca-8ea2-4362-b2d6-43ecd385baef"
          }
        },
        "Get_Competitor": {
          "type": "OpenApiConnection",
          "inputs": {
            "parameters": {
              "entityName": "competitors",
              "recordId": "@triggerOutputs()?['body/_revops_competitor_value']"
            },
            "host": {
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
              "operationId": "GetItem",
              "connectionName": "shared_commondataserviceforapps_1"
            }
          },
          "runAfter": {
            "Get_Competitor_ID": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "a7a4fb0d-c89e-4dbf-8a46-df6ac75ad0a8"
          }
        },
        "Condition_-_PAX8_and_Azure": {
          "type": "If",
          "expression": {
            "and": [
              {
                "equals": [
                  "@triggerOutputs()?['body/_revops_competitor_value']",
                  "@parameters('Competitor - Pax8 (revops_competitorpax8)')"
                ]
              },
              {
                "contains": [
                  "@outputs('Get_Case')?['body/revops_transferworkload']",
                  "234570000"
                ]
              }
            ]
          },
          "actions": {
            "HTTP_2": {
              "type": "Http",
              "inputs": {
                "uri": "https://nce-transfer.sherweb.com/create-transfer",
                "method": "POST",
                "headers": {
                  "Content-Type": "application/json"
                },
                "body": "@outputs('Compose_–_CreateTransfer_body')"
              },
              "runtimeConfiguration": {
                "contentTransfer": {
                  "transferMode": "Chunked"
                }
              },
              "metadata": {
                "operationMetadataId": "a0959714-9cd0-4965-85b1-0228e6c0d822"
              }
            },
            "Switch_2": {
              "type": "Switch",
              "expression": "@outputs('HTTP_2')['statusCode']",
              "default": {
                "actions": {}
              },
              "cases": {
                "Case_200-1": {
                  "actions": {
                    "Response": {
                      "type": "ParseJson",
                      "inputs": {
                        "content": "@body('HTTP_2')",
                        "schema": {
                          "type": "object",
                          "properties": {
                            "transferID": {
                              "type": "string"
                            },
                            "customerID": {
                              "type": "string"
                            },
                            "customerName": {
                              "type": "string"
                            }
                          },
                          "required": [
                            "transferID"
                          ]
                        }
                      },
                      "metadata": {
                        "operationMetadataId": "57a611cf-c03d-4001-814e-3539a2bf0fd8"
                      }
                    },
                    "Update_Transfer_with_Azure_ID": {
                      "type": "OpenApiConnection",
                      "inputs": {
                        "parameters": {
                          "entityName": "revops_transfers",
                          "recordId": "@triggerOutputs()?['body/revops_transferid']",
                          "item/revops_azuretransferid": "@body('Response')['transferID']",
                          "item/statuscode": 234570001
                        },
                        "host": {
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                          "operationId": "UpdateOnlyRecord",
                          "connectionName": "shared_commondataserviceforapps_1"
                        }
                      },
                      "runAfter": {
                        "Response": [
                          "Succeeded"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "840971c5-6f10-4e44-9233-64e9604ba339"
                      }
                    }
                  },
                  "case": 200
                },
                "Case_400-1": {
                  "actions": {
                    "Create_a_note_on_the_Case": {
                      "type": "OpenApiConnection",
                      "inputs": {
                        "parameters": {
                          "entityName": "annotations",
                          "item/subject": "P2P Transfer Notification",
                          "item/notetext": "Status:\n@{outputs('HTTP_2')['statusCode']}\nOrg Name:\n@{outputs('Get_Cumulus_Org')?['body/revops_organizationuniquename']}\nCustomer ID:\n@{triggerOutputs()?['body/revops_microsoftid']}\nIssue:\n@{body('HTTP_2')}",
                          "item/objectid_incident@odata.bind": "@outputs('Get_Case')?['body/incidentid']"
                        },
                        "host": {
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                          "operationId": "CreateRecord",
                          "connectionName": "shared_commondataserviceforapps_1"
                        }
                      },
                      "metadata": {
                        "operationMetadataId": "ff49e834-666d-452e-ae22-43b46a8679b5"
                      }
                    },
                    "Update_a_row": {
                      "type": "OpenApiConnection",
                      "inputs": {
                        "parameters": {
                          "entityName": "revops_transfers",
                          "recordId": "@triggerOutputs()?['body/revops_transferid']",
                          "item/statuscode": 234570005
                        },
                        "host": {
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                          "operationId": "UpdateOnlyRecord",
                          "connectionName": "shared_commondataserviceforapps_1"
                        }
                      },
                      "runAfter": {
                        "Create_a_note_on_the_Case": [
                          "Succeeded"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "55d70fc4-035b-4ff6-8bf7-0c81c3fe99e5"
                      }
                    }
                  },
                  "case": 400
                },
                "Case_500-1": {
                  "actions": {
                    "Add_a_note_to_the_case": {
                      "type": "OpenApiConnection",
                      "inputs": {
                        "parameters": {
                          "entityName": "annotations",
                          "item/subject": "P2P Transfer Notification",
                          "item/notetext": "Status:\n@{outputs('HTTP_2')['statusCode']}\nOrg Name:\n@{outputs('Get_Cumulus_Org')?['body/revops_organizationuniquename']}\nCustomer ID:\n@{triggerOutputs()?['body/revops_microsoftid']}\nIssue:\n@{body('HTTP_2')}",
                          "item/objectid_incident@odata.bind": "@outputs('Get_Case')?['body/incidentid']"
                        },
                        "host": {
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                          "operationId": "CreateRecord",
                          "connectionName": "shared_commondataserviceforapps_1"
                        }
                      },
                      "metadata": {
                        "operationMetadataId": "9aa113b3-4f08-4ab6-b2cb-4961e0e5f8f3"
                      }
                    },
                    "Update_a_row_2": {
                      "type": "OpenApiConnection",
                      "inputs": {
                        "parameters": {
                          "entityName": "revops_transfers",
                          "recordId": "@triggerOutputs()?['body/revops_transferid']",
                          "item/statuscode": 234570005
                        },
                        "host": {
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                          "operationId": "UpdateOnlyRecord",
                          "connectionName": "shared_commondataserviceforapps_1"
                        }
                      },
                      "runAfter": {
                        "Add_a_note_to_the_case": [
                          "Succeeded"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "8b02fd13-d51a-49a0-8dc5-deb077fdf9b0"
                      }
                    }
                  },
                  "case": 500
                }
              },
              "runAfter": {
                "HTTP_2": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "0c51930b-79b2-40df-98cb-a45865181d51"
              }
            },
            "Condition_2": {
              "type": "If",
              "expression": {
                "and": [
                  {
                    "equals": [
                      "@triggerOutputs()?['body/revops_firstsubmitsent']",
                      false
                    ]
                  }
                ]
              },
              "actions": {
                "Update_Transfer_first_sent_date_and_time_2": {
                  "type": "OpenApiConnection",
                  "inputs": {
                    "parameters": {
                      "entityName": "revops_transfers",
                      "recordId": "@triggerOutputs()?['body/revops_transferid']",
                      "item/revops_datesubmitted": "@utcNow()",
                      "item/revops_firstsubmitsent": true,
                      "item/revops_firstsubmitted": "@utcNow()"
                    },
                    "host": {
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                      "operationId": "UpdateOnlyRecord",
                      "connectionName": "shared_commondataserviceforapps_1"
                    }
                  },
                  "metadata": {
                    "operationMetadataId": "c9b5647e-8ef1-4890-832d-3371d86adb74"
                  }
                }
              },
              "else": {
                "actions": {
                  "Update_transfer_sent_date_2": {
                    "type": "OpenApiConnection",
                    "inputs": {
                      "parameters": {
                        "entityName": "revops_transfers",
                        "recordId": "@triggerOutputs()?['body/revops_transferid']",
                        "item/revops_datesubmitted": "@utcNow()"
                      },
                      "host": {
                        "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                        "operationId": "UpdateOnlyRecord",
                        "connectionName": "shared_commondataserviceforapps_1"
                      }
                    },
                    "metadata": {
                      "operationMetadataId": "00271f23-ccf9-4d87-8e16-b43d9e17b2f1"
                    }
                  }
                }
              },
              "runAfter": {
                "Switch_2": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "711719f7-29fa-40a4-9dcf-a3f46c6976e5"
              }
            }
          },
          "else": {
            "actions": {}
          },
          "runAfter": {
            "Add_Payload_to_Transfer": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "85075f36-1ed1-40c8-a976-851018d327f6"
          }
        },
        "Add_Payload_to_Transfer": {
          "type": "OpenApiConnection",
          "inputs": {
            "parameters": {
              "entityName": "revops_transfers",
              "recordId": "@triggerOutputs()?['body/revops_transferid']",
              "item/revops_payload": "@outputs('Compose_–_CreateTransfer_body')"
            },
            "host": {
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
              "operationId": "UpdateOnlyRecord",
              "connectionName": "shared_commondataserviceforapps_1"
            }
          },
          "runAfter": {
            "Compose_–_CreateTransfer_body": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "4541ddc2-c187-4af0-9e18-cbd04c0b4775"
          }
        },
        "Condition": {
          "type": "If",
          "expression": {
            "and": [
              {
                "equals": [
                  "@triggerOutputs()?['body/revops_firstsubmitsent']",
                  false
                ]
              }
            ]
          },
          "actions": {
            "Update_Transfer_first_sent_date_and_time": {
              "type": "OpenApiConnection",
              "inputs": {
                "parameters": {
                  "entityName": "revops_transfers",
                  "recordId": "@triggerOutputs()?['body/revops_transferid']",
                  "item/revops_datesubmitted": "@utcNow()",
                  "item/revops_firstsubmitsent": true,
                  "item/revops_firstsubmitted": "@utcNow()"
                },
                "host": {
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                  "operationId": "UpdateOnlyRecord",
                  "connectionName": "shared_commondataserviceforapps_1"
                }
              },
              "metadata": {
                "operationMetadataId": "debd4702-3475-4c12-9998-02cf0cf8d584"
              }
            }
          },
          "else": {
            "actions": {
              "Update_transfer_sent_date": {
                "type": "OpenApiConnection",
                "inputs": {
                  "parameters": {
                    "entityName": "revops_transfers",
                    "recordId": "@triggerOutputs()?['body/revops_transferid']",
                    "item/revops_datesubmitted": "@utcNow()"
                  },
                  "host": {
                    "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                    "operationId": "UpdateOnlyRecord",
                    "connectionName": "shared_commondataserviceforapps_1"
                  }
                },
                "metadata": {
                  "operationMetadataId": "e382e64c-1328-4046-bd79-c38f4152e75f"
                }
              }
            }
          },
          "runAfter": {
            "Switch": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "ab56876c-8370-48f9-9596-0a744bbfb3ac"
          }
        },
        "Condition_Region_is_GB": {
          "type": "If",
          "expression": {
            "and": [
              {
                "equals": [
                  "@outputs('Get_Region')?['body/msdyn_regioncode']",
                  "GB"
                ]
              }
            ]
          },
          "actions": {
            "Set_variable_TenantRegion_to_UK": {
              "type": "SetVariable",
              "inputs": {
                "name": "TenantRegion",
                "value": "UK"
              }
            }
          },
          "else": {
            "actions": {
              "Set_variable_tenantRegion_to_region_code": {
                "type": "SetVariable",
                "inputs": {
                  "name": "TenantRegion",
                  "value": "@outputs('Get_Region')?['body/msdyn_regioncode']"
                }
              }
            }
          },
          "runAfter": {
            "Initialize_variable": [
              "SUCCEEDED"
            ]
          }
        },
        "Initialize_variable": {
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "TenantRegion",
                "type": "string"
              }
            ]
          },
          "runAfter": {
            "Get_Region": [
              "Succeeded"
            ]
          }
        }
      }
    },
    "templateName": null
  },
  "schemaVersion": "1.0.0.0"
}