AIDocumentation/Flows/activitytasks-stampsqldate/flow.schema.json
{
  "properties": {
    "connectionReferences": {
      "shared_commondataserviceforapps": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "revops_sharedcommondataserviceforapps_bccd6"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        }
      },
      "triggers": {
        "When_a_row_is_added,_modified_or_deleted": {
          "metadata": {
            "operationMetadataId": "69b8c347-bded-4ede-9a50-6b985bc0dd85"
          },
          "type": "OpenApiConnectionWebhook",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "SubscribeWebhookTrigger",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "subscriptionRequest/message": 4,
              "subscriptionRequest/entityname": "task",
              "subscriptionRequest/scope": 4
            },
            "authentication": "@parameters('$authentication')"
          },
          "conditions": [
            {
              "expression": "@equals(triggerOutputs()?['body/_regardingobjectid_type'], 'leads')"
            }
          ]
        }
      },
      "actions": {
        "Has_gt_1_activity": {
          "actions": {
            "cancel_flow": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "978ac473-9e83-4221-849f-2965956aff03"
              },
              "type": "Terminate",
              "inputs": {
                "runStatus": "Cancelled"
              }
            }
          },
          "runAfter": {
            "list_activities": [
              "Succeeded"
            ]
          },
          "else": {
            "actions": {
              "sql_date_empty": {
                "actions": {
                  "update_lead_sql_date": {
                    "runAfter": {},
                    "metadata": {
                      "operationMetadataId": "d49f76ca-2fe7-47e4-9e87-2d92085e5dce"
                    },
                    "type": "OpenApiConnection",
                    "inputs": {
                      "host": {
                        "connectionName": "shared_commondataserviceforapps",
                        "operationId": "UpdateOnlyRecord",
                        "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                      },
                      "parameters": {
                        "entityName": "leads",
                        "recordId": "@outputs('get_lead_row')?['body/leadid']",
                        "item/revops_sqldate": "@utcNow()",
                        "item/statuscode": 234570008
                      },
                      "authentication": "@parameters('$authentication')"
                    }
                  }
                },
                "runAfter": {
                  "get_lead_row": [
                    "Succeeded"
                  ]
                },
                "else": {
                  "actions": {
                    "cancel_flow_2": {
                      "runAfter": {},
                      "metadata": {
                        "operationMetadataId": "23e919e5-0652-44b0-8763-71c0137fafb2"
                      },
                      "type": "Terminate",
                      "inputs": {
                        "runStatus": "Cancelled"
                      }
                    }
                  }
                },
                "expression": {
                  "equals": [
                    "@outputs('get_lead_row')?['body/revops_sqldate']",
                    null
                  ]
                },
                "metadata": {
                  "operationMetadataId": "9a35198d-15e7-4176-a4d3-ba7970bf7ad6"
                },
                "type": "If"
              },
              "get_lead_row": {
                "runAfter": {},
                "metadata": {
                  "operationMetadataId": "909d2a7f-285b-4024-a3c9-0f01f3124601"
                },
                "type": "OpenApiConnection",
                "inputs": {
                  "host": {
                    "connectionName": "shared_commondataserviceforapps",
                    "operationId": "GetItem",
                    "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                  },
                  "parameters": {
                    "entityName": "leads",
                    "recordId": "@triggerOutputs()?['body/_regardingobjectid_value']"
                  },
                  "authentication": "@parameters('$authentication')"
                }
              }
            }
          },
          "expression": {
            "greater": [
              "@length(body('list_activities')?['value'])",
              1
            ]
          },
          "metadata": {
            "operationMetadataId": "b313713e-eb65-4049-aafa-003ec9440afe"
          },
          "type": "If"
        },
        "list_activities": {
          "runAfter": {
            "Set_variable": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "8d2890b9-27f2-4f5d-b9fa-1c269a6fee67"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "ListRecords",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "activitypointers",
              "$filter": "_regardingobjectid_value eq @{triggerOutputs()?['body/_regardingobjectid_value']}",
              "$orderby": "createdon asc"
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Initialize_variable": {
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "0ee455cf-5a4f-45f4-a71f-118fc9a3ed6b"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "Table",
                "type": "string"
              }
            ]
          }
        },
        "Set_variable": {
          "runAfter": {
            "Initialize_variable": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "9b87f48c-cb79-4b85-bc48-f944004bff82"
          },
          "type": "SetVariable",
          "inputs": {
            "name": "Table",
            "value": "@triggerOutputs()?['body/_regardingobjectid_type']"
          }
        }
      },
      "outputs": {}
    },
    "templateName": ""
  },
  "schemaVersion": "1.0.0.0"
}