AIDocumentation/Flows/cs-automatedunresponsiveprocess/flow.schema.json
{
  "properties": {
    "connectionReferences": {
      "shared_commondataserviceforapps": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "new_sharedcommondataserviceforapps_c5511"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        },
        "Queue - CloudPBX - L3 (revops_queuecloudpbxl3)": {
          "defaultValue": "12cb4649-61f0-ef11-be20-7ced8d063295",
          "type": "String",
          "metadata": {
            "schemaName": "revops_queuecloudpbxl3",
            "description": "environment variable for the Queue - CloudPBX - L3"
          }
        },
        "Queue - Managed Services (revops_queuemanagedservices)": {
          "defaultValue": "d106b689-55d3-ef11-a72e-0022486e1e61",
          "type": "String",
          "metadata": {
            "schemaName": "revops_queuemanagedservices",
            "description": "environment variable for the Queue - Managed Services"
          }
        },
        "Queue - Cloud Support (revops_queuecloudsupport)": {
          "defaultValue": "105f195a-53f4-ef11-be20-7c1e52409afe",
          "type": "String",
          "metadata": {
            "schemaName": "revops_queuecloudsupport",
            "description": "environment variable for the queue - cloud support"
          }
        },
        "Queue - CloudPBX (revops_queuecloudpbx)": {
          "defaultValue": "7c1fe837-61f0-ef11-be20-7ced8d063295",
          "type": "String",
          "metadata": {
            "schemaName": "revops_queuecloudpbx",
            "description": "environment variable for the queue - Queue - CloudPBX"
          }
        },
        "Queue - Level 3 (revops_queuelevel3)": {
          "defaultValue": "0a505f96-61f0-ef11-be20-7ced8d063295",
          "type": "String",
          "metadata": {
            "schemaName": "revops_queuelevel3",
            "description": "environment variable for the Queue - Level 3"
          }
        },
        "Queue - Level 2 (revops_queuelevel2)": {
          "defaultValue": "bf3e563f-53e2-ef11-be21-0022486e1e61",
          "type": "String",
          "metadata": {
            "schemaName": "revops_queuelevel2",
            "description": "environment variable for the Queue - Level 2"
          }
        }
      },
      "triggers": {
        "Recurrence": {
          "recurrence": {
            "frequency": "Week",
            "interval": 1,
            "timeZone": "Eastern Standard Time",
            "schedule": {
              "weekDays": [
                "Monday",
                "Tuesday",
                "Wednesday",
                "Thursday",
                "Friday"
              ],
              "hours": [
                "16",
                "17",
                "18",
                "19",
                "20",
                "15",
                "8",
                "9",
                "10",
                "11",
                "12",
                "13",
                "14",
                "21",
                "22",
                "23"
              ],
              "minutes": [
                1
              ]
            }
          },
          "evaluatedRecurrence": {
            "frequency": "Week",
            "interval": 1,
            "timeZone": "Eastern Standard Time",
            "schedule": {
              "weekDays": [
                "Monday",
                "Tuesday",
                "Wednesday",
                "Thursday",
                "Friday"
              ],
              "hours": [
                "16",
                "17",
                "18",
                "19",
                "20",
                "15",
                "8",
                "9",
                "10",
                "11",
                "12",
                "13",
                "14",
                "21",
                "22",
                "23"
              ],
              "minutes": [
                1
              ]
            }
          },
          "metadata": {
            "operationMetadataId": "2154c21a-b111-4337-a91d-1fd43b51f7cc"
          },
          "type": "Recurrence"
        }
      },
      "actions": {
        "Get_case_active_and_waiting_on_CX": {
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "7b420f17-32c6-4cab-9597-34e21b59c9c5"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "ListRecords",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "incidents",
              "$filter": "statecode eq 0 and statuscode eq 4 and revops_lastemaildirection eq 234570001\n"
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "For_each": {
          "foreach": "@outputs('Get_case_active_and_waiting_on_CX')?['body/value']",
          "actions": {
            "get_latest_email": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "06478e5b-04ee-44ab-b570-765f584b0c07"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps",
                  "operationId": "ListRecords",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "emails",
                  "$filter": "_regardingobjectid_value eq @{items('For_each')?['incidentid']}  and statuscode eq 3\n",
                  "$orderby": "modifiedon desc",
                  "$top": 1
                },
                "authentication": "@parameters('$authentication')"
              }
            },
            "Condition": {
              "actions": {
                "HoursSinceResponse": {
                  "runAfter": {},
                  "metadata": {
                    "operationMetadataId": "f8df006d-1ce9-4ed6-9bb9-f4ee62781da6"
                  },
                  "type": "Compose",
                  "inputs": "@div(\r\n    sub(ticks(utcNow()), ticks(first(body('Get_latest_email')?['value'])?['modifiedon'])),\r\n    36000000000\r\n)"
                },
                "check_if_24hours": {
                  "actions": {
                    "Compose_null_counter_to_0": {
                      "runAfter": {},
                      "metadata": {
                        "operationMetadataId": "2a60c687-ff69-404d-a1cf-92859da518f7"
                      },
                      "type": "Compose",
                      "inputs": "@int(coalesce(items('For_each')?['revops_unresponsivecounter'], 0))"
                    },
                    "Switch_-_counter_for_unresponsive_email_template": {
                      "runAfter": {
                        "Compose_null_counter_to_0": [
                          "Succeeded"
                        ]
                      },
                      "cases": {
                        "case_0,_1st_day_unresponsive": {
                          "case": 0,
                          "actions": {
                            "send_email_-_1_day": {
                              "runAfter": {
                                "create_email_-_1_day_unresponsive": [
                                  "Succeeded"
                                ]
                              },
                              "metadata": {
                                "operationMetadataId": "34c86968-ec8f-453c-b75b-553ea5961369"
                              },
                              "type": "OpenApiConnection",
                              "inputs": {
                                "host": {
                                  "connectionName": "shared_commondataserviceforapps",
                                  "operationId": "PerformBoundAction",
                                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                                },
                                "parameters": {
                                  "entityName": "emails",
                                  "actionName": "Microsoft.Dynamics.CRM.SendEmail",
                                  "recordId": "@outputs('create_email_-_1_day_unresponsive')?['body/activityid']",
                                  "item/IssueSend": true
                                },
                                "authentication": "@parameters('$authentication')"
                              }
                            },
                            "create_email_-_1_day_unresponsive": {
                              "runAfter": {
                                "Compose_-_1_day": [
                                  "Succeeded"
                                ]
                              },
                              "metadata": {
                                "operationMetadataId": "5294c4b2-fadc-4272-8671-41087eb238ab"
                              },
                              "type": "OpenApiConnection",
                              "inputs": {
                                "host": {
                                  "connectionName": "shared_commondataserviceforapps",
                                  "operationId": "CreateRecord",
                                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                                },
                                "parameters": {
                                  "entityName": "emails",
                                  "item/activitypointer_activity_parties": "@variables('vartorecipient')",
                                  "item/description": "@outputs('Compose_-_1_day')",
                                  "item/directioncode": true,
                                  "item/regardingobjectid_incident_email@odata.bind": "incidents(@{items('For_each')?['incidentid']})\n",
                                  "item/statuscode": 1,
                                  "item/subject": "@first(body('get_latest_email')?['value'])?['subject']"
                                },
                                "authentication": "@parameters('$authentication')"
                              }
                            },
                            "change_counter_to_1": {
                              "runAfter": {
                                "send_email_-_1_day": [
                                  "Succeeded"
                                ]
                              },
                              "metadata": {
                                "operationMetadataId": "7d82a5f2-5284-4bc6-9d03-d12b80c194e3"
                              },
                              "type": "OpenApiConnection",
                              "inputs": {
                                "host": {
                                  "connectionName": "shared_commondataserviceforapps",
                                  "operationId": "UpdateOnlyRecord",
                                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                                },
                                "parameters": {
                                  "entityName": "incidents",
                                  "recordId": "@items('For_each')?['incidentid']",
                                  "item/revops_unresponsivecounter": 1
                                },
                                "authentication": "@parameters('$authentication')"
                              }
                            },
                            "Compose_-_1_day": {
                              "runAfter": {},
                              "metadata": {
                                "operationMetadataId": "1dfe69ab-0a8a-48ab-b7cf-6823577f254d"
                              },
                              "type": "Compose",
                              "inputs": "<p>Bonjour,</p>\n\n<p>Je fais un suivi concernant votre demande d'assistance. Je n'ai pas eu de nouvelles de votre part depuis ma dernière communication, alors je voulais vérifier où vous en êtes.</p>\n\n<p>Quand vous aurez un moment, vous pouvez simplement me répondre avec ce qui s’applique à votre situation:</p>\n<ul>\n  <li>Vous n’avez pas eu le temps de faire les étapes ou de chercher l'information demandée, et vous avez besoin d’un peu plus de temps.</li>\n  <li>Vous préférez qu’on regarde ça ensemble au téléphone et aimeriez planifier un appel.</li>\n  <li>La situation est résolue et je peux archiver cette demande.</li>\n</ul>\n<p>Merci,<br />\n<strong>Service de Soutien Technique</strong></p>\n<p>###################################################</p>\n\n<p>Hi,</p>\n\n<p>I’m following up on your support ticket. I haven't heard back from you since my last communication, and I would like to inquire regarding the progress on your side.</p>\n\n<p>When you get a moment, you can reply with whichever applies to you:</p>\n\n<ul>\n  <li>You haven’t had a chance to try the steps yet or gather the requested information, and you need a bit more time.</li>\n  <li>You’d prefer to go through it together on a call and would like to schedule one.</li>\n  <li>Everything is resolved, and I can archive this request.</li>\n</ul>\n<p>Thank you,<br />\n<strong>Technical Support Services</strong></p>"
                            }
                          }
                        },
                        "Case_1_-_2nd_day_unresponsive": {
                          "case": 1,
                          "actions": {
                            "create_email_-_2_day_unresponsive": {
                              "runAfter": {
                                "Compose_-_2_day": [
                                  "Succeeded"
                                ]
                              },
                              "metadata": {
                                "operationMetadataId": "b08669ab-baad-44f1-a272-5999f256dd3f"
                              },
                              "type": "OpenApiConnection",
                              "inputs": {
                                "host": {
                                  "connectionName": "shared_commondataserviceforapps",
                                  "operationId": "CreateRecord",
                                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                                },
                                "parameters": {
                                  "entityName": "emails",
                                  "item/activitypointer_activity_parties": "@variables('vartorecipient')",
                                  "item/description": "@outputs('Compose_-_2_day')",
                                  "item/directioncode": true,
                                  "item/regardingobjectid_incident_email@odata.bind": "incidents(@{items('For_each')?['incidentid']})\n",
                                  "item/statuscode": 1,
                                  "item/subject": "@first(body('get_latest_email')?['value'])?['subject']"
                                },
                                "authentication": "@parameters('$authentication')"
                              }
                            },
                            "send_email_-_2_day": {
                              "runAfter": {
                                "create_email_-_2_day_unresponsive": [
                                  "Succeeded"
                                ]
                              },
                              "metadata": {
                                "operationMetadataId": "513d7493-48c2-4648-a532-35842f80d1c0"
                              },
                              "type": "OpenApiConnection",
                              "inputs": {
                                "host": {
                                  "connectionName": "shared_commondataserviceforapps",
                                  "operationId": "PerformBoundAction",
                                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                                },
                                "parameters": {
                                  "entityName": "emails",
                                  "actionName": "Microsoft.Dynamics.CRM.SendEmail",
                                  "recordId": "@outputs('create_email_-_2_day_unresponsive')?['body/activityid']",
                                  "item/IssueSend": true
                                },
                                "authentication": "@parameters('$authentication')"
                              }
                            },
                            "change_counter_to_2": {
                              "runAfter": {
                                "send_email_-_2_day": [
                                  "Succeeded"
                                ]
                              },
                              "metadata": {
                                "operationMetadataId": "6962737f-dd78-44ba-a96a-99e9c247982c"
                              },
                              "type": "OpenApiConnection",
                              "inputs": {
                                "host": {
                                  "connectionName": "shared_commondataserviceforapps",
                                  "operationId": "UpdateOnlyRecord",
                                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                                },
                                "parameters": {
                                  "entityName": "incidents",
                                  "recordId": "@items('For_each')?['incidentid']",
                                  "item/revops_unresponsivecounter": 2
                                },
                                "authentication": "@parameters('$authentication')"
                              }
                            },
                            "Compose_-_2_day": {
                              "runAfter": {},
                              "metadata": {
                                "operationMetadataId": "1dfe69ab-0a8a-48ab-b7cf-6823577f254d"
                              },
                              "type": "Compose",
                              "inputs": "<p>Bonjour,</p>\n\n<p>Je fais un suivi concernant votre demande d'assistance. Je n'ai pas eu de nouvelles de votre part depuis ma dernière communication, alors je voulais vérifier où vous en êtes.</p>\n\n<p>Quand vous aurez un moment, vous pouvez simplement me répondre avec ce qui s’applique à votre situation:</p>\n<ul>\n  <li>Vous n’avez pas eu le temps de faire les étapes ou de chercher l'information demandée, et vous avez besoin d’un peu plus de temps.</li>\n  <li>Vous préférez qu’on regarde ça ensemble au téléphone et aimeriez planifier un appel.</li>\n  <li>La situation est résolue et je peux archiver cette demande.</li>\n</ul>\n<p>Merci,<br />\n<strong>Service de Soutien Technique</strong></p>\n<p>###################################################</p>\n\n<p>Hi,</p>\n\n<p>I’m following up on your support ticket. I haven't heard back from you since my last communication, and I would like to inquire regarding the progress on your side.</p>\n\n<p>When you get a moment, you can reply with whichever applies to you:</p>\n\n<ul>\n  <li>You haven’t had a chance to try the steps yet or gather the requested information, and you need a bit more time.</li>\n  <li>You’d prefer to go through it together on a call and would like to schedule one.</li>\n  <li>Everything is resolved, and I can archive this request.</li>\n</ul>\n<p>Thank you,<br />\n<strong>Technical Support Services</strong></p>"
                            }
                          }
                        },
                        "Case_-_3rd_day_unresponsive": {
                          "case": 2,
                          "actions": {
                            "create_email_-_3_day_unresponsive": {
                              "runAfter": {
                                "Compose_-_3_day": [
                                  "Succeeded"
                                ]
                              },
                              "metadata": {
                                "operationMetadataId": "2f952de2-a641-42cb-9a94-58c79822e8a5"
                              },
                              "type": "OpenApiConnection",
                              "inputs": {
                                "host": {
                                  "connectionName": "shared_commondataserviceforapps",
                                  "operationId": "CreateRecord",
                                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                                },
                                "parameters": {
                                  "entityName": "emails",
                                  "item/activitypointer_activity_parties": "@variables('vartorecipient')",
                                  "item/description": "@outputs('Compose_-_3_day')",
                                  "item/directioncode": true,
                                  "item/regardingobjectid_incident_email@odata.bind": "incidents(@{items('For_each')?['incidentid']})\n",
                                  "item/statuscode": 1,
                                  "item/subject": "@first(body('get_latest_email')?['value'])?['subject']"
                                },
                                "authentication": "@parameters('$authentication')"
                              }
                            },
                            "send_email_-_3_day": {
                              "runAfter": {
                                "create_email_-_3_day_unresponsive": [
                                  "Succeeded"
                                ]
                              },
                              "metadata": {
                                "operationMetadataId": "43a4baa2-97dd-4300-b87d-a92d0803b28c"
                              },
                              "type": "OpenApiConnection",
                              "inputs": {
                                "host": {
                                  "connectionName": "shared_commondataserviceforapps",
                                  "operationId": "PerformBoundAction",
                                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                                },
                                "parameters": {
                                  "entityName": "emails",
                                  "actionName": "Microsoft.Dynamics.CRM.SendEmail",
                                  "recordId": "@outputs('create_email_-_3_day_unresponsive')?['body/activityid']",
                                  "item/IssueSend": true
                                },
                                "authentication": "@parameters('$authentication')"
                              }
                            },
                            "change_counter_to_3": {
                              "runAfter": {
                                "send_email_-_3_day": [
                                  "Succeeded"
                                ]
                              },
                              "metadata": {
                                "operationMetadataId": "06ad140b-cb5a-4be6-809b-2d905128e1ac"
                              },
                              "type": "OpenApiConnection",
                              "inputs": {
                                "host": {
                                  "connectionName": "shared_commondataserviceforapps",
                                  "operationId": "UpdateOnlyRecord",
                                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                                },
                                "parameters": {
                                  "entityName": "incidents",
                                  "recordId": "@items('For_each')?['incidentid']",
                                  "item/revops_unresponsivecounter": 3
                                },
                                "authentication": "@parameters('$authentication')"
                              }
                            },
                            "Compose_-_3_day": {
                              "runAfter": {},
                              "metadata": {
                                "operationMetadataId": "1dfe69ab-0a8a-48ab-b7cf-6823577f254d"
                              },
                              "type": "Compose",
                              "inputs": "<p>Bonjour,</p>\n\n<p>Je fais un suivi concernant votre demande d'assistance. Je n'ai pas eu de nouvelles de votre part depuis ma dernière communication, alors je voulais vérifier où vous en êtes.</p>\n\n<p>Quand vous aurez un moment, vous pouvez simplement me répondre avec ce qui s’applique à votre situation:</p>\n<ul>\n  <li>Vous n’avez pas eu le temps de faire les étapes ou de chercher l'information demandée, et vous avez besoin d’un peu plus de temps.</li>\n  <li>Vous préférez qu’on regarde ça ensemble au téléphone et aimeriez planifier un appel.</li>\n  <li>La situation est résolue et je peux archiver cette demande.</li>\n</ul>\n<p>Merci,<br />\n<strong>Service de Soutien Technique</strong></p>\n<p>###################################################</p>\n\n<p>Hi,</p>\n\n<p>I’m following up on your support ticket. I haven't heard back from you since my last communication, and I would like to inquire regarding the progress on your side.</p>\n\n<p>When you get a moment, you can reply with whichever applies to you:</p>\n\n<ul>\n  <li>You haven’t had a chance to try the steps yet or gather the requested information, and you need a bit more time.</li>\n  <li>You’d prefer to go through it together on a call and would like to schedule one.</li>\n  <li>Everything is resolved, and I can archive this request.</li>\n</ul>\n<p>Thank you,<br />\n<strong>Technical Support Services</strong></p>"
                            }
                          }
                        },
                        "Case_-_4th_day_unresponsive": {
                          "case": 3,
                          "actions": {
                            "create_email_-_4_day_unresponsive": {
                              "runAfter": {
                                "Compose_-_4_day": [
                                  "Succeeded"
                                ]
                              },
                              "metadata": {
                                "operationMetadataId": "2414d01d-4889-47f5-965e-461eeffc3d71"
                              },
                              "type": "OpenApiConnection",
                              "inputs": {
                                "host": {
                                  "connectionName": "shared_commondataserviceforapps",
                                  "operationId": "CreateRecord",
                                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                                },
                                "parameters": {
                                  "entityName": "emails",
                                  "item/activitypointer_activity_parties": "@variables('vartorecipient')",
                                  "item/description": "@outputs('Compose_-_4_day')",
                                  "item/directioncode": true,
                                  "item/regardingobjectid_incident_email@odata.bind": "incidents(@{items('For_each')?['incidentid']})\n",
                                  "item/statuscode": 1,
                                  "item/subject": "@first(body('get_latest_email')?['value'])?['subject']"
                                },
                                "authentication": "@parameters('$authentication')"
                              }
                            },
                            "send_email_-_4_day": {
                              "runAfter": {
                                "create_email_-_4_day_unresponsive": [
                                  "Succeeded"
                                ]
                              },
                              "metadata": {
                                "operationMetadataId": "af062fde-ef98-480a-9344-d5872a2f1248"
                              },
                              "type": "OpenApiConnection",
                              "inputs": {
                                "host": {
                                  "connectionName": "shared_commondataserviceforapps",
                                  "operationId": "PerformBoundAction",
                                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                                },
                                "parameters": {
                                  "entityName": "emails",
                                  "actionName": "Microsoft.Dynamics.CRM.SendEmail",
                                  "recordId": "@outputs('create_email_-_4_day_unresponsive')?['body/activityid']",
                                  "item/IssueSend": true
                                },
                                "authentication": "@parameters('$authentication')"
                              }
                            },
                            "change_counter_to_4": {
                              "runAfter": {
                                "send_email_-_4_day": [
                                  "Succeeded"
                                ]
                              },
                              "metadata": {
                                "operationMetadataId": "9368e811-2838-40ba-9aba-bac3f1ee1c2c"
                              },
                              "type": "OpenApiConnection",
                              "inputs": {
                                "host": {
                                  "connectionName": "shared_commondataserviceforapps",
                                  "operationId": "UpdateOnlyRecord",
                                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                                },
                                "parameters": {
                                  "entityName": "incidents",
                                  "recordId": "@items('For_each')?['incidentid']",
                                  "item/revops_unresponsivecounter": 4
                                },
                                "authentication": "@parameters('$authentication')"
                              }
                            },
                            "Compose_-_4_day": {
                              "runAfter": {},
                              "metadata": {
                                "operationMetadataId": "4017ea7d-2c37-4ddb-8dae-4137395a0c42"
                              },
                              "type": "Compose",
                              "inputs": "<p>Bonjour,</p>\n\n<p>Je fais un suivi concernant votre demande d'assistance, puisque je n’ai toujours pas reçu de retour de votre part.</p>\n\n<p>Pour m’aider à vous aider correctement, pouvez-vous m’indiquer l'état de votre requête?</p>\n<ul>\n  <li>Vous avez besoin d’un peu plus de temps pour compléter les étapes ou rassembler les informations demandées.</li>\n  <li>Vous aimeriez planifier un appel ou un partage d'écran avec moi pour qu’on regarde le tout ensemble.</li>\n  <li>La situation est résolue et je peux archiver cette demande.</li>\n</ul>\n\n<p>Je vais garder votre demande ouverte pour les prochaines 24 heures, après quoi elle sera archivée si je n’ai toujours pas de nouvelles. Cependant, vous pourrez toujours répondre à ce courriel pour réouvrir la demande et nous pourrons continuer à travailler sur le problème.</p>\n\n<p>Merci,<br />\n<strong>Service de Soutien Technique</strong></p>\n<p>###################################################</p>\n\n<p>Hi,</p>\n\n<p>I'm following up on your support request, as I still haven’t received a response.</p>\n\n<p>To help me assist you properly, could you let me know the current status of your request?</p>\n\n<ul>\n  <li>You need a bit more time to complete the steps or gather the requested information.</li>\n  <li>You’d like to schedule a call or screen-share so we can go through it together.</li>\n  <li>The issue is resolved, and I can archive this request.</li>\n</ul>\n<p>I’ll keep your request open for the next 24 hours. After that, it will be archived if I don’t hear back from you. However, you can reply to this email at any time and I will reopen the request so we can continue working on the issue.</p>\n<p>Thank you,<br />\n<strong>Technical Support Services</strong></p>"
                            }
                          }
                        },
                        "Case_-_closing": {
                          "case": 4,
                          "actions": {
                            "create_email_-_close": {
                              "runAfter": {
                                "Compose_-_close": [
                                  "Succeeded"
                                ]
                              },
                              "metadata": {
                                "operationMetadataId": "912b58bc-b5ba-46b3-8f7e-ee775095a13a"
                              },
                              "type": "OpenApiConnection",
                              "inputs": {
                                "host": {
                                  "connectionName": "shared_commondataserviceforapps",
                                  "operationId": "CreateRecord",
                                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                                },
                                "parameters": {
                                  "entityName": "emails",
                                  "item/activitypointer_activity_parties": "@variables('vartorecipient')",
                                  "item/description": "@outputs('Compose_-_close')",
                                  "item/directioncode": true,
                                  "item/regardingobjectid_incident_email@odata.bind": "incidents(@{items('For_each')?['incidentid']})\n",
                                  "item/statuscode": 1,
                                  "item/subject": "@first(body('get_latest_email')?['value'])?['subject']"
                                },
                                "authentication": "@parameters('$authentication')"
                              }
                            },
                            "send_email_-_close": {
                              "runAfter": {
                                "create_email_-_close": [
                                  "Succeeded"
                                ]
                              },
                              "metadata": {
                                "operationMetadataId": "99df4d67-ee86-4ff2-83d3-6dab0487c7d5"
                              },
                              "type": "OpenApiConnection",
                              "inputs": {
                                "host": {
                                  "connectionName": "shared_commondataserviceforapps",
                                  "operationId": "PerformBoundAction",
                                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                                },
                                "parameters": {
                                  "entityName": "emails",
                                  "actionName": "Microsoft.Dynamics.CRM.SendEmail",
                                  "recordId": "@outputs('create_email_-_close')?['body/activityid']",
                                  "item/IssueSend": true
                                },
                                "authentication": "@parameters('$authentication')"
                              }
                            },
                            "close_the_case": {
                              "runAfter": {
                                "send_email_-_close": [
                                  "Succeeded"
                                ]
                              },
                              "metadata": {
                                "operationMetadataId": "82866a68-c7c7-4713-8b8b-6d3c47fc2571"
                              },
                              "type": "OpenApiConnection",
                              "inputs": {
                                "host": {
                                  "connectionName": "shared_commondataserviceforapps",
                                  "operationId": "PerformBoundAction",
                                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                                },
                                "parameters": {
                                  "entityName": "incidents",
                                  "actionName": "Microsoft.Dynamics.CRM.revops_ResolveCase",
                                  "recordId": "@items('For_each')?['incidentid']"
                                },
                                "authentication": "@parameters('$authentication')"
                              }
                            },
                            "Compose_-_close": {
                              "runAfter": {},
                              "metadata": {
                                "operationMetadataId": "6eb9cc55-384a-4434-be29-57eb8152d26d"
                              },
                              "type": "Compose",
                              "inputs": "<p>Bonjour,</p>\n\n<p>Je vous écris au sujet de votre demande d’assistance. Je vous ai envoyé quelques suivis récemment, mais comme je n’ai pas eu de réponse, je vais archiver la demande pour l’instant.</p>\n\n<p>Même si je ne ferai plus de suivi actif, vous pouvez me répondre n’importe quand si vous avez encore besoin d’aide, et votre demande sera réouverte automatiquement.</p>\n\n<p>Vous recevrez un court sondage pour partager votre expérience avec le soutien technique.</p>\n<p>Si vous avez des commentaires ou si quelque chose dans le traitement de votre demande vous a laissé insatisfait, je veux le savoir. Vos retours nous aident vraiment à améliorer notre service.</p>\n<p>Merci,<br />\n<strong>Service de Soutien Technique</strong></p>\n<p>###################################################</p>\n<p>Hello,</p>\n\n<p>I’m reaching out about your support request. I sent a few follow-ups recently, and since I haven’t received a reply, I’ll be archiving the request for now.</p>\n\n<p>While I won't be actively following up anymore, if you still need help, simply reply to this email at any time and your request will be reopened automatically.</p>\n\n<p>You’ll receive a short survey where you can share your support experience.</p>\n\n<p>If you have any feedback or concerns about how your request was handled, I’d really like to hear it. Your input genuinely helps us improve our service.</p>\n\n<p>Thanks,<br />\n<strong>Technical Support Services</strong></p>"
                            }
                          }
                        }
                      },
                      "default": {
                        "actions": {}
                      },
                      "expression": "@outputs('Compose_null_counter_to_0')",
                      "metadata": {
                        "operationMetadataId": "8834972b-a735-4126-bedb-8ffa75b14127"
                      },
                      "type": "Switch"
                    }
                  },
                  "runAfter": {
                    "Set_recipient_value": [
                      "Succeeded"
                    ]
                  },
                  "expression": {
                    "and": [
                      {
                        "greaterOrEquals": [
                          "@outputs('HoursSinceResponse')",
                          0
                        ]
                      }
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "da59e78d-a198-467d-a65e-f7026db849b4"
                  },
                  "type": "If"
                },
                "Set_recipient_value": {
                  "runAfter": {
                    "HoursSinceResponse": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "03371054-e520-4e39-900d-fc39d681e320"
                  },
                  "type": "SetVariable",
                  "inputs": {
                    "name": "vartorecipient",
                    "value": [
                      {
                        "participationtypemask": 2,
                        "partyid@odata.bind": "contacts(@{items('For_each')?['_primarycontactid_value']})"
                      }
                    ]
                  }
                }
              },
              "runAfter": {
                "get_latest_email": [
                  "Succeeded"
                ]
              },
              "expression": {
                "or": [
                  {
                    "equals": [
                      "@items('For_each')?['_revops_queue_value']",
                      "@parameters('Queue - Cloud Support (revops_queuecloudsupport)')"
                    ]
                  },
                  {
                    "equals": [
                      "@items('For_each')?['_revops_queue_value']",
                      "@parameters('Queue - CloudPBX (revops_queuecloudpbx)')"
                    ]
                  },
                  {
                    "equals": [
                      "@items('For_each')?['_revops_queue_value']",
                      "@parameters('Queue - CloudPBX - L3 (revops_queuecloudpbxl3)')"
                    ]
                  },
                  {
                    "equals": [
                      "@items('For_each')?['_revops_queue_value']",
                      "@parameters('Queue - Level 2 (revops_queuelevel2)')"
                    ]
                  },
                  {
                    "equals": [
                      "@items('For_each')?['_revops_queue_value']",
                      "@parameters('Queue - Level 3 (revops_queuelevel3)')"
                    ]
                  },
                  {
                    "equals": [
                      "@items('For_each')?['_revops_queue_value']",
                      "@parameters('Queue - Managed Services (revops_queuemanagedservices)')"
                    ]
                  }
                ]
              },
              "metadata": {
                "operationMetadataId": "2fe06f66-0c20-4bcb-884f-78353e4972b8"
              },
              "type": "If"
            }
          },
          "runAfter": {
            "Initialize_vartorecipient": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "37cf019b-551a-457a-bb56-186231aa4323"
          },
          "type": "Foreach",
          "runtimeConfiguration": {
            "concurrency": {
              "repetitions": 20
            }
          }
        },
        "Initialize_vartorecipient": {
          "runAfter": {
            "Get_case_active_and_waiting_on_CX": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "f1c0e133-735f-41eb-bbbb-d4f43e2d7254"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "vartorecipient",
                "type": "array",
                "value": []
              }
            ]
          }
        }
      }
    },
    "templateName": ""
  },
  "schemaVersion": "1.0.0.0"
}