AIDocumentation/Flows/lead-resolveaccountbydomain/flow.schema.json
{
  "properties": {
    "connectionReferences": {
      "shared_commondataserviceforapps_2": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "revops_sharedcommondataserviceforapps_84bd5"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        }
      },
      "triggers": {
        "When_a_Lead_is_added_or_Domain_Modified": {
          "metadata": {
            "operationMetadataId": "25ef487f-bf02-402a-9268-89d711128903"
          },
          "type": "OpenApiConnectionWebhook",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps_2",
              "operationId": "SubscribeWebhookTrigger",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "subscriptionRequest/message": 4,
              "subscriptionRequest/entityname": "lead",
              "subscriptionRequest/scope": 4,
              "subscriptionRequest/filteringattributes": "revops_domain",
              "subscriptionRequest/filterexpression": "revops_domain ne null and revops_existingaccount eq false"
            },
            "authentication": "@parameters('$authentication')"
          }
        }
      },
      "actions": {
        "Match_Account_by_Domain": {
          "actions": {
            "List_Accounts": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "ae8f898d-105f-4336-b03e-1257ae764828"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps_2",
                  "operationId": "ListRecords",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "accounts",
                  "fetchXml": "<fetch version=\"1.0\" output-format=\"xml-platform\" mapping=\"logical\" distinct=\"false\">\n  <entity name=\"account\">\n    <attribute name=\"name\" />\n    <attribute name=\"accountid\" />\n    <attribute name=\"ownerid\" />\n    <attribute name=\"revops_domain\" />\n    <attribute name=\"revops_bookvalue\" />\n    <order attribute=\"name\" descending=\"false\" />\n    <filter type=\"and\">\n      <condition attribute=\"revops_domain\" operator=\"eq\" value=\"@{triggerOutputs()?['body/revops_domain']}\" />\n      <condition attribute=\"statecode\" operator=\"eq\" value=\"0\" />\n        </filter>\n  </entity>\n</fetch>"
                },
                "authentication": "@parameters('$authentication')"
              }
            },
            "Set_Number_Of_Accounts": {
              "runAfter": {
                "List_Accounts": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "06568460-62a7-45a0-8b7e-1c5601707823"
              },
              "type": "SetVariable",
              "inputs": {
                "name": "Number_of_Records",
                "value": "@length(outputs('List_Accounts')?['body/value'])"
              }
            },
            "Associate_Lead_to_Account": {
              "actions": {
                "Update_Lead_with_Account": {
                  "foreach": "@outputs('List_Accounts')?['body/value']",
                  "actions": {
                    "Update_Lead": {
                      "runAfter": {},
                      "metadata": {
                        "operationMetadataId": "147d30b7-d22d-4054-aff4-d9a21a4db742"
                      },
                      "type": "OpenApiConnection",
                      "inputs": {
                        "host": {
                          "connectionName": "shared_commondataserviceforapps_2",
                          "operationId": "UpdateRecord",
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                        },
                        "parameters": {
                          "entityName": "leads",
                          "recordId": "@triggerOutputs()?['body/leadid']",
                          "item/companyname": "@items('Update_Lead_with_Account')?['name']",
                          "item/revops_existingaccount": true,
                          "item/parentaccountid@odata.bind": "accounts/@{items('Update_Lead_with_Account')?['accountid']}"
                        },
                        "authentication": "@parameters('$authentication')"
                      }
                    }
                  },
                  "runAfter": {},
                  "metadata": {
                    "operationMetadataId": "efebeffd-8e44-451d-bf03-2339cdc40c3e"
                  },
                  "type": "Foreach"
                }
              },
              "runAfter": {
                "Set_Number_Of_Accounts": [
                  "Succeeded"
                ]
              },
              "else": {
                "actions": {
                  "Add_Note_on_Lead": {
                    "runAfter": {
                      "Compose": [
                        "Succeeded"
                      ]
                    },
                    "metadata": {
                      "operationMetadataId": "facdd58e-ce35-4ce9-b0b1-f0e0299ebd96"
                    },
                    "type": "OpenApiConnection",
                    "inputs": {
                      "host": {
                        "connectionName": "shared_commondataserviceforapps_2",
                        "operationId": "CreateRecord",
                        "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                      },
                      "parameters": {
                        "entityName": "annotations",
                        "item/subject": "Multiple Accounts Found",
                        "item/notetext": "Multiple accounts are related to this domain. Please manually select the correct account.\n\n@{outputs('Compose')}@{body('Create_HTML_table')}",
                        "item/objectid_lead@odata.bind": "leads\\@{triggerOutputs()?['body/leadid']}"
                      },
                      "authentication": "@parameters('$authentication')"
                    }
                  },
                  "Create_HTML_table": {
                    "runAfter": {
                      "Select_Data": [
                        "Succeeded"
                      ]
                    },
                    "metadata": {
                      "operationMetadataId": "8bf75f7d-eaa2-493e-91ff-6f95a92de05a"
                    },
                    "type": "Table",
                    "inputs": {
                      "from": "@body('Select_Data')",
                      "format": "HTML"
                    }
                  },
                  "Select_Data": {
                    "runAfter": {},
                    "metadata": {
                      "operationMetadataId": "1776a940-4d84-4eed-92f2-b83fa43ff1b2"
                    },
                    "type": "Select",
                    "inputs": {
                      "from": "@outputs('List_Accounts')?['body/value']",
                      "select": {
                        "Name": "@item()['name']",
                        "Domain": "@item()?['revops_domain']"
                      }
                    }
                  },
                  "Compose": {
                    "runAfter": {
                      "Create_HTML_table": [
                        "Succeeded"
                      ]
                    },
                    "metadata": {
                      "operationMetadataId": "9d9cc09f-5935-42a8-b46a-aebbef55e7a2"
                    },
                    "type": "Compose",
                    "inputs": "<style>\ntable {\n  border: 1px solid #1C6EA4;\n  background-color: #EEEEEE;\n  width: 100%;\n  text-align: left;\n  border-collapse: collapse;\n}\ntable td, table th {\n  border: 1px solid #AAAAAA;\n  padding: 3px 2px;\n}\ntable tbody td {\n  font-size: 13px;\n}\ntable thead {\n  background: #1C6EA4;\n  border-bottom: 2px solid #444444;\n}\ntable thead th {\n  font-size: 15px;\n  font-weight: bold;\n  color: #FFFFFF;\n  border-left: 2px solid #D0E4F5;\n}\ntable thead th:first-child {\n  border-left: none;\n}\n</style>"
                  }
                }
              },
              "expression": {
                "lessOrEquals": [
                  "@variables('Number_of_Records')",
                  1
                ]
              },
              "metadata": {
                "operationMetadataId": "64cef15a-3549-4138-a9a4-c3b1d50e2bea"
              },
              "type": "If"
            }
          },
          "runAfter": {
            "Number_of_Accounts": [
              "Succeeded"
            ]
          },
          "expression": {
            "not": {
              "equals": [
                "@triggerOutputs()?['body/revops_domain']",
                "@null"
              ]
            }
          },
          "metadata": {
            "operationMetadataId": "d4c82243-eaef-4c91-9d90-538eb74d5efa"
          },
          "type": "If"
        },
        "Number_of_Accounts": {
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "8dc58c34-2c98-4e3b-948a-08c00c539683"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "Number_of_Records",
                "type": "integer"
              }
            ]
          }
        }
      }
    },
    "templateName": ""
  },
  "schemaVersion": "1.0.0.0"
}