AIDocumentation/Flows/bulkresolvecases/flow.schema.json
{
  "properties": {
    "connectionReferences": {
      "shared_commondataserviceforapps_1": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "revops_sharedcommondataserviceforapps_b64f8"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        },
        "ISC Object owner (revops_iscbjectowner)": {
          "defaultValue": "2aefc302-dbb3-ee11-a569-000d3a09cde5",
          "type": "String",
          "metadata": {
            "schemaName": "revops_iscbjectowner",
            "description": "User, Owner ISC-Object-Owner"
          }
        }
      },
      "triggers": {
        "manual": {
          "metadata": {
            "operationMetadataId": "f3c48239-881d-4d9a-a1a6-d9839d973cea"
          },
          "type": "Request",
          "kind": "Http",
          "inputs": {
            "schema": {
              "type": "object",
              "properties": {
                "caseIds": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                }
              }
            },
            "triggerAuthenticationType": "All"
          }
        }
      },
      "actions": {
        "Parse_CaseIDs": {
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "308f7af1-f0d0-4890-bedd-d7db5fe11cfb"
          },
          "type": "ParseJson",
          "inputs": {
            "content": "@triggerBody()?['caseIds']",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          }
        },
        "Apply_to_each": {
          "foreach": "@body('Parse_CaseIDs')",
          "actions": {
            "Get_Case": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "e867f948-3178-4810-b656-a0f053c2e248"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps_1",
                  "operationId": "GetItem",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "incidents",
                  "recordId": "@items('Apply_to_each')"
                },
                "authentication": "@parameters('$authentication')"
              }
            },
            "Create_Case_Resolution": {
              "runAfter": {
                "Resolve_Case": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "7a17483b-b3f0-4ed7-8468-b1b439cb813c"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps_1",
                  "operationId": "CreateRecord",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "incidentresolutions",
                  "item/subject": "@outputs('Get_Case')?['body/title']",
                  "item/resolutiontypecode": 5,
                  "item/incidentid@odata.bind": "/incidents(@{outputs('Get_Case')?['body/incidentid']})",
                  "item/ownerid_incidentresolution@odata.bind": "/systemusers(@{parameters('ISC Object owner (revops_iscbjectowner)')})",
                  "item/revops_resolutiontype": 234570004
                },
                "authentication": "@parameters('$authentication')"
              }
            },
            "Resolve_Case": {
              "runAfter": {
                "Get_Case": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "83c38a04-ec95-412b-9ed5-e5efdad12394"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps_1",
                  "operationId": "PerformBoundAction",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "incidents",
                  "actionName": "Microsoft.Dynamics.CRM.revops_ResolveCase",
                  "recordId": "@outputs('Get_Case')?['body/incidentid']"
                },
                "authentication": "@parameters('$authentication')"
              }
            }
          },
          "runAfter": {
            "Parse_CaseIDs": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "46544e68-7a53-4369-bc34-b320556bda9c"
          },
          "type": "Foreach",
          "runtimeConfiguration": {
            "concurrency": {
              "repetitions": 5
            }
          }
        }
      },
      "outputs": {}
    },
    "templateName": ""
  },
  "schemaVersion": "1.0.0.0"
}