RevOps-Analysts/Documentation/_Exports/revopsflows_1_28_0_1/Workflows/Account-SetTerritoryonAccount-8FF7C609-5FD4-EE11-904C-002248D5A27A.json
{
  "properties": {
    "connectionReferences": {
      "shared_commondataserviceforapps": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "revops_sharedcommondataserviceforapps_84bd5"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        }
      },
      "triggers": {
        "When_a_row_is_added,_modified_or_deleted": {
          "metadata": {
            "operationMetadataId": "36f026af-1963-4869-a5de-a5936189d6c9"
          },
          "type": "OpenApiConnectionWebhook",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "SubscribeWebhookTrigger",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "subscriptionRequest/message": 4,
              "subscriptionRequest/entityname": "account",
              "subscriptionRequest/scope": 4,
              "subscriptionRequest/filteringattributes": "address1_country,address1_stateorprovince"
            },
            "authentication": "@parameters('$authentication')"
          }
        }
      },
      "actions": {
        "Validate_Country": {
          "actions": {
            "List_Territory_Region": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "576a9fe6-2d5e-464c-9d16-1ddadd2a7f43"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps",
                  "operationId": "ListRecords",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "revops_territoryregions",
                  "fetchXml": "<fetch version=\"1.0\" output-format=\"xml-platform\" mapping=\"logical\" distinct=\"false\">\n  <entity name=\"revops_territoryregion\">\n    <attribute name=\"revops_territoryregionid\" />\n    <attribute name=\"revops_name\" />\n    <attribute name=\"revops_territory\" />\n    <attribute name=\"revops_stateorprovince\" />\n    <attribute name=\"revops_country\" />\n    <order attribute=\"revops_name\" descending=\"false\" />\n    <filter type=\"and\">\n      <condition attribute=\"statecode\" operator=\"eq\" value=\"0\" />\n    </filter>\n    <link-entity name=\"revops_stateorprovince\" from=\"revops_stateorprovinceid\" to=\"revops_stateorprovince\" link-type=\"inner\" alias=\"ac\">\n      <filter type=\"and\">\n        <condition attribute=\"revops_name\" operator=\"eq\" value=\"@{triggerOutputs()?['body/address1_stateorprovince']}\" />\n      </filter>\n    </link-entity>\n    <link-entity name=\"revops_country\" from=\"revops_countryid\" to=\"revops_country\" link-type=\"inner\" alias=\"ad\">\n      <filter type=\"and\">\n        <condition attribute=\"revops_name\" operator=\"eq\" value=\"@{triggerOutputs()?['body/address1_country']}\" />\n      </filter>\n    </link-entity>\n  </entity>\n</fetch>",
                  "$top": 1
                },
                "authentication": "@parameters('$authentication')"
              }
            },
            "Apply_to_each": {
              "foreach": "@outputs('List_Territory_Region')?['body/value']",
              "actions": {
                "Get_Territory_Details": {
                  "runAfter": {},
                  "metadata": {
                    "operationMetadataId": "cb161efc-2836-4267-920c-3b2daa0b90e1"
                  },
                  "type": "OpenApiConnection",
                  "inputs": {
                    "host": {
                      "connectionName": "shared_commondataserviceforapps",
                      "operationId": "GetItem",
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                    },
                    "parameters": {
                      "entityName": "territories",
                      "recordId": "@items('Apply_to_each')?['_revops_territory_value']"
                    },
                    "authentication": "@parameters('$authentication')"
                  }
                },
                "Update_Account": {
                  "runAfter": {
                    "Get_Territory_Details": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "2ec63cd6-4ee1-4577-a6e8-bbe044303750"
                  },
                  "type": "OpenApiConnection",
                  "inputs": {
                    "host": {
                      "connectionName": "shared_commondataserviceforapps",
                      "operationId": "UpdateRecord",
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                    },
                    "parameters": {
                      "entityName": "accounts",
                      "recordId": "@triggerOutputs()?['body/accountid']",
                      "item/territoryid@odata.bind": "territories/@{outputs('Get_Territory_Details')?['body/territoryid']}"
                    },
                    "authentication": "@parameters('$authentication')"
                  }
                }
              },
              "runAfter": {
                "List_Territory_Region": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "0f68fa1b-0feb-4e46-b62d-e13b04b81a43"
              },
              "type": "Foreach"
            }
          },
          "runAfter": {},
          "else": {
            "actions": {
              "List_Territory_Region_2": {
                "runAfter": {},
                "metadata": {
                  "operationMetadataId": "576a9fe6-2d5e-464c-9d16-1ddadd2a7f43"
                },
                "type": "OpenApiConnection",
                "inputs": {
                  "host": {
                    "connectionName": "shared_commondataserviceforapps",
                    "operationId": "ListRecords",
                    "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                  },
                  "parameters": {
                    "entityName": "revops_territoryregions",
                    "fetchXml": "<fetch version=\"1.0\" output-format=\"xml-platform\" mapping=\"logical\" distinct=\"false\">\n  <entity name=\"revops_territoryregion\">\n    <attribute name=\"revops_territoryregionid\" />\n    <attribute name=\"revops_name\" />\n    <attribute name=\"revops_territory\" />\n    <attribute name=\"revops_stateorprovince\" />\n    <attribute name=\"revops_country\" />\n    <order attribute=\"revops_name\" descending=\"false\" />\n    <filter type=\"and\">\n      <condition attribute=\"statecode\" operator=\"eq\" value=\"0\" />\n    </filter>\n    <link-entity name=\"revops_country\" from=\"revops_countryid\" to=\"revops_country\" link-type=\"inner\" alias=\"ag\">\n      <filter type=\"and\">\n        <condition attribute=\"revops_name\" operator=\"eq\" value=\"@{triggerOutputs()?['body/address1_country']}\" />\n      </filter>\n    </link-entity>\n  </entity>\n</fetch>",
                    "$top": 1
                  },
                  "authentication": "@parameters('$authentication')"
                }
              },
              "Apply_to_each_2": {
                "foreach": "@outputs('List_Territory_Region_2')?['body/value']",
                "actions": {
                  "Get_Territory_Details_2": {
                    "runAfter": {},
                    "metadata": {
                      "operationMetadataId": "cb161efc-2836-4267-920c-3b2daa0b90e1"
                    },
                    "type": "OpenApiConnection",
                    "inputs": {
                      "host": {
                        "connectionName": "shared_commondataserviceforapps",
                        "operationId": "GetItem",
                        "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                      },
                      "parameters": {
                        "entityName": "territories",
                        "recordId": "@items('Apply_to_each_2')?['_revops_territory_value']"
                      },
                      "authentication": "@parameters('$authentication')"
                    }
                  },
                  "Update_Lead_2": {
                    "runAfter": {
                      "Get_Territory_Details_2": [
                        "Succeeded"
                      ]
                    },
                    "metadata": {
                      "operationMetadataId": "2ec63cd6-4ee1-4577-a6e8-bbe044303750"
                    },
                    "type": "OpenApiConnection",
                    "inputs": {
                      "host": {
                        "connectionName": "shared_commondataserviceforapps",
                        "operationId": "UpdateRecord",
                        "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                      },
                      "parameters": {
                        "entityName": "accounts",
                        "recordId": "@triggerOutputs()?['body/accountid']",
                        "item/territoryid@odata.bind": "territories/@{items('Apply_to_each_2')?['_revops_territory_value']}"
                      },
                      "authentication": "@parameters('$authentication')"
                    }
                  }
                },
                "runAfter": {
                  "List_Territory_Region_2": [
                    "Succeeded"
                  ]
                },
                "metadata": {
                  "operationMetadataId": "0f68fa1b-0feb-4e46-b62d-e13b04b81a43"
                },
                "type": "Foreach"
              }
            }
          },
          "expression": {
            "or": [
              {
                "equals": [
                  "@triggerOutputs()?['body/address1_country']",
                  "United States of America"
                ]
              },
              {
                "equals": [
                  "@triggerOutputs()?['body/address1_country']",
                  "Canada"
                ]
              }
            ]
          },
          "metadata": {
            "operationMetadataId": "c5defffb-0ac8-4481-8196-16986378f26b"
          },
          "type": "If"
        }
      }
    },
    "templateName": ""
  },
  "schemaVersion": "1.0.0.0"
}