RevOps-Analysts/Documentation/_Exports/revopsflows_1_28_0_1/Workflows/CaseQueueUpdate-UpdateQueueItem-E9A9E743-E9D1-EF11-A72E-7C1E52063863.json
{
  "properties": {
    "connectionReferences": {
      "shared_commondataserviceforapps_1": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "revops_sharedcommondataserviceforapps_84bd5"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      },
      "shared_commondataserviceforapps": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "revops_sharedcommondataserviceforapps_61b07"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        }
      },
      "triggers": {
        "When_a_row_is_added,_modified_or_deleted": {
          "metadata": {
            "operationMetadataId": "762ab1a9-ccc2-486d-9fa6-522d4de8ed0f"
          },
          "type": "OpenApiConnectionWebhook",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps_1",
              "operationId": "SubscribeWebhookTrigger",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "subscriptionRequest/message": 3,
              "subscriptionRequest/entityname": "incident",
              "subscriptionRequest/scope": 4,
              "subscriptionRequest/runas": 1
            },
            "authentication": "@parameters('$authentication')"
          }
        }
      },
      "actions": {
        "List_Queue_Items": {
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "b7501a18-b30a-4153-ba13-5c7d8c058da2"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps_1",
              "operationId": "ListRecords",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "queueitems",
              "$filter": "_objectid_value eq '@{triggerOutputs()?['body/incidentid']}'"
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Condition": {
          "actions": {
            "Perform_an_unbound_action": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "c286bd8e-9a78-4ba2-aaae-97b9a1775e37"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps",
                  "operationId": "PerformUnboundAction",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "actionName": "RouteTo",
                  "item/Target": "/queues(@{triggerOutputs()?['body/_revops_queue_value']})",
                  "item/QueueItem/queueitemid": "@outputs('List_Queue_Items')?['body/value'][0]?['queueitemid']"
                },
                "authentication": "@parameters('$authentication')"
              }
            }
          },
          "runAfter": {
            "List_Queue_Items": [
              "Succeeded"
            ]
          },
          "expression": {
            "greater": [
              "@length(body('List_Queue_Items')?['value'])",
              0
            ]
          },
          "metadata": {
            "operationMetadataId": "b366f992-2ee0-4c46-bcc4-2bacdf75ea0e"
          },
          "type": "If"
        }
      }
    },
    "templateName": ""
  },
  "schemaVersion": "1.0.0.0"
}