RevOps-Analysts/Documentation/_Exports/revopsflows_1_28_0_1/Workflows/CasetoNiCE-D96A7992-B69F-F011-BBD2-7CED8D058789.json
{
  "properties": {
    "connectionReferences": {
      "shared_commondataserviceforapps-2": {
        "api": {
          "name": "shared_commondataserviceforapps"
        },
        "connection": {
          "connectionReferenceLogicalName": "new_sharedcommondataserviceforapps_5c996"
        },
        "runtimeSource": "embedded"
      },
      "shared_keyvault": {
        "api": {
          "name": "shared_keyvault"
        },
        "connection": {
          "connectionReferenceLogicalName": "revops_sharedkeyvault_bf42e"
        },
        "runtimeSource": "embedded"
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        },
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        }
      },
      "triggers": {
        "Case_Created_or_Modified": {
          "type": "OpenApiConnectionWebhook",
          "inputs": {
            "parameters": {
              "subscriptionRequest/message": 4,
              "subscriptionRequest/entityname": "incident",
              "subscriptionRequest/scope": 4,
              "subscriptionRequest/filteringattributes": "statuscode, statecode",
              "subscriptionRequest/name": "d96a7992-b69f-f011-bbd2-7ced8d058789"
            },
            "host": {
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
              "operationId": "SubscribeWebhookTrigger",
              "connectionName": "shared_commondataserviceforapps-2"
            }
          },
          "metadata": {
            "operationMetadataId": "eca7a142-807e-498a-b0bf-227b4c503724"
          }
        }
      },
      "actions": {
        "var_Case": {
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "case",
                "type": "object"
              }
            ]
          },
          "runAfter": {
            "Get_secret": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "ea778ece-62c3-4e57-a6af-9e8ff7e70db8"
          }
        },
        "Set_case": {
          "type": "SetVariable",
          "inputs": {
            "name": "case",
            "value": {
              "EntityType": "case",
              "Id": "@triggerOutputs()?['body/incidentid']",
              "Fields": {
                "Title": "@triggerOutputs()?['body/title']",
                "Description": "@triggerOutputs()?['body/description']",
                "ContactID": "@triggerOutputs()?['body/_primarycontactid_value']",
                "CompanyID": "@triggerOutputs()?['body/_revops_account_value']",
                "StatusName": "@triggerOutputs()?['body/_statuscode_label']",
                "StateCode": "@triggerOutputs()?['body/statecode']",
                "StateName": "@triggerOutputs()?['body/_statecode_label']",
                "PriorityName": "@triggerOutputs()?['body/_prioritycode_label']",
                "Source": "@triggerOutputs()?['body/caseorigincode']",
                "SourceName": "@triggerOutputs()?['body/_caseorigincode_label']",
                "QueueID": "@triggerOutputs()?['body/_revops_queue_value']",
                "QueueName": "@outputs('Get_Queue_Name')?['body/name']",
                "SupportedService": "@outputs('Get_Supported_Service')?['body/revops_name']",
                "TicketTypeName": "@triggerOutputs()?['body/_casetypecode_label']",
                "LastActivityDate": "@triggerOutputs()?['body/modifiedon']",
                "ResolvedDateTime": "@triggerOutputs()?['body/deactivatedon']",
                "ServiceLevelAgreementHasBeenMet": "@if(equals(triggerOutputs()?['body/resolvebyslastatus'], 3), true, if(equals(triggerOutputs()?['body/resolvebyslastatus'], 4), false, null))",
                "CustomerLanguageName": "@triggerOutputs()?['body/_revops_customerlanguage_label']",
                "AgentId": "@triggerOutputs()?['body/_ownerid_value']",
                "AgentEmail": "@outputs('Get_Agent_Email')?['body/internalemailaddress']"
              }
            }
          },
          "runAfter": {
            "Get_Queue_Name": [
              "Succeeded"
            ],
            "Get_Agent_Email": [
              "SUCCEEDED"
            ],
            "Get_Supported_Service": [
              "SUCCEEDED"
            ]
          },
          "metadata": {
            "operationMetadataId": "def3c72d-4773-4210-be8d-e0292e4b6c43"
          }
        },
        "Terminate": {
          "type": "Terminate",
          "inputs": {
            "runStatus": "Succeeded"
          },
          "runAfter": {
            "HTTP_v1": [
              "SUCCEEDED"
            ]
          },
          "metadata": {
            "operationMetadataId": "d713da30-f51d-41c2-af84-150f6378ac16"
          }
        },
        "Get_Queue_Name": {
          "type": "OpenApiConnection",
          "inputs": {
            "parameters": {
              "entityName": "queues",
              "recordId": "@triggerOutputs()?['body/_revops_queue_value']",
              "$select": "name"
            },
            "host": {
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
              "operationId": "GetItem",
              "connectionName": "shared_commondataserviceforapps-2"
            }
          },
          "runAfter": {
            "var_Case": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "6de0ed1b-3f4f-430c-a07e-0a9d85805953"
          }
        },
        "Get_secret": {
          "type": "OpenApiConnection",
          "inputs": {
            "parameters": {
              "secretName": "DynamicsToNice"
            },
            "host": {
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_keyvault",
              "operationId": "GetSecret",
              "connectionName": "shared_keyvault"
            }
          },
          "runAfter": {}
        },
        "Get_Agent_Email": {
          "type": "OpenApiConnection",
          "inputs": {
            "parameters": {
              "entityName": "systemusers",
              "recordId": "@triggerOutputs()?['body/_ownerid_value']",
              "$select": "internalemailaddress"
            },
            "host": {
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
              "operationId": "GetItem",
              "connectionName": "shared_commondataserviceforapps-2"
            }
          },
          "runAfter": {
            "var_Case": [
              "SUCCEEDED"
            ]
          },
          "metadata": {
            "operationMetadataId": "185d38f6-13a0-4a8f-b20f-2efe79b2bcab"
          }
        },
        "Get_Supported_Service": {
          "type": "OpenApiConnection",
          "inputs": {
            "parameters": {
              "entityName": "revops_services",
              "recordId": "@triggerOutputs()?['body/_revops_service_value@Microsoft.Dynamics.CRM.lookuplogicalname']",
              "$select": "revops_name"
            },
            "host": {
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
              "operationId": "GetItem",
              "connectionName": "shared_commondataserviceforapps-2"
            }
          },
          "runAfter": {
            "var_Case": [
              "SUCCEEDED"
            ]
          }
        },
        "HTTP_v1": {
          "type": "Http",
          "inputs": {
            "uri": "https://nicedatabridgewebappdev.azurewebsites.net/api/v1/ticketprocess",
            "method": "POST",
            "headers": {
              "x-connectionid": "@{outputs('Get_secret')?['body/value']}",
              "Content-Type": "application/json",
              "Accept": "*/*",
              "Accept-Encoding": "gzip, deflate, br",
              "Connection": "keep-alive"
            },
            "body": "@variables('case')"
          },
          "runAfter": {
            "Set_case": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "f738500c-fa7d-4e17-87e7-2366f0614f11"
          }
        }
      },
      "outputs": {}
    },
    "templateName": null
  },
  "schemaVersion": "1.0.0.0"
}