RevOps-Analysts/Documentation/_Exports/revopsflows_1_28_0_1/Workflows/CS-Notifymanagerofcustomerescalation-BCF520BB-D4AD-F011-BBD3-7C1E52067E9E.json
{
  "properties": {
    "connectionReferences": {
      "shared_commondataserviceforapps-1": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "new_sharedcommondataserviceforapps_44694"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      },
      "shared_teams-1": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "revops_sharedteams_69d10"
        },
        "api": {
          "name": "shared_teams"
        }
      },
      "shared_office365users-1": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "revops_sharedoffice365users_3704b"
        },
        "api": {
          "name": "shared_office365users"
        }
      },
      "shared_office365-1": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "revops_sharedoffice365_59b45"
        },
        "api": {
          "name": "shared_office365"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        },
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "ISC Object owner (revops_iscbjectowner)": {
          "defaultValue": "2aefc302-dbb3-ee11-a569-000d3a09cde5",
          "type": "String",
          "metadata": {
            "schemaName": "revops_iscbjectowner",
            "description": "User, Owner ISC-Object-Owner"
          }
        },
        "Portal User ID (revops_portaluserid)": {
          "defaultValue": "123",
          "type": "String",
          "metadata": {
            "schemaName": "revops_portaluserid",
            "description": "User ID of the portal User"
          }
        },
        "Queue - CST (revops_queuecst)": {
          "defaultValue": "b382d4ed-7dd3-ef11-a72e-0022486e1e61",
          "type": "String",
          "metadata": {
            "schemaName": "revops_queuecst"
          }
        },
        "Queue - Billing (revops_queuebilling)": {
          "defaultValue": "138dc2bb-7dd3-ef11-a72e-0022486e1e61",
          "type": "String",
          "metadata": {
            "schemaName": "revops_queuebilling"
          }
        },
        "Queue - Inside Sales Reps (revops_queueinsidesalesreps)": {
          "defaultValue": "f1fec484-61f0-ef11-be20-7ced8d063295",
          "type": "String",
          "metadata": {
            "schemaName": "revops_queueinsidesalesreps"
          }
        },
        "Queue - Sales Escalation (revops_queuesalesescalation)": {
          "defaultValue": "asdfghj",
          "type": "String",
          "metadata": {
            "schemaName": "revops_queuesalesescalation"
          }
        }
      },
      "triggers": {
        "Check_case_sent_to_TSS_Management_with_escalation_reason": {
          "metadata": {
            "operationMetadataId": "f8b0f44a-a504-4e0c-bae7-3081420de6ef"
          },
          "type": "OpenApiConnectionWebhook",
          "inputs": {
            "parameters": {
              "subscriptionRequest/message": 1,
              "subscriptionRequest/entityname": "incident",
              "subscriptionRequest/scope": 4
            },
            "host": {
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
              "operationId": "SubscribeWebhookTrigger",
              "connectionName": "shared_commondataserviceforapps-1"
            }
          },
          "conditions": [
            {
              "expression": "@not(equals(triggerOutputs()?['body/revops_customerescalationreason'], null))"
            }
          ]
        }
      },
      "actions": {
        "Check_Parent_case": {
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "f2e6bc58-01d6-49ef-8273-627184517038"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "parameters": {
              "entityName": "incidents",
              "recordId": "@triggerOutputs()?['body/_parentcaseid_value']"
            },
            "host": {
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
              "operationId": "GetItem",
              "connectionName": "shared_commondataserviceforapps-1"
            }
          }
        },
        "Check_if_queue_is_billing_or_sales": {
          "actions": {
            "Check_if_Billing_Queue": {
              "actions": {
                "update_mandatory_field_on_the_case_-_change_queue_to_billing": {
                  "metadata": {
                    "operationMetadataId": "ce112c02-f760-4d63-93ed-a096bfa0bfdf"
                  },
                  "type": "OpenApiConnection",
                  "inputs": {
                    "parameters": {
                      "entityName": "incidents",
                      "recordId": "@triggerOutputs()?['body/incidentid']",
                      "item/title": "Escalation request for case @{outputs('Check_Parent_case')?['body/ticketnumber']}",
                      "item/casetypecode": 234570005,
                      "item/ownerid@odata.bind": "/systemusers(@{parameters('ISC Object owner (revops_iscbjectowner)')})",
                      "item/parentcaseid@odata.bind": "@null",
                      "item/prioritycode": 1,
                      "item/revops_queue@odata.bind": "/queues(@{parameters('Queue - Billing (revops_queuebilling)')})"
                    },
                    "host": {
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                      "operationId": "UpdateOnlyRecord",
                      "connectionName": "shared_commondataserviceforapps-1"
                    }
                  }
                }
              },
              "else": {
                "actions": {
                  "update_mandatory_field_on_the_case_-_change_queue_to_Sales": {
                    "metadata": {
                      "operationMetadataId": "ce112c02-f760-4d63-93ed-a096bfa0bfdf"
                    },
                    "type": "OpenApiConnection",
                    "inputs": {
                      "parameters": {
                        "entityName": "incidents",
                        "recordId": "@triggerOutputs()?['body/incidentid']",
                        "item/title": "Escalation request for case @{outputs('Check_Parent_case')?['body/ticketnumber']}",
                        "item/casetypecode": 234570005,
                        "item/ownerid@odata.bind": "/systemusers(@{parameters('ISC Object owner (revops_iscbjectowner)')})",
                        "item/parentcaseid@odata.bind": "@null",
                        "item/prioritycode": 1,
                        "item/revops_queue@odata.bind": "/queues(@{parameters('Queue - Sales Escalation (revops_queuesalesescalation)')})"
                      },
                      "host": {
                        "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                        "operationId": "UpdateOnlyRecord",
                        "connectionName": "shared_commondataserviceforapps-1"
                      }
                    }
                  },
                  "Check_if_ISR": {
                    "actions": {
                      "Check_owner_ISC_or_Portal": {
                        "actions": {
                          "Post_card_in_ISR_Escalations": {
                            "metadata": {
                              "operationMetadataId": "1f422839-74e2-4b9f-ab21-664bf7a26467"
                            },
                            "type": "OpenApiConnection",
                            "inputs": {
                              "parameters": {
                                "poster": "Flow bot",
                                "location": "Group chat",
                                "body/recipient": "19:aad0cda456254159b0c82f1745573180@thread.v2",
                                "body/messageBody": "{\n  \"type\": \"AdaptiveCard\",\n  \"speak\": \"Version 2.2 performance optimization\",\n  \"body\": [\n    {\n      \"type\": \"ColumnSet\",\n      \"spacing\": \"Small\",\n      \"columns\": [\n        {\n          \"type\": \"Column\",\n          \"width\": \"auto\",\n          \"items\": [\n            {\n              \"type\": \"Icon\",\n              \"name\": \"Important\",\n              \"color\": \"Accent\",\n              \"style\": \"Filled\"\n            }\n          ]\n        },\n        {\n          \"type\": \"Column\",\n          \"width\": \"stretch\",\n          \"verticalContentAlignment\": \"Center\",\n          \"items\": [\n            {\n              \"type\": \"TextBlock\",\n              \"size\": \"Large\",\n              \"text\": \"An escalation has been created. Priority - @{triggerOutputs()?['body/_revops_urgency_label']}\",\n              \"weight\": \"Bolder\",\n              \"wrap\": true,\n              \"color\": \"Accent\"\n            }\n          ]\n        }\n      ]\n    },\n\n    {\n      \"type\": \"Container\",\n      \"items\": [\n        {\n          \"type\": \"ColumnSet\",\n          \"columns\": [\n            {\n              \"type\": \"Column\",\n              \"width\": \"auto\",\n              \"items\": [\n                {\n                  \"type\": \"TextBlock\",\n                  \"text\": \"Case number\",\n                  \"wrap\": true,\n                  \"weight\": \"Bolder\"\n                }\n              ]\n            },\n            {\n              \"type\": \"Column\",\n              \"width\": \"stretch\",\n              \"items\": [\n                {\n                  \"type\": \"TextBlock\",\n                  \"text\": \"@{triggerOutputs()?['body/ticketnumber']}\",\n                  \"wrap\": true\n                }\n              ]\n            }\n          ]\n        },\n\n        {\n          \"type\": \"ColumnSet\",\n          \"columns\": [\n            {\n              \"type\": \"Column\",\n              \"width\": \"auto\",\n              \"items\": [\n                {\n                  \"type\": \"TextBlock\",\n                  \"text\": \"Original Case number\",\n                  \"wrap\": true,\n                  \"weight\": \"Bolder\"\n                }\n              ]\n            },\n            {\n              \"type\": \"Column\",\n              \"width\": \"stretch\",\n              \"items\": [\n                {\n                  \"type\": \"TextBlock\",\n                  \"text\": \"@{outputs('Check_Parent_case')?['body/ticketnumber']}\",\n                  \"wrap\": true\n                }\n              ]\n            }\n          ]\n        },\n\n        {\n          \"type\": \"ColumnSet\",\n          \"columns\": [\n            {\n              \"type\": \"Column\",\n              \"width\": \"auto\",\n              \"items\": [\n                {\n                  \"type\": \"TextBlock\",\n                  \"text\": \"Owner\",\n                  \"wrap\": true,\n                  \"weight\": \"Bolder\"\n                }\n              ]\n            },\n            {\n              \"type\": \"Column\",\n              \"width\": \"stretch\",\n              \"items\": [\n                {\n                  \"type\": \"TextBlock\",\n                  \"text\": \"@{outputs('Get_owner_of_parent_case')?['body/fullname']}\",\n                  \"wrap\": true\n                }\n              ]\n            }\n          ]\n        },\n\n{\n          \"type\": \"ColumnSet\",\n          \"columns\": [\n            {\n              \"type\": \"Column\",\n              \"width\": \"auto\",\n              \"items\": [\n                {\n                  \"type\": \"TextBlock\",\n                  \"text\": \"Manager\",\n                  \"wrap\": true,\n                  \"weight\": \"Bolder\"\n                }\n              ]\n            },\n            {\n              \"type\": \"Column\",\n              \"width\": \"stretch\",\n              \"items\": [\n                {\n                  \"type\": \"TextBlock\",\n                  \"text\": \"Case not assigned to User\",\n                  \"wrap\": true\n                }\n              ]\n            }\n          ]\n        },\n\n        {\n          \"type\": \"ColumnSet\",\n          \"columns\": [\n            {\n              \"type\": \"Column\",\n              \"width\": \"auto\",\n              \"items\": [\n                {\n                  \"type\": \"TextBlock\",\n                  \"text\": \"Queue\",\n                  \"wrap\": true,\n                  \"weight\": \"Bolder\"\n                }\n              ]\n            },\n            {\n              \"type\": \"Column\",\n              \"width\": \"stretch\",\n              \"items\": [\n                {\n                  \"type\": \"TextBlock\",\n                  \"text\": \"@{outputs('Get_Queue')?['body/name']}\",\n                  \"wrap\": true\n                }\n              ]\n            }\n          ]\n        },\n\n        {\n          \"type\": \"ColumnSet\",\n          \"columns\": [\n            {\n              \"type\": \"Column\",\n              \"width\": \"auto\",\n              \"items\": [\n                {\n                  \"type\": \"TextBlock\",\n                  \"text\": \"Service\",\n                  \"wrap\": true,\n                  \"weight\": \"Bolder\"\n                }\n              ]\n            },\n            {\n              \"type\": \"Column\",\n              \"width\": \"stretch\",\n              \"items\": [\n                {\n                  \"type\": \"TextBlock\",\n                  \"text\": \"@{outputs('Get_Service')?['body/revops_name']}\",\n                  \"wrap\": true\n                }\n              ]\n            }\n          ]\n        },\n\n        {\n          \"type\": \"ColumnSet\",\n          \"columns\": [\n            {\n              \"type\": \"Column\",\n              \"width\": \"auto\",\n              \"items\": [\n                {\n                  \"type\": \"TextBlock\",\n                  \"text\": \"Reason\",\n                  \"wrap\": true,\n                  \"weight\": \"Bolder\"\n                }\n              ]\n            },\n            {\n              \"type\": \"Column\",\n              \"width\": \"stretch\",\n              \"items\": [\n                {\n                  \"type\": \"TextBlock\",\n                  \"text\": \"@{triggerOutputs()?['body/_revops_customerescalationreason_label']}\",\n                  \"wrap\": true\n                }\n              ]\n            }\n          ]\n        }\n      ]\n    },\n\n    {\n      \"type\": \"Container\",\n      \"style\": \"emphasis\",\n      \"roundedCorners\": true,\n      \"items\": [\n        {\n          \"type\": \"TextBlock\",\n          \"text\": \"Details\",\n          \"wrap\": true,\n          \"weight\": \"Bolder\",\n          \"size\": \"Large\",\n          \"color\": \"Accent\"\n        },\n        {\n          \"type\": \"TextBlock\",\n          \"wrap\": true,\n          \"text\": \"@{triggerOutputs()?['body/description']}\",\n          \"separator\": true\n        }\n      ]\n    },\n\n    {\n      \"type\": \"ActionSet\",\n      \"spacing\": \"ExtraLarge\",\n      \"targetWidth\": \"AtLeast:Narrow\",\n      \"actions\": [\n        {\n          \"type\": \"Action.OpenUrl\",\n          \"title\": \"Open Escalation\",\n          \"url\": \"https://sherweb-prod.crm3.dynamics.com/main.aspx?appid=afc40e42-2d20-ef11-840b-6045bd5ea018&pagetype=entityrecord&etn=incident&id=@{triggerOutputs()?['body/incidentid']}\",\n          \"style\": \"positive\"\n        },\n        {\n          \"type\": \"Action.OpenUrl\",\n          \"title\": \"Open Case\",\n          \"url\": \"https://sherweb-prod.crm3.dynamics.com/main.aspx?appid=afc40e42-2d20-ef11-840b-6045bd5ea018&pagetype=entityrecord&etn=incident&id=@{outputs('Check_Parent_case')?['body/incidentid']}\"\n        }\n      ]\n    }\n  ],\n  \"$schema\": \"https://adaptivecards.io/schemas/adaptive-card.json\",\n  \"version\": \"1.5\"\n}"
                              },
                              "host": {
                                "apiId": "/providers/Microsoft.PowerApps/apis/shared_teams",
                                "operationId": "PostCardToConversation",
                                "connectionName": "shared_teams-1"
                              }
                            }
                          }
                        },
                        "else": {
                          "actions": {
                            "Get_manager_(V2)_3": {
                              "metadata": {
                                "operationMetadataId": "642bda19-5bab-4837-80cc-e5fc9ee4506a"
                              },
                              "type": "OpenApiConnection",
                              "inputs": {
                                "parameters": {
                                  "id": "@outputs('Get_owner_of_parent_case')?['body/internalemailaddress']"
                                },
                                "host": {
                                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_office365users",
                                  "operationId": "Manager_V2",
                                  "connectionName": "shared_office365users-1"
                                }
                              }
                            },
                            "Get_an_@mention_token_for_a_user_3": {
                              "runAfter": {
                                "Get_manager_(V2)_3": [
                                  "Succeeded"
                                ]
                              },
                              "metadata": {
                                "operationMetadataId": "1a6a97e1-2a43-4374-aa44-6d8e20a1e5c7"
                              },
                              "type": "OpenApiConnection",
                              "inputs": {
                                "parameters": {
                                  "userId": "@outputs('Get_manager_(V2)_3')?['body/userPrincipalName']"
                                },
                                "host": {
                                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_teams",
                                  "operationId": "AtMentionUser",
                                  "connectionName": "shared_teams-1"
                                }
                              }
                            },
                            "Post_card_in_ISR_Escalations_2": {
                              "runAfter": {
                                "Get_an_@mention_token_for_a_user_3": [
                                  "Succeeded"
                                ]
                              },
                              "metadata": {
                                "operationMetadataId": "1f422839-74e2-4b9f-ab21-664bf7a26467"
                              },
                              "type": "OpenApiConnection",
                              "inputs": {
                                "parameters": {
                                  "poster": "Flow bot",
                                  "location": "Group chat",
                                  "body/recipient": "19:aad0cda456254159b0c82f1745573180@thread.v2",
                                  "body/messageBody": "{\n  \"type\": \"AdaptiveCard\",\n  \"speak\": \"Version 2.2 performance optimization\",\n  \"body\": [\n    {\n      \"type\": \"ColumnSet\",\n      \"spacing\": \"Small\",\n      \"columns\": [\n        {\n          \"type\": \"Column\",\n          \"width\": \"auto\",\n          \"items\": [\n            {\n              \"type\": \"Icon\",\n              \"name\": \"Important\",\n              \"color\": \"Accent\",\n              \"style\": \"Filled\"\n            }\n          ]\n        },\n        {\n          \"type\": \"Column\",\n          \"width\": \"stretch\",\n          \"verticalContentAlignment\": \"Center\",\n          \"items\": [\n            {\n              \"type\": \"TextBlock\",\n              \"size\": \"Large\",\n              \"text\": \"An escalation has been created. Priority - @{triggerOutputs()?['body/_revops_urgency_label']}\",\n              \"weight\": \"Bolder\",\n              \"wrap\": true,\n              \"color\": \"Accent\"\n            }\n          ]\n        }\n      ]\n    },\n\n    {\n      \"type\": \"Container\",\n      \"items\": [\n        {\n          \"type\": \"ColumnSet\",\n          \"columns\": [\n            {\n              \"type\": \"Column\",\n              \"width\": \"auto\",\n              \"items\": [\n                {\n                  \"type\": \"TextBlock\",\n                  \"text\": \"Case number\",\n                  \"wrap\": true,\n                  \"weight\": \"Bolder\"\n                }\n              ]\n            },\n            {\n              \"type\": \"Column\",\n              \"width\": \"stretch\",\n              \"items\": [\n                {\n                  \"type\": \"TextBlock\",\n                  \"text\": \"@{triggerOutputs()?['body/ticketnumber']}\",\n                  \"wrap\": true\n                }\n              ]\n            }\n          ]\n        },\n\n        {\n          \"type\": \"ColumnSet\",\n          \"columns\": [\n            {\n              \"type\": \"Column\",\n              \"width\": \"auto\",\n              \"items\": [\n                {\n                  \"type\": \"TextBlock\",\n                  \"text\": \"Original Case number\",\n                  \"wrap\": true,\n                  \"weight\": \"Bolder\"\n                }\n              ]\n            },\n            {\n              \"type\": \"Column\",\n              \"width\": \"stretch\",\n              \"items\": [\n                {\n                  \"type\": \"TextBlock\",\n                  \"text\": \"@{outputs('Check_Parent_case')?['body/ticketnumber']}\",\n                  \"wrap\": true\n                }\n              ]\n            }\n          ]\n        },\n\n        {\n          \"type\": \"ColumnSet\",\n          \"columns\": [\n            {\n              \"type\": \"Column\",\n              \"width\": \"auto\",\n              \"items\": [\n                {\n                  \"type\": \"TextBlock\",\n                  \"text\": \"Owner\",\n                  \"wrap\": true,\n                  \"weight\": \"Bolder\"\n                }\n              ]\n            },\n            {\n              \"type\": \"Column\",\n              \"width\": \"stretch\",\n              \"items\": [\n                {\n                  \"type\": \"TextBlock\",\n                  \"text\": \"@{outputs('Get_owner_of_parent_case')?['body/fullname']}\",\n                  \"wrap\": true\n                }\n              ]\n            }\n          ]\n        },\n\n{\n          \"type\": \"ColumnSet\",\n          \"columns\": [\n            {\n              \"type\": \"Column\",\n              \"width\": \"auto\",\n              \"items\": [\n                {\n                  \"type\": \"TextBlock\",\n                  \"text\": \"Manager\",\n                  \"wrap\": true,\n                  \"weight\": \"Bolder\"\n                }\n              ]\n            },\n            {\n              \"type\": \"Column\",\n              \"width\": \"stretch\",\n              \"items\": [\n                {\n                  \"type\": \"TextBlock\",\n                  \"text\": \"@{outputs('Get_an_@mention_token_for_a_user_3')?['body/atMention']}\",\n                  \"wrap\": true\n                }\n              ]\n            }\n          ]\n        },\n\n        {\n          \"type\": \"ColumnSet\",\n          \"columns\": [\n            {\n              \"type\": \"Column\",\n              \"width\": \"auto\",\n              \"items\": [\n                {\n                  \"type\": \"TextBlock\",\n                  \"text\": \"Queue\",\n                  \"wrap\": true,\n                  \"weight\": \"Bolder\"\n                }\n              ]\n            },\n            {\n              \"type\": \"Column\",\n              \"width\": \"stretch\",\n              \"items\": [\n                {\n                  \"type\": \"TextBlock\",\n                  \"text\": \"@{outputs('Get_Queue')?['body/name']}\",\n                  \"wrap\": true\n                }\n              ]\n            }\n          ]\n        },\n\n        {\n          \"type\": \"ColumnSet\",\n          \"columns\": [\n            {\n              \"type\": \"Column\",\n              \"width\": \"auto\",\n              \"items\": [\n                {\n                  \"type\": \"TextBlock\",\n                  \"text\": \"Service\",\n                  \"wrap\": true,\n                  \"weight\": \"Bolder\"\n                }\n              ]\n            },\n            {\n              \"type\": \"Column\",\n              \"width\": \"stretch\",\n              \"items\": [\n                {\n                  \"type\": \"TextBlock\",\n                  \"text\": \"@{outputs('Get_Service')?['body/revops_name']}\",\n                  \"wrap\": true\n                }\n              ]\n            }\n          ]\n        },\n\n        {\n          \"type\": \"ColumnSet\",\n          \"columns\": [\n            {\n              \"type\": \"Column\",\n              \"width\": \"auto\",\n              \"items\": [\n                {\n                  \"type\": \"TextBlock\",\n                  \"text\": \"Reason\",\n                  \"wrap\": true,\n                  \"weight\": \"Bolder\"\n                }\n              ]\n            },\n            {\n              \"type\": \"Column\",\n              \"width\": \"stretch\",\n              \"items\": [\n                {\n                  \"type\": \"TextBlock\",\n                  \"text\": \"@{triggerOutputs()?['body/_revops_customerescalationreason_label']}\",\n                  \"wrap\": true\n                }\n              ]\n            }\n          ]\n        }\n      ]\n    },\n\n    {\n      \"type\": \"Container\",\n      \"style\": \"emphasis\",\n      \"roundedCorners\": true,\n      \"items\": [\n        {\n          \"type\": \"TextBlock\",\n          \"text\": \"Details\",\n          \"wrap\": true,\n          \"weight\": \"Bolder\",\n          \"size\": \"Large\",\n          \"color\": \"Accent\"\n        },\n        {\n          \"type\": \"TextBlock\",\n          \"wrap\": true,\n          \"text\": \"@{triggerOutputs()?['body/description']}\",\n          \"separator\": true\n        }\n      ]\n    },\n\n    {\n      \"type\": \"ActionSet\",\n      \"spacing\": \"ExtraLarge\",\n      \"targetWidth\": \"AtLeast:Narrow\",\n      \"actions\": [\n        {\n          \"type\": \"Action.OpenUrl\",\n          \"title\": \"Open Escalation\",\n          \"url\": \"https://sherweb-prod.crm3.dynamics.com/main.aspx?appid=afc40e42-2d20-ef11-840b-6045bd5ea018&pagetype=entityrecord&etn=incident&id=@{triggerOutputs()?['body/incidentid']}\",\n          \"style\": \"positive\"\n        },\n        {\n          \"type\": \"Action.OpenUrl\",\n          \"title\": \"Open Case\",\n          \"url\": \"https://sherweb-prod.crm3.dynamics.com/main.aspx?appid=afc40e42-2d20-ef11-840b-6045bd5ea018&pagetype=entityrecord&etn=incident&id=@{outputs('Check_Parent_case')?['body/incidentid']}\"\n        }\n      ]\n    }\n  ],\n  \"$schema\": \"https://adaptivecards.io/schemas/adaptive-card.json\",\n  \"version\": \"1.5\"\n}"
                                },
                                "host": {
                                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_teams",
                                  "operationId": "PostCardToConversation",
                                  "connectionName": "shared_teams-1"
                                }
                              }
                            }
                          }
                        },
                        "expression": {
                          "or": [
                            {
                              "equals": [
                                "@outputs('Check_Parent_case')?['body/_ownerid_value']",
                                "@parameters('ISC Object owner (revops_iscbjectowner)')"
                              ]
                            },
                            {
                              "equals": [
                                "@outputs('Check_Parent_case')?['body/_ownerid_value']",
                                "@parameters('Portal User ID (revops_portaluserid)')"
                              ]
                            }
                          ]
                        },
                        "metadata": {
                          "operationMetadataId": "7f3b3e73-8b24-4638-a2a7-343b0d924430"
                        },
                        "type": "If"
                      }
                    },
                    "runAfter": {
                      "update_mandatory_field_on_the_case_-_change_queue_to_Sales": [
                        "Succeeded"
                      ]
                    },
                    "else": {
                      "actions": {
                        "Check_if_portal_or_ISC_user_2": {
                          "actions": {
                            "Post_card_in_CST_Escalations": {
                              "metadata": {
                                "operationMetadataId": "1f422839-74e2-4b9f-ab21-664bf7a26467"
                              },
                              "type": "OpenApiConnection",
                              "inputs": {
                                "parameters": {
                                  "poster": "Flow bot",
                                  "location": "Group chat",
                                  "body/recipient": "19:17f19b6ef21b4358a29229f60f22c311@thread.v2",
                                  "body/messageBody": "{\n  \"type\": \"AdaptiveCard\",\n  \"speak\": \"Version 2.2 performance optimization\",\n  \"body\": [\n    {\n      \"type\": \"ColumnSet\",\n      \"spacing\": \"Small\",\n      \"columns\": [\n        {\n          \"type\": \"Column\",\n          \"width\": \"auto\",\n          \"items\": [\n            {\n              \"type\": \"Icon\",\n              \"name\": \"Important\",\n              \"color\": \"Accent\",\n              \"style\": \"Filled\"\n            }\n          ]\n        },\n        {\n          \"type\": \"Column\",\n          \"width\": \"stretch\",\n          \"verticalContentAlignment\": \"Center\",\n          \"items\": [\n            {\n              \"type\": \"TextBlock\",\n              \"size\": \"Large\",\n              \"text\": \"An escalation has been created. Priority - @{triggerOutputs()?['body/_revops_urgency_label']}\",\n              \"weight\": \"Bolder\",\n              \"wrap\": true,\n              \"color\": \"Accent\"\n            }\n          ]\n        }\n      ]\n    },\n\n    {\n      \"type\": \"Container\",\n      \"items\": [\n        {\n          \"type\": \"ColumnSet\",\n          \"columns\": [\n            {\n              \"type\": \"Column\",\n              \"width\": \"auto\",\n              \"items\": [\n                {\n                  \"type\": \"TextBlock\",\n                  \"text\": \"Case number\",\n                  \"wrap\": true,\n                  \"weight\": \"Bolder\"\n                }\n              ]\n            },\n            {\n              \"type\": \"Column\",\n              \"width\": \"stretch\",\n              \"items\": [\n                {\n                  \"type\": \"TextBlock\",\n                  \"text\": \"@{triggerOutputs()?['body/ticketnumber']}\",\n                  \"wrap\": true\n                }\n              ]\n            }\n          ]\n        },\n\n        {\n          \"type\": \"ColumnSet\",\n          \"columns\": [\n            {\n              \"type\": \"Column\",\n              \"width\": \"auto\",\n              \"items\": [\n                {\n                  \"type\": \"TextBlock\",\n                  \"text\": \"Original Case number\",\n                  \"wrap\": true,\n                  \"weight\": \"Bolder\"\n                }\n              ]\n            },\n            {\n              \"type\": \"Column\",\n              \"width\": \"stretch\",\n              \"items\": [\n                {\n                  \"type\": \"TextBlock\",\n                  \"text\": \"@{outputs('Check_Parent_case')?['body/ticketnumber']}\",\n                  \"wrap\": true\n                }\n              ]\n            }\n          ]\n        },\n\n        {\n          \"type\": \"ColumnSet\",\n          \"columns\": [\n            {\n              \"type\": \"Column\",\n              \"width\": \"auto\",\n              \"items\": [\n                {\n                  \"type\": \"TextBlock\",\n                  \"text\": \"Owner\",\n                  \"wrap\": true,\n                  \"weight\": \"Bolder\"\n                }\n              ]\n            },\n            {\n              \"type\": \"Column\",\n              \"width\": \"stretch\",\n              \"items\": [\n                {\n                  \"type\": \"TextBlock\",\n                  \"text\": \"@{outputs('Get_owner_of_parent_case')?['body/fullname']}\",\n                  \"wrap\": true\n                }\n              ]\n            }\n          ]\n        },\n\n{\n          \"type\": \"ColumnSet\",\n          \"columns\": [\n            {\n              \"type\": \"Column\",\n              \"width\": \"auto\",\n              \"items\": [\n                {\n                  \"type\": \"TextBlock\",\n                  \"text\": \"Manager\",\n                  \"wrap\": true,\n                  \"weight\": \"Bolder\"\n                }\n              ]\n            },\n            {\n              \"type\": \"Column\",\n              \"width\": \"stretch\",\n              \"items\": [\n                {\n                  \"type\": \"TextBlock\",\n                  \"text\": \"Case not assigned to User\",\n                  \"wrap\": true\n                }\n              ]\n            }\n          ]\n        },\n\n        {\n          \"type\": \"ColumnSet\",\n          \"columns\": [\n            {\n              \"type\": \"Column\",\n              \"width\": \"auto\",\n              \"items\": [\n                {\n                  \"type\": \"TextBlock\",\n                  \"text\": \"Queue\",\n                  \"wrap\": true,\n                  \"weight\": \"Bolder\"\n                }\n              ]\n            },\n            {\n              \"type\": \"Column\",\n              \"width\": \"stretch\",\n              \"items\": [\n                {\n                  \"type\": \"TextBlock\",\n                  \"text\": \"@{outputs('Get_Queue')?['body/name']}\",\n                  \"wrap\": true\n                }\n              ]\n            }\n          ]\n        },\n\n        {\n          \"type\": \"ColumnSet\",\n          \"columns\": [\n            {\n              \"type\": \"Column\",\n              \"width\": \"auto\",\n              \"items\": [\n                {\n                  \"type\": \"TextBlock\",\n                  \"text\": \"Service\",\n                  \"wrap\": true,\n                  \"weight\": \"Bolder\"\n                }\n              ]\n            },\n            {\n              \"type\": \"Column\",\n              \"width\": \"stretch\",\n              \"items\": [\n                {\n                  \"type\": \"TextBlock\",\n                  \"text\": \"@{outputs('Get_Service')?['body/revops_name']}\",\n                  \"wrap\": true\n                }\n              ]\n            }\n          ]\n        },\n\n        {\n          \"type\": \"ColumnSet\",\n          \"columns\": [\n            {\n              \"type\": \"Column\",\n              \"width\": \"auto\",\n              \"items\": [\n                {\n                  \"type\": \"TextBlock\",\n                  \"text\": \"Reason\",\n                  \"wrap\": true,\n                  \"weight\": \"Bolder\"\n                }\n              ]\n            },\n            {\n              \"type\": \"Column\",\n              \"width\": \"stretch\",\n              \"items\": [\n                {\n                  \"type\": \"TextBlock\",\n                  \"text\": \"@{triggerOutputs()?['body/_revops_customerescalationreason_label']}\",\n                  \"wrap\": true\n                }\n              ]\n            }\n          ]\n        }\n      ]\n    },\n\n    {\n      \"type\": \"Container\",\n      \"style\": \"emphasis\",\n      \"roundedCorners\": true,\n      \"items\": [\n        {\n          \"type\": \"TextBlock\",\n          \"text\": \"Details\",\n          \"wrap\": true,\n          \"weight\": \"Bolder\",\n          \"size\": \"Large\",\n          \"color\": \"Accent\"\n        },\n        {\n          \"type\": \"TextBlock\",\n          \"wrap\": true,\n          \"text\": \"@{triggerOutputs()?['body/description']}\",\n          \"separator\": true\n        }\n      ]\n    },\n\n    {\n      \"type\": \"ActionSet\",\n      \"spacing\": \"ExtraLarge\",\n      \"targetWidth\": \"AtLeast:Narrow\",\n      \"actions\": [\n        {\n          \"type\": \"Action.OpenUrl\",\n          \"title\": \"Open Escalation\",\n          \"url\": \"https://sherweb-prod.crm3.dynamics.com/main.aspx?appid=afc40e42-2d20-ef11-840b-6045bd5ea018&pagetype=entityrecord&etn=incident&id=@{triggerOutputs()?['body/incidentid']}\",\n          \"style\": \"positive\"\n        },\n        {\n          \"type\": \"Action.OpenUrl\",\n          \"title\": \"Open Case\",\n          \"url\": \"https://sherweb-prod.crm3.dynamics.com/main.aspx?appid=afc40e42-2d20-ef11-840b-6045bd5ea018&pagetype=entityrecord&etn=incident&id=@{outputs('Check_Parent_case')?['body/incidentid']}\"\n        }\n      ]\n    }\n  ],\n  \"$schema\": \"https://adaptivecards.io/schemas/adaptive-card.json\",\n  \"version\": \"1.5\"\n}"
                                },
                                "host": {
                                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_teams",
                                  "operationId": "PostCardToConversation",
                                  "connectionName": "shared_teams-1"
                                }
                              }
                            }
                          },
                          "else": {
                            "actions": {
                              "Get_manager_(V2)_2": {
                                "metadata": {
                                  "operationMetadataId": "642bda19-5bab-4837-80cc-e5fc9ee4506a"
                                },
                                "type": "OpenApiConnection",
                                "inputs": {
                                  "parameters": {
                                    "id": "@outputs('Get_owner_of_parent_case')?['body/internalemailaddress']"
                                  },
                                  "host": {
                                    "apiId": "/providers/Microsoft.PowerApps/apis/shared_office365users",
                                    "operationId": "Manager_V2",
                                    "connectionName": "shared_office365users-1"
                                  }
                                }
                              },
                              "Get_an_@mention_token_for_a_user_2": {
                                "runAfter": {
                                  "Get_manager_(V2)_2": [
                                    "Succeeded"
                                  ]
                                },
                                "metadata": {
                                  "operationMetadataId": "1a6a97e1-2a43-4374-aa44-6d8e20a1e5c7"
                                },
                                "type": "OpenApiConnection",
                                "inputs": {
                                  "parameters": {
                                    "userId": "@outputs('Get_manager_(V2)_2')?['body/userPrincipalName']"
                                  },
                                  "host": {
                                    "apiId": "/providers/Microsoft.PowerApps/apis/shared_teams",
                                    "operationId": "AtMentionUser",
                                    "connectionName": "shared_teams-1"
                                  }
                                }
                              },
                              "Post_card_in_a_chat_or_channel_2": {
                                "runAfter": {
                                  "Get_an_@mention_token_for_a_user_2": [
                                    "Succeeded"
                                  ]
                                },
                                "metadata": {
                                  "operationMetadataId": "1f422839-74e2-4b9f-ab21-664bf7a26467"
                                },
                                "type": "OpenApiConnection",
                                "inputs": {
                                  "parameters": {
                                    "poster": "Flow bot",
                                    "location": "Group chat",
                                    "body/recipient": "19:17f19b6ef21b4358a29229f60f22c311@thread.v2",
                                    "body/messageBody": "{\n  \"type\": \"AdaptiveCard\",\n  \"speak\": \"Version 2.2 performance optimization\",\n  \"body\": [\n    {\n      \"type\": \"ColumnSet\",\n      \"spacing\": \"Small\",\n      \"columns\": [\n        {\n          \"type\": \"Column\",\n          \"width\": \"auto\",\n          \"items\": [\n            {\n              \"type\": \"Icon\",\n              \"name\": \"Important\",\n              \"color\": \"Accent\",\n              \"style\": \"Filled\"\n            }\n          ]\n        },\n        {\n          \"type\": \"Column\",\n          \"width\": \"stretch\",\n          \"verticalContentAlignment\": \"Center\",\n          \"items\": [\n            {\n              \"type\": \"TextBlock\",\n              \"size\": \"Large\",\n              \"text\": \"An escalation has been created. Priority - @{triggerOutputs()?['body/_revops_urgency_label']}\",\n              \"weight\": \"Bolder\",\n              \"wrap\": true,\n              \"color\": \"Accent\"\n            }\n          ]\n        }\n      ]\n    },\n\n    {\n      \"type\": \"Container\",\n      \"items\": [\n        {\n          \"type\": \"ColumnSet\",\n          \"columns\": [\n            {\n              \"type\": \"Column\",\n              \"width\": \"auto\",\n              \"items\": [\n                {\n                  \"type\": \"TextBlock\",\n                  \"text\": \"Case number\",\n                  \"wrap\": true,\n                  \"weight\": \"Bolder\"\n                }\n              ]\n            },\n            {\n              \"type\": \"Column\",\n              \"width\": \"stretch\",\n              \"items\": [\n                {\n                  \"type\": \"TextBlock\",\n                  \"text\": \"@{triggerOutputs()?['body/ticketnumber']}\",\n                  \"wrap\": true\n                }\n              ]\n            }\n          ]\n        },\n\n        {\n          \"type\": \"ColumnSet\",\n          \"columns\": [\n            {\n              \"type\": \"Column\",\n              \"width\": \"auto\",\n              \"items\": [\n                {\n                  \"type\": \"TextBlock\",\n                  \"text\": \"Original Case number\",\n                  \"wrap\": true,\n                  \"weight\": \"Bolder\"\n                }\n              ]\n            },\n            {\n              \"type\": \"Column\",\n              \"width\": \"stretch\",\n              \"items\": [\n                {\n                  \"type\": \"TextBlock\",\n                  \"text\": \"@{outputs('Check_Parent_case')?['body/ticketnumber']}\",\n                  \"wrap\": true\n                }\n              ]\n            }\n          ]\n        },\n\n        {\n          \"type\": \"ColumnSet\",\n          \"columns\": [\n            {\n              \"type\": \"Column\",\n              \"width\": \"auto\",\n              \"items\": [\n                {\n                  \"type\": \"TextBlock\",\n                  \"text\": \"Owner\",\n                  \"wrap\": true,\n                  \"weight\": \"Bolder\"\n                }\n              ]\n            },\n            {\n              \"type\": \"Column\",\n              \"width\": \"stretch\",\n              \"items\": [\n                {\n                  \"type\": \"TextBlock\",\n                  \"text\": \"@{outputs('Get_owner_of_parent_case')?['body/fullname']}\",\n                  \"wrap\": true\n                }\n              ]\n            }\n          ]\n        },\n\n{\n          \"type\": \"ColumnSet\",\n          \"columns\": [\n            {\n              \"type\": \"Column\",\n              \"width\": \"auto\",\n              \"items\": [\n                {\n                  \"type\": \"TextBlock\",\n                  \"text\": \"Manager\",\n                  \"wrap\": true,\n                  \"weight\": \"Bolder\"\n                }\n              ]\n            },\n            {\n              \"type\": \"Column\",\n              \"width\": \"stretch\",\n              \"items\": [\n                {\n                  \"type\": \"TextBlock\",\n                  \"text\": \"@{outputs('Get_an_@mention_token_for_a_user_2')?['body/atMention']}\",\n                  \"wrap\": true\n                }\n              ]\n            }\n          ]\n        },\n\n        {\n          \"type\": \"ColumnSet\",\n          \"columns\": [\n            {\n              \"type\": \"Column\",\n              \"width\": \"auto\",\n              \"items\": [\n                {\n                  \"type\": \"TextBlock\",\n                  \"text\": \"Queue\",\n                  \"wrap\": true,\n                  \"weight\": \"Bolder\"\n                }\n              ]\n            },\n            {\n              \"type\": \"Column\",\n              \"width\": \"stretch\",\n              \"items\": [\n                {\n                  \"type\": \"TextBlock\",\n                  \"text\": \"@{outputs('Get_Queue')?['body/name']}\",\n                  \"wrap\": true\n                }\n              ]\n            }\n          ]\n        },\n\n        {\n          \"type\": \"ColumnSet\",\n          \"columns\": [\n            {\n              \"type\": \"Column\",\n              \"width\": \"auto\",\n              \"items\": [\n                {\n                  \"type\": \"TextBlock\",\n                  \"text\": \"Service\",\n                  \"wrap\": true,\n                  \"weight\": \"Bolder\"\n                }\n              ]\n            },\n            {\n              \"type\": \"Column\",\n              \"width\": \"stretch\",\n              \"items\": [\n                {\n                  \"type\": \"TextBlock\",\n                  \"text\": \"@{outputs('Get_Service')?['body/revops_name']}\",\n                  \"wrap\": true\n                }\n              ]\n            }\n          ]\n        },\n\n        {\n          \"type\": \"ColumnSet\",\n          \"columns\": [\n            {\n              \"type\": \"Column\",\n              \"width\": \"auto\",\n              \"items\": [\n                {\n                  \"type\": \"TextBlock\",\n                  \"text\": \"Reason\",\n                  \"wrap\": true,\n                  \"weight\": \"Bolder\"\n                }\n              ]\n            },\n            {\n              \"type\": \"Column\",\n              \"width\": \"stretch\",\n              \"items\": [\n                {\n                  \"type\": \"TextBlock\",\n                  \"text\": \"@{triggerOutputs()?['body/_revops_customerescalationreason_label']}\",\n                  \"wrap\": true\n                }\n              ]\n            }\n          ]\n        }\n      ]\n    },\n\n    {\n      \"type\": \"Container\",\n      \"style\": \"emphasis\",\n      \"roundedCorners\": true,\n      \"items\": [\n        {\n          \"type\": \"TextBlock\",\n          \"text\": \"Details\",\n          \"wrap\": true,\n          \"weight\": \"Bolder\",\n          \"size\": \"Large\",\n          \"color\": \"Accent\"\n        },\n        {\n          \"type\": \"TextBlock\",\n          \"wrap\": true,\n          \"text\": \"@{triggerOutputs()?['body/description']}\",\n          \"separator\": true\n        }\n      ]\n    },\n\n    {\n      \"type\": \"ActionSet\",\n      \"spacing\": \"ExtraLarge\",\n      \"targetWidth\": \"AtLeast:Narrow\",\n      \"actions\": [\n        {\n          \"type\": \"Action.OpenUrl\",\n          \"title\": \"Open Escalation\",\n          \"url\": \"https://sherweb-prod.crm3.dynamics.com/main.aspx?appid=afc40e42-2d20-ef11-840b-6045bd5ea018&pagetype=entityrecord&etn=incident&id=@{triggerOutputs()?['body/incidentid']}\",\n          \"style\": \"positive\"\n        },\n        {\n          \"type\": \"Action.OpenUrl\",\n          \"title\": \"Open Case\",\n          \"url\": \"https://sherweb-prod.crm3.dynamics.com/main.aspx?appid=afc40e42-2d20-ef11-840b-6045bd5ea018&pagetype=entityrecord&etn=incident&id=@{outputs('Check_Parent_case')?['body/incidentid']}\"\n        }\n      ]\n    }\n  ],\n  \"$schema\": \"https://adaptivecards.io/schemas/adaptive-card.json\",\n  \"version\": \"1.5\"\n}"
                                  },
                                  "host": {
                                    "apiId": "/providers/Microsoft.PowerApps/apis/shared_teams",
                                    "operationId": "PostCardToConversation",
                                    "connectionName": "shared_teams-1"
                                  }
                                }
                              }
                            }
                          },
                          "expression": {
                            "or": [
                              {
                                "equals": [
                                  "@outputs('Check_Parent_case')?['body/_ownerid_value']",
                                  "@parameters('ISC Object owner (revops_iscbjectowner)')"
                                ]
                              },
                              {
                                "equals": [
                                  "@outputs('Check_Parent_case')?['body/_ownerid_value']",
                                  "@parameters('Portal User ID (revops_portaluserid)')"
                                ]
                              }
                            ]
                          },
                          "metadata": {
                            "operationMetadataId": "362fa5be-2778-407c-bef6-3151f4847903"
                          },
                          "type": "If"
                        }
                      }
                    },
                    "expression": {
                      "and": [
                        {
                          "equals": [
                            "@outputs('Check_Parent_case')?['body/_revops_queue_value']",
                            "@parameters('Queue - Inside Sales Reps (revops_queueinsidesalesreps)')"
                          ]
                        }
                      ]
                    },
                    "metadata": {
                      "operationMetadataId": "bbc3eda3-c268-422c-9ecc-b9c3d167f24d"
                    },
                    "type": "If"
                  }
                }
              },
              "expression": {
                "and": [
                  {
                    "equals": [
                      "@outputs('Check_Parent_case')?['body/_revops_queue_value']",
                      "@parameters('Queue - Billing (revops_queuebilling)')"
                    ]
                  }
                ]
              },
              "metadata": {
                "operationMetadataId": "505edc69-a601-48f2-be40-725366a09418"
              },
              "type": "If"
            }
          },
          "runAfter": {
            "Get_Queue": [
              "Succeeded"
            ]
          },
          "else": {
            "actions": {
              "update_mandatory_field_on_the_case": {
                "metadata": {
                  "operationMetadataId": "ce112c02-f760-4d63-93ed-a096bfa0bfdf"
                },
                "type": "OpenApiConnection",
                "inputs": {
                  "parameters": {
                    "entityName": "incidents",
                    "recordId": "@triggerOutputs()?['body/incidentid']",
                    "item/title": "Escalation request for case @{outputs('Check_Parent_case')?['body/ticketnumber']}",
                    "item/casetypecode": 234570005,
                    "item/ownerid@odata.bind": "/systemusers(@{parameters('ISC Object owner (revops_iscbjectowner)')})",
                    "item/parentcaseid@odata.bind": "@null",
                    "item/prioritycode": 1,
                    "item/revops_cumulusaccount@odata.bind": "@if(\r\n  empty(outputs('Check_Parent_case')?['body/_revops_cumulusaccount_value']),\r\n  null,\r\n  concat(\r\n    '/revops_cumulusaccounts(',\r\n    outputs('Check_Parent_case')?['body/_revops_cumulusaccount_value'],\r\n    ')'\r\n  )\r\n)\r\n"
                  },
                  "host": {
                    "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                    "operationId": "UpdateOnlyRecord",
                    "connectionName": "shared_commondataserviceforapps-1"
                  }
                }
              },
              "Add_Note_to_Case": {
                "runAfter": {
                  "update_mandatory_field_on_the_case": [
                    "Succeeded"
                  ]
                },
                "metadata": {
                  "operationMetadataId": "25a8b01d-a949-4552-b901-cec04a468853"
                },
                "type": "OpenApiConnection",
                "inputs": {
                  "parameters": {
                    "entityName": "annotations",
                    "item/subject": "Escalation Description",
                    "item/notetext": "@triggerOutputs()?['body/description']",
                    "item/objectid_incident@odata.bind": "/incidents(@{outputs('update_mandatory_field_on_the_case')?['body/incidentid']})"
                  },
                  "host": {
                    "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                    "operationId": "CreateRecord",
                    "connectionName": "shared_commondataserviceforapps-1"
                  }
                }
              },
              "notify_manager_-_support": {
                "runAfter": {
                  "Check_if_portal_or_ISC_user": [
                    "Succeeded"
                  ]
                },
                "metadata": {
                  "operationMetadataId": "90b9e30d-ef38-4b40-a973-a3a74892d6c0"
                },
                "type": "OpenApiConnection",
                "inputs": {
                  "parameters": {
                    "emailMessage/To": "TSS_Leadership_Escalations@sherweb.com",
                    "emailMessage/Subject": "An escalation has been created - @{outputs('Check_Parent_case')?['body/ticketnumber']} - @{outputs('Check_Parent_case')?['body/title']}",
                    "emailMessage/Body": "<p class=\"editor-paragraph\"><b><strong class=\"editor-text-bold\">Case number:</strong></b> @{triggerOutputs()?['body/ticketnumber']}<br><b><strong class=\"editor-text-bold\">Original case number:</strong></b> @{outputs('Check_Parent_case')?['body/ticketnumber']}<br><b><strong class=\"editor-text-bold\">Owner:</strong></b> @{outputs('Get_owner_of_parent_case')?['body/fullname']}<br><b><strong class=\"editor-text-bold\">Man</strong></b><b><strong class=\"editor-text-bold\">ager:</strong></b> @{outputs('Get_manager_(V2)')?['body/displayName']}<br><b><strong class=\"editor-text-bold\">Queue:</strong></b> @{outputs('Get_Queue')?['body/name']}<br><b><strong class=\"editor-text-bold\">Service:</strong></b> @{outputs('Get_Service')?['body/revops_name']}<br><b><strong class=\"editor-text-bold\">Reason:</strong></b> @{triggerOutputs()?['body/_revops_customerescalationreason_label']}</p><p class=\"editor-paragraph\"><b><strong class=\"editor-text-bold\">Details:</strong></b> @{triggerOutputs()?['body/description']}</p>",
                    "emailMessage/From": "revops-noreply@sherweb.com",
                    "emailMessage/Importance": "Normal"
                  },
                  "host": {
                    "apiId": "/providers/Microsoft.PowerApps/apis/shared_office365",
                    "operationId": "SendEmailV2",
                    "connectionName": "shared_office365-1"
                  }
                }
              },
              "Check_if_portal_or_ISC_user": {
                "actions": {
                  "Post_card_in_Groupe_tactic": {
                    "metadata": {
                      "operationMetadataId": "1f422839-74e2-4b9f-ab21-664bf7a26467"
                    },
                    "type": "OpenApiConnection",
                    "inputs": {
                      "parameters": {
                        "poster": "Flow bot",
                        "location": "Group chat",
                        "body/recipient": "19:03f86440aa034540ada82950980a9a01@thread.v2",
                        "body/messageBody": "{\n  \"type\": \"AdaptiveCard\",\n  \"speak\": \"Version 2.2 performance optimization\",\n  \"body\": [\n    {\n      \"type\": \"ColumnSet\",\n      \"spacing\": \"Small\",\n      \"columns\": [\n        {\n          \"type\": \"Column\",\n          \"width\": \"auto\",\n          \"items\": [\n            {\n              \"type\": \"Icon\",\n              \"name\": \"Important\",\n              \"color\": \"Accent\",\n              \"style\": \"Filled\"\n            }\n          ]\n        },\n        {\n          \"type\": \"Column\",\n          \"width\": \"stretch\",\n          \"verticalContentAlignment\": \"Center\",\n          \"items\": [\n            {\n              \"type\": \"TextBlock\",\n              \"size\": \"Large\",\n              \"text\": \"An escalation has been created. Priority - @{triggerOutputs()?['body/_revops_urgency_label']}\",\n              \"weight\": \"Bolder\",\n              \"wrap\": true,\n              \"color\": \"Accent\"\n            }\n          ]\n        }\n      ]\n    },\n\n    {\n      \"type\": \"Container\",\n      \"items\": [\n        {\n          \"type\": \"ColumnSet\",\n          \"columns\": [\n            {\n              \"type\": \"Column\",\n              \"width\": \"auto\",\n              \"items\": [\n                {\n                  \"type\": \"TextBlock\",\n                  \"text\": \"Case number\",\n                  \"wrap\": true,\n                  \"weight\": \"Bolder\"\n                }\n              ]\n            },\n            {\n              \"type\": \"Column\",\n              \"width\": \"stretch\",\n              \"items\": [\n                {\n                  \"type\": \"TextBlock\",\n                  \"text\": \"@{triggerOutputs()?['body/ticketnumber']}\",\n                  \"wrap\": true\n                }\n              ]\n            }\n          ]\n        },\n\n        {\n          \"type\": \"ColumnSet\",\n          \"columns\": [\n            {\n              \"type\": \"Column\",\n              \"width\": \"auto\",\n              \"items\": [\n                {\n                  \"type\": \"TextBlock\",\n                  \"text\": \"Original Case number\",\n                  \"wrap\": true,\n                  \"weight\": \"Bolder\"\n                }\n              ]\n            },\n            {\n              \"type\": \"Column\",\n              \"width\": \"stretch\",\n              \"items\": [\n                {\n                  \"type\": \"TextBlock\",\n                  \"text\": \"@{outputs('Check_Parent_case')?['body/ticketnumber']}\",\n                  \"wrap\": true\n                }\n              ]\n            }\n          ]\n        },\n\n        {\n          \"type\": \"ColumnSet\",\n          \"columns\": [\n            {\n              \"type\": \"Column\",\n              \"width\": \"auto\",\n              \"items\": [\n                {\n                  \"type\": \"TextBlock\",\n                  \"text\": \"Owner\",\n                  \"wrap\": true,\n                  \"weight\": \"Bolder\"\n                }\n              ]\n            },\n            {\n              \"type\": \"Column\",\n              \"width\": \"stretch\",\n              \"items\": [\n                {\n                  \"type\": \"TextBlock\",\n                  \"text\": \"@{outputs('Get_owner_of_parent_case')?['body/fullname']}\",\n                  \"wrap\": true\n                }\n              ]\n            }\n          ]\n        },\n\n{\n          \"type\": \"ColumnSet\",\n          \"columns\": [\n            {\n              \"type\": \"Column\",\n              \"width\": \"auto\",\n              \"items\": [\n                {\n                  \"type\": \"TextBlock\",\n                  \"text\": \"Manager\",\n                  \"wrap\": true,\n                  \"weight\": \"Bolder\"\n                }\n              ]\n            },\n            {\n              \"type\": \"Column\",\n              \"width\": \"stretch\",\n              \"items\": [\n                {\n                  \"type\": \"TextBlock\",\n                  \"text\": \"Case not assigned to User\",\n                  \"wrap\": true\n                }\n              ]\n            }\n          ]\n        },\n\n        {\n          \"type\": \"ColumnSet\",\n          \"columns\": [\n            {\n              \"type\": \"Column\",\n              \"width\": \"auto\",\n              \"items\": [\n                {\n                  \"type\": \"TextBlock\",\n                  \"text\": \"Queue\",\n                  \"wrap\": true,\n                  \"weight\": \"Bolder\"\n                }\n              ]\n            },\n            {\n              \"type\": \"Column\",\n              \"width\": \"stretch\",\n              \"items\": [\n                {\n                  \"type\": \"TextBlock\",\n                  \"text\": \"@{outputs('Get_Queue')?['body/name']}\",\n                  \"wrap\": true\n                }\n              ]\n            }\n          ]\n        },\n\n        {\n          \"type\": \"ColumnSet\",\n          \"columns\": [\n            {\n              \"type\": \"Column\",\n              \"width\": \"auto\",\n              \"items\": [\n                {\n                  \"type\": \"TextBlock\",\n                  \"text\": \"Service\",\n                  \"wrap\": true,\n                  \"weight\": \"Bolder\"\n                }\n              ]\n            },\n            {\n              \"type\": \"Column\",\n              \"width\": \"stretch\",\n              \"items\": [\n                {\n                  \"type\": \"TextBlock\",\n                  \"text\": \"@{outputs('Get_Service')?['body/revops_name']}\",\n                  \"wrap\": true\n                }\n              ]\n            }\n          ]\n        },\n\n        {\n          \"type\": \"ColumnSet\",\n          \"columns\": [\n            {\n              \"type\": \"Column\",\n              \"width\": \"auto\",\n              \"items\": [\n                {\n                  \"type\": \"TextBlock\",\n                  \"text\": \"Reason\",\n                  \"wrap\": true,\n                  \"weight\": \"Bolder\"\n                }\n              ]\n            },\n            {\n              \"type\": \"Column\",\n              \"width\": \"stretch\",\n              \"items\": [\n                {\n                  \"type\": \"TextBlock\",\n                  \"text\": \"@{triggerOutputs()?['body/_revops_customerescalationreason_label']}\",\n                  \"wrap\": true\n                }\n              ]\n            }\n          ]\n        }\n      ]\n    },\n\n    {\n      \"type\": \"Container\",\n      \"style\": \"emphasis\",\n      \"roundedCorners\": true,\n      \"items\": [\n        {\n          \"type\": \"TextBlock\",\n          \"text\": \"Details\",\n          \"wrap\": true,\n          \"weight\": \"Bolder\",\n          \"size\": \"Large\",\n          \"color\": \"Accent\"\n        },\n        {\n          \"type\": \"TextBlock\",\n          \"wrap\": true,\n          \"text\": \"@{triggerOutputs()?['body/description']}\",\n          \"separator\": true\n        }\n      ]\n    },\n\n    {\n      \"type\": \"ActionSet\",\n      \"spacing\": \"ExtraLarge\",\n      \"targetWidth\": \"AtLeast:Narrow\",\n      \"actions\": [\n        {\n          \"type\": \"Action.OpenUrl\",\n          \"title\": \"Open Escalation\",\n          \"url\": \"https://sherweb-prod.crm3.dynamics.com/main.aspx?appid=afc40e42-2d20-ef11-840b-6045bd5ea018&pagetype=entityrecord&etn=incident&id=@{triggerOutputs()?['body/incidentid']}\",\n          \"style\": \"positive\"\n        },\n        {\n          \"type\": \"Action.OpenUrl\",\n          \"title\": \"Open Case\",\n          \"url\": \"https://sherweb-prod.crm3.dynamics.com/main.aspx?appid=afc40e42-2d20-ef11-840b-6045bd5ea018&pagetype=entityrecord&etn=incident&id=@{outputs('Check_Parent_case')?['body/incidentid']}\"\n        }\n      ]\n    }\n  ],\n  \"$schema\": \"https://adaptivecards.io/schemas/adaptive-card.json\",\n  \"version\": \"1.5\"\n}"
                      },
                      "host": {
                        "apiId": "/providers/Microsoft.PowerApps/apis/shared_teams",
                        "operationId": "PostCardToConversation",
                        "connectionName": "shared_teams-1"
                      }
                    }
                  }
                },
                "runAfter": {
                  "Add_Note_to_Case": [
                    "Succeeded"
                  ]
                },
                "else": {
                  "actions": {
                    "Get_manager_(V2)": {
                      "metadata": {
                        "operationMetadataId": "642bda19-5bab-4837-80cc-e5fc9ee4506a"
                      },
                      "type": "OpenApiConnection",
                      "inputs": {
                        "parameters": {
                          "id": "@outputs('Get_owner_of_parent_case')?['body/internalemailaddress']"
                        },
                        "host": {
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_office365users",
                          "operationId": "Manager_V2",
                          "connectionName": "shared_office365users-1"
                        }
                      }
                    },
                    "Get_an_@mention_token_for_a_user": {
                      "runAfter": {
                        "Get_manager_(V2)": [
                          "Succeeded"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "1a6a97e1-2a43-4374-aa44-6d8e20a1e5c7"
                      },
                      "type": "OpenApiConnection",
                      "inputs": {
                        "parameters": {
                          "userId": "@outputs('Get_manager_(V2)')?['body/userPrincipalName']"
                        },
                        "host": {
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_teams",
                          "operationId": "AtMentionUser",
                          "connectionName": "shared_teams-1"
                        }
                      }
                    },
                    "Post_card_in_a_chat_or_channel": {
                      "runAfter": {
                        "Get_an_@mention_token_for_a_user": [
                          "Succeeded"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "1f422839-74e2-4b9f-ab21-664bf7a26467"
                      },
                      "type": "OpenApiConnection",
                      "inputs": {
                        "parameters": {
                          "poster": "Flow bot",
                          "location": "Group chat",
                          "body/recipient": "19:03f86440aa034540ada82950980a9a01@thread.v2",
                          "body/messageBody": "{\n  \"type\": \"AdaptiveCard\",\n  \"speak\": \"Version 2.2 performance optimization\",\n  \"body\": [\n    {\n      \"type\": \"ColumnSet\",\n      \"spacing\": \"Small\",\n      \"columns\": [\n        {\n          \"type\": \"Column\",\n          \"width\": \"auto\",\n          \"items\": [\n            {\n              \"type\": \"Icon\",\n              \"name\": \"Important\",\n              \"color\": \"Accent\",\n              \"style\": \"Filled\"\n            }\n          ]\n        },\n        {\n          \"type\": \"Column\",\n          \"width\": \"stretch\",\n          \"verticalContentAlignment\": \"Center\",\n          \"items\": [\n            {\n              \"type\": \"TextBlock\",\n              \"size\": \"Large\",\n              \"text\": \"An escalation has been created. Priority - @{triggerOutputs()?['body/_revops_urgency_label']}\",\n              \"weight\": \"Bolder\",\n              \"wrap\": true,\n              \"color\": \"Accent\"\n            }\n          ]\n        }\n      ]\n    },\n\n    {\n      \"type\": \"Container\",\n      \"items\": [\n        {\n          \"type\": \"ColumnSet\",\n          \"columns\": [\n            {\n              \"type\": \"Column\",\n              \"width\": \"auto\",\n              \"items\": [\n                {\n                  \"type\": \"TextBlock\",\n                  \"text\": \"Case number\",\n                  \"wrap\": true,\n                  \"weight\": \"Bolder\"\n                }\n              ]\n            },\n            {\n              \"type\": \"Column\",\n              \"width\": \"stretch\",\n              \"items\": [\n                {\n                  \"type\": \"TextBlock\",\n                  \"text\": \"@{triggerOutputs()?['body/ticketnumber']}\",\n                  \"wrap\": true\n                }\n              ]\n            }\n          ]\n        },\n\n        {\n          \"type\": \"ColumnSet\",\n          \"columns\": [\n            {\n              \"type\": \"Column\",\n              \"width\": \"auto\",\n              \"items\": [\n                {\n                  \"type\": \"TextBlock\",\n                  \"text\": \"Original Case number\",\n                  \"wrap\": true,\n                  \"weight\": \"Bolder\"\n                }\n              ]\n            },\n            {\n              \"type\": \"Column\",\n              \"width\": \"stretch\",\n              \"items\": [\n                {\n                  \"type\": \"TextBlock\",\n                  \"text\": \"@{outputs('Check_Parent_case')?['body/ticketnumber']}\",\n                  \"wrap\": true\n                }\n              ]\n            }\n          ]\n        },\n\n        {\n          \"type\": \"ColumnSet\",\n          \"columns\": [\n            {\n              \"type\": \"Column\",\n              \"width\": \"auto\",\n              \"items\": [\n                {\n                  \"type\": \"TextBlock\",\n                  \"text\": \"Owner\",\n                  \"wrap\": true,\n                  \"weight\": \"Bolder\"\n                }\n              ]\n            },\n            {\n              \"type\": \"Column\",\n              \"width\": \"stretch\",\n              \"items\": [\n                {\n                  \"type\": \"TextBlock\",\n                  \"text\": \"@{outputs('Get_owner_of_parent_case')?['body/fullname']}\",\n                  \"wrap\": true\n                }\n              ]\n            }\n          ]\n        },\n\n{\n          \"type\": \"ColumnSet\",\n          \"columns\": [\n            {\n              \"type\": \"Column\",\n              \"width\": \"auto\",\n              \"items\": [\n                {\n                  \"type\": \"TextBlock\",\n                  \"text\": \"Manager\",\n                  \"wrap\": true,\n                  \"weight\": \"Bolder\"\n                }\n              ]\n            },\n            {\n              \"type\": \"Column\",\n              \"width\": \"stretch\",\n              \"items\": [\n                {\n                  \"type\": \"TextBlock\",\n                  \"text\": \"@{outputs('Get_an_@mention_token_for_a_user')?['body/atMention']}\",\n                  \"wrap\": true\n                }\n              ]\n            }\n          ]\n        },\n\n        {\n          \"type\": \"ColumnSet\",\n          \"columns\": [\n            {\n              \"type\": \"Column\",\n              \"width\": \"auto\",\n              \"items\": [\n                {\n                  \"type\": \"TextBlock\",\n                  \"text\": \"Queue\",\n                  \"wrap\": true,\n                  \"weight\": \"Bolder\"\n                }\n              ]\n            },\n            {\n              \"type\": \"Column\",\n              \"width\": \"stretch\",\n              \"items\": [\n                {\n                  \"type\": \"TextBlock\",\n                  \"text\": \"@{outputs('Get_Queue')?['body/name']}\",\n                  \"wrap\": true\n                }\n              ]\n            }\n          ]\n        },\n\n        {\n          \"type\": \"ColumnSet\",\n          \"columns\": [\n            {\n              \"type\": \"Column\",\n              \"width\": \"auto\",\n              \"items\": [\n                {\n                  \"type\": \"TextBlock\",\n                  \"text\": \"Service\",\n                  \"wrap\": true,\n                  \"weight\": \"Bolder\"\n                }\n              ]\n            },\n            {\n              \"type\": \"Column\",\n              \"width\": \"stretch\",\n              \"items\": [\n                {\n                  \"type\": \"TextBlock\",\n                  \"text\": \"@{outputs('Get_Service')?['body/revops_name']}\",\n                  \"wrap\": true\n                }\n              ]\n            }\n          ]\n        },\n\n        {\n          \"type\": \"ColumnSet\",\n          \"columns\": [\n            {\n              \"type\": \"Column\",\n              \"width\": \"auto\",\n              \"items\": [\n                {\n                  \"type\": \"TextBlock\",\n                  \"text\": \"Reason\",\n                  \"wrap\": true,\n                  \"weight\": \"Bolder\"\n                }\n              ]\n            },\n            {\n              \"type\": \"Column\",\n              \"width\": \"stretch\",\n              \"items\": [\n                {\n                  \"type\": \"TextBlock\",\n                  \"text\": \"@{triggerOutputs()?['body/_revops_customerescalationreason_label']}\",\n                  \"wrap\": true\n                }\n              ]\n            }\n          ]\n        }\n      ]\n    },\n\n    {\n      \"type\": \"Container\",\n      \"style\": \"emphasis\",\n      \"roundedCorners\": true,\n      \"items\": [\n        {\n          \"type\": \"TextBlock\",\n          \"text\": \"Details\",\n          \"wrap\": true,\n          \"weight\": \"Bolder\",\n          \"size\": \"Large\",\n          \"color\": \"Accent\"\n        },\n        {\n          \"type\": \"TextBlock\",\n          \"wrap\": true,\n          \"text\": \"@{triggerOutputs()?['body/description']}\",\n          \"separator\": true\n        }\n      ]\n    },\n\n    {\n      \"type\": \"ActionSet\",\n      \"spacing\": \"ExtraLarge\",\n      \"targetWidth\": \"AtLeast:Narrow\",\n      \"actions\": [\n        {\n          \"type\": \"Action.OpenUrl\",\n          \"title\": \"Open Escalation\",\n          \"url\": \"https://sherweb-prod.crm3.dynamics.com/main.aspx?appid=afc40e42-2d20-ef11-840b-6045bd5ea018&pagetype=entityrecord&etn=incident&id=@{triggerOutputs()?['body/incidentid']}\",\n          \"style\": \"positive\"\n        },\n        {\n          \"type\": \"Action.OpenUrl\",\n          \"title\": \"Open Case\",\n          \"url\": \"https://sherweb-prod.crm3.dynamics.com/main.aspx?appid=afc40e42-2d20-ef11-840b-6045bd5ea018&pagetype=entityrecord&etn=incident&id=@{outputs('Check_Parent_case')?['body/incidentid']}\"\n        }\n      ]\n    }\n  ],\n  \"$schema\": \"https://adaptivecards.io/schemas/adaptive-card.json\",\n  \"version\": \"1.5\"\n}"
                        },
                        "host": {
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_teams",
                          "operationId": "PostCardToConversation",
                          "connectionName": "shared_teams-1"
                        }
                      }
                    }
                  }
                },
                "expression": {
                  "or": [
                    {
                      "equals": [
                        "@outputs('Check_Parent_case')?['body/_ownerid_value']",
                        "@parameters('ISC Object owner (revops_iscbjectowner)')"
                      ]
                    },
                    {
                      "equals": [
                        "@outputs('Check_Parent_case')?['body/_ownerid_value']",
                        "@parameters('Portal User ID (revops_portaluserid)')"
                      ]
                    }
                  ]
                },
                "metadata": {
                  "operationMetadataId": "362fa5be-2778-407c-bef6-3151f4847903"
                },
                "type": "If"
              }
            }
          },
          "expression": {
            "or": [
              {
                "equals": [
                  "@outputs('Check_Parent_case')?['body/_revops_queue_value']",
                  "@parameters('Queue - Billing (revops_queuebilling)')"
                ]
              },
              {
                "equals": [
                  "@outputs('Check_Parent_case')?['body/_revops_queue_value']",
                  "@parameters('Queue - CST (revops_queuecst)')"
                ]
              },
              {
                "equals": [
                  "@outputs('Check_Parent_case')?['body/_revops_queue_value']",
                  "@parameters('Queue - Inside Sales Reps (revops_queueinsidesalesreps)')"
                ]
              }
            ]
          },
          "metadata": {
            "operationMetadataId": "505c4a70-45ed-4f6d-9783-481d14100396"
          },
          "type": "If"
        },
        "Get_owner_of_parent_case": {
          "runAfter": {
            "Check_Parent_case": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "4c28f526-fe60-4970-ad41-a33b94d78e90"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "parameters": {
              "entityName": "systemusers",
              "recordId": "@outputs('Check_Parent_case')?['body/_ownerid_value']"
            },
            "host": {
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
              "operationId": "GetItem",
              "connectionName": "shared_commondataserviceforapps-1"
            }
          }
        },
        "Get_Service": {
          "runAfter": {
            "Get_owner_of_parent_case": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "9ca6c869-78d3-48cb-8f26-ebba59384629"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "parameters": {
              "entityName": "revops_services",
              "recordId": "@outputs('Check_Parent_case')?['body/_revops_service_value']"
            },
            "host": {
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
              "operationId": "GetItem",
              "connectionName": "shared_commondataserviceforapps-1"
            }
          }
        },
        "Get_Queue": {
          "runAfter": {
            "Get_Service": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "669d8d25-f3c2-4be7-850c-7665e74f3737"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "parameters": {
              "entityName": "queues",
              "recordId": "@outputs('Check_Parent_case')?['body/_revops_queue_value']"
            },
            "host": {
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
              "operationId": "GetItem",
              "connectionName": "shared_commondataserviceforapps-1"
            }
          }
        }
      }
    },
    "templateName": null
  },
  "schemaVersion": "1.0.0.0"
}