RevOps-Analysts/Documentation/_Exports/revopsflows_1_28_0_1/Workflows/EnrichAccount-Manual-B3CE4FA1-DC75-EF11-AC20-7C1E520630E3.json
{
  "properties": {
    "connectionReferences": {
      "shared_commondataserviceforapps": {
        "api": {
          "name": "shared_commondataserviceforapps"
        },
        "connection": {
          "connectionReferenceLogicalName": "new_sharedcommondataserviceforapps_ab8a2"
        },
        "runtimeSource": "embedded"
      },
      "shared_teams": {
        "api": {
          "name": "shared_teams"
        },
        "connection": {
          "connectionReferenceLogicalName": "new_sharedteams_55d8e"
        },
        "runtimeSource": "invoker"
      },
      "shared_keyvault": {
        "api": {
          "name": "shared_keyvault"
        },
        "connection": {
          "connectionReferenceLogicalName": "revops_sharedkeyvault_a81e3"
        },
        "runtimeSource": "invoker"
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        },
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        }
      },
      "triggers": {
        "manual": {
          "type": "Request",
          "kind": "Button",
          "inputs": {
            "schema": {
              "type": "object",
              "properties": {},
              "required": []
            }
          },
          "metadata": {
            "operationMetadataId": "865b2c51-c31e-4ec4-81e6-666f8c5c864b"
          }
        }
      },
      "actions": {
        "Terminate": {
          "type": "Terminate",
          "inputs": {
            "runStatus": "Succeeded"
          },
          "runAfter": {
            "Do_until": [
              "Succeeded",
              "Failed"
            ]
          },
          "metadata": {
            "operationMetadataId": "b14822c2-ab90-4ac0-83b7-f43f141ac459"
          }
        },
        "Do_until": {
          "type": "Until",
          "expression": "@equals(variables('count_rows'),0)",
          "limit": {
            "count": 2,
            "timeout": "PT1H"
          },
          "actions": {
            "Apply_to_each": {
              "type": "Foreach",
              "foreach": "@outputs('List_Accounts')?['body/value']",
              "actions": {
                "HTTP": {
                  "type": "Http",
                  "inputs": {
                    "uri": "https://person-stream.clearbit.com/v2/combined/find?email=@{items('Apply_to_each')['emailaddress1']}",
                    "method": "GET",
                    "headers": {
                      "Accept": "*/*",
                      "Accept-Encoding": "gzip, deflate, br",
                      "Authorization": "Bearer @{outputs('Get_secret')?['body/value']}"
                    }
                  },
                  "metadata": {
                    "operationMetadataId": "44822037-4d0c-4256-bbb6-0848e7ba138c"
                  }
                },
                "Error_404_or_422": {
                  "type": "If",
                  "expression": {
                    "or": [
                      {
                        "equals": [
                          "@outputs('HTTP')?['statusCode']",
                          404
                        ]
                      },
                      {
                        "equals": [
                          "@outputs('HTTP')?['statusCode']",
                          422
                        ]
                      }
                    ]
                  },
                  "actions": {},
                  "else": {
                    "actions": {
                      "Company_data_available": {
                        "type": "If",
                        "expression": {
                          "and": [
                            {
                              "equals": [
                                "@empty(body('HTTP')['company'])",
                                "@false"
                              ]
                            }
                          ]
                        },
                        "actions": {
                          "GICSCode_not_empty_or_null": {
                            "type": "If",
                            "expression": {
                              "and": [
                                {
                                  "greater": [
                                    "@length(variables('company')?['gicscode'])",
                                    0
                                  ]
                                }
                              ]
                            },
                            "actions": {
                              "Get_channel": {
                                "type": "OpenApiConnection",
                                "description": "GICS numeric codes are mapped to standard industry definitions in the revops_gicsmapping table.",
                                "inputs": {
                                  "parameters": {
                                    "entityName": "revops_gicsmappings",
                                    "$select": "revops_channel",
                                    "$filter": "revops_gicscode eq '@{variables('company')?['gicscode']}'"
                                  },
                                  "host": {
                                    "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                                    "operationId": "ListRecords",
                                    "connectionName": "shared_commondataserviceforapps"
                                  }
                                },
                                "metadata": {
                                  "operationMetadataId": "68ffbfc0-acbe-4e6c-8de9-e1e65fc84e9b"
                                }
                              },
                              "channel_data": {
                                "type": "Compose",
                                "inputs": "@outputs('Get_channel')?['body/value']?[0]",
                                "runAfter": {
                                  "Get_channel": [
                                    "Succeeded"
                                  ]
                                },
                                "metadata": {
                                  "operationMetadataId": "af3affdb-3869-4019-814e-3831523944f2"
                                }
                              },
                              "channel_choice_value": {
                                "type": "Compose",
                                "inputs": "@outputs('channel_data')?['revops_channel']",
                                "runAfter": {
                                  "channel_data": [
                                    "Succeeded"
                                  ]
                                },
                                "metadata": {
                                  "operationMetadataId": "8dd830bd-7192-4ad3-9fc1-7c0599dac151"
                                }
                              },
                              "Update_Clearbit_fields_on_Account_-_clear_status": {
                                "type": "OpenApiConnection",
                                "inputs": {
                                  "parameters": {
                                    "entityName": "accounts",
                                    "recordId": "@items('Apply_to_each')['accountid']",
                                    "item/revops_channel": "@outputs('channel_choice_value')",
                                    "item/revops_clearbitenrichmentdetail": "@null"
                                  },
                                  "host": {
                                    "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                                    "operationId": "UpdateRecord",
                                    "connectionName": "shared_commondataserviceforapps"
                                  }
                                },
                                "runAfter": {
                                  "channel_choice_value": [
                                    "Succeeded"
                                  ]
                                },
                                "metadata": {
                                  "operationMetadataId": "e4121582-7228-4a53-8707-b06d4a1f83c9"
                                }
                              }
                            },
                            "else": {
                              "actions": {
                                "Update_Clearbit_Enrichment_Detail_-_empty_GICS": {
                                  "type": "OpenApiConnection",
                                  "inputs": {
                                    "parameters": {
                                      "entityName": "accounts",
                                      "recordId": "@items('Apply_to_each')['accountid']",
                                      "item/revops_clearbitenrichmentdetail": "GICS Code not available"
                                    },
                                    "host": {
                                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                                      "operationId": "UpdateRecord",
                                      "connectionName": "shared_commondataserviceforapps"
                                    }
                                  },
                                  "metadata": {
                                    "operationMetadataId": "e4121582-7228-4a53-8707-b06d4a1f83c9"
                                  }
                                }
                              }
                            },
                            "runAfter": {
                              "Set_company": [
                                "Succeeded"
                              ]
                            },
                            "metadata": {
                              "operationMetadataId": "d4eb0568-2f50-47cc-83e9-f6c74578dc63"
                            }
                          },
                          "Set_company": {
                            "type": "SetVariable",
                            "inputs": {
                              "name": "company",
                              "value": {
                                "domain": "@{body('Parse_company')?['domain']}",
                                "logo": "@{body('Parse_company')?['logo']}",
                                "address": "@{body('Parse_company')?['geo']?['streetAddress']}",
                                "city": "@{body('Parse_company')?['geo']?['city']}",
                                "stateorprovince": "@{body('Parse_company')?['geo']?['statecode']}",
                                "countrycode": "@{body('Parse_company')?['geo']?['countryCode']}",
                                "postalcode": "@{body('Parse_company')?['geo']?['postalCode']}",
                                "lat": "@{body('Parse_company')?['geo']?['lat']}",
                                "lng": "@{body('Parse_company')?['geo']?['lng']}",
                                "legalname": "@{body('Parse_company')?['legalName']}",
                                "description": "@{body('Parse_company')?['description']}",
                                "annualrevenue": "@{body('Parse_company')?['metrics']?['annualRevenue']}",
                                "estimatedannualrevenue": "@{body('Parse_company')?['metrics']?['estimatedAnnualRevenue']}",
                                "foundedyear": "@{body('Parse_company')?['foundedYear']}",
                                "sector": "@{body('Parse_company')?['category']?['sector']}",
                                "industry": "@{body('Parse_company')?['category']?['industry']}",
                                "subindustry": "@{body('Parse_company')?['category']?['subIndustry']}",
                                "industrygroup": "@{body('Parse_company')?['category']?['industryGroup']}",
                                "employees": "@{body('Parse_company')?['metrics']?['employees']}",
                                "employeesrange": "@{body('Parse_company')?['metrics']?['employeesRange']}",
                                "gicscode": "@{body('Parse_company')?['category']?['gicsCode']}",
                                "siccode": "@{body('Parse_company')?['category']?['sicCode']}",
                                "companylinkedin": "@{body('Parse_company')?['linkedin']?['handle']}"
                              }
                            },
                            "runAfter": {
                              "Parse_company": [
                                "Succeeded"
                              ]
                            },
                            "metadata": {
                              "operationMetadataId": "10b6ec78-5385-4be4-a523-efba82444250"
                            }
                          },
                          "Enrich_Account": {
                            "type": "OpenApiConnection",
                            "description": "Account table does not have country, state/province fields as lookups.",
                            "inputs": {
                              "parameters": {
                                "entityName": "accounts",
                                "recordId": "@items('Apply_to_each')['accountid']",
                                "item/address1_city": "@if(\r\n    or(\r\n        empty(items('Apply_to_each')?['address1_city']),\r\n        equals(items('Apply_to_each')?['address1_city'], null)\r\n    ),\r\n    if(\r\n        equals(\r\n            body('Parse_company')?['geo']?['city'],\r\n            null\r\n        ),\r\n        null,\r\n        body('Parse_company')?['geo']?['city']\r\n    ),\r\n    items('Apply_to_each')?['address1_city']\r\n)",
                                "item/address1_country": "@if(\r\n    or(\r\n        empty(items('Apply_to_each')?['address1_country']),\r\n        equals(items('Apply_to_each')?['address1_country'], null)\r\n    ),\r\n    if(\r\n        equals(\r\n            body('Parse_company')?['geo']?['country'],\r\n            null\r\n        ),\r\n        null,\r\n        body('Parse_company')?['geo']?['country']\r\n    ),\r\n    items('Apply_to_each')?['address1_country']\r\n)",
                                "item/address1_stateorprovince": "@if(\r\n    or(\r\n        empty(items('Apply_to_each')?['address1_stateorprovince']),\r\n        equals(items('Apply_to_each')?['address1_stateorprovince'], null)\r\n    ),\r\n    if(\r\n        equals(\r\n            body('Parse_company')?['geo']?['state'],\r\n            null\r\n        ),\r\n        null,\r\n        body('Parse_company')?['geo']?['state']\r\n    ),\r\n    items('Apply_to_each')?['address1_stateorprovince']\r\n)",
                                "item/address1_line1": "@if(\r\n    or(\r\n        empty(items('Apply_to_each')?['address1_line1']),\r\n        equals(items('Apply_to_each')?['address1_line1'], null)\r\n    ),        \r\n    if(\r\n        equals(\r\n            body('Parse_company')?['geo']?['streetAddress'],\r\n            null\r\n        ),\r\n        null,\r\n        body('Parse_company')?['geo']?['streetAddress']\r\n    ),\r\n    items('Apply_to_each')?['address1_line1']\r\n)",
                                "item/address1_postalcode": "@if(\r\n    or(\r\n        empty(items('Apply_to_each')?['address1_postalcode']),\r\n        equals(items('Apply_to_each')?['address1_postalcode'], null)\r\n    ),\r\n    if(\r\n        equals(\r\n            body('Parse_company')?['geo']?['postalCode'],\r\n            null\r\n        ),\r\n        null,\r\n        body('Parse_company')?['geo']?['postalCode']\r\n    ),\r\n    items('Apply_to_each')?['address1_postalcode']\r\n)",
                                "item/revenue": "@if(\r\n    or(\r\n        empty(variables('company')?['annualrevenue']),\r\n        equals(\r\n            variables('company')?['annualrevenue'],\r\n            null\r\n        )\r\n    ),\r\n    null,\r\n    variables('company')?['annualrevenue']\r\n)",
                                "item/revops_domain": "@variables('company')?['domain']",
                                "item/telephone1": "@if(\r\n    equals(\r\n        body('Parse_company')?['phone'],\r\n        null\r\n    ),\r\n    '',\r\n    replace(replace(replace(replace(body('Parse_company')?['phone'], '-', ''), '(', ''), ')', ''), '.', '')\r\n)",
                                "item/address1_latitude": "@if(\r\n    equals(\r\n        body('Parse_company')?['geo']?['lat'],\r\n        null\r\n    ),\r\n    null,\r\n    body('Parse_company')?['geo']?['lat']\r\n)",
                                "item/address1_longitude": "@if(\r\n    equals(\r\n        body('Parse_company')?['geo']?['lng'],\r\n        null\r\n    ),\r\n    null,\r\n    body('Parse_company')?['geo']?['lng']\r\n)",
                                "item/revops_enricheddescription": "@variables('company')?['description']",
                                "item/revops_clearbitenrichmentdetail": "@null",
                                "item/revops_clearbitindexedat": "@if(\r\n    equals(\r\n        body('Parse_company')?['indexedAt'],\r\n        null\r\n    ), \r\n    null, \r\n    body('Parse_company')?['indexedAt']\r\n)",
                                "item/revops_enrichedindustry": "@variables('company')?['industry']",
                                "item/revops_companylinkedinhandle": "@variables('company')?['companylinkedin']",
                                "item/revops_employeesrange": "@variables('company')?['employeesrange']",
                                "item/revops_estimatedannualrevenue": "@variables('company')?['estimatedannualrevenue']",
                                "item/revops_foundedyear": "@if(\r\n    or(\r\n        empty(variables('company')?['foundedYear']),\r\n        equals(\r\n            variables('company')?['foundedYear'],\r\n            null\r\n        )\r\n    ),\r\n    null,\r\n    variables('company')?['foundedYear']\r\n)",
                                "item/revops_gicscode": "@variables('company')?['gicscode']",
                                "item/revops_industrygroup": "@variables('company')?['industrygroup']",
                                "item/revops_logo": "@variables('company')?['logo']",
                                "item/revops_noemployees": "@if(\r\n    empty(\r\n        variables('company')?['employees']\r\n    ), \r\n    null,\r\n    variables('company')?['employees']\r\n)",
                                "item/revops_sector": "@variables('company')?['sector']",
                                "item/sic": "@variables('company')?['siccode']",
                                "item/revops_subindustry": "@variables('company')?['subindustry']"
                              },
                              "host": {
                                "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                                "operationId": "UpdateRecord",
                                "connectionName": "shared_commondataserviceforapps"
                              }
                            },
                            "runAfter": {
                              "Set_company": [
                                "Succeeded"
                              ]
                            },
                            "metadata": {
                              "operationMetadataId": "e4121582-7228-4a53-8707-b06d4a1f83c9"
                            }
                          },
                          "Parse_company": {
                            "type": "ParseJson",
                            "inputs": {
                              "content": "@body('HTTP')?['company']",
                              "schema": {
                                "company": {
                                  "type": "object",
                                  "properties": {
                                    "id": {
                                      "anyOf": [
                                        {
                                          "type": "string"
                                        },
                                        {
                                          "type": "null"
                                        }
                                      ]
                                    },
                                    "name": {
                                      "anyOf": [
                                        {
                                          "type": "string"
                                        },
                                        {
                                          "type": "null"
                                        }
                                      ]
                                    },
                                    "legalName": {
                                      "anyOf": [
                                        {
                                          "type": "string"
                                        },
                                        {
                                          "type": "null"
                                        }
                                      ]
                                    },
                                    "domain": {
                                      "anyOf": [
                                        {
                                          "type": "string"
                                        },
                                        {
                                          "type": "null"
                                        }
                                      ]
                                    },
                                    "domainAliases": {
                                      "type": "array",
                                      "items": {
                                        "anyOf": [
                                          {
                                            "type": "string"
                                          },
                                          {
                                            "type": "null"
                                          }
                                        ]
                                      }
                                    },
                                    "site": {
                                      "type": "object",
                                      "properties": {
                                        "phoneNumbers": {
                                          "type": "array"
                                        },
                                        "emailAddresses": {
                                          "type": "array"
                                        }
                                      }
                                    },
                                    "category": {
                                      "type": "object",
                                      "properties": {
                                        "sector": {
                                          "anyOf": [
                                            {
                                              "type": "string"
                                            },
                                            {
                                              "type": "null"
                                            }
                                          ]
                                        },
                                        "industryGroup": {
                                          "anyOf": [
                                            {
                                              "type": "string"
                                            },
                                            {
                                              "type": "null"
                                            }
                                          ]
                                        },
                                        "industry": {
                                          "anyOf": [
                                            {
                                              "type": "string"
                                            },
                                            {
                                              "type": "null"
                                            }
                                          ]
                                        },
                                        "subIndustry": {
                                          "anyOf": [
                                            {
                                              "type": "string"
                                            },
                                            {
                                              "type": "null"
                                            }
                                          ]
                                        },
                                        "gicsCode": {
                                          "anyOf": [
                                            {
                                              "type": "string"
                                            },
                                            {
                                              "type": "null"
                                            }
                                          ]
                                        },
                                        "sicCode": {
                                          "anyOf": [
                                            {
                                              "type": "string"
                                            },
                                            {
                                              "type": "null"
                                            }
                                          ]
                                        },
                                        "sic4Codes": {
                                          "type": "array",
                                          "items": {
                                            "anyOf": [
                                              {
                                                "type": "string"
                                              },
                                              {
                                                "type": "null"
                                              }
                                            ]
                                          }
                                        },
                                        "naicsCode": {
                                          "anyOf": [
                                            {
                                              "type": "string"
                                            },
                                            {
                                              "type": "null"
                                            }
                                          ]
                                        },
                                        "naics6Codes": {
                                          "type": "array",
                                          "items": {
                                            "anyOf": [
                                              {
                                                "type": "string"
                                              },
                                              {
                                                "type": "null"
                                              }
                                            ]
                                          }
                                        },
                                        "naics6Codes2022": {
                                          "type": "array",
                                          "items": {
                                            "anyOf": [
                                              {
                                                "type": "string"
                                              },
                                              {
                                                "type": "null"
                                              }
                                            ]
                                          }
                                        }
                                      }
                                    },
                                    "tags": {
                                      "type": "array",
                                      "items": {
                                        "anyOf": [
                                          {
                                            "type": "string"
                                          },
                                          {
                                            "type": "null"
                                          }
                                        ]
                                      }
                                    },
                                    "description": {
                                      "anyOf": [
                                        {
                                          "type": "string"
                                        },
                                        {
                                          "type": "null"
                                        }
                                      ]
                                    },
                                    "foundedYear": {
                                      "anyOf": [
                                        {
                                          "type": "integer"
                                        },
                                        {
                                          "type": "null"
                                        }
                                      ]
                                    },
                                    "location": {
                                      "anyOf": [
                                        {
                                          "type": "string"
                                        },
                                        {
                                          "type": "null"
                                        }
                                      ]
                                    },
                                    "timeZone": {
                                      "anyOf": [
                                        {
                                          "type": "string"
                                        },
                                        {
                                          "type": "null"
                                        }
                                      ]
                                    },
                                    "utcOffset": {
                                      "anyOf": [
                                        {
                                          "type": "integer"
                                        },
                                        {
                                          "type": "null"
                                        }
                                      ]
                                    },
                                    "geo": {
                                      "type": "object",
                                      "properties": {
                                        "streetNumber": {
                                          "anyOf": [
                                            {
                                              "type": "string"
                                            },
                                            {
                                              "type": "null"
                                            }
                                          ]
                                        },
                                        "streetName": {
                                          "anyOf": [
                                            {
                                              "type": "string"
                                            },
                                            {
                                              "type": "null"
                                            }
                                          ]
                                        },
                                        "subPremise": {
                                          "anyOf": [
                                            {
                                              "type": "string"
                                            },
                                            {
                                              "type": "null"
                                            }
                                          ]
                                        },
                                        "streetAddress": {
                                          "anyOf": [
                                            {
                                              "type": "string"
                                            },
                                            {
                                              "type": "null"
                                            }
                                          ]
                                        },
                                        "city": {
                                          "anyOf": [
                                            {
                                              "type": "string"
                                            },
                                            {
                                              "type": "null"
                                            }
                                          ]
                                        },
                                        "postalCode": {
                                          "anyOf": [
                                            {
                                              "type": "string"
                                            },
                                            {
                                              "type": "null"
                                            }
                                          ]
                                        },
                                        "state": {
                                          "anyOf": [
                                            {
                                              "type": "string"
                                            },
                                            {
                                              "type": "null"
                                            }
                                          ]
                                        },
                                        "stateCode": {
                                          "anyOf": [
                                            {
                                              "type": "string"
                                            },
                                            {
                                              "type": "null"
                                            }
                                          ]
                                        },
                                        "country": {
                                          "anyOf": [
                                            {
                                              "type": "string"
                                            },
                                            {
                                              "type": "null"
                                            }
                                          ]
                                        },
                                        "countryCode": {
                                          "anyOf": [
                                            {
                                              "type": "string"
                                            },
                                            {
                                              "type": "null"
                                            }
                                          ]
                                        },
                                        "lat": {
                                          "anyOf": [
                                            {
                                              "type": "number"
                                            },
                                            {
                                              "type": "null"
                                            }
                                          ]
                                        },
                                        "lng": {
                                          "anyOf": [
                                            {
                                              "type": "number"
                                            },
                                            {
                                              "type": "null"
                                            }
                                          ]
                                        }
                                      }
                                    },
                                    "logo": {
                                      "anyOf": [
                                        {
                                          "type": "string"
                                        },
                                        {
                                          "type": "null"
                                        }
                                      ]
                                    },
                                    "facebook": {
                                      "type": "object",
                                      "properties": {
                                        "handle": {
                                          "anyOf": [
                                            {
                                              "type": "string"
                                            },
                                            {
                                              "type": "null"
                                            }
                                          ]
                                        },
                                        "likes": {
                                          "anyOf": [
                                            {
                                              "type": "integer"
                                            },
                                            {
                                              "type": "null"
                                            }
                                          ]
                                        }
                                      }
                                    },
                                    "linkedin": {
                                      "type": "object",
                                      "properties": {
                                        "handle": {
                                          "anyOf": [
                                            {
                                              "type": "string"
                                            },
                                            {
                                              "type": "null"
                                            }
                                          ]
                                        }
                                      }
                                    },
                                    "twitter": {
                                      "type": "object",
                                      "properties": {
                                        "handle": {
                                          "anyOf": [
                                            {
                                              "type": "string"
                                            },
                                            {
                                              "type": "null"
                                            }
                                          ]
                                        },
                                        "id": {
                                          "anyOf": [
                                            {
                                              "type": "string"
                                            },
                                            {
                                              "type": "null"
                                            }
                                          ]
                                        },
                                        "bio": {
                                          "anyOf": [
                                            {
                                              "type": "string"
                                            },
                                            {
                                              "type": "null"
                                            }
                                          ]
                                        },
                                        "followers": {
                                          "anyOf": [
                                            {
                                              "type": "integer"
                                            },
                                            {
                                              "type": "null"
                                            }
                                          ]
                                        },
                                        "following": {
                                          "anyOf": [
                                            {
                                              "type": "integer"
                                            },
                                            {
                                              "type": "null"
                                            }
                                          ]
                                        },
                                        "location": {
                                          "anyOf": [
                                            {
                                              "type": "string"
                                            },
                                            {
                                              "type": "null"
                                            }
                                          ]
                                        },
                                        "site": {
                                          "anyOf": [
                                            {
                                              "type": "string"
                                            },
                                            {
                                              "type": "null"
                                            }
                                          ]
                                        },
                                        "avatar": {
                                          "anyOf": [
                                            {
                                              "type": "string"
                                            },
                                            {
                                              "type": "null"
                                            }
                                          ]
                                        }
                                      }
                                    },
                                    "crunchbase": {
                                      "type": "object",
                                      "properties": {
                                        "handle": {
                                          "anyOf": [
                                            {
                                              "type": "string"
                                            },
                                            {
                                              "type": "null"
                                            }
                                          ]
                                        }
                                      }
                                    },
                                    "emailProvider": {
                                      "anyOf": [
                                        {
                                          "type": "boolean"
                                        },
                                        {
                                          "type": "null"
                                        }
                                      ]
                                    },
                                    "type": {
                                      "anyOf": [
                                        {
                                          "type": "string"
                                        },
                                        {
                                          "type": "null"
                                        }
                                      ]
                                    },
                                    "ticker": {
                                      "anyOf": [
                                        {
                                          "type": "string"
                                        },
                                        {
                                          "type": "null"
                                        }
                                      ]
                                    },
                                    "identifiers": {
                                      "type": "object",
                                      "properties": {
                                        "usEIN": {
                                          "anyOf": [
                                            {
                                              "type": "string"
                                            },
                                            {
                                              "type": "null"
                                            }
                                          ]
                                        },
                                        "usCIK": {
                                          "anyOf": [
                                            {
                                              "type": "string"
                                            },
                                            {
                                              "type": "null"
                                            }
                                          ]
                                        }
                                      }
                                    },
                                    "phone": {
                                      "anyOf": [
                                        {
                                          "type": "string"
                                        },
                                        {
                                          "type": "null"
                                        }
                                      ]
                                    },
                                    "metrics": {
                                      "type": "object",
                                      "properties": {
                                        "alexaUsRank": {
                                          "anyOf": [
                                            {
                                              "type": "integer"
                                            },
                                            {
                                              "type": "null"
                                            }
                                          ]
                                        },
                                        "alexaGlobalRank": {
                                          "anyOf": [
                                            {
                                              "type": "integer"
                                            },
                                            {
                                              "type": "null"
                                            }
                                          ]
                                        },
                                        "trafficRank": {
                                          "anyOf": [
                                            {
                                              "type": "string"
                                            },
                                            {
                                              "type": "null"
                                            }
                                          ]
                                        },
                                        "employees": {
                                          "anyOf": [
                                            {
                                              "type": "integer"
                                            },
                                            {
                                              "type": "null"
                                            }
                                          ]
                                        },
                                        "employeesRange": {
                                          "anyOf": [
                                            {
                                              "type": "string"
                                            },
                                            {
                                              "type": "null"
                                            }
                                          ]
                                        },
                                        "marketCap": {
                                          "anyOf": [
                                            {
                                              "type": "integer"
                                            },
                                            {
                                              "type": "null"
                                            }
                                          ]
                                        },
                                        "raised": {
                                          "anyOf": [
                                            {
                                              "type": "integer"
                                            },
                                            {
                                              "type": "null"
                                            }
                                          ]
                                        },
                                        "annualRevenue": {
                                          "anyOf": [
                                            {
                                              "type": "integer"
                                            },
                                            {
                                              "type": "null"
                                            }
                                          ]
                                        },
                                        "estimatedAnnualRevenue": {
                                          "anyOf": [
                                            {
                                              "type": "string"
                                            },
                                            {
                                              "type": "null"
                                            }
                                          ]
                                        },
                                        "fiscalYearEnd": {
                                          "anyOf": [
                                            {
                                              "type": "integer"
                                            },
                                            {
                                              "type": "null"
                                            }
                                          ]
                                        }
                                      }
                                    },
                                    "indexedAt": {
                                      "anyOf": [
                                        {
                                          "type": "string"
                                        },
                                        {
                                          "type": "null"
                                        }
                                      ]
                                    },
                                    "tech": {
                                      "type": "array",
                                      "items": {
                                        "anyOf": [
                                          {
                                            "type": "string"
                                          },
                                          {
                                            "type": "null"
                                          }
                                        ]
                                      }
                                    },
                                    "techCategories": {
                                      "type": "array",
                                      "items": {
                                        "anyOf": [
                                          {
                                            "type": "string"
                                          },
                                          {
                                            "type": "null"
                                          }
                                        ]
                                      }
                                    },
                                    "parent": {
                                      "type": "object",
                                      "properties": {
                                        "domain": {
                                          "anyOf": [
                                            {
                                              "type": "string"
                                            },
                                            {
                                              "type": "null"
                                            }
                                          ]
                                        }
                                      }
                                    },
                                    "ultimateParent": {
                                      "type": "object",
                                      "properties": {
                                        "domain": {
                                          "anyOf": [
                                            {
                                              "type": "string"
                                            },
                                            {
                                              "type": "null"
                                            }
                                          ]
                                        }
                                      }
                                    }
                                  }
                                }
                              }
                            },
                            "metadata": {
                              "operationMetadataId": "5543c928-8886-498e-8673-40be604bb048"
                            }
                          },
                          "Enrich_failed_set_false": {
                            "type": "SetVariable",
                            "inputs": {
                              "name": "enrich_failed",
                              "value": false
                            },
                            "runAfter": {
                              "Enrich_Account": [
                                "Succeeded"
                              ]
                            },
                            "metadata": {
                              "operationMetadataId": "753bdfa2-1b5d-49ed-bfcf-443cdbd4c119"
                            }
                          },
                          "Enrich_failed_set_true": {
                            "type": "SetVariable",
                            "inputs": {
                              "name": "enrich_failed",
                              "value": true
                            },
                            "runAfter": {
                              "Enrich_Account": [
                                "TimedOut",
                                "Failed"
                              ]
                            },
                            "metadata": {
                              "operationMetadataId": "4751d2da-770d-443e-9d00-351076cd37a4"
                            }
                          },
                          "Condition": {
                            "type": "If",
                            "expression": {
                              "and": [
                                {
                                  "equals": [
                                    "",
                                    ""
                                  ]
                                }
                              ]
                            },
                            "actions": {
                              "Post_message_in_a_chat_or_channel": {
                                "type": "OpenApiConnection",
                                "inputs": {
                                  "parameters": {
                                    "poster": "Flow bot",
                                    "location": "Chat with Flow bot",
                                    "body/recipient": "wkwok@sherweb.com",
                                    "body/messageBody": "<p class=\"editor-paragraph\">Enrichment of Account @{body('Enrich_Account')?['name']} (ID: @{body('Enrich_Account')?['accountid']}) failed.</p><br>"
                                  },
                                  "host": {
                                    "apiId": "/providers/Microsoft.PowerApps/apis/shared_teams",
                                    "operationId": "PostMessageToConversation",
                                    "connectionName": "shared_teams"
                                  }
                                },
                                "metadata": {
                                  "operationMetadataId": "12d57725-5003-48d9-b8fa-29d7c64d9161"
                                }
                              }
                            },
                            "else": {
                              "actions": {}
                            },
                            "runAfter": {
                              "Enrich_failed_set_true": [
                                "Succeeded"
                              ]
                            },
                            "metadata": {
                              "operationMetadataId": "f3ce851f-3d34-46c6-b6d8-f3ce7b1eedb7"
                            }
                          }
                        },
                        "else": {
                          "actions": {
                            "Update_Clearbit_Enrichment_Detail_-_company_empty": {
                              "type": "OpenApiConnection",
                              "inputs": {
                                "parameters": {
                                  "entityName": "accounts",
                                  "recordId": "@items('Apply_to_each')['accountid']",
                                  "item/revops_clearbitenrichmentdetail": "Company data empty"
                                },
                                "host": {
                                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                                  "operationId": "UpdateRecord",
                                  "connectionName": "shared_commondataserviceforapps"
                                }
                              },
                              "metadata": {
                                "operationMetadataId": "e4121582-7228-4a53-8707-b06d4a1f83c9"
                              }
                            }
                          }
                        },
                        "metadata": {
                          "operationMetadataId": "710113fe-3552-4968-a17f-4f79a321b871"
                        }
                      }
                    }
                  },
                  "runAfter": {
                    "Update_Clearbit_fields_on_Account": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "a1419993-e17f-45ac-a7f8-6506df0eefc9"
                  }
                },
                "Update_Clearbit_fields_on_Account": {
                  "type": "OpenApiConnection",
                  "inputs": {
                    "parameters": {
                      "entityName": "accounts",
                      "recordId": "@items('Apply_to_each')['accountid']",
                      "item/revops_clearbitenrichedat": "@utcNow()",
                      "item/revops_clearbitstatus": "@outputs('HTTP')?['statusCode']"
                    },
                    "host": {
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                      "operationId": "UpdateRecord",
                      "connectionName": "shared_commondataserviceforapps"
                    }
                  },
                  "runAfter": {
                    "HTTP": [
                      "Succeeded",
                      "Failed"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "e4121582-7228-4a53-8707-b06d4a1f83c9"
                  }
                }
              },
              "runAfter": {
                "Update_Count_rows": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "a2f76e01-d02f-483e-af61-af4adf038b01"
              }
            },
            "List_Accounts": {
              "type": "OpenApiConnection",
              "inputs": {
                "parameters": {
                  "entityName": "accounts",
                  "$select": "emailaddress1",
                  "fetchXml": "<fetch version=\"1.0\" output-format=\"xml-platform\" mapping=\"logical\" distinct=\"true\" savedqueryid=\"65ffaf9a-e8c5-432d-860b-32f841b00d87\" no-lock=\"false\"><entity name=\"account\"><attribute name=\"entityimage_url\"/><attribute name=\"parentaccountid\"/><attribute name=\"name\"/><attribute name=\"telephone1\"/><attribute name=\"address1_city\"/><attribute name=\"primarycontactid\"/><filter type=\"and\"><condition attribute=\"revops_clearbitstatus\" operator=\"eq\" value=\"200\"/><condition attribute=\"revops_clearbitenrichedat\" operator=\"olderthan-x-days\" value=\"5\"/><condition attribute=\"revops_clearbitenrichmentdetail\" operator=\"not-like\" value=\"%Company data empty%\"/></filter><link-entity alias=\"accountprimarycontactidcontactcontactid\" name=\"contact\" from=\"contactid\" to=\"primarycontactid\" link-type=\"outer\" visible=\"false\"><attribute name=\"emailaddress1\"/></link-entity><attribute name=\"statecode\"/><attribute name=\"accountid\"/><attribute name=\"ownerid\"/><attribute name=\"revops_monthlyrecurringrevenue\"/><attribute name=\"territoryid\"/><attribute name=\"customertypecode\"/><attribute name=\"revops_channel\"/></entity></fetch>",
                  "$top": 10
                },
                "host": {
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                  "operationId": "ListRecords",
                  "connectionName": "shared_commondataserviceforapps"
                }
              },
              "metadata": {
                "operationMetadataId": "6462abb9-a850-411f-9296-98df9f17bd6a"
              }
            },
            "Update_Count_rows": {
              "type": "SetVariable",
              "inputs": {
                "name": "count_rows",
                "value": "@length(outputs('List_Accounts')?['body/value'])"
              },
              "runAfter": {
                "List_Accounts": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "1543d7a8-ac6a-439a-b181-77f1872b6233"
              }
            }
          },
          "runAfter": {
            "Enrich_failed": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "020a56cf-3c7a-407a-9f94-d1f1c6d88ef2"
          }
        },
        "Get_secret": {
          "type": "OpenApiConnection",
          "inputs": {
            "parameters": {
              "secretName": "ClearbitAPIKey"
            },
            "host": {
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_keyvault",
              "operationId": "GetSecret",
              "connectionName": "shared_keyvault"
            }
          },
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "75f961b1-85e3-4530-8bca-7231a0aabf85"
          }
        },
        "company": {
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "company",
                "type": "object"
              }
            ]
          },
          "runAfter": {
            "Get_secret": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "77816c92-56b3-49f6-9c21-abc8bbff342b"
          }
        },
        "Enrich_failed": {
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "enrich_failed",
                "type": "boolean"
              }
            ]
          },
          "runAfter": {
            "Count_rows": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "7b165dc0-8628-4c59-96ea-90ccfcbc4f25"
          }
        },
        "Count_rows": {
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "count_rows",
                "type": "integer"
              }
            ]
          },
          "runAfter": {
            "company": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "e4a6287f-bebf-4874-b7c0-d5ba5e59712f"
          }
        }
      },
      "outputs": {}
    },
    "templateName": null
  },
  "schemaVersion": "1.0.0.0"
}