RevOps-Analysts/Documentation/_Exports/revopsflows_1_28_0_1/Workflows/FillParentAccountofCumulusAccount-D50DE08E-0F88-F011-B4CC-7CED8D06221F.json
{
  "properties": {
    "connectionReferences": {
      "shared_commondataserviceforapps_1": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "revops_sharedcommondataserviceforapps_cf5b3"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      },
      "shared_commondataserviceforapps_2": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "revops_sharedcommondataserviceforapps_b64f8"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      },
      "shared_commondataserviceforapps": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "revops_sharedcommondataserviceforapps_61b07"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      },
      "shared_visualstudioteamservices-1": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "new_sharedvisualstudioteamservices_59040"
        },
        "api": {
          "name": "shared_visualstudioteamservices"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        }
      },
      "triggers": {
        "Recurrence": {
          "recurrence": {
            "frequency": "Day",
            "interval": 1,
            "timeZone": "Eastern Standard Time",
            "schedule": {
              "hours": [
                "0"
              ]
            }
          },
          "metadata": {
            "operationMetadataId": "d47e34d0-0012-4c45-9040-f1858c797613"
          },
          "type": "Recurrence"
        }
      },
      "actions": {
        "List_Cumulus_Accounts": {
          "runAfter": {
            "SkipCU": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "842b45f6-6db9-4ab0-b1e9-d1749d7ae8b6"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps_1",
              "operationId": "ListRecords",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "revops_cumulusaccounts",
              "$filter": "_revops_account_value eq null and revops_duplicatedomain ne true"
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Apply_to_each": {
          "foreach": "@outputs('List_Cumulus_Accounts')?['body/value']",
          "actions": {
            "List_Accounts": {
              "runAfter": {
                "Matching_Domain": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "d313adf1-7414-40ee-a464-a3bc7b3ba0c8"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps_1",
                  "operationId": "ListRecords",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "accounts",
                  "$filter": "statecode eq 0 and revops_domain eq '@{variables('DomainValue')}'"
                },
                "authentication": "@parameters('$authentication')"
              }
            },
            "Matching_Account": {
              "actions": {
                "Multiple_Matching_Accounts": {
                  "actions": {
                    "Update_Cumulus_Account_-_Duplicate_Domain": {
                      "runAfter": {},
                      "metadata": {
                        "operationMetadataId": "d71ee035-3d85-4166-a5a1-a0ac85ae06ba"
                      },
                      "type": "OpenApiConnection",
                      "inputs": {
                        "host": {
                          "connectionName": "shared_commondataserviceforapps_1",
                          "operationId": "UpdateOnlyRecord",
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                        },
                        "parameters": {
                          "entityName": "revops_cumulusaccounts",
                          "recordId": "@items('Apply_to_each')?['revops_cumulusaccountid']",
                          "item/revops_duplicatedomain": true
                        },
                        "authentication": "@parameters('$authentication')"
                      }
                    },
                    "Set_SkipCU_-_True": {
                      "runAfter": {
                        "Update_Cumulus_Account_-_Duplicate_Domain": [
                          "Succeeded"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "630a7e6f-2771-450b-a5e2-c42f1004dbff"
                      },
                      "type": "SetVariable",
                      "inputs": {
                        "name": "SkipCU",
                        "value": true
                      }
                    }
                  },
                  "runAfter": {},
                  "else": {
                    "actions": {
                      "Update_Cumulus_Account_-_Fill_Matching_Parent_Account": {
                        "runAfter": {},
                        "metadata": {
                          "operationMetadataId": "e6e382b3-9a87-49cb-961f-83906b6d66fb"
                        },
                        "type": "OpenApiConnection",
                        "inputs": {
                          "host": {
                            "connectionName": "shared_commondataserviceforapps_1",
                            "operationId": "UpdateOnlyRecord",
                            "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                          },
                          "parameters": {
                            "entityName": "revops_cumulusaccounts",
                            "recordId": "@items('Apply_to_each')?['revops_cumulusaccountid']",
                            "item/revops_account@odata.bind": "/accounts(@{outputs('List_Accounts')?['body/value'][0]?['accountid']})"
                          },
                          "authentication": "@parameters('$authentication')"
                        }
                      },
                      "Set_AccountID_-_Matching_Account": {
                        "runAfter": {
                          "Update_Cumulus_Account_-_Fill_Matching_Parent_Account": [
                            "Succeeded"
                          ]
                        },
                        "metadata": {
                          "operationMetadataId": "e5d94df7-01e6-447f-b79a-03eb8e71edd2"
                        },
                        "type": "SetVariable",
                        "inputs": {
                          "name": "AccountID",
                          "value": "@outputs('List_Accounts')?['body/value'][0]?['accountid']"
                        }
                      }
                    }
                  },
                  "expression": {
                    "greater": [
                      "@variables('Number of Accounts')",
                      1
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "61fdfd96-6c2d-4439-9e96-172d2aa7f25e"
                  },
                  "type": "If"
                }
              },
              "runAfter": {
                "Set_variable_-_Number_of_Accounts": [
                  "Succeeded"
                ]
              },
              "else": {
                "actions": {
                  "Create_Parent_Account": {
                    "runAfter": {},
                    "metadata": {
                      "operationMetadataId": "a215e653-1464-4808-9ce5-f700a631ad89"
                    },
                    "type": "OpenApiConnection",
                    "inputs": {
                      "host": {
                        "connectionName": "shared_commondataserviceforapps_2",
                        "operationId": "CreateRecord",
                        "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                      },
                      "parameters": {
                        "entityName": "accounts",
                        "item/name": "@items('Apply_to_each')?['revops_name']",
                        "item/revops_domain": "@variables('DomainValue')",
                        "item/ownerid@odata.bind": "/systemusers(c6fe1fdf-7423-ef11-840a-000d3af34dcf)"
                      },
                      "authentication": "@parameters('$authentication')"
                    }
                  },
                  "Set_AccountID_-_Created_Account": {
                    "runAfter": {
                      "Create_Parent_Account": [
                        "Succeeded"
                      ]
                    },
                    "metadata": {
                      "operationMetadataId": "95f56232-c889-48f8-b3dd-783b47c56791"
                    },
                    "type": "SetVariable",
                    "inputs": {
                      "name": "AccountID",
                      "value": "@outputs('Create_Parent_Account')?['body/accountid']"
                    }
                  },
                  "Update_Cumulus_Account_-_Fill_Created_Parent_Account": {
                    "runAfter": {
                      "Set_AccountID_-_Created_Account": [
                        "Succeeded"
                      ]
                    },
                    "metadata": {
                      "operationMetadataId": "f3a095f3-e5dc-4d05-9787-ab956feb9e26"
                    },
                    "type": "OpenApiConnection",
                    "inputs": {
                      "host": {
                        "connectionName": "shared_commondataserviceforapps_2",
                        "operationId": "UpdateOnlyRecord",
                        "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                      },
                      "parameters": {
                        "entityName": "revops_cumulusaccounts",
                        "recordId": "@items('Apply_to_each')?['revops_cumulusaccountid']",
                        "item/revops_account@odata.bind": "/accounts(@{outputs('Create_Parent_Account')?['body/accountid']})"
                      },
                      "authentication": "@parameters('$authentication')"
                    }
                  }
                }
              },
              "expression": {
                "and": [
                  {
                    "greater": [
                      "@variables('Number of Accounts')",
                      0
                    ]
                  }
                ]
              },
              "metadata": {
                "operationMetadataId": "2ab42a86-7e91-4a66-818c-2fc930596027"
              },
              "type": "If"
            },
            "Set_variable_-_Number_of_Accounts": {
              "runAfter": {
                "List_Accounts": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "76d401e9-6da5-4a92-a059-8a321f28c14b"
              },
              "type": "SetVariable",
              "inputs": {
                "name": "Number of Accounts",
                "value": "@length(outputs('List_Accounts')?['body/value'])"
              }
            },
            "SkipCU_Value": {
              "actions": {},
              "runAfter": {
                "Matching_Account": [
                  "Succeeded"
                ]
              },
              "else": {
                "actions": {
                  "List_Cumulus_Users": {
                    "runAfter": {},
                    "metadata": {
                      "operationMetadataId": "3bb7790c-67ea-49ee-ae2c-dae1cf33631e"
                    },
                    "type": "OpenApiConnection",
                    "inputs": {
                      "host": {
                        "connectionName": "shared_commondataserviceforapps",
                        "operationId": "ListRecords",
                        "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                      },
                      "parameters": {
                        "entityName": "revops_cumulususers",
                        "$filter": "_revops_cumulusaccount_value eq '@{items('Apply_to_each')?['revops_cumulusaccountid']}'"
                      },
                      "authentication": "@parameters('$authentication')"
                    }
                  },
                  "For_each": {
                    "foreach": "@outputs('List_Cumulus_Users')?['body/value']",
                    "actions": {
                      "Get_Contact_linked_to_Cumulus_User": {
                        "runAfter": {},
                        "metadata": {
                          "operationMetadataId": "88f88739-fb64-4cf6-8e67-c8bea6006463"
                        },
                        "type": "OpenApiConnection",
                        "inputs": {
                          "host": {
                            "connectionName": "shared_commondataserviceforapps",
                            "operationId": "GetItem",
                            "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                          },
                          "parameters": {
                            "entityName": "contacts",
                            "recordId": "@items('For_each')?['_revops_contact_value']"
                          },
                          "authentication": "@parameters('$authentication')"
                        }
                      },
                      "Update_Contact_-_Fill_Parent_Account": {
                        "runAfter": {
                          "Get_Contact_linked_to_Cumulus_User": [
                            "Succeeded"
                          ]
                        },
                        "metadata": {
                          "operationMetadataId": "a1424be3-baac-4ee1-a499-7dbfe5e7cfb2"
                        },
                        "type": "OpenApiConnection",
                        "inputs": {
                          "host": {
                            "connectionName": "shared_commondataserviceforapps_2",
                            "operationId": "UpdateOnlyRecord",
                            "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                          },
                          "parameters": {
                            "entityName": "contacts",
                            "recordId": "@outputs('Get_Contact_linked_to_Cumulus_User')?['body/contactid']",
                            "item/parentcustomerid_account@odata.bind": "/accounts(@{variables('AccountID')})"
                          },
                          "authentication": "@parameters('$authentication')"
                        }
                      }
                    },
                    "runAfter": {
                      "List_Cumulus_Users": [
                        "Succeeded"
                      ]
                    },
                    "metadata": {
                      "operationMetadataId": "047eb854-4d25-4c1e-a023-4f41e91372f1"
                    },
                    "type": "Foreach"
                  },
                  "List_Contacts": {
                    "runAfter": {
                      "For_each": [
                        "Succeeded"
                      ]
                    },
                    "metadata": {
                      "operationMetadataId": "ac2f6cfc-c5c7-472e-8e6c-82479aa7271d"
                    },
                    "type": "OpenApiConnection",
                    "inputs": {
                      "host": {
                        "connectionName": "shared_commondataserviceforapps",
                        "operationId": "ListRecords",
                        "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                      },
                      "parameters": {
                        "entityName": "contacts",
                        "$filter": "emailaddress1 eq '@{items('Apply_to_each')?['revops_email']}'"
                      },
                      "authentication": "@parameters('$authentication')"
                    }
                  },
                  "Update_Primary_Contact_on_Account": {
                    "runAfter": {
                      "List_Contacts": [
                        "Succeeded"
                      ]
                    },
                    "metadata": {
                      "operationMetadataId": "9dcb99bb-0cc3-42d7-8af6-68893a837118"
                    },
                    "type": "OpenApiConnection",
                    "inputs": {
                      "host": {
                        "connectionName": "shared_commondataserviceforapps",
                        "operationId": "UpdateOnlyRecord",
                        "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                      },
                      "parameters": {
                        "entityName": "accounts",
                        "recordId": "@variables('AccountID')",
                        "item/primarycontactid@odata.bind": "/contacts(@{outputs('List_Contacts')?['body/value'][0]?['contactid']})"
                      },
                      "authentication": "@parameters('$authentication')"
                    }
                  }
                }
              },
              "expression": {
                "and": [
                  {
                    "equals": [
                      "@variables('SkipCU')",
                      true
                    ]
                  }
                ]
              },
              "metadata": {
                "operationMetadataId": "55259b3b-7ee2-42fd-9b01-16b433c82ed0"
              },
              "type": "If"
            },
            "List_Domains": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "9660c3e0-7a06-4f45-88b0-ccfc00e51c7a"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps",
                  "operationId": "ListRecords",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "revops_domains",
                  "$filter": "revops_domain eq '@{items('Apply_to_each')?['revops_domain']}'"
                },
                "authentication": "@parameters('$authentication')"
              }
            },
            "Matching_Domain": {
              "actions": {
                "Multiple_Domain_Match": {
                  "actions": {
                    "Duplicate_detected_in_Domain_table": {
                      "runAfter": {},
                      "metadata": {
                        "operationMetadataId": "442b4ee1-ba9f-46d3-9130-3be7b60e621c"
                      },
                      "type": "OpenApiConnection",
                      "inputs": {
                        "host": {
                          "connectionName": "shared_visualstudioteamservices-1",
                          "operationId": "CreateWorkItem",
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_visualstudioteamservices"
                        },
                        "parameters": {
                          "account": "Revenue-Operations",
                          "project": "RevOps - Analysts",
                          "type": "User Story",
                          "workItem/title": "Cumulus Account creation - Duplicate in Domain table",
                          "workItem/description": "<p class=\"editor-paragraph\">The Cumulus Account creation flow has detected a duplicate domain in the Domains table.<br><br>Duplicate domain:<br>@{items('Apply_to_each')?['revops_domain']}<br><br>We need to verify if this is a potential Generic domain. If it is, modify the type in the Domains table and change all CRM accounts with this domain to the emailprefix.domain.com format.</p>"
                        },
                        "authentication": "@parameters('$authentication')"
                      }
                    }
                  },
                  "runAfter": {},
                  "else": {
                    "actions": {
                      "Generic_or_Franchise_Check": {
                        "actions": {
                          "Set_variable_-_DomainValue_-_GenericDomainFormat": {
                            "runAfter": {},
                            "metadata": {
                              "operationMetadataId": "4102bec7-9289-4479-8bca-3b824b05db2f"
                            },
                            "type": "SetVariable",
                            "inputs": {
                              "name": "DomainValue",
                              "value": "@{replace(items('Apply_to_each')?['revops_email'], '@', '.')}"
                            }
                          }
                        },
                        "runAfter": {},
                        "else": {
                          "actions": {
                            "Set_variable_-_DomainValue": {
                              "runAfter": {},
                              "metadata": {
                                "operationMetadataId": "f53c5e7c-a1c3-4caf-a60e-19637043c2e1"
                              },
                              "type": "SetVariable",
                              "inputs": {
                                "name": "DomainValue",
                                "value": "@items('Apply_to_each')?['revops_domain']"
                              }
                            }
                          }
                        },
                        "expression": {
                          "or": [
                            {
                              "equals": [
                                "@outputs('List_Domains')?['body/value'][0]?['revops_type']",
                                234570000
                              ]
                            },
                            {
                              "equals": [
                                "@outputs('List_Domains')?['body/value'][0]?['revops_type']",
                                234570001
                              ]
                            }
                          ]
                        },
                        "metadata": {
                          "operationMetadataId": "1001ced6-c7fd-479c-afc3-a8ae6b705cc5"
                        },
                        "type": "If"
                      }
                    }
                  },
                  "expression": {
                    "and": [
                      {
                        "greater": [
                          "@variables('Number of Domains')",
                          1
                        ]
                      }
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "6a44318d-30e3-498a-b0e0-57f31edb6e4a"
                  },
                  "type": "If"
                }
              },
              "runAfter": {
                "Set_variable_-_Number_of_Domains": [
                  "Succeeded"
                ]
              },
              "else": {
                "actions": {
                  "Add_Domain": {
                    "runAfter": {},
                    "metadata": {
                      "operationMetadataId": "9ab5732c-9159-42db-acb9-1dfa83525c92"
                    },
                    "type": "OpenApiConnection",
                    "inputs": {
                      "host": {
                        "connectionName": "shared_commondataserviceforapps_1",
                        "operationId": "CreateRecord",
                        "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                      },
                      "parameters": {
                        "entityName": "revops_domains",
                        "item/revops_domain": "@items('Apply_to_each')?['revops_domain']",
                        "item/revops_type": 234570002
                      },
                      "authentication": "@parameters('$authentication')"
                    }
                  },
                  "Set_variable_-_DomainValue_-_New_Domain": {
                    "runAfter": {
                      "Add_Domain": [
                        "Succeeded"
                      ]
                    },
                    "metadata": {
                      "operationMetadataId": "f53c5e7c-a1c3-4caf-a60e-19637043c2e1"
                    },
                    "type": "SetVariable",
                    "inputs": {
                      "name": "DomainValue",
                      "value": "@items('Apply_to_each')?['revops_domain']"
                    }
                  }
                }
              },
              "expression": {
                "and": [
                  {
                    "greater": [
                      "@variables('Number of Domains')",
                      0
                    ]
                  }
                ]
              },
              "metadata": {
                "operationMetadataId": "240aebe8-73d8-4590-b809-bea48f98c52a"
              },
              "type": "If"
            },
            "Set_variable_-_Number_of_Domains": {
              "runAfter": {
                "List_Domains": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "a8951690-8ec6-4621-b5c4-9082230aedcb"
              },
              "type": "SetVariable",
              "inputs": {
                "name": "Number of Domains",
                "value": "@length(outputs('List_Domains')?['body/value'])"
              }
            }
          },
          "runAfter": {
            "List_Cumulus_Accounts": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "5fbd1b2c-dece-44f8-a14b-c06200197879"
          },
          "type": "Foreach"
        },
        "Number_of_Accounts": {
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "e37b1782-2792-49ab-9cde-1b1cadf4dc2c"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "Number of Accounts",
                "type": "integer"
              }
            ]
          }
        },
        "AccountID": {
          "runAfter": {
            "DomainValue": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "68150b74-e151-4fc0-afed-556de74e742b"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "AccountID",
                "type": "string"
              }
            ]
          }
        },
        "SkipCU": {
          "runAfter": {
            "AccountID": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "ae56f119-6ac0-4bfa-a1a4-e10c399a68b9"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "SkipCU",
                "type": "boolean",
                "value": false
              }
            ]
          }
        },
        "Number_of_Domains": {
          "runAfter": {
            "Number_of_Accounts": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "b2479408-ee87-4a41-a217-ff4d1beb4459"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "Number of Domains",
                "type": "integer"
              }
            ]
          }
        },
        "GenericDomainFormat": {
          "runAfter": {
            "Number_of_Domains": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "1d26b98b-0900-49d5-9599-b2f0ebc3573f"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "Generic Domain Format",
                "type": "string"
              }
            ]
          }
        },
        "DomainValue": {
          "runAfter": {
            "GenericDomainFormat": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "fa14c10e-e3c6-46ea-9732-dbbae7837321"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "DomainValue",
                "type": "string"
              }
            ]
          }
        }
      },
      "outputs": {}
    },
    "templateName": ""
  },
  "schemaVersion": "1.0.0.0"
}