RevOps-Analysts/Documentation/_Exports/revopsflows_1_28_0_1/Workflows/FixPrimaryContactonAccount-CB799A23-777B-EF11-AC20-6045BDF9E493.json
{
  "properties": {
    "connectionReferences": {
      "shared_commondataserviceforapps": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "revops_sharedcommondataserviceforapps_61b07"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        }
      },
      "triggers": {
        "manual": {
          "metadata": {
            "operationMetadataId": "7ad6fc0a-c6bf-421d-b7b0-7eb57b8e2752"
          },
          "type": "Request",
          "kind": "Button",
          "inputs": {
            "schema": {
              "type": "object",
              "properties": {},
              "required": []
            }
          }
        }
      },
      "actions": {
        "List_Accounts": {
          "runAfter": {
            "Number_of_Cumulus_Accounts": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "6c95c7ed-b1bd-4f06-ae34-86d11c4ad0c0"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "ListRecords",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "accounts",
              "fetchXml": "<fetch version=\"1.0\" output-format=\"xml-platform\" mapping=\"logical\" distinct=\"true\" savedqueryid=\"65ffaf9a-e8c5-432d-860b-32f841b00d87\" no-lock=\"false\">\n<entity name=\"account\">\n<attribute name=\"entityimage_url\"/>\n<attribute name=\"parentaccountid\"/>\n<attribute name=\"name\"/>\n<attribute name=\"telephone1\"/>\n<attribute name=\"address1_city\"/>\n<attribute name=\"primarycontactid\"/>\n<filter type=\"and\">\n<condition attribute=\"customertypecode\" operator=\"ne\" value=\"11\"/>\n<condition attribute=\"primarycontactid\" operator=\"null\"/>\n</filter>\n<link-entity alias=\"accountprimarycontactidcontactcontactid\" name=\"contact\" from=\"contactid\" to=\"primarycontactid\" link-type=\"outer\" visible=\"false\">\n<attribute name=\"emailaddress1\"/>\n</link-entity>\n<attribute name=\"statecode\"/>\n<attribute name=\"accountid\"/>\n<attribute name=\"ownerid\"/>\n<attribute name=\"revops_monthlyrecurringrevenue\"/>\n<attribute name=\"territoryid\"/>\n<attribute name=\"customertypecode\"/>\n<attribute name=\"revops_channel\"/>\n<link-entity name=\"revops_cumulusaccount\" alias=\"aa\" link-type=\"inner\" from=\"revops_account\" to=\"accountid\"/>\n</entity>\n</fetch>"
            },
            "authentication": {
              "type": "Raw",
              "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"
            }
          }
        },
        "Apply_to_each": {
          "foreach": "@outputs('List_Accounts')?['body/value']",
          "actions": {
            "List_Cumulus_Accounts": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "9ca59aeb-e324-4df3-ad97-deeeac3a410e"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps",
                  "operationId": "ListRecords",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "revops_cumulusaccounts",
                  "$filter": "_revops_account_value eq '@{items('Apply_to_each')?['accountid']}'"
                },
                "authentication": {
                  "type": "Raw",
                  "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"
                }
              }
            },
            "Condition": {
              "actions": {},
              "runAfter": {
                "Set_Number_of_Cumulus_Accounts": [
                  "Succeeded"
                ]
              },
              "else": {
                "actions": {
                  "List_Cumulus_Users": {
                    "runAfter": {},
                    "metadata": {
                      "operationMetadataId": "0fc2073b-c888-4644-838e-bcce87094a23"
                    },
                    "type": "OpenApiConnection",
                    "inputs": {
                      "host": {
                        "connectionName": "shared_commondataserviceforapps",
                        "operationId": "ListRecords",
                        "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                      },
                      "parameters": {
                        "entityName": "revops_cumulususers",
                        "$filter": "revops_email eq '@{outputs('List_Cumulus_Accounts')?['body/value'][0]?['revops_email']}'"
                      },
                      "authentication": {
                        "type": "Raw",
                        "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"
                      }
                    }
                  },
                  "Set_Primary_Contact_on_Account": {
                    "runAfter": {
                      "List_Cumulus_Users": [
                        "Succeeded"
                      ]
                    },
                    "metadata": {
                      "operationMetadataId": "42303748-077d-4d64-920c-b999f58408e3"
                    },
                    "type": "OpenApiConnection",
                    "inputs": {
                      "host": {
                        "connectionName": "shared_commondataserviceforapps",
                        "operationId": "AssociateEntities",
                        "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                      },
                      "parameters": {
                        "entityName": "contacts",
                        "recordId": "@outputs('List_Cumulus_Users')?['body/value'][0]?['_revops_contact_value']",
                        "associationEntityRelationship": "account_primary_contact",
                        "item/@odata.id": "@items('Apply_to_each')?['@odata.id']"
                      },
                      "authentication": {
                        "type": "Raw",
                        "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"
                      }
                    }
                  }
                }
              },
              "expression": {
                "greater": [
                  "@variables('Number of Cumulus Accounts')",
                  1
                ]
              },
              "metadata": {
                "operationMetadataId": "922b2eb2-f99b-45c7-9d75-8da7dd7269dd"
              },
              "type": "If"
            },
            "Set_Number_of_Cumulus_Accounts": {
              "runAfter": {
                "List_Cumulus_Accounts": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "4323576f-beaf-43ea-a5fd-ea80260d23bd"
              },
              "type": "SetVariable",
              "inputs": {
                "name": "Number of Cumulus Accounts",
                "value": "@length(outputs('List_Cumulus_Accounts')?['body/value'])"
              }
            }
          },
          "runAfter": {
            "List_Accounts": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "82b21600-1e18-4e97-8e96-07a3987f6be1"
          },
          "type": "Foreach"
        },
        "Number_of_Cumulus_Accounts": {
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "2c1ba8c5-ef4c-44a0-9e0c-1d214fadee09"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "Number of Cumulus Accounts",
                "type": "integer"
              }
            ]
          }
        }
      }
    },
    "templateName": ""
  },
  "schemaVersion": "1.0.0.0"
}