RevOps-Analysts/Documentation/_Exports/revopsflows_1_28_0_1/Workflows/P2PTransferNotifications-DD389C85-6D9C-EF11-8A6A-000D3AF4DD88.json
{
  "properties": {
    "connectionReferences": {
      "shared_sharepointonline_1": {
        "api": {
          "name": "shared_sharepointonline"
        },
        "connection": {
          "connectionReferenceLogicalName": "revops_sharedsharepointonline_fbc7a"
        },
        "runtimeSource": "embedded"
      },
      "shared_commondataserviceforapps-1": {
        "api": {
          "name": "shared_commondataserviceforapps"
        },
        "connection": {
          "connectionReferenceLogicalName": "revops_sharedcommondataserviceforapps_88e45"
        },
        "runtimeSource": "embedded"
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        },
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        }
      },
      "triggers": {
        "manual": {
          "type": "Request",
          "kind": "Http",
          "inputs": {
            "triggerAuthenticationType": "All",
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string"
                },
                "status": {
                  "type": "string"
                },
                "transferType": {
                  "type": "integer"
                },
                "customerEmailId": {
                  "type": "string"
                },
                "createdTime": {
                  "type": "string"
                },
                "lastModifiedTime": {
                  "type": "string"
                },
                "completedTime": {
                  "type": "string"
                },
                "expirationTime": {
                  "type": "string"
                },
                "customerName": {
                  "type": "string"
                },
                "customerTenantId": {
                  "type": "string"
                },
                "partnertenantid": {
                  "type": "string"
                },
                "sourcePartnerName": {
                  "type": "string"
                },
                "sourcePartnerTenantId": {
                  "type": "string"
                },
                "targetPartnerName": {
                  "type": "string"
                },
                "targetPartnerTenantId": {
                  "type": "string"
                },
                "targetPartnerEmailId": {
                  "type": "string"
                },
                "transferDirection": {
                  "type": "integer"
                },
                "ignoreEligibilityCheck": {
                  "type": "boolean"
                },
                "lastModifiedUser": {
                  "type": "string"
                },
                "lineItems": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "integer"
                      },
                      "subscriptionId": {
                        "type": "string"
                      },
                      "billingCycle": {
                        "type": "string"
                      },
                      "friendlyName": {
                        "type": "string"
                      },
                      "quantity": {
                        "type": "integer"
                      },
                      "productType": {
                        "type": "integer"
                      },
                      "status": {
                        "type": "string"
                      }
                    },
                    "required": [
                      "id",
                      "subscriptionId",
                      "billingCycle",
                      "friendlyName",
                      "quantity",
                      "productType",
                      "status"
                    ]
                  }
                },
                "links": {
                  "type": "object",
                  "properties": {
                    "self": {
                      "type": "object",
                      "properties": {
                        "uri": {
                          "type": "string"
                        },
                        "method": {
                          "type": "string"
                        },
                        "headers": {
                          "type": "array"
                        }
                      }
                    }
                  }
                },
                "attributes": {
                  "type": "object",
                  "properties": {
                    "objectType": {
                      "type": "string"
                    }
                  }
                }
              }
            },
            "method": "POST"
          },
          "metadata": {
            "operationMetadataId": "29826c0d-9526-4b7e-bbd6-b0fc962149bb"
          }
        }
      },
      "actions": {
        "Response": {
          "type": "Response",
          "kind": "Http",
          "inputs": {
            "statusCode": 200
          },
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "f27dc64a-d0e7-4c29-bff5-72bf19da032f"
          }
        },
        "Get_items": {
          "type": "OpenApiConnection",
          "inputs": {
            "parameters": {
              "dataset": "https://sherwebcorp.sharepoint.com/sites/legacy/Midas",
              "table": "b9d593ac-3603-4523-bac4-6304ea94f3d0",
              "$filter": "field_2 eq '@{triggerBody()?['customerTenantId']}'"
            },
            "host": {
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline",
              "operationId": "GetItems",
              "connectionName": "shared_sharepointonline_1"
            }
          },
          "runAfter": {
            "Response": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "e93a28f6-9a57-46a3-aff3-09bd330f670d"
          }
        },
        "Get_transfer": {
          "type": "OpenApiConnection",
          "inputs": {
            "parameters": {
              "entityName": "revops_transfers",
              "$filter": "revops_microsoftid eq '@{triggerBody()?['customerTenantId']}'"
            },
            "host": {
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
              "operationId": "ListRecords",
              "connectionName": "shared_commondataserviceforapps-1"
            }
          },
          "runAfter": {
            "Get_items": [
              "Succeeded"
            ]
          }
        },
        "Has_Transfers": {
          "type": "If",
          "expression": {
            "and": [
              {
                "greaterOrEquals": [
                  "@length(outputs('Get_transfer')?['body/value'])",
                  1
                ]
              }
            ]
          },
          "actions": {
            "Update_Case_2": {
              "type": "OpenApiConnection",
              "inputs": {
                "parameters": {
                  "entityName": "incidents",
                  "recordId": "@outputs('Get_case_2')?['body/incidentid']",
                  "item/statuscode": 234570003
                },
                "host": {
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                  "operationId": "UpdateOnlyRecord",
                  "connectionName": "shared_commondataserviceforapps-1"
                }
              },
              "runAfter": {
                "Update_transfer": [
                  "Succeeded"
                ]
              }
            },
            "Update_transfer": {
              "type": "OpenApiConnection",
              "inputs": {
                "parameters": {
                  "entityName": "revops_transfers",
                  "recordId": "@outputs('Get_Transfer')?['body/value'][0]?['revops_transferid']",
                  "item/statuscode": 234570002
                },
                "host": {
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                  "operationId": "UpdateOnlyRecord",
                  "connectionName": "shared_commondataserviceforapps-1"
                }
              },
              "runAfter": {
                "Get_case_2": [
                  "Succeeded"
                ]
              }
            },
            "Get_case_2": {
              "type": "OpenApiConnection",
              "inputs": {
                "parameters": {
                  "entityName": "incidents",
                  "recordId": "@outputs('Get_Transfer')?['body/value'][0]?['_revops_case_value']"
                },
                "host": {
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                  "operationId": "GetItem",
                  "connectionName": "shared_commondataserviceforapps-1"
                }
              }
            }
          },
          "else": {
            "actions": {
              "Condition": {
                "type": "If",
                "expression": {
                  "and": [
                    {
                      "greaterOrEquals": [
                        "@length(outputs('Get_Items')?['body/value'])",
                        1
                      ]
                    }
                  ]
                },
                "actions": {
                  "Create_Note_in_Case": {
                    "type": "OpenApiConnection",
                    "inputs": {
                      "parameters": {
                        "entityName": "annotations",
                        "item/subject": "P2P Transfer Notification",
                        "item/notetext": "Status:\n@{triggerBody()?['status']}\nOrg name:\n@{triggerBody()?['customerName']}\nCustomer ID:\n@{triggerBody()?['customerTenantId']}",
                        "item/objectid_incident@odata.bind": "/incidents(@{outputs('Get_Case')?['body/value'][0]?['incidentid']})"
                      },
                      "host": {
                        "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                        "operationId": "CreateRecord",
                        "connectionName": "shared_commondataserviceforapps-1"
                      }
                    },
                    "runAfter": {
                      "Get_Case": [
                        "Succeeded"
                      ]
                    },
                    "metadata": {
                      "operationMetadataId": "3f11ddd1-9bc8-4019-af74-20c958e2eee3"
                    }
                  },
                  "Get_Case": {
                    "type": "OpenApiConnection",
                    "inputs": {
                      "parameters": {
                        "entityName": "incidents",
                        "$filter": "ticketnumber eq '@{outputs('Get_Items')?['body/value'][0]?['Title']}'"
                      },
                      "host": {
                        "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                        "operationId": "ListRecords",
                        "connectionName": "shared_commondataserviceforapps-1"
                      }
                    },
                    "metadata": {
                      "operationMetadataId": "dd3d105c-d872-419d-b4e6-7a30f6bbf652"
                    }
                  },
                  "Update_Case": {
                    "type": "OpenApiConnection",
                    "inputs": {
                      "parameters": {
                        "entityName": "incidents",
                        "recordId": "@outputs('Get_Case')?['body/value'][0]?['incidentid']",
                        "item/statuscode": 4
                      },
                      "host": {
                        "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                        "operationId": "UpdateOnlyRecord",
                        "connectionName": "shared_commondataserviceforapps-1"
                      }
                    },
                    "runAfter": {
                      "Create_Note_in_Case": [
                        "Succeeded"
                      ]
                    }
                  }
                },
                "else": {
                  "actions": {
                    "Create_Case": {
                      "type": "OpenApiConnection",
                      "inputs": {
                        "parameters": {
                          "entityName": "incidents",
                          "item/title": "P2P Transfer Status Update for @{triggerBody()?['customerName']}",
                          "item/casetypecode": 234570011,
                          "item/customerid_contact@odata.bind": "/contacts(d240c0f9-cc55-f011-bec2-002248b271a8)",
                          "item/description": "Organization Name:\n@{triggerBody()?['customerName']}\nCustomer ID:\n@{triggerBody()?['customerTenantId']}\nRequest ID:\n@{triggerBody()?['id']}\nRequest Status:\n@{triggerBody()?['status']}",
                          "item/statuscode": 1,
                          "item/primarycontactid@odata.bind": "/contacts(d240c0f9-cc55-f011-bec2-002248b271a8)",
                          "item/revops_queue@odata.bind": "/queues(57e90757-85d3-ef11-8ee9-002248b07f79)",
                          "item/revops_service@odata.bind": "/revops_services(46c46549-2bea-ef11-9342-6045bd5e31ff)"
                        },
                        "host": {
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                          "operationId": "CreateRecord",
                          "connectionName": "shared_commondataserviceforapps-1"
                        }
                      },
                      "metadata": {
                        "operationMetadataId": "a3128e31-4d1b-48b7-85dc-38c7d8978b48"
                      }
                    }
                  }
                },
                "metadata": {
                  "operationMetadataId": "b9adc2c5-c970-4f70-9be3-9d9de0fb4508"
                }
              }
            }
          },
          "runAfter": {
            "Get_transfer": [
              "Succeeded"
            ]
          }
        }
      },
      "outputs": {}
    },
    "templateName": null
  },
  "schemaVersion": "1.0.0.0"
}