RevOps-Analysts/Documentation/_Exports/revopsflows_1_28_0_1/Workflows/Queueitemownershipchangebasedoncaseownership-80E8DADA-3F3A-F011-B4CC-7C1E52409AFE.json
{
  "properties": {
    "connectionReferences": {
      "shared_commondataserviceforapps-1": {
        "api": {
          "name": "shared_commondataserviceforapps"
        },
        "connection": {
          "connectionReferenceLogicalName": "new_sharedcommondataserviceforapps_44694"
        },
        "runtimeSource": "embedded"
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        },
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        }
      },
      "triggers": {
        "When_a_row_is_added,_modified_or_deleted": {
          "type": "OpenApiConnectionWebhook",
          "inputs": {
            "parameters": {
              "subscriptionRequest/message": 3,
              "subscriptionRequest/entityname": "incident",
              "subscriptionRequest/scope": 4,
              "subscriptionRequest/filteringattributes": "ownerid",
              "subscriptionRequest/filterexpression": "statecode eq 0"
            },
            "host": {
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
              "operationId": "SubscribeWebhookTrigger",
              "connectionName": "shared_commondataserviceforapps-1"
            }
          },
          "metadata": {
            "operationMetadataId": "7dfe4ac2-e757-4042-a465-dd9b71ca412b"
          }
        }
      },
      "actions": {
        "Condition": {
          "type": "If",
          "expression": {
            "not": {
              "equals": [
                "@triggerOutputs()?['body/_ownerid_value']",
                "c6fe1fdf-7423-ef11-840a-000d3af34dcf"
              ]
            }
          },
          "actions": {
            "List_rows": {
              "type": "OpenApiConnection",
              "inputs": {
                "parameters": {
                  "entityName": "queueitems",
                  "$filter": "_objectid_value eq @{triggerOutputs()?['body/incidentid']} and statecode eq 0 and objecttypecode eq 112"
                },
                "host": {
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                  "operationId": "ListRecords",
                  "connectionName": "shared_commondataserviceforapps-1"
                }
              },
              "metadata": {
                "operationMetadataId": "6b178b74-68f4-41f6-abe3-99c948cf57da"
              }
            },
            "Apply_to_each": {
              "type": "Foreach",
              "foreach": "@outputs('List_rows')?['body/value']",
              "actions": {
                "Update_a_row": {
                  "type": "OpenApiConnection",
                  "inputs": {
                    "parameters": {
                      "entityName": "queueitems",
                      "recordId": "@items('Apply_to_each')?['queueitemid']",
                      "item/workerid_systemuser@odata.bind": "/systemusers(@{outputs('Get_a_row_by_ID')?['body/systemuserid']})"
                    },
                    "host": {
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                      "operationId": "UpdateOnlyRecord",
                      "connectionName": "shared_commondataserviceforapps-1"
                    }
                  },
                  "metadata": {
                    "operationMetadataId": "211f0469-d910-42f7-b313-4bdf03d70583"
                  }
                }
              },
              "runAfter": {
                "List_rows": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "001a36e4-5ea1-4f7b-b367-14c76d534df4"
              }
            }
          },
          "else": {
            "actions": {
              "List_rows_2": {
                "type": "OpenApiConnection",
                "inputs": {
                  "parameters": {
                    "entityName": "queueitems",
                    "$filter": "_objectid_value eq @{triggerOutputs()?['body/incidentid']} and statecode eq 0"
                  },
                  "host": {
                    "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                    "operationId": "ListRecords",
                    "connectionName": "shared_commondataserviceforapps-1"
                  }
                },
                "metadata": {
                  "operationMetadataId": "41712733-ae19-4765-8803-c05ae8755802"
                }
              },
              "Apply_to_each_2": {
                "type": "Foreach",
                "foreach": "@outputs('List_rows_2')?['body/value']",
                "actions": {
                  "Update_a_row_2": {
                    "type": "OpenApiConnection",
                    "inputs": {
                      "parameters": {
                        "entityName": "queueitems",
                        "recordId": "@items('Apply_to_each_2')?['queueitemid']",
                        "item/workerid_systemuser@odata.bind": "@null"
                      },
                      "host": {
                        "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                        "operationId": "UpdateOnlyRecord",
                        "connectionName": "shared_commondataserviceforapps-1"
                      }
                    },
                    "metadata": {
                      "operationMetadataId": "6ff448ff-fada-430b-81e3-421c75eaa955"
                    }
                  }
                },
                "runAfter": {
                  "List_rows_2": [
                    "Succeeded"
                  ]
                },
                "metadata": {
                  "operationMetadataId": "cb93d9fa-9f90-44f1-bfac-cab50944f991"
                }
              }
            }
          },
          "runAfter": {
            "Get_a_row_by_ID": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "a666b9c7-a638-40ee-963d-d0423c45bc41"
          }
        },
        "Get_a_row_by_ID": {
          "type": "OpenApiConnection",
          "inputs": {
            "parameters": {
              "entityName": "systemusers",
              "recordId": "@triggerOutputs()?['body/_ownerid_value']"
            },
            "host": {
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
              "operationId": "GetItem",
              "connectionName": "shared_commondataserviceforapps-1"
            }
          },
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "e6a77255-1bdc-442f-b8ff-833c4cd98512"
          }
        }
      }
    },
    "templateName": null
  },
  "schemaVersion": "1.0.0.0"
}