RevOps-Analysts/Documentation/_Exports/revopsflows_1_28_0_1/Workflows/SetCaselookupvalueonCustomerFeedbackSurveyResponse-2203AFA2-FECA-F011-8544-7CED8D061554.json
{
  "properties": {
    "connectionReferences": {
      "shared_commondataserviceforapps": {
        "impersonation": {},
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "revops_sharedcommondataserviceforapps_61b07"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        }
      },
      "triggers": {
        "When_a_row_is_added,_modified_or_deleted": {
          "metadata": {
            "operationMetadataId": "57e70c04-5413-4bef-8d13-3f06c37fadd1"
          },
          "type": "OpenApiConnectionWebhook",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "SubscribeWebhookTrigger",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "subscriptionRequest/message": 1,
              "subscriptionRequest/entityname": "msdyn_customerfeedbacksurveyresponse",
              "subscriptionRequest/scope": 4
            },
            "authentication": "@parameters('$authentication')"
          }
        }
      },
      "actions": {
        "Get_related_Conversation": {
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "afd8f7cb-443a-404a-bd11-4d1ec9e56e1a"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "GetItem",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "msdyn_ocliveworkitems",
              "recordId": "@triggerOutputs()?['body/msdyn_regardingobjectid']"
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Get_related_Case": {
          "runAfter": {
            "Get_related_Conversation": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "ca75c635-acac-4554-86fc-c3f783e721be"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "GetItem",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "incidents",
              "recordId": "@outputs('Get_related_Conversation')?['body/_regardingobjectid_value']"
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Set_Case_lookup_value": {
          "runAfter": {
            "Set_CSAT_Survey_Completed_to_Yes": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "0c0addcb-5599-4095-981b-a3ffe3504ce9"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "UpdateOnlyRecord",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "msdyn_customerfeedbacksurveyresponses",
              "recordId": "@triggerOutputs()?['body/msdyn_customerfeedbacksurveyresponseid']",
              "item/revops_case@odata.bind": "/incidents(@{outputs('Get_related_Case')?['body/incidentid']})"
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Set_CSAT_Survey_Completed_to_Yes": {
          "runAfter": {
            "Get_related_Case": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "aad5e8f6-eba6-4b6d-bfa4-128b5e912152"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "UpdateOnlyRecord",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "incidents",
              "recordId": "@outputs('Get_related_Case')?['body/incidentid']",
              "item/revops_csatsurveycompleted": true
            },
            "authentication": "@parameters('$authentication')"
          }
        }
      },
      "outputs": {}
    },
    "templateName": ""
  },
  "schemaVersion": "1.0.0.0"
}