RevOps-Analysts/Documentation/_Exports/revopsflows_1_28_0_1/Workflows/Veeam_ContractRequest-0AA72C99-F571-F011-BEC2-7CED8D063295.json
{
  "properties": {
    "connectionReferences": {
      "shared_microsoftforms": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "revops_sharedmicrosoftforms_d0aa6"
        },
        "api": {
          "name": "shared_microsoftforms"
        }
      },
      "shared_office365-1": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "revops_sharedoffice365_9cf0b"
        },
        "api": {
          "name": "shared_office365"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        },
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        }
      },
      "triggers": {
        "When_a_new_response_is_submitted": {
          "splitOn": "@triggerOutputs()?['body/value']",
          "type": "OpenApiConnectionWebhook",
          "inputs": {
            "parameters": {
              "form_id": "WbJEd__xJkS4aXpOcLKBBk7-QOIdvihLqn70LpgrzENUMlhVMVAyTDJKWVcxSE5CVkhDQ1k2VTRBRyQlQCN0PWcu"
            },
            "host": {
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_microsoftforms",
              "connectionName": "shared_microsoftforms",
              "operationId": "CreateFormWebhook"
            },
            "authentication": "@parameters('$authentication')"
          }
        }
      },
      "actions": {
        "Get_response_details": {
          "runAfter": {},
          "type": "OpenApiConnection",
          "inputs": {
            "parameters": {
              "form_id": "WbJEd__xJkS4aXpOcLKBBk7-QOIdvihLqn70LpgrzENUMlhVMVAyTDJKWVcxSE5CVkhDQ1k2VTRBRyQlQCN0PWcu",
              "response_id": "@triggerOutputs()?['body/resourceData/responseId']"
            },
            "host": {
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_microsoftforms",
              "connectionName": "shared_microsoftforms",
              "operationId": "GetFormResponseById"
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Initialize_ContractType": {
          "runAfter": {
            "Get_response_details": [
              "Succeeded"
            ]
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "ContractType",
                "type": "string",
                "value": "@outputs('Get_response_details')?['body/rbabd7810c739418f8ea598c5a4b9f97f']"
              }
            ]
          }
        },
        "Send_an_email_(V2)": {
          "runAfter": {
            "Initialize_ticket_recipient_email": [
              "Succeeded"
            ]
          },
          "type": "OpenApiConnection",
          "inputs": {
            "parameters": {
              "emailMessage/To": "@variables('RecipientEmail')",
              "emailMessage/Subject": "New Veeam Contract Request - @{variables('ContractType')}",
              "emailMessage/Body": "<p class=\"editor-paragraph\">New Veeam Contract Request</p><br><br><p class=\"editor-paragraph\"><b><strong class=\"editor-text-bold\">Ticket requestor:</strong></b> @{outputs('Get_response_details')?['body/responder']}</p><p class=\"editor-paragraph\"><br><u><b><strong class=\"editor-text-bold editor-text-underline\">Signatory Details</strong></b></u><br><b><strong class=\"editor-text-bold\">Language: </strong></b>@{outputs('Get_response_details')?['body/r039cdc9f53cc421382c38d5a08e82a08']}<br><b><strong class=\"editor-text-bold\">Full Name: </strong></b>@{outputs('Get_response_details')?['body/rb9a34eacfc4d46778380946e187acc08']}<br><b><strong class=\"editor-text-bold\">Email: </strong></b>@{outputs('Get_response_details')?['body/r7f546a5b56db452bafadff4b8049db5a']}<br><br><u><b><strong class=\"editor-text-bold editor-text-underline\">General Details</strong></b></u><br><b><strong class=\"editor-text-bold\">Contract Type: </strong></b>@{variables('ContractType')}<br><b><strong class=\"editor-text-bold\">Cumulus URL: </strong></b>@{outputs('Get_response_details')?['body/rdf0f3c44e3024362ba773af2302657d5']}<br><b><strong class=\"editor-text-bold\">Submitted By: </strong></b>@{outputs('Get_response_details')?['body/responder']}<br></p><br>"
            },
            "host": {
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_office365",
              "connectionName": "shared_office365-1",
              "operationId": "SendEmailV2"
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Initialize_ticket_recipient_email": {
          "runAfter": {
            "Initialize_ContractType": [
              "Succeeded"
            ]
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "RecipientEmail",
                "type": "string",
                "value": "salesopsrequest@sherweb.com"
              }
            ]
          }
        }
      },
      "outputs": {}
    },
    "templateName": null
  },
  "schemaVersion": "1.0.0.0"
}