AIDocumentation/_Exports/revopsflows_1_28_0_1/Workflows/Contact-ExtractDomainfromemailselectingrows-E67C203D-3B24-F011-8C4E-7C1E52409AFE.json
{
  "properties": {
    "connectionReferences": {
      "shared_commondataserviceforapps_1": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "revops_sharedcommondataserviceforapps_bccd6"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        }
      },
      "triggers": {
        "manual": {
          "splitOn": "@triggerBody()['rows']",
          "metadata": {
            "operationMetadataId": "d8738c37-10ce-4705-8a7b-40d4cb78a02d"
          },
          "type": "Request",
          "kind": "ApiConnection",
          "inputs": {
            "schema": {
              "type": "object",
              "properties": {
                "rows": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "entity": {
                        "type": "object",
                        "properties": {
                          "contactid": {
                            "title": "Contact",
                            "type": "string",
                            "format": "guid"
                          }
                        },
                        "required": [
                          "contactid"
                        ]
                      }
                    },
                    "required": [
                      "entity"
                    ]
                  }
                }
              },
              "required": [
                "rows"
              ]
            },
            "host": {
              "connection": {
                "name": "@parameters('$connections')['shared_commondataserviceforapps_1']['connectionId']"
              }
            },
            "operationId": "RecordSelected",
            "parameters": {
              "entityName": "contacts"
            }
          }
        }
      },
      "actions": {
        "Initialize_variable": {
          "runAfter": {
            "Get_contact_data": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "b94e8266-4dc9-47f2-bf01-12dd434d0b3f"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "email",
                "type": "array"
              }
            ]
          }
        },
        "Get_Domain": {
          "runAfter": {
            "Split_Email": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "472e896c-a3cd-45ff-a7ac-b269031adc56"
          },
          "type": "Compose",
          "inputs": "@last(variables('email'))"
        },
        "Update_a_row": {
          "runAfter": {
            "Get_Domain": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "aaf9c71f-b6d9-4b5d-be6e-09d2bb51da4d"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps_1",
              "operationId": "UpdateRecord",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "contacts",
              "recordId": "@triggerBody()?['entity']?['contactid']",
              "item/revops_domain": "@outputs('Get_Domain')"
            },
            "authentication": {
              "type": "Raw",
              "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"
            }
          }
        },
        "Split_Email": {
          "runAfter": {
            "Initialize_variable": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "d169257e-0aea-4488-af70-0557d3544e97"
          },
          "type": "SetVariable",
          "inputs": {
            "name": "email",
            "value": "@split(outputs('Get_contact_data')?['body/emailaddress1'], '@')"
          }
        },
        "Get_contact_data": {
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "fe5e14e3-afe9-4a65-ad62-1993497fdc8a"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps_1",
              "operationId": "GetItem",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "contacts",
              "recordId": "@triggerBody()?['entity']?['contactid']",
              "$select": "emailaddress1"
            },
            "authentication": {
              "type": "Raw",
              "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"
            }
          }
        }
      }
    },
    "templateName": ""
  },
  "schemaVersion": "1.0.0.0"
}