AIDocumentation/_Exports/revopsflows_1_28_0_1/Workflows/DailyTierUpdateperMRR-ABCF0F94-F9B1-EF11-A72D-7C1E52063863.json
{
  "properties": {
    "connectionReferences": {
      "shared_commondataserviceforapps": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "revops_sharedcommondataserviceforapps_c9518"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        }
      },
      "triggers": {
        "Recurrence": {
          "recurrence": {
            "frequency": "Day",
            "interval": 1,
            "timeZone": "Eastern Standard Time",
            "schedule": {
              "hours": [
                "8",
                "6"
              ]
            }
          },
          "metadata": {
            "operationMetadataId": "0b8685a9-3cd1-49e7-a15f-66e92bb32067"
          },
          "type": "Recurrence"
        }
      },
      "actions": {
        "Compose": {
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "1359f0e6-5f6e-4feb-967c-961849a29725"
          },
          "type": "Compose",
          "inputs": "@utcNow()"
        },
        "FetchModifiedRows": {
          "runAfter": {
            "Compose": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "06c13cb7-c4d9-41ed-bfdd-12d3a6182189"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "ListRecords",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "accounts",
              "$select": "revops_monthlyrecurringrevenue, revops_idealcustomerprofile, modifiedon",
              "$filter": "modifiedon gt '@{outputs('Compose')}'\n\n"
            },
            "authentication": "@parameters('$authentication')"
          },
          "runtimeConfiguration": {
            "paginationPolicy": {
              "minimumItemCount": 30000
            }
          }
        },
        "Update_Tiers": {
          "foreach": "@outputs('FetchModifiedRows')?['body/value']",
          "actions": {
            "Tier_1": {
              "actions": {
                "Update_a_row": {
                  "runAfter": {},
                  "metadata": {
                    "operationMetadataId": "cef505f4-772b-4e7d-8435-a8199d5adeed"
                  },
                  "type": "OpenApiConnection",
                  "inputs": {
                    "host": {
                      "connectionName": "shared_commondataserviceforapps",
                      "operationId": "UpdateOnlyRecord",
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                    },
                    "parameters": {
                      "entityName": "accounts",
                      "recordId": "@items('Update_Tiers')?['accountid']",
                      "item/revops_idealcustomerprofile": 234570000,
                      "item/revops_lastruntime": "@outputs('Compose')"
                    },
                    "authentication": "@parameters('$authentication')"
                  }
                }
              },
              "runAfter": {},
              "expression": {
                "and": [
                  {
                    "greater": [
                      "",
                      75000
                    ]
                  }
                ]
              },
              "metadata": {
                "operationMetadataId": "18649c81-4cce-49b0-b7d0-aac76d9c9042"
              },
              "type": "If"
            },
            "Tier_2": {
              "actions": {
                "Update_a_row_1": {
                  "runAfter": {},
                  "metadata": {
                    "operationMetadataId": "c36e3251-690c-4420-b929-921bdceff0af"
                  },
                  "type": "OpenApiConnection",
                  "inputs": {
                    "host": {
                      "connectionName": "shared_commondataserviceforapps",
                      "operationId": "UpdateOnlyRecord",
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                    },
                    "parameters": {
                      "entityName": "accounts",
                      "recordId": "@items('Update_Tiers')?['accountid']",
                      "item/revops_idealcustomerprofile": 234570001,
                      "item/revops_lastruntime": "@outputs('Compose')"
                    },
                    "authentication": "@parameters('$authentication')"
                  }
                }
              },
              "runAfter": {},
              "expression": {
                "and": [
                  {
                    "lessOrEquals": [
                      "",
                      75000
                    ]
                  },
                  {
                    "greater": [
                      "",
                      25000
                    ]
                  }
                ]
              },
              "metadata": {
                "operationMetadataId": "0b190587-1d1a-41b7-9d78-ea7a4ba65304"
              },
              "type": "If"
            },
            "Tier_3": {
              "actions": {
                "Update_a_row_2": {
                  "runAfter": {},
                  "metadata": {
                    "operationMetadataId": "b4bf1b12-82a9-457b-ae0d-0972322a8509"
                  },
                  "type": "OpenApiConnection",
                  "inputs": {
                    "host": {
                      "connectionName": "shared_commondataserviceforapps",
                      "operationId": "UpdateOnlyRecord",
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                    },
                    "parameters": {
                      "entityName": "accounts",
                      "recordId": "@items('Update_Tiers')?['accountid']",
                      "item/revops_idealcustomerprofile": 234570002,
                      "item/revops_lastruntime": "@outputs('Compose')"
                    },
                    "authentication": "@parameters('$authentication')"
                  }
                }
              },
              "runAfter": {},
              "expression": {
                "and": [
                  {
                    "greater": [
                      "",
                      5000
                    ]
                  },
                  {
                    "lessOrEquals": [
                      "",
                      25000
                    ]
                  }
                ]
              },
              "metadata": {
                "operationMetadataId": "72aa7aa6-aab7-4393-9f9d-c8ba1ae8f9cf"
              },
              "type": "If"
            },
            "Tier_4": {
              "actions": {
                "Update_a_row_3": {
                  "runAfter": {},
                  "metadata": {
                    "operationMetadataId": "60ff8458-8e8a-444b-8583-1c85a687ccbc"
                  },
                  "type": "OpenApiConnection",
                  "inputs": {
                    "host": {
                      "connectionName": "shared_commondataserviceforapps",
                      "operationId": "UpdateOnlyRecord",
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                    },
                    "parameters": {
                      "entityName": "accounts",
                      "recordId": "@items('Update_Tiers')?['accountid']",
                      "item/revops_idealcustomerprofile": 234570003,
                      "item/revops_lastruntime": "@outputs('Compose')"
                    },
                    "authentication": "@parameters('$authentication')"
                  }
                }
              },
              "runAfter": {},
              "expression": {
                "or": [
                  {
                    "equals": [
                      "",
                      0
                    ]
                  },
                  {
                    "less": [
                      "",
                      5000
                    ]
                  }
                ]
              },
              "metadata": {
                "operationMetadataId": "e1ad82ff-692d-4640-9d21-a6bed370c130"
              },
              "type": "If"
            }
          },
          "runAfter": {
            "FetchModifiedRows": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "b4bf75f7-7c96-4f05-a19b-e10d0fa5baca"
          },
          "type": "Foreach"
        }
      },
      "outputs": {}
    },
    "templateName": ""
  },
  "schemaVersion": "1.0.0.0"
}