AIDocumentation/_Exports/revopsflows_1_28_0_1/Workflows/EnrichContact-OnCreate-885FA9A4-521F-EF11-840A-6045BDCD283E.json
{
  "properties": {
    "connectionReferences": {
      "shared_commondataserviceforapps": {
        "api": {
          "name": "shared_commondataserviceforapps"
        },
        "connection": {
          "connectionReferenceLogicalName": "revops_sharedcommondataserviceforapps_0a1fe"
        },
        "runtimeSource": "embedded"
      },
      "shared_keyvault": {
        "api": {
          "name": "shared_keyvault"
        },
        "connection": {
          "connectionReferenceLogicalName": "revops_sharedkeyvault_a81e3"
        },
        "runtimeSource": "embedded"
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        },
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        }
      },
      "triggers": {
        "Contact_created": {
          "type": "OpenApiConnectionWebhook",
          "inputs": {
            "parameters": {
              "subscriptionRequest/message": 1,
              "subscriptionRequest/entityname": "contact",
              "subscriptionRequest/scope": 4,
              "subscriptionRequest/name": "885fa9a4-521f-ef11-840a-6045bdcd283e"
            },
            "host": {
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
              "operationId": "SubscribeWebhookTrigger",
              "connectionName": "shared_commondataserviceforapps"
            }
          },
          "metadata": {
            "operationMetadataId": "294cc900-6bd2-4d00-89bc-2f71215cb142"
          }
        }
      },
      "actions": {
        "Get_secret": {
          "type": "OpenApiConnection",
          "inputs": {
            "parameters": {
              "secretName": "ClearbitAPIKey"
            },
            "host": {
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_keyvault",
              "operationId": "GetSecret",
              "connectionName": "shared_keyvault"
            }
          },
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "75f961b1-85e3-4530-8bca-7231a0aabf85"
          }
        },
        "HTTP": {
          "type": "Http",
          "inputs": {
            "uri": "https://person-stream.clearbit.com/v2/combined/find?email=@{triggerBody()?['emailaddress1']}",
            "method": "GET",
            "headers": {
              "Accept": "*/*",
              "Accept-Encoding": "gzip, deflate, br",
              "Authorization": "Bearer @{outputs('Get_secret')?['body/value']}"
            }
          },
          "runAfter": {
            "Get_secret": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "44822037-4d0c-4256-bbb6-0848e7ba138c"
          }
        },
        "Lookup_Contact_created": {
          "type": "OpenApiConnection",
          "description": "",
          "inputs": {
            "parameters": {
              "entityName": "contacts",
              "recordId": "@triggerBody()?['contactid']"
            },
            "host": {
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
              "operationId": "GetItem",
              "connectionName": "shared_commondataserviceforapps"
            }
          },
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "783c675c-23e2-4ea6-b351-4589b346ee5e"
          }
        },
        "person": {
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "person",
                "type": "object"
              }
            ]
          },
          "runAfter": {
            "HTTP": [
              "Succeeded",
              "Failed"
            ],
            "Lookup_Contact_created": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "77816c92-56b3-49f6-9c21-abc8bbff342b"
          }
        },
        "company": {
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "company",
                "type": "object"
              }
            ]
          },
          "runAfter": {
            "Lookup_Contact_created": [
              "Succeeded"
            ],
            "HTTP": [
              "Succeeded",
              "Failed"
            ]
          },
          "metadata": {
            "operationMetadataId": "77816c92-56b3-49f6-9c21-abc8bbff342b"
          }
        },
        "Error_404_or_422": {
          "type": "If",
          "expression": {
            "or": [
              {
                "equals": [
                  "@outputs('HTTP')?['statusCode']",
                  404
                ]
              },
              {
                "equals": [
                  "@outputs('HTTP')?['statusCode']",
                  422
                ]
              }
            ]
          },
          "actions": {
            "Clearbit_data_not_found_or_invalid_domain": {
              "type": "Terminate",
              "inputs": {
                "runStatus": "Succeeded"
              },
              "runAfter": {
                "Update_Clearbit_fields_on_Contact": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "cb7a30d5-9fae-4fc7-aa62-1e44211f9293"
              }
            },
            "Update_Clearbit_fields_on_Contact": {
              "type": "OpenApiConnection",
              "inputs": {
                "parameters": {
                  "entityName": "contacts",
                  "recordId": "@triggerBody()?['contactid']",
                  "item/revops_clearbitenrichedat": "@{utcNow()}",
                  "item/revops_clearbitstatus": "@outputs('HTTP')?['statusCode']"
                },
                "host": {
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                  "operationId": "UpdateRecord",
                  "connectionName": "shared_commondataserviceforapps"
                }
              },
              "metadata": {
                "operationMetadataId": "e4121582-7228-4a53-8707-b06d4a1f83c9"
              }
            }
          },
          "else": {
            "actions": {
              "Parse_person": {
                "type": "ParseJson",
                "inputs": {
                  "content": "@body('HTTP')?['person']",
                  "schema": {
                    "person": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string"
                        },
                        "name": {
                          "type": "object",
                          "properties": {
                            "fullName": {
                              "anyOf": [
                                {
                                  "type": "string"
                                },
                                {
                                  "type": "null"
                                }
                              ]
                            },
                            "givenName": {
                              "anyOf": [
                                {
                                  "type": "string"
                                },
                                {
                                  "type": "null"
                                }
                              ]
                            },
                            "familyName": {
                              "anyOf": [
                                {
                                  "type": "string"
                                },
                                {
                                  "type": "null"
                                }
                              ]
                            }
                          }
                        },
                        "email": {
                          "type": "string"
                        },
                        "location": {
                          "anyOf": [
                            {
                              "type": "string"
                            },
                            {
                              "type": "null"
                            }
                          ]
                        },
                        "timeZone": {
                          "anyOf": [
                            {
                              "type": "string"
                            },
                            {
                              "type": "null"
                            }
                          ]
                        },
                        "utcOffset": {
                          "anyOf": [
                            {
                              "type": "integer"
                            },
                            {
                              "type": "null"
                            }
                          ]
                        },
                        "geo": {
                          "type": "object",
                          "properties": {
                            "city": {
                              "anyOf": [
                                {
                                  "type": "string"
                                },
                                {
                                  "type": "null"
                                }
                              ]
                            },
                            "state": {
                              "anyOf": [
                                {
                                  "type": "string"
                                },
                                {
                                  "type": "null"
                                }
                              ]
                            },
                            "stateCode": {
                              "anyOf": [
                                {
                                  "type": "string"
                                },
                                {
                                  "type": "null"
                                }
                              ]
                            },
                            "country": {
                              "anyOf": [
                                {
                                  "type": "string"
                                },
                                {
                                  "type": "null"
                                }
                              ]
                            },
                            "countryCode": {
                              "anyOf": [
                                {
                                  "type": "string"
                                },
                                {
                                  "type": "null"
                                }
                              ]
                            },
                            "lat": {
                              "anyOf": [
                                {
                                  "type": "number"
                                },
                                {
                                  "type": "null"
                                }
                              ]
                            },
                            "lng": {
                              "anyOf": [
                                {
                                  "type": "number"
                                },
                                {
                                  "type": "null"
                                }
                              ]
                            }
                          }
                        },
                        "bio": {
                          "anyOf": [
                            {
                              "type": "string"
                            },
                            {
                              "type": "null"
                            }
                          ]
                        },
                        "site": {
                          "anyOf": [
                            {
                              "type": "string"
                            },
                            {
                              "type": "null"
                            }
                          ]
                        },
                        "avatar": {
                          "anyOf": [
                            {
                              "type": "string"
                            },
                            {
                              "type": "null"
                            }
                          ]
                        },
                        "employment": {
                          "type": "object",
                          "properties": {
                            "domain": {
                              "anyOf": [
                                {
                                  "type": "string"
                                },
                                {
                                  "type": "null"
                                }
                              ]
                            },
                            "name": {
                              "anyOf": [
                                {
                                  "type": "string"
                                },
                                {
                                  "type": "null"
                                }
                              ]
                            },
                            "title": {
                              "anyOf": [
                                {
                                  "type": "string"
                                },
                                {
                                  "type": "null"
                                }
                              ]
                            },
                            "role": {
                              "anyOf": [
                                {
                                  "type": "string"
                                },
                                {
                                  "type": "null"
                                }
                              ]
                            },
                            "subRole": {
                              "anyOf": [
                                {
                                  "type": "string"
                                },
                                {
                                  "type": "null"
                                }
                              ]
                            },
                            "seniority": {
                              "anyOf": [
                                {
                                  "type": "string"
                                },
                                {
                                  "type": "null"
                                }
                              ]
                            }
                          }
                        },
                        "facebook": {
                          "type": "object",
                          "properties": {
                            "handle": {
                              "anyOf": [
                                {
                                  "type": "string"
                                },
                                {
                                  "type": "null"
                                }
                              ]
                            }
                          }
                        },
                        "github": {
                          "type": "object",
                          "properties": {
                            "handle": {
                              "anyOf": [
                                {
                                  "type": "string"
                                },
                                {
                                  "type": "null"
                                }
                              ]
                            },
                            "id": {
                              "anyOf": [
                                {
                                  "type": "integer"
                                },
                                {
                                  "type": "null"
                                }
                              ]
                            },
                            "avatar": {
                              "anyOf": [
                                {
                                  "type": "string"
                                },
                                {
                                  "type": "null"
                                }
                              ]
                            },
                            "company": {
                              "anyOf": [
                                {
                                  "type": "string"
                                },
                                {
                                  "type": "null"
                                }
                              ]
                            },
                            "blog": {
                              "anyOf": [
                                {
                                  "type": "string"
                                },
                                {
                                  "type": "null"
                                }
                              ]
                            },
                            "followers": {
                              "anyOf": [
                                {
                                  "type": "string"
                                },
                                {
                                  "type": "null"
                                }
                              ]
                            },
                            "following": {
                              "anyOf": [
                                {
                                  "type": "string"
                                },
                                {
                                  "type": "null"
                                }
                              ]
                            }
                          }
                        },
                        "twitter": {
                          "type": "object",
                          "properties": {
                            "handle": {
                              "anyOf": [
                                {
                                  "type": "string"
                                },
                                {
                                  "type": "null"
                                }
                              ]
                            },
                            "id": {
                              "anyOf": [
                                {
                                  "type": "integer"
                                },
                                {
                                  "type": "null"
                                }
                              ]
                            },
                            "bio": {
                              "anyOf": [
                                {
                                  "type": "string"
                                },
                                {
                                  "type": "null"
                                }
                              ]
                            },
                            "followers": {
                              "anyOf": [
                                {
                                  "type": "integer"
                                },
                                {
                                  "type": "null"
                                }
                              ]
                            },
                            "following": {
                              "anyOf": [
                                {
                                  "type": "integer"
                                },
                                {
                                  "type": "null"
                                }
                              ]
                            },
                            "statuses": {
                              "anyOf": [
                                {
                                  "type": "integer"
                                },
                                {
                                  "type": "null"
                                }
                              ]
                            },
                            "favorites": {
                              "anyOf": [
                                {
                                  "type": "integer"
                                },
                                {
                                  "type": "null"
                                }
                              ]
                            },
                            "location": {
                              "anyOf": [
                                {
                                  "type": "string"
                                },
                                {
                                  "type": "null"
                                }
                              ]
                            },
                            "site": {
                              "anyOf": [
                                {
                                  "type": "string"
                                },
                                {
                                  "type": "null"
                                }
                              ]
                            },
                            "avatar": {
                              "anyOf": [
                                {
                                  "type": "string"
                                },
                                {
                                  "type": "null"
                                }
                              ]
                            }
                          }
                        },
                        "linkedin": {
                          "type": "object",
                          "properties": {
                            "handle": {
                              "anyOf": [
                                {
                                  "type": "string"
                                },
                                {
                                  "type": "null"
                                }
                              ]
                            }
                          }
                        },
                        "googleplus": {
                          "type": "object",
                          "properties": {
                            "handle": {
                              "anyOf": [
                                {
                                  "type": "string"
                                },
                                {
                                  "type": "null"
                                }
                              ]
                            }
                          }
                        },
                        "gravatar": {
                          "type": "object",
                          "properties": {
                            "handle": {
                              "anyOf": [
                                {
                                  "type": "string"
                                },
                                {
                                  "type": "null"
                                }
                              ]
                            },
                            "urls": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "title": {
                                    "anyOf": [
                                      {
                                        "type": "string"
                                      },
                                      {
                                        "type": "null"
                                      }
                                    ]
                                  },
                                  "value": {
                                    "anyOf": [
                                      {
                                        "type": "string"
                                      },
                                      {
                                        "type": "null"
                                      }
                                    ]
                                  }
                                },
                                "required": [
                                  "title",
                                  "value"
                                ]
                              }
                            },
                            "avatar": {
                              "anyOf": [
                                {
                                  "type": "string"
                                },
                                {
                                  "type": "null"
                                }
                              ]
                            },
                            "avatars": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "url": {
                                    "anyOf": [
                                      {
                                        "type": "string"
                                      },
                                      {
                                        "type": "null"
                                      }
                                    ]
                                  },
                                  "type": {
                                    "anyOf": [
                                      {
                                        "type": "string"
                                      },
                                      {
                                        "type": "null"
                                      }
                                    ]
                                  }
                                },
                                "required": [
                                  "url",
                                  "type"
                                ]
                              }
                            }
                          }
                        },
                        "fuzzy": {
                          "anyOf": [
                            {
                              "type": "boolean"
                            },
                            {
                              "type": "null"
                            }
                          ]
                        },
                        "emailProvider": {
                          "anyOf": [
                            {
                              "type": "boolean"
                            },
                            {
                              "type": "null"
                            }
                          ]
                        },
                        "indexedAt": {
                          "anyOf": [
                            {
                              "type": "string"
                            },
                            {
                              "type": "null"
                            }
                          ]
                        },
                        "phone": {
                          "anyOf": [
                            {
                              "type": "string"
                            },
                            {
                              "type": "null"
                            }
                          ]
                        }
                      }
                    }
                  }
                },
                "metadata": {
                  "operationMetadataId": "5543c928-8886-498e-8673-40be604bb048"
                }
              },
              "Parse_company": {
                "type": "ParseJson",
                "inputs": {
                  "content": "@body('HTTP')?['company']",
                  "schema": {
                    "company": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "anyOf": [
                            {
                              "type": "string"
                            },
                            {
                              "type": "null"
                            }
                          ]
                        },
                        "name": {
                          "anyOf": [
                            {
                              "type": "string"
                            },
                            {
                              "type": "null"
                            }
                          ]
                        },
                        "legalName": {
                          "anyOf": [
                            {
                              "type": "string"
                            },
                            {
                              "type": "null"
                            }
                          ]
                        },
                        "domain": {
                          "anyOf": [
                            {
                              "type": "string"
                            },
                            {
                              "type": "null"
                            }
                          ]
                        },
                        "domainAliases": {
                          "type": "array",
                          "items": {
                            "anyOf": [
                              {
                                "type": "string"
                              },
                              {
                                "type": "null"
                              }
                            ]
                          }
                        },
                        "site": {
                          "type": "object",
                          "properties": {
                            "phoneNumbers": {
                              "type": "array"
                            },
                            "emailAddresses": {
                              "type": "array"
                            }
                          }
                        },
                        "category": {
                          "type": "object",
                          "properties": {
                            "sector": {
                              "anyOf": [
                                {
                                  "type": "string"
                                },
                                {
                                  "type": "null"
                                }
                              ]
                            },
                            "industryGroup": {
                              "anyOf": [
                                {
                                  "type": "string"
                                },
                                {
                                  "type": "null"
                                }
                              ]
                            },
                            "industry": {
                              "anyOf": [
                                {
                                  "type": "string"
                                },
                                {
                                  "type": "null"
                                }
                              ]
                            },
                            "subIndustry": {
                              "anyOf": [
                                {
                                  "type": "string"
                                },
                                {
                                  "type": "null"
                                }
                              ]
                            },
                            "gicsCode": {
                              "anyOf": [
                                {
                                  "type": "string"
                                },
                                {
                                  "type": "null"
                                }
                              ]
                            },
                            "sicCode": {
                              "anyOf": [
                                {
                                  "type": "string"
                                },
                                {
                                  "type": "null"
                                }
                              ]
                            },
                            "sic4Codes": {
                              "type": "array",
                              "items": {
                                "anyOf": [
                                  {
                                    "type": "string"
                                  },
                                  {
                                    "type": "null"
                                  }
                                ]
                              }
                            },
                            "naicsCode": {
                              "anyOf": [
                                {
                                  "type": "string"
                                },
                                {
                                  "type": "null"
                                }
                              ]
                            },
                            "naics6Codes": {
                              "type": "array",
                              "items": {
                                "anyOf": [
                                  {
                                    "type": "string"
                                  },
                                  {
                                    "type": "null"
                                  }
                                ]
                              }
                            },
                            "naics6Codes2022": {
                              "type": "array",
                              "items": {
                                "anyOf": [
                                  {
                                    "type": "string"
                                  },
                                  {
                                    "type": "null"
                                  }
                                ]
                              }
                            }
                          }
                        },
                        "tags": {
                          "type": "array",
                          "items": {
                            "anyOf": [
                              {
                                "type": "string"
                              },
                              {
                                "type": "null"
                              }
                            ]
                          }
                        },
                        "description": {
                          "anyOf": [
                            {
                              "type": "string"
                            },
                            {
                              "type": "null"
                            }
                          ]
                        },
                        "foundedYear": {
                          "anyOf": [
                            {
                              "type": "integer"
                            },
                            {
                              "type": "null"
                            }
                          ]
                        },
                        "location": {
                          "anyOf": [
                            {
                              "type": "string"
                            },
                            {
                              "type": "null"
                            }
                          ]
                        },
                        "timeZone": {
                          "anyOf": [
                            {
                              "type": "string"
                            },
                            {
                              "type": "null"
                            }
                          ]
                        },
                        "utcOffset": {
                          "anyOf": [
                            {
                              "type": "integer"
                            },
                            {
                              "type": "null"
                            }
                          ]
                        },
                        "geo": {
                          "type": "object",
                          "properties": {
                            "streetNumber": {
                              "anyOf": [
                                {
                                  "type": "string"
                                },
                                {
                                  "type": "null"
                                }
                              ]
                            },
                            "streetName": {
                              "anyOf": [
                                {
                                  "type": "string"
                                },
                                {
                                  "type": "null"
                                }
                              ]
                            },
                            "subPremise": {
                              "anyOf": [
                                {
                                  "type": "string"
                                },
                                {
                                  "type": "null"
                                }
                              ]
                            },
                            "streetAddress": {
                              "anyOf": [
                                {
                                  "type": "string"
                                },
                                {
                                  "type": "null"
                                }
                              ]
                            },
                            "city": {
                              "anyOf": [
                                {
                                  "type": "string"
                                },
                                {
                                  "type": "null"
                                }
                              ]
                            },
                            "postalCode": {
                              "anyOf": [
                                {
                                  "type": "string"
                                },
                                {
                                  "type": "null"
                                }
                              ]
                            },
                            "state": {
                              "anyOf": [
                                {
                                  "type": "string"
                                },
                                {
                                  "type": "null"
                                }
                              ]
                            },
                            "stateCode": {
                              "anyOf": [
                                {
                                  "type": "string"
                                },
                                {
                                  "type": "null"
                                }
                              ]
                            },
                            "country": {
                              "anyOf": [
                                {
                                  "type": "string"
                                },
                                {
                                  "type": "null"
                                }
                              ]
                            },
                            "countryCode": {
                              "anyOf": [
                                {
                                  "type": "string"
                                },
                                {
                                  "type": "null"
                                }
                              ]
                            },
                            "lat": {
                              "anyOf": [
                                {
                                  "type": "number"
                                },
                                {
                                  "type": "null"
                                }
                              ]
                            },
                            "lng": {
                              "anyOf": [
                                {
                                  "type": "number"
                                },
                                {
                                  "type": "null"
                                }
                              ]
                            }
                          }
                        },
                        "logo": {
                          "anyOf": [
                            {
                              "type": "string"
                            },
                            {
                              "type": "null"
                            }
                          ]
                        },
                        "facebook": {
                          "type": "object",
                          "properties": {
                            "handle": {
                              "anyOf": [
                                {
                                  "type": "string"
                                },
                                {
                                  "type": "null"
                                }
                              ]
                            },
                            "likes": {
                              "anyOf": [
                                {
                                  "type": "integer"
                                },
                                {
                                  "type": "null"
                                }
                              ]
                            }
                          }
                        },
                        "linkedin": {
                          "type": "object",
                          "properties": {
                            "handle": {
                              "anyOf": [
                                {
                                  "type": "string"
                                },
                                {
                                  "type": "null"
                                }
                              ]
                            }
                          }
                        },
                        "twitter": {
                          "type": "object",
                          "properties": {
                            "handle": {
                              "anyOf": [
                                {
                                  "type": "string"
                                },
                                {
                                  "type": "null"
                                }
                              ]
                            },
                            "id": {
                              "anyOf": [
                                {
                                  "type": "string"
                                },
                                {
                                  "type": "null"
                                }
                              ]
                            },
                            "bio": {
                              "anyOf": [
                                {
                                  "type": "string"
                                },
                                {
                                  "type": "null"
                                }
                              ]
                            },
                            "followers": {
                              "anyOf": [
                                {
                                  "type": "integer"
                                },
                                {
                                  "type": "null"
                                }
                              ]
                            },
                            "following": {
                              "anyOf": [
                                {
                                  "type": "integer"
                                },
                                {
                                  "type": "null"
                                }
                              ]
                            },
                            "location": {
                              "anyOf": [
                                {
                                  "type": "string"
                                },
                                {
                                  "type": "null"
                                }
                              ]
                            },
                            "site": {
                              "anyOf": [
                                {
                                  "type": "string"
                                },
                                {
                                  "type": "null"
                                }
                              ]
                            },
                            "avatar": {
                              "anyOf": [
                                {
                                  "type": "string"
                                },
                                {
                                  "type": "null"
                                }
                              ]
                            }
                          }
                        },
                        "crunchbase": {
                          "type": "object",
                          "properties": {
                            "handle": {
                              "anyOf": [
                                {
                                  "type": "string"
                                },
                                {
                                  "type": "null"
                                }
                              ]
                            }
                          }
                        },
                        "emailProvider": {
                          "anyOf": [
                            {
                              "type": "boolean"
                            },
                            {
                              "type": "null"
                            }
                          ]
                        },
                        "type": {
                          "anyOf": [
                            {
                              "type": "string"
                            },
                            {
                              "type": "null"
                            }
                          ]
                        },
                        "ticker": {
                          "anyOf": [
                            {
                              "type": "string"
                            },
                            {
                              "type": "null"
                            }
                          ]
                        },
                        "identifiers": {
                          "type": "object",
                          "properties": {
                            "usEIN": {
                              "anyOf": [
                                {
                                  "type": "string"
                                },
                                {
                                  "type": "null"
                                }
                              ]
                            },
                            "usCIK": {
                              "anyOf": [
                                {
                                  "type": "string"
                                },
                                {
                                  "type": "null"
                                }
                              ]
                            }
                          }
                        },
                        "phone": {
                          "anyOf": [
                            {
                              "type": "string"
                            },
                            {
                              "type": "null"
                            }
                          ]
                        },
                        "metrics": {
                          "type": "object",
                          "properties": {
                            "alexaUsRank": {
                              "anyOf": [
                                {
                                  "type": "integer"
                                },
                                {
                                  "type": "null"
                                }
                              ]
                            },
                            "alexaGlobalRank": {
                              "anyOf": [
                                {
                                  "type": "integer"
                                },
                                {
                                  "type": "null"
                                }
                              ]
                            },
                            "trafficRank": {
                              "anyOf": [
                                {
                                  "type": "string"
                                },
                                {
                                  "type": "null"
                                }
                              ]
                            },
                            "employees": {
                              "anyOf": [
                                {
                                  "type": "integer"
                                },
                                {
                                  "type": "null"
                                }
                              ]
                            },
                            "employeesRange": {
                              "anyOf": [
                                {
                                  "type": "string"
                                },
                                {
                                  "type": "null"
                                }
                              ]
                            },
                            "marketCap": {
                              "anyOf": [
                                {
                                  "type": "integer"
                                },
                                {
                                  "type": "null"
                                }
                              ]
                            },
                            "raised": {
                              "anyOf": [
                                {
                                  "type": "integer"
                                },
                                {
                                  "type": "null"
                                }
                              ]
                            },
                            "annualRevenue": {
                              "anyOf": [
                                {
                                  "type": "integer"
                                },
                                {
                                  "type": "null"
                                }
                              ]
                            },
                            "estimatedAnnualRevenue": {
                              "anyOf": [
                                {
                                  "type": "string"
                                },
                                {
                                  "type": "null"
                                }
                              ]
                            },
                            "fiscalYearEnd": {
                              "anyOf": [
                                {
                                  "type": "integer"
                                },
                                {
                                  "type": "null"
                                }
                              ]
                            }
                          }
                        },
                        "indexedAt": {
                          "anyOf": [
                            {
                              "type": "string"
                            },
                            {
                              "type": "null"
                            }
                          ]
                        },
                        "tech": {
                          "type": "array",
                          "items": {
                            "anyOf": [
                              {
                                "type": "string"
                              },
                              {
                                "type": "null"
                              }
                            ]
                          }
                        },
                        "techCategories": {
                          "type": "array",
                          "items": {
                            "anyOf": [
                              {
                                "type": "string"
                              },
                              {
                                "type": "null"
                              }
                            ]
                          }
                        },
                        "parent": {
                          "type": "object",
                          "properties": {
                            "domain": {
                              "anyOf": [
                                {
                                  "type": "string"
                                },
                                {
                                  "type": "null"
                                }
                              ]
                            }
                          }
                        },
                        "ultimateParent": {
                          "type": "object",
                          "properties": {
                            "domain": {
                              "anyOf": [
                                {
                                  "type": "string"
                                },
                                {
                                  "type": "null"
                                }
                              ]
                            }
                          }
                        }
                      }
                    }
                  }
                },
                "metadata": {
                  "operationMetadataId": "5543c928-8886-498e-8673-40be604bb048"
                }
              },
              "Set_person": {
                "type": "SetVariable",
                "inputs": {
                  "name": "person",
                  "value": {
                    "role": "@{body('Parse_person')?['employment']?['role']}",
                    "subrole": "@{body('Parse_person')?['employment']?['subRole']}",
                    "seniority": "@{body('Parse_person')?['employment']?['seniority']}",
                    "title": "@{body('Parse_person')?['employment']?['title']}",
                    "city": "@{body('Parse_person')?['geo']?['city']}",
                    "stateorprovince": "@{body('Parse_person')?['geo']?['state']}",
                    "countryCode": "@{body('Parse_person')?['geo']?['countryCode']}",
                    "postalcode": "@{body('Parse_person')?['geo']?['postalCode']}",
                    "phone": "@{body('Parse_person')?['phone']}",
                    "linkedinhandle": "@{body('Parse_person')?['linkedin']?['handle']}",
                    "lat": "@{body('Parse_person')?['geo']?['lat']}",
                    "lng": "@{body('Parse_person')?['geo']?['lng']}",
                    "utcoffset": "@{body('Parse_person')?['utcOffset']}",
                    "websiteurl": "@{body('Parse_person')?['WebSiteUrl']}"
                  }
                },
                "runAfter": {
                  "Parse_person": [
                    "Succeeded",
                    "Failed"
                  ]
                },
                "metadata": {
                  "operationMetadataId": "5dbdb481-5ad9-44ce-8629-4f69e10d688c"
                }
              },
              "Set_company": {
                "type": "SetVariable",
                "inputs": {
                  "name": "company",
                  "value": {
                    "name": "@{body('Parse_company')?['name']}",
                    "domain": "@{body('Parse_company')?['domain']}",
                    "address": "@{body('Parse_company')?['geo']?['streetAddress']}",
                    "city": "@{body('Parse_company')?['geo']?['city']}",
                    "stateorprovince": "@{body('Parse_company')?['geo']?['state']}",
                    "countrycode": "@{body('Parse_company')?['geo']?['countryCode']}",
                    "postalcode": "@{body('Parse_company')?['geo']?['postalCode']}",
                    "phone": "@{body('Parse_company')?['phone']}",
                    "linkedinhandle": "@{body('Parse_company')?['linkedin']?['handle']}",
                    "lat": "@{body('Parse_company')?['geo']?['lat']}",
                    "lng": "@{body('Parse_company')?['geo']?['lng']}",
                    "utcoffset": "@{body('Parse_company')?['utcOffset']}",
                    "legalname": "@{body('Parse_company')?['legalName']}",
                    "description": "@{body('Parse_company')?['description']}",
                    "foundedyear": "@{body('Parse_company')?['foundedYear']}",
                    "logo": "@{body('Parse_company')?['logo']}",
                    "sector": "@{body('Parse_company')?['category']?['sector']}",
                    "industrygroup": "@{body('Parse_company')?['category']?['industryGroup']}",
                    "industry": "@{body('Parse_company')?['industry']}",
                    "subindustry": "@{body('Parse_company')?['subIndustry']}",
                    "employees": "@{body('Parse_company')?['metrics']?['employees']}",
                    "employeesrange": "@{body('Parse_company')?['metrics']?['employeesRange']}",
                    "gicscode": "@{body('Parse_company')?['category']?['gicsCode']}",
                    "siccode": "@{body('Parse_company')?['sicCode']}",
                    "annualrevenue": "@{body('Parse_company')?['metrics']?['annualRevenue']}",
                    "estannualrevenue": "@{body('Parse_company')?['metrics']?['estimatedAnnualRevenue']}"
                  }
                },
                "runAfter": {
                  "Parse_company": [
                    "Succeeded",
                    "Failed"
                  ]
                },
                "metadata": {
                  "operationMetadataId": "10b6ec78-5385-4be4-a523-efba82444250"
                }
              }
            }
          },
          "runAfter": {
            "person": [
              "Succeeded"
            ],
            "company": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "a1419993-e17f-45ac-a7f8-6506df0eefc9"
          }
        },
        "Enrich_Contact": {
          "type": "OpenApiConnection",
          "description": "Contact table does not have country, state/province fields as lookups.",
          "inputs": {
            "parameters": {
              "entityName": "contacts",
              "recordId": "@triggerBody()?['contactid']",
              "item/address1_city": "@{if(\r\n    or(\r\n        empty(body('Lookup_Contact_created')?['address1_city']),\r\n        equals(body('Lookup_Contact_created')?['address1_city'], null)\r\n    ),\r\n    if(\r\n        equals(\r\n            body('Parse_company')?['geo']?['city'],\r\n            null\r\n        ),\r\n        body('Parse_person')?['geo']?['city'],\r\n        body('Parse_company')?['geo']?['city']\r\n    ),\r\n    body('Lookup_Contact_created')?['address1_city']\r\n)}",
              "item/address1_line1": "@{if(\r\n    or(\r\n        empty(body('Lookup_Contact_created')?['address1_line1']),\r\n        equals(body('Lookup_Contact_created')?['address1_line1'], null)\r\n    ),        \r\n    if(\r\n        equals(\r\n            body('Parse_company')?['geo']?['streetAddress'],\r\n            null\r\n        ),\r\n        body('Parse_person')?['geo']?['streetAddress'],\r\n        body('Parse_company')?['geo']?['streetAddress']\r\n    ),\r\n    body('Lookup_Contact_created')?['address1_line1']\r\n)}",
              "item/address1_postalcode": "@{if(\r\n    or(\r\n        empty(body('Lookup_Contact_created')?['address1_postalcode']),\r\n        equals(body('Lookup_Contact_created')?['address1_postalcode'], null)\r\n    ),\r\n    if(\r\n        equals(\r\n            body('Parse_company')?['geo']?['postalCode'],\r\n            null\r\n        ),\r\n        body('Parse_person')?['geo']?['postalCode'],\r\n        body('Parse_company')?['geo']?['postalCode']\r\n    ),\r\n    body('Lookup_Contact_created')?['address1_postalcode']\r\n)}",
              "item/telephone1": "@{if(\r\n    equals(\r\n        body('Parse_person')?['telephone1'],\r\n        null\r\n    ),\r\n    if(\r\n        equals(\r\n            variables('person')?['phone'],\r\n            null\r\n        ),\r\n        '',\r\n        replace(replace(replace(replace(variables('person')?['phone'], '-', ' '), '(', ''), ')', ''), '.', ' ')\r\n    ),    \r\n    body('Parse_person')?['telephone1']\r\n)}",
              "item/description": "@{if(\r\n    or(\r\n        empty(body('Lookup_Contact_created')?['description']),\r\n        equals(body('Lookup_Contact_created')?['description'], null)\r\n    ),\r\n    if(\r\n        equals(\r\n            body('Parse_company')?['description'],\r\n            null\r\n        ),\r\n        body('Parse_person')?['description'],\r\n        body('Parse_company')?['description']\r\n    ),\r\n    body('Lookup_Contact_created')?['description']\r\n)}",
              "item/jobtitle": "@{if(\r\n    or(\r\n        empty(body('Lookup_Contact_created')?['jobtitle']),\r\n        equals(body('Lookup_Contact_created')?['jobtitle'], null)\r\n    ),\r\n    body('Parse_person')?['employment']?['title'],\r\n    body('Lookup_Contact_created')?['jobtitle']\r\n)}",
              "item/address1_country": "@{if(\r\n    or(\r\n        empty(body('Lookup_Contact_created')?['address1_country']),\r\n        equals(body('Lookup_Contact_created')?['address1_country'], null)\r\n    ),\r\n    if(\r\n        equals(\r\n            body('Parse_company')?['geo']?['country'],\r\n            null\r\n        ),\r\n        body('Parse_person')?['geo']?['country'],\r\n        body('Parse_company')?['geo']?['country']\r\n    ),\r\n    body('Lookup_Contact_created')?['address1_country']\r\n)}",
              "item/address1_latitude": "@if(\r\n    equals(\r\n        body('Parse_company')?['geo']?['lat'],\r\n        null\r\n    ),\r\n    body('Parse_person')?['geo']?['lat'],\r\n    null\r\n)",
              "item/address1_longitude": "@if(\r\n    equals(\r\n        body('Parse_company')?['geo']?['lng'],\r\n        null\r\n    ),\r\n    body('Parse_person')?['geo']?['lng'],\r\n    null\r\n)",
              "item/address1_stateorprovince": "@{if(\r\n    or(\r\n        empty(body('Lookup_Contact_created')?['address1_stateorprovince']),\r\n        equals(body('Lookup_Contact_created')?['address1_stateorprovince'], null)\r\n    ),\r\n    if(\r\n        equals(\r\n            body('Parse_company')?['geo']?['state'],\r\n            null\r\n        ),\r\n        body('Parse_person')?['geo']?['state'],\r\n        body('Parse_company')?['geo']?['state']\r\n    ),\r\n    body('Lookup_Contact_created')?['address1_stateorprovince']\r\n)}",
              "item/revops_channel": "@outputs('channel_choice_value')",
              "item/revops_clearbitenrichedat": "@{utcNow()}",
              "item/revops_clearbitindexedat": "@{if(\r\n    equals(\r\n        body('Parse_company')?['indexedAt'],\r\n        null\r\n    ), \r\n    body('Parse_person')?['indexedAt'], \r\n    body('Parse_company')?['indexedAt']\r\n)}",
              "item/revops_clearbitstatus": "@outputs('HTTP')?['statusCode']",
              "item/revops_role": "@variables('person')?['role']",
              "item/revops_personallinkedinhandle": "@variables('person')?['linkedinhandle']",
              "item/revops_seniority": "@ variables('person')?['seniority']",
              "item/revops_subrole": "@ variables('person')?['subrole']",
              "item/websiteurl": "@{if(\r\n    or(\r\n        empty(body('Lookup_Contact_created')?['websiteurl']),\r\n        equals(body('Lookup_Contact_created')?['websiteurl'], null)\r\n    ),\r\n    body('Parse_person')?['site'],\r\n    body('Lookup_Contact_created')?['websiteurl']\r\n)}"
            },
            "host": {
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
              "operationId": "UpdateRecord",
              "connectionName": "shared_commondataserviceforapps"
            }
          },
          "runAfter": {
            "GICSCode_not_empty_or_null": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "e4121582-7228-4a53-8707-b06d4a1f83c9"
          }
        },
        "Terminate": {
          "type": "Terminate",
          "inputs": {
            "runStatus": "Succeeded"
          },
          "runAfter": {
            "Enrich_Contact": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "b14822c2-ab90-4ac0-83b7-f43f141ac459"
          }
        },
        "GICSCode_not_empty_or_null": {
          "type": "If",
          "expression": {
            "and": [
              {
                "greater": [
                  "@length(variables('company')?['gicscode'])",
                  0
                ]
              }
            ]
          },
          "actions": {
            "Get_channel": {
              "type": "OpenApiConnection",
              "inputs": {
                "parameters": {
                  "entityName": "revops_gicsmappings",
                  "$select": "revops_channel",
                  "$filter": "revops_gicscode eq '@{variables('company')?['gicscode']}'"
                },
                "host": {
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                  "operationId": "ListRecords",
                  "connectionName": "shared_commondataserviceforapps"
                }
              },
              "metadata": {
                "operationMetadataId": "68ffbfc0-acbe-4e6c-8de9-e1e65fc84e9b"
              }
            },
            "channel_data": {
              "type": "Compose",
              "inputs": "@outputs('Get_channel')?['body/value']?[0]",
              "runAfter": {
                "Get_channel": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "af3affdb-3869-4019-814e-3831523944f2"
              }
            },
            "channel_choice_value": {
              "type": "Compose",
              "inputs": "@outputs('channel_data')?['revops_channel']",
              "runAfter": {
                "channel_data": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "8dd830bd-7192-4ad3-9fc1-7c0599dac151"
              }
            }
          },
          "else": {
            "actions": {}
          },
          "runAfter": {
            "Error_404_or_422": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "d4eb0568-2f50-47cc-83e9-f6c74578dc63"
          }
        }
      },
      "outputs": {}
    },
    "templateName": null
  },
  "schemaVersion": "1.0.0.0"
}