AIDocumentation/_Exports/revopsflows_1_28_0_1/Workflows/EnrichLead-OnCreate-875FA9A4-521F-EF11-840A-6045BDCD283E.json
{
  "properties": {
    "connectionReferences": {
      "shared_commondataserviceforapps-1": {
        "api": {
          "name": "shared_commondataserviceforapps"
        },
        "connection": {
          "connectionReferenceLogicalName": "revops_sharedcommondataserviceforapps_bccd6"
        },
        "runtimeSource": "embedded"
      },
      "shared_commondataserviceforapps-2": {
        "api": {
          "name": "shared_commondataserviceforapps"
        },
        "connection": {
          "connectionReferenceLogicalName": "revops_sharedcommondataserviceforapps_0a1fe"
        },
        "runtimeSource": "embedded"
      },
      "shared_keyvault": {
        "api": {
          "name": "shared_keyvault"
        },
        "connection": {
          "connectionReferenceLogicalName": "revops_sharedkeyvault_a81e3"
        },
        "runtimeSource": "embedded"
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        },
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        }
      },
      "triggers": {
        "Lead_created": {
          "type": "OpenApiConnectionWebhook",
          "inputs": {
            "parameters": {
              "subscriptionRequest/message": 1,
              "subscriptionRequest/entityname": "lead",
              "subscriptionRequest/scope": 4,
              "subscriptionRequest/name": "875fa9a4-521f-ef11-840a-6045bdcd283e"
            },
            "host": {
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
              "operationId": "SubscribeWebhookTrigger",
              "connectionName": "shared_commondataserviceforapps-1"
            }
          },
          "metadata": {
            "operationMetadataId": "294cc900-6bd2-4d00-89bc-2f71215cb142"
          }
        }
      },
      "actions": {
        "Lookup_Lead_created": {
          "type": "OpenApiConnection",
          "description": "Would the flow perform significantly better if I limited the columns in this query?\nThe downside is you need to edit the select column query if things change.",
          "inputs": {
            "parameters": {
              "entityName": "leads",
              "recordId": "@triggerBody()?['leadid']"
            },
            "host": {
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
              "operationId": "GetItem",
              "connectionName": "shared_commondataserviceforapps-2"
            }
          },
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "783c675c-23e2-4ea6-b351-4589b346ee5e"
          }
        },
        "Update_Lead": {
          "type": "OpenApiConnection",
          "inputs": {
            "parameters": {
              "entityName": "leads",
              "recordId": "@triggerOutputs()?['body/leadid']",
              "item/address1_city": "@{if(\r\n    equals(\r\n        body('Lookup_Lead_created')?['address1_city'], \r\n        null\r\n    ), \r\n    if(\r\n        equals(\r\n            variables('company')?['city'], \r\n            null\r\n        ), \r\n        variables('person')?['city'],\r\n        variables('company')?['city']\r\n    ), \r\n    body('Lookup_Lead_created')?['address1_city']\r\n)}",
              "item/companyname": "@{if(\r\n    equals(\r\n        body('Lookup_Lead_created')?['companyname'], \r\n        null\r\n    ), \r\n    if(\r\n        equals(\r\n            body('Parse_company')?['legalName'], \r\n            null\r\n        ),\r\n        body('Parse_person')?['employment']?['name'],\r\n        body('Parse_company')?['legalName']\r\n    ),\r\n    body('Lookup_Lead_created')?['companyname']\r\n)}",
              "item/telephone2": "@{if(\r\n    equals(\r\n        body('Lookup_Lead_created')?['telephone2'],\r\n        null\r\n    ),\r\n    if(\r\n        equals(\r\n            variables('company')?['phone'],\r\n            null\r\n        ),\r\n        '',\r\n        replace(replace(replace(replace(variables('company')?['phone'], '-', ' '), '(', ''), ')', ''), '.', ' ')\r\n    ),\r\n    body('Lookup_Lead_created')?['telephone2']\r\n)}",
              "item/jobtitle": "@{if(\r\n    equals(\r\n        body('Lookup_Lead_created')?['jobtitle'], \r\n        null\r\n    ), \r\n    variables('person')?['title'], \r\n    body('Lookup_Lead_created')?['jobtitle']\r\n)}",
              "item/telephone1": "@{if(\r\n    equals(\r\n        body('Lookup_Lead_created')?['telephone1'],\r\n        null\r\n    ),\r\n    if(\r\n        equals(\r\n            variables('person')?['phone'],\r\n            null\r\n        ),\r\n        '',\r\n        replace(replace(replace(replace(variables('person')?['phone'], '-', ' '), '(', ''), ')', ''), '.', ' ')\r\n    ),\r\n    body('Lookup_Lead_created')?['telephone1']\r\n)}",
              "item/address1_line1": "@{if(\r\n    equals(\r\n        body('Lookup_Lead_created')?['address1_line1'], \r\n        null\r\n    ), \r\n    body('Parse_company')?['geo']?['streetAddress'],\r\n    body('Lookup_Lead_created')?['address1_line1']\r\n)}",
              "item/websiteurl": "@{if(\r\n    equals(\r\n        body('Lookup_Lead_created')?['websiteurl'], \r\n        null\r\n    ), \r\n    concat('https://', body('Parse_person')?['employment']['domain']), \r\n    body('Lookup_Lead_created')?['websiteurl']\r\n)}",
              "item/address1_postalcode": "@{if(\r\n    equals(\r\n        body('Lookup_Lead_created')?['address1_postalcode'], \r\n        null\r\n    ), \r\n    if(\r\n        equals(\r\n            variables('company')?['postalcode'],\r\n            null\r\n        ),\r\n        variables('person')?['postalcode'],\r\n        variables('company')?['postalcode']\r\n    ),\r\n    body('Lookup_Lead_created')?['address1_postalcode']\r\n)}",
              "item/address1_latitude": "@if(\r\n    empty(\r\n        variables('company')?['lat']\r\n    ), \r\n    if(\r\n        empty(\r\n            variables('person')?['lat']\r\n        ),\r\n        null,\r\n        variables('person')?['lat']\r\n    ),\r\n    variables('company')?['lat']\r\n)",
              "item/address1_longitude": "@if(\r\n    empty(\r\n        variables('company')?['lng']\r\n    ), \r\n    if(\r\n        empty(\r\n            variables('person')?['lng']\r\n        ),\r\n        null,\r\n        variables('person')?['lng']\r\n    ),\r\n    variables('company')?['lng']\r\n)",
              "item/address1_utcoffset": "@if(\r\n    empty(\r\n        variables('person')?['utcoffset']\r\n    ), \r\n    null,\r\n    variables('person')?['utcoffset']\r\n)",
              "item/revenue": "@if(\r\n    equals(\r\n        body('Lookup_Lead_created')?['Revenue'], \r\n        null\r\n    ), \r\n    if(\r\n        or(\r\n            empty(variables('company')?['annualrevenue']),\r\n            equals(\r\n                variables('company')?['annualrevenue'],\r\n                null\r\n            )\r\n        ),\r\n        null,\r\n        variables('company')?['annualrevenue']\r\n    ),\r\n    body('Lookup_Lead_created')?['Revenue']\r\n)",
              "item/revops_channel": "@outputs('channel_choice_value')",
              "item/revops_enricheddescription": "@{variables('company')?['description']}\n",
              "item/revops_clearbitenrichedat": "@{utcNow()}",
              "item/revops_clearbitindexedat": "@{if(\r\n    equals(\r\n        body('Parse_company')?['indexedAt'],\r\n        null\r\n    ), \r\n    body('Parse_person')?['indexedAt'], \r\n    body('Parse_company')?['indexedAt']\r\n)}",
              "item/revops_enrichedindustry": "@{variables('company')?['industry']}\n",
              "item/revops_enrichedseniority": "@{variables('person')?['seniority']}\n",
              "item/revops_clearbitstatus": "@outputs('HTTP')?['statusCode']",
              "item/revops_companylinkedinhandle": "@variables('company')?['companylinkedin']",
              "item/revops_domain": "@{if(\r\n    equals(\r\n        body('Lookup_Lead_created')?['revops_domain'], \r\n        null\r\n    ), \r\n    if(\r\n        equals(\r\n            body('Parse_company')?['domain'], \r\n            null\r\n        ),\r\n        body('Parse_person')?['employment']['domain'],\r\n        body('Parse_company')?['domain']\r\n    ),\r\n    body('Lookup_Lead_created')?['revops_domain']\r\n)}",
              "item/revops_employeesrange": "@{variables('company')?['employeesrange']}\n",
              "item/revops_estimatedannualrevenue": "@{variables('company')?['estannualrevenue']}\n",
              "item/revops_foundedyear": "@if(\r\n    or(\r\n        empty(variables('company')?['foundedYear']),\r\n        equals(\r\n            variables('company')?['foundedYear'],\r\n            null\r\n        )\r\n    ),\r\n    null,\r\n    variables('company')?['foundedYear']\r\n)",
              "item/revops_gicscode": "@{variables('company')?['gicscode']}",
              "item/msdyncrm_industry": "@{body('Parse_company')?['category']?['industry']}",
              "item/revops_industrygroup": "@{variables('company')?['industrygroup']}\n",
              "item/msdyncrm_jobfunction": "@{body('Parse_person')?['employment']?['role']}",
              "item/revops_logo": "@{variables('company')?['logo']}",
              "item/numberofemployees": "@if(\r\n    empty(\r\n        variables('company')?['employees']\r\n    ), \r\n    null,\r\n    variables('company')?['employees']\r\n)",
              "item/revops_personallinkedinhandle": "@{variables('person')?['linkedinhandle']}\n",
              "item/revops_role": "@{variables('person')?['role']}\n",
              "item/revops_sector": "@{variables('company')?['sector']}\n",
              "item/sic": "@{variables('company')?['siccode']}\n",
              "item/revops_subindustry": "@{variables('company')?['subindustry']}\n",
              "item/revops_subrole": "@{variables('person')?['subrole']}\n"
            },
            "host": {
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
              "operationId": "UpdateRecord",
              "connectionName": "shared_commondataserviceforapps-2"
            }
          },
          "runAfter": {
            "Update_Lead_stateorprovince": [
              "Succeeded",
              "Failed"
            ],
            "GICSCode_not_empty_or_null": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "aa440044-bbd6-4b37-a770-383708ab0e65"
          }
        },
        "Get_secret": {
          "type": "OpenApiConnection",
          "inputs": {
            "parameters": {
              "secretName": "ClearbitAPIKey"
            },
            "host": {
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_keyvault",
              "operationId": "GetSecret",
              "connectionName": "shared_keyvault"
            }
          },
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "75f961b1-85e3-4530-8bca-7231a0aabf85"
          }
        },
        "HTTP": {
          "type": "Http",
          "inputs": {
            "uri": "https://person-stream.clearbit.com/v2/combined/find?email=@{triggerOutputs()?['body/emailaddress1']}",
            "method": "GET",
            "headers": {
              "Accept": "*/*",
              "Accept-Encoding": "gzip, deflate, br",
              "Authorization": "Bearer @{outputs('Get_secret')?['body/value']}"
            }
          },
          "runAfter": {
            "Get_secret": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "44822037-4d0c-4256-bbb6-0848e7ba138c"
          }
        },
        "Terminate": {
          "type": "Terminate",
          "inputs": {
            "runStatus": "Succeeded"
          },
          "runAfter": {
            "Update_Lead": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "b14822c2-ab90-4ac0-83b7-f43f141ac459"
          }
        },
        "Error_404_or_422": {
          "type": "If",
          "expression": {
            "or": [
              {
                "equals": [
                  "@outputs('HTTP')?['statusCode']",
                  404
                ]
              },
              {
                "equals": [
                  "@outputs('HTTP')?['statusCode']",
                  422
                ]
              }
            ]
          },
          "actions": {
            "Clearbit_data_not_found_or_invalid_domain": {
              "type": "Terminate",
              "inputs": {
                "runStatus": "Succeeded"
              },
              "runAfter": {
                "Update_Clearbit_fields_on_Lead": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "b3dc2996-b289-4c2c-b582-86d3e7aeb556"
              }
            },
            "Update_Clearbit_fields_on_Lead": {
              "type": "OpenApiConnection",
              "inputs": {
                "parameters": {
                  "entityName": "leads",
                  "recordId": "@triggerOutputs()?['body/leadid']",
                  "item/revops_clearbitenrichedat": "@{utcNow()}",
                  "item/revops_clearbitstatus": "@outputs('HTTP')?['statusCode']"
                },
                "host": {
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                  "operationId": "UpdateRecord",
                  "connectionName": "shared_commondataserviceforapps-2"
                }
              },
              "metadata": {
                "operationMetadataId": "aa440044-bbd6-4b37-a770-383708ab0e65"
              }
            }
          },
          "else": {
            "actions": {
              "Parse_person": {
                "type": "ParseJson",
                "inputs": {
                  "content": "@body('HTTP')?['person']",
                  "schema": {
                    "person": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string"
                        },
                        "name": {
                          "type": "object",
                          "properties": {
                            "fullName": {
                              "anyOf": [
                                {
                                  "type": "string"
                                },
                                {
                                  "type": "null"
                                }
                              ]
                            },
                            "givenName": {
                              "anyOf": [
                                {
                                  "type": "string"
                                },
                                {
                                  "type": "null"
                                }
                              ]
                            },
                            "familyName": {
                              "anyOf": [
                                {
                                  "type": "string"
                                },
                                {
                                  "type": "null"
                                }
                              ]
                            }
                          }
                        },
                        "email": {
                          "type": "string"
                        },
                        "location": {
                          "anyOf": [
                            {
                              "type": "string"
                            },
                            {
                              "type": "null"
                            }
                          ]
                        },
                        "timeZone": {
                          "anyOf": [
                            {
                              "type": "string"
                            },
                            {
                              "type": "null"
                            }
                          ]
                        },
                        "utcOffset": {
                          "anyOf": [
                            {
                              "type": "integer"
                            },
                            {
                              "type": "null"
                            }
                          ]
                        },
                        "geo": {
                          "type": "object",
                          "properties": {
                            "city": {
                              "anyOf": [
                                {
                                  "type": "string"
                                },
                                {
                                  "type": "null"
                                }
                              ]
                            },
                            "state": {
                              "anyOf": [
                                {
                                  "type": "string"
                                },
                                {
                                  "type": "null"
                                }
                              ]
                            },
                            "stateCode": {
                              "anyOf": [
                                {
                                  "type": "string"
                                },
                                {
                                  "type": "null"
                                }
                              ]
                            },
                            "country": {
                              "anyOf": [
                                {
                                  "type": "string"
                                },
                                {
                                  "type": "null"
                                }
                              ]
                            },
                            "countryCode": {
                              "anyOf": [
                                {
                                  "type": "string"
                                },
                                {
                                  "type": "null"
                                }
                              ]
                            },
                            "lat": {
                              "anyOf": [
                                {
                                  "type": "number"
                                },
                                {
                                  "type": "null"
                                }
                              ]
                            },
                            "lng": {
                              "anyOf": [
                                {
                                  "type": "number"
                                },
                                {
                                  "type": "null"
                                }
                              ]
                            }
                          }
                        },
                        "bio": {
                          "anyOf": [
                            {
                              "type": "string"
                            },
                            {
                              "type": "null"
                            }
                          ]
                        },
                        "site": {
                          "anyOf": [
                            {
                              "type": "string"
                            },
                            {
                              "type": "null"
                            }
                          ]
                        },
                        "avatar": {
                          "anyOf": [
                            {
                              "type": "string"
                            },
                            {
                              "type": "null"
                            }
                          ]
                        },
                        "employment": {
                          "type": "object",
                          "properties": {
                            "domain": {
                              "anyOf": [
                                {
                                  "type": "string"
                                },
                                {
                                  "type": "null"
                                }
                              ]
                            },
                            "name": {
                              "anyOf": [
                                {
                                  "type": "string"
                                },
                                {
                                  "type": "null"
                                }
                              ]
                            },
                            "title": {
                              "anyOf": [
                                {
                                  "type": "string"
                                },
                                {
                                  "type": "null"
                                }
                              ]
                            },
                            "role": {
                              "anyOf": [
                                {
                                  "type": "string"
                                },
                                {
                                  "type": "null"
                                }
                              ]
                            },
                            "subRole": {
                              "anyOf": [
                                {
                                  "type": "string"
                                },
                                {
                                  "type": "null"
                                }
                              ]
                            },
                            "seniority": {
                              "anyOf": [
                                {
                                  "type": "string"
                                },
                                {
                                  "type": "null"
                                }
                              ]
                            }
                          }
                        },
                        "facebook": {
                          "type": "object",
                          "properties": {
                            "handle": {
                              "anyOf": [
                                {
                                  "type": "string"
                                },
                                {
                                  "type": "null"
                                }
                              ]
                            }
                          }
                        },
                        "github": {
                          "type": "object",
                          "properties": {
                            "handle": {
                              "anyOf": [
                                {
                                  "type": "string"
                                },
                                {
                                  "type": "null"
                                }
                              ]
                            },
                            "id": {
                              "anyOf": [
                                {
                                  "type": "integer"
                                },
                                {
                                  "type": "null"
                                }
                              ]
                            },
                            "avatar": {
                              "anyOf": [
                                {
                                  "type": "string"
                                },
                                {
                                  "type": "null"
                                }
                              ]
                            },
                            "company": {
                              "anyOf": [
                                {
                                  "type": "string"
                                },
                                {
                                  "type": "null"
                                }
                              ]
                            },
                            "blog": {
                              "anyOf": [
                                {
                                  "type": "string"
                                },
                                {
                                  "type": "null"
                                }
                              ]
                            },
                            "followers": {
                              "anyOf": [
                                {
                                  "type": "string"
                                },
                                {
                                  "type": "null"
                                }
                              ]
                            },
                            "following": {
                              "anyOf": [
                                {
                                  "type": "string"
                                },
                                {
                                  "type": "null"
                                }
                              ]
                            }
                          }
                        },
                        "twitter": {
                          "type": "object",
                          "properties": {
                            "handle": {
                              "anyOf": [
                                {
                                  "type": "string"
                                },
                                {
                                  "type": "null"
                                }
                              ]
                            },
                            "id": {
                              "anyOf": [
                                {
                                  "type": "integer"
                                },
                                {
                                  "type": "null"
                                }
                              ]
                            },
                            "bio": {
                              "anyOf": [
                                {
                                  "type": "string"
                                },
                                {
                                  "type": "null"
                                }
                              ]
                            },
                            "followers": {
                              "anyOf": [
                                {
                                  "type": "integer"
                                },
                                {
                                  "type": "null"
                                }
                              ]
                            },
                            "following": {
                              "anyOf": [
                                {
                                  "type": "integer"
                                },
                                {
                                  "type": "null"
                                }
                              ]
                            },
                            "statuses": {
                              "anyOf": [
                                {
                                  "type": "integer"
                                },
                                {
                                  "type": "null"
                                }
                              ]
                            },
                            "favorites": {
                              "anyOf": [
                                {
                                  "type": "integer"
                                },
                                {
                                  "type": "null"
                                }
                              ]
                            },
                            "location": {
                              "anyOf": [
                                {
                                  "type": "string"
                                },
                                {
                                  "type": "null"
                                }
                              ]
                            },
                            "site": {
                              "anyOf": [
                                {
                                  "type": "string"
                                },
                                {
                                  "type": "null"
                                }
                              ]
                            },
                            "avatar": {
                              "anyOf": [
                                {
                                  "type": "string"
                                },
                                {
                                  "type": "null"
                                }
                              ]
                            }
                          }
                        },
                        "linkedin": {
                          "type": "object",
                          "properties": {
                            "handle": {
                              "anyOf": [
                                {
                                  "type": "string"
                                },
                                {
                                  "type": "null"
                                }
                              ]
                            }
                          }
                        },
                        "googleplus": {
                          "type": "object",
                          "properties": {
                            "handle": {
                              "anyOf": [
                                {
                                  "type": "string"
                                },
                                {
                                  "type": "null"
                                }
                              ]
                            }
                          }
                        },
                        "gravatar": {
                          "type": "object",
                          "properties": {
                            "handle": {
                              "anyOf": [
                                {
                                  "type": "string"
                                },
                                {
                                  "type": "null"
                                }
                              ]
                            },
                            "urls": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "title": {
                                    "anyOf": [
                                      {
                                        "type": "string"
                                      },
                                      {
                                        "type": "null"
                                      }
                                    ]
                                  },
                                  "value": {
                                    "anyOf": [
                                      {
                                        "type": "string"
                                      },
                                      {
                                        "type": "null"
                                      }
                                    ]
                                  }
                                },
                                "required": [
                                  "title",
                                  "value"
                                ]
                              }
                            },
                            "avatar": {
                              "anyOf": [
                                {
                                  "type": "string"
                                },
                                {
                                  "type": "null"
                                }
                              ]
                            },
                            "avatars": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "url": {
                                    "anyOf": [
                                      {
                                        "type": "string"
                                      },
                                      {
                                        "type": "null"
                                      }
                                    ]
                                  },
                                  "type": {
                                    "anyOf": [
                                      {
                                        "type": "string"
                                      },
                                      {
                                        "type": "null"
                                      }
                                    ]
                                  }
                                },
                                "required": [
                                  "url",
                                  "type"
                                ]
                              }
                            }
                          }
                        },
                        "fuzzy": {
                          "anyOf": [
                            {
                              "type": "boolean"
                            },
                            {
                              "type": "null"
                            }
                          ]
                        },
                        "emailProvider": {
                          "anyOf": [
                            {
                              "type": "boolean"
                            },
                            {
                              "type": "null"
                            }
                          ]
                        },
                        "indexedAt": {
                          "anyOf": [
                            {
                              "type": "string"
                            },
                            {
                              "type": "null"
                            }
                          ]
                        },
                        "phone": {
                          "anyOf": [
                            {
                              "type": "string"
                            },
                            {
                              "type": "null"
                            }
                          ]
                        }
                      }
                    }
                  }
                },
                "metadata": {
                  "operationMetadataId": "5543c928-8886-498e-8673-40be604bb048"
                }
              },
              "Parse_company": {
                "type": "ParseJson",
                "inputs": {
                  "content": "@body('HTTP')?['company']",
                  "schema": {
                    "company": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "anyOf": [
                            {
                              "type": "string"
                            },
                            {
                              "type": "null"
                            }
                          ]
                        },
                        "name": {
                          "anyOf": [
                            {
                              "type": "string"
                            },
                            {
                              "type": "null"
                            }
                          ]
                        },
                        "legalName": {
                          "anyOf": [
                            {
                              "type": "string"
                            },
                            {
                              "type": "null"
                            }
                          ]
                        },
                        "domain": {
                          "anyOf": [
                            {
                              "type": "string"
                            },
                            {
                              "type": "null"
                            }
                          ]
                        },
                        "domainAliases": {
                          "type": "array",
                          "items": {
                            "anyOf": [
                              {
                                "type": "string"
                              },
                              {
                                "type": "null"
                              }
                            ]
                          }
                        },
                        "site": {
                          "type": "object",
                          "properties": {
                            "phoneNumbers": {
                              "type": "array"
                            },
                            "emailAddresses": {
                              "type": "array"
                            }
                          }
                        },
                        "category": {
                          "type": "object",
                          "properties": {
                            "sector": {
                              "anyOf": [
                                {
                                  "type": "string"
                                },
                                {
                                  "type": "null"
                                }
                              ]
                            },
                            "industryGroup": {
                              "anyOf": [
                                {
                                  "type": "string"
                                },
                                {
                                  "type": "null"
                                }
                              ]
                            },
                            "industry": {
                              "anyOf": [
                                {
                                  "type": "string"
                                },
                                {
                                  "type": "null"
                                }
                              ]
                            },
                            "subIndustry": {
                              "anyOf": [
                                {
                                  "type": "string"
                                },
                                {
                                  "type": "null"
                                }
                              ]
                            },
                            "gicsCode": {
                              "anyOf": [
                                {
                                  "type": "string"
                                },
                                {
                                  "type": "null"
                                }
                              ]
                            },
                            "sicCode": {
                              "anyOf": [
                                {
                                  "type": "string"
                                },
                                {
                                  "type": "null"
                                }
                              ]
                            },
                            "sic4Codes": {
                              "type": "array",
                              "items": {
                                "anyOf": [
                                  {
                                    "type": "string"
                                  },
                                  {
                                    "type": "null"
                                  }
                                ]
                              }
                            },
                            "naicsCode": {
                              "anyOf": [
                                {
                                  "type": "string"
                                },
                                {
                                  "type": "null"
                                }
                              ]
                            },
                            "naics6Codes": {
                              "type": "array",
                              "items": {
                                "anyOf": [
                                  {
                                    "type": "string"
                                  },
                                  {
                                    "type": "null"
                                  }
                                ]
                              }
                            },
                            "naics6Codes2022": {
                              "type": "array",
                              "items": {
                                "anyOf": [
                                  {
                                    "type": "string"
                                  },
                                  {
                                    "type": "null"
                                  }
                                ]
                              }
                            }
                          }
                        },
                        "tags": {
                          "type": "array",
                          "items": {
                            "anyOf": [
                              {
                                "type": "string"
                              },
                              {
                                "type": "null"
                              }
                            ]
                          }
                        },
                        "description": {
                          "anyOf": [
                            {
                              "type": "string"
                            },
                            {
                              "type": "null"
                            }
                          ]
                        },
                        "foundedYear": {
                          "anyOf": [
                            {
                              "type": "integer"
                            },
                            {
                              "type": "null"
                            }
                          ]
                        },
                        "location": {
                          "anyOf": [
                            {
                              "type": "string"
                            },
                            {
                              "type": "null"
                            }
                          ]
                        },
                        "timeZone": {
                          "anyOf": [
                            {
                              "type": "string"
                            },
                            {
                              "type": "null"
                            }
                          ]
                        },
                        "utcOffset": {
                          "anyOf": [
                            {
                              "type": "integer"
                            },
                            {
                              "type": "null"
                            }
                          ]
                        },
                        "geo": {
                          "type": "object",
                          "properties": {
                            "streetNumber": {
                              "anyOf": [
                                {
                                  "type": "string"
                                },
                                {
                                  "type": "null"
                                }
                              ]
                            },
                            "streetName": {
                              "anyOf": [
                                {
                                  "type": "string"
                                },
                                {
                                  "type": "null"
                                }
                              ]
                            },
                            "subPremise": {
                              "anyOf": [
                                {
                                  "type": "string"
                                },
                                {
                                  "type": "null"
                                }
                              ]
                            },
                            "streetAddress": {
                              "anyOf": [
                                {
                                  "type": "string"
                                },
                                {
                                  "type": "null"
                                }
                              ]
                            },
                            "city": {
                              "anyOf": [
                                {
                                  "type": "string"
                                },
                                {
                                  "type": "null"
                                }
                              ]
                            },
                            "postalCode": {
                              "anyOf": [
                                {
                                  "type": "string"
                                },
                                {
                                  "type": "null"
                                }
                              ]
                            },
                            "state": {
                              "anyOf": [
                                {
                                  "type": "string"
                                },
                                {
                                  "type": "null"
                                }
                              ]
                            },
                            "stateCode": {
                              "anyOf": [
                                {
                                  "type": "string"
                                },
                                {
                                  "type": "null"
                                }
                              ]
                            },
                            "country": {
                              "anyOf": [
                                {
                                  "type": "string"
                                },
                                {
                                  "type": "null"
                                }
                              ]
                            },
                            "countryCode": {
                              "anyOf": [
                                {
                                  "type": "string"
                                },
                                {
                                  "type": "null"
                                }
                              ]
                            },
                            "lat": {
                              "anyOf": [
                                {
                                  "type": "number"
                                },
                                {
                                  "type": "null"
                                }
                              ]
                            },
                            "lng": {
                              "anyOf": [
                                {
                                  "type": "number"
                                },
                                {
                                  "type": "null"
                                }
                              ]
                            }
                          }
                        },
                        "logo": {
                          "anyOf": [
                            {
                              "type": "string"
                            },
                            {
                              "type": "null"
                            }
                          ]
                        },
                        "facebook": {
                          "type": "object",
                          "properties": {
                            "handle": {
                              "anyOf": [
                                {
                                  "type": "string"
                                },
                                {
                                  "type": "null"
                                }
                              ]
                            },
                            "likes": {
                              "anyOf": [
                                {
                                  "type": "integer"
                                },
                                {
                                  "type": "null"
                                }
                              ]
                            }
                          }
                        },
                        "linkedin": {
                          "type": "object",
                          "properties": {
                            "handle": {
                              "anyOf": [
                                {
                                  "type": "string"
                                },
                                {
                                  "type": "null"
                                }
                              ]
                            }
                          }
                        },
                        "twitter": {
                          "type": "object",
                          "properties": {
                            "handle": {
                              "anyOf": [
                                {
                                  "type": "string"
                                },
                                {
                                  "type": "null"
                                }
                              ]
                            },
                            "id": {
                              "anyOf": [
                                {
                                  "type": "string"
                                },
                                {
                                  "type": "null"
                                }
                              ]
                            },
                            "bio": {
                              "anyOf": [
                                {
                                  "type": "string"
                                },
                                {
                                  "type": "null"
                                }
                              ]
                            },
                            "followers": {
                              "anyOf": [
                                {
                                  "type": "integer"
                                },
                                {
                                  "type": "null"
                                }
                              ]
                            },
                            "following": {
                              "anyOf": [
                                {
                                  "type": "integer"
                                },
                                {
                                  "type": "null"
                                }
                              ]
                            },
                            "location": {
                              "anyOf": [
                                {
                                  "type": "string"
                                },
                                {
                                  "type": "null"
                                }
                              ]
                            },
                            "site": {
                              "anyOf": [
                                {
                                  "type": "string"
                                },
                                {
                                  "type": "null"
                                }
                              ]
                            },
                            "avatar": {
                              "anyOf": [
                                {
                                  "type": "string"
                                },
                                {
                                  "type": "null"
                                }
                              ]
                            }
                          }
                        },
                        "crunchbase": {
                          "type": "object",
                          "properties": {
                            "handle": {
                              "anyOf": [
                                {
                                  "type": "string"
                                },
                                {
                                  "type": "null"
                                }
                              ]
                            }
                          }
                        },
                        "emailProvider": {
                          "anyOf": [
                            {
                              "type": "boolean"
                            },
                            {
                              "type": "null"
                            }
                          ]
                        },
                        "type": {
                          "anyOf": [
                            {
                              "type": "string"
                            },
                            {
                              "type": "null"
                            }
                          ]
                        },
                        "ticker": {
                          "anyOf": [
                            {
                              "type": "string"
                            },
                            {
                              "type": "null"
                            }
                          ]
                        },
                        "identifiers": {
                          "type": "object",
                          "properties": {
                            "usEIN": {
                              "anyOf": [
                                {
                                  "type": "string"
                                },
                                {
                                  "type": "null"
                                }
                              ]
                            },
                            "usCIK": {
                              "anyOf": [
                                {
                                  "type": "string"
                                },
                                {
                                  "type": "null"
                                }
                              ]
                            }
                          }
                        },
                        "phone": {
                          "anyOf": [
                            {
                              "type": "string"
                            },
                            {
                              "type": "null"
                            }
                          ]
                        },
                        "metrics": {
                          "type": "object",
                          "properties": {
                            "alexaUsRank": {
                              "anyOf": [
                                {
                                  "type": "integer"
                                },
                                {
                                  "type": "null"
                                }
                              ]
                            },
                            "alexaGlobalRank": {
                              "anyOf": [
                                {
                                  "type": "integer"
                                },
                                {
                                  "type": "null"
                                }
                              ]
                            },
                            "trafficRank": {
                              "anyOf": [
                                {
                                  "type": "string"
                                },
                                {
                                  "type": "null"
                                }
                              ]
                            },
                            "employees": {
                              "anyOf": [
                                {
                                  "type": "integer"
                                },
                                {
                                  "type": "null"
                                }
                              ]
                            },
                            "employeesRange": {
                              "anyOf": [
                                {
                                  "type": "string"
                                },
                                {
                                  "type": "null"
                                }
                              ]
                            },
                            "marketCap": {
                              "anyOf": [
                                {
                                  "type": "integer"
                                },
                                {
                                  "type": "null"
                                }
                              ]
                            },
                            "raised": {
                              "anyOf": [
                                {
                                  "type": "integer"
                                },
                                {
                                  "type": "null"
                                }
                              ]
                            },
                            "annualRevenue": {
                              "anyOf": [
                                {
                                  "type": "integer"
                                },
                                {
                                  "type": "null"
                                }
                              ]
                            },
                            "estimatedAnnualRevenue": {
                              "anyOf": [
                                {
                                  "type": "string"
                                },
                                {
                                  "type": "null"
                                }
                              ]
                            },
                            "fiscalYearEnd": {
                              "anyOf": [
                                {
                                  "type": "integer"
                                },
                                {
                                  "type": "null"
                                }
                              ]
                            }
                          }
                        },
                        "indexedAt": {
                          "anyOf": [
                            {
                              "type": "string"
                            },
                            {
                              "type": "null"
                            }
                          ]
                        },
                        "tech": {
                          "type": "array",
                          "items": {
                            "anyOf": [
                              {
                                "type": "string"
                              },
                              {
                                "type": "null"
                              }
                            ]
                          }
                        },
                        "techCategories": {
                          "type": "array",
                          "items": {
                            "anyOf": [
                              {
                                "type": "string"
                              },
                              {
                                "type": "null"
                              }
                            ]
                          }
                        },
                        "parent": {
                          "type": "object",
                          "properties": {
                            "domain": {
                              "anyOf": [
                                {
                                  "type": "string"
                                },
                                {
                                  "type": "null"
                                }
                              ]
                            }
                          }
                        },
                        "ultimateParent": {
                          "type": "object",
                          "properties": {
                            "domain": {
                              "anyOf": [
                                {
                                  "type": "string"
                                },
                                {
                                  "type": "null"
                                }
                              ]
                            }
                          }
                        }
                      }
                    }
                  }
                },
                "metadata": {
                  "operationMetadataId": "5543c928-8886-498e-8673-40be604bb048"
                }
              },
              "Set_person": {
                "type": "SetVariable",
                "inputs": {
                  "name": "person",
                  "value": {
                    "role": "@{body('Parse_person')?['employment']?['role']}",
                    "subrole": "@{body('Parse_person')?['employment']?['subRole']}",
                    "seniority": "@{body('Parse_person')?['employment']?['seniority']}",
                    "title": "@{body('Parse_person')?['employment']?['title']}",
                    "city": "@{body('Parse_person')?['geo']?['city']}",
                    "stateorprovince": "@{body('Parse_person')?['geo']?['state']}",
                    "countryCode": "@{body('Parse_person')?['geo']?['countryCode']}",
                    "postalcode": "@{body('Parse_person')?['geo']?['postalCode']}",
                    "phone": "@{body('Parse_person')?['phone']}",
                    "linkedinhandle": "@{body('Parse_person')?['linkedin']?['handle']}",
                    "lat": "@{body('Parse_person')?['geo']?['lat']}",
                    "lng": "@{body('Parse_person')?['geo']?['lng']}",
                    "utcoffset": "@{body('Parse_person')?['utcOffset']}",
                    "websiteurl": "@{body('Parse_person')?['WebSiteUrl']}"
                  }
                },
                "runAfter": {
                  "Parse_person": [
                    "Succeeded",
                    "Failed"
                  ]
                },
                "metadata": {
                  "operationMetadataId": "c756a139-4d40-4e79-84ac-be049059d162"
                }
              },
              "Set_company": {
                "type": "SetVariable",
                "inputs": {
                  "name": "company",
                  "value": {
                    "name": "@{body('Parse_company')?['name']}",
                    "domain": "@{body('Parse_company')?['domain']}",
                    "address": "@{body('Parse_company')?['geo']?['streetAddress']}",
                    "city": "@{body('Parse_company')?['geo']?['city']}",
                    "stateorprovince": "@{body('Parse_company')?['geo']?['state']}",
                    "countryCode": "@{body('Parse_company')?['geo']?['countryCode']}",
                    "postalcode": "@{body('Parse_company')?['geo']?['postalCode']}",
                    "phone": "@{body('Parse_company')?['phone']}",
                    "companylinkedin": "@{body('Parse_company')?['linkedin']?['handle']}",
                    "lat": "@{body('Parse_company')?['geo']?['lat']}",
                    "lng": "@{body('Parse_company')?['geo']?['lng']}",
                    "utcoffset": "@{body('Parse_company')?['utcOffset']}",
                    "legalname": "@{body('Parse_company')?['legalName']}",
                    "description": "@{body('Parse_company')?['description']}",
                    "foundedyear": "@{body('Parse_company')?['foundedYear']}",
                    "logo": "@{body('Parse_company')?['logo']}",
                    "sector": "@{body('Parse_company')?['category']?['sector']}",
                    "industrygroup": "@{body('Parse_company')?['category']?['industryGroup']}",
                    "industry": "@{body('Parse_company')?['category']?['industry']}",
                    "subindustry": "@{body('Parse_company')?['category']?['subIndustry']}",
                    "employees": "@{body('Parse_company')?['metrics']?['employees']}",
                    "employeesrange": "@{body('Parse_company')?['metrics']?['employeesRange']}",
                    "gicscode": "@{body('Parse_company')?['category']?['gicsCode']}",
                    "siccode": "@{body('Parse_company')?['sicCode']}",
                    "annualrevenue": "@{body('Parse_company')?['metrics']?['annualRevenue']}",
                    "estannualrevenue": "@{body('Parse_company')?['metrics']?['estimatedAnnualRevenue']}"
                  }
                },
                "runAfter": {
                  "Parse_company": [
                    "Succeeded",
                    "Failed"
                  ]
                },
                "metadata": {
                  "operationMetadataId": "7a2f5d0c-5d04-463f-81bf-fdfe73f0e382"
                }
              },
              "countryCode": {
                "type": "Compose",
                "inputs": "@if(\r\n    empty(\r\n        variables('company')?['countryCode']\r\n    ),\r\n    variables('person')?['countryCode'],\r\n    variables('company')?['countryCode']\r\n)",
                "runAfter": {
                  "Set_person": [
                    "Succeeded"
                  ],
                  "Set_company": [
                    "Succeeded"
                  ]
                },
                "metadata": {
                  "operationMetadataId": "97702078-373e-41a1-9f67-e62bf164e4e4"
                }
              }
            }
          },
          "runAfter": {
            "person": [
              "Succeeded"
            ],
            "company": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "50315a8f-facc-47e1-b80e-e9dac4be7a15"
          }
        },
        "countryCode_not_empty_or_null": {
          "type": "If",
          "expression": {
            "or": [
              {
                "greater": [
                  "@length(outputs('countryCode'))",
                  0
                ]
              }
            ]
          },
          "actions": {
            "Get_country_data": {
              "type": "OpenApiConnection",
              "inputs": {
                "parameters": {
                  "entityName": "revops_countries",
                  "$select": "revops_countryid, revops_name",
                  "$filter": "revops_isocountrycode eq '@{if(\r\n    empty(\r\n        variables('company')?['countryCode']\r\n    ),\r\n    variables('person')?['countryCode'],\r\n    variables('company')?['countryCode']\r\n)}'"
                },
                "host": {
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                  "operationId": "ListRecords",
                  "connectionName": "shared_commondataserviceforapps-2"
                }
              },
              "metadata": {
                "operationMetadataId": "68ffbfc0-acbe-4e6c-8de9-e1e65fc84e9b"
              }
            },
            "country_data": {
              "type": "Compose",
              "inputs": "@outputs('Get_country_data')?['body/value']?[0]",
              "runAfter": {
                "Get_country_data": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "af3affdb-3869-4019-814e-3831523944f2"
              }
            },
            "Update_Lead_Country": {
              "type": "OpenApiConnection",
              "inputs": {
                "parameters": {
                  "entityName": "leads",
                  "recordId": "@triggerOutputs()?['body/leadid']",
                  "item/revops_country@odata.bind": "/@{outputs('country_EntitySetName')}"
                },
                "host": {
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                  "operationId": "UpdateRecord",
                  "connectionName": "shared_commondataserviceforapps-2"
                }
              },
              "runAfter": {
                "country_EntitySetName": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "aa440044-bbd6-4b37-a770-383708ab0e65"
              }
            },
            "stateorprovince_not_empty": {
              "type": "If",
              "expression": {
                "and": [
                  {
                    "greater": [
                      "@length(variables('clearbit stateorprovince'))",
                      0
                    ]
                  }
                ]
              },
              "actions": {
                "Get_stateorprovince_GUID": {
                  "type": "OpenApiConnection",
                  "inputs": {
                    "parameters": {
                      "entityName": "revops_stateorprovinces",
                      "$select": "revops_stateorprovinceid",
                      "$filter": "revops_name eq '@{variables('clearbit stateorprovince')}'"
                    },
                    "host": {
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                      "operationId": "ListRecords",
                      "connectionName": "shared_commondataserviceforapps-2"
                    }
                  },
                  "metadata": {
                    "operationMetadataId": "a2c8f335-d54d-43c3-bad2-5acbe2e4b9b1"
                  }
                },
                "stateorprovince_data": {
                  "type": "Compose",
                  "inputs": "@outputs('Get_stateorprovince_GUID')?['body/value']?[0]",
                  "runAfter": {
                    "Get_stateorprovince_GUID": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "af3affdb-3869-4019-814e-3831523944f2"
                  }
                },
                "stateorprovince_EntitySetName": {
                  "type": "Compose",
                  "inputs": "@outputs('stateorprovince_data')?['@odata.editLink']",
                  "runAfter": {
                    "stateorprovince_data": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "7c852e89-ac2a-431d-9ca5-356abfd5b9c3"
                  }
                }
              },
              "else": {
                "actions": {}
              },
              "runAfter": {
                "Update_Lead_Country": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "36595905-6651-4ada-8380-1d1e4188fcea"
              }
            },
            "country_EntitySetName": {
              "type": "Compose",
              "inputs": "@outputs('country_data')?['@odata.editLink']",
              "runAfter": {
                "country_data": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "8dd830bd-7192-4ad3-9fc1-7c0599dac151"
              }
            }
          },
          "else": {
            "actions": {}
          },
          "runAfter": {
            "Clearbit_stateorprovince": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "e2db5a2d-4084-4cc2-bb13-ab223711ba1f"
          }
        },
        "person": {
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "person",
                "type": "object"
              }
            ]
          },
          "runAfter": {
            "Lookup_Lead_created": [
              "Succeeded"
            ],
            "HTTP": [
              "Succeeded",
              "Failed"
            ]
          },
          "metadata": {
            "operationMetadataId": "77816c92-56b3-49f6-9c21-abc8bbff342b"
          }
        },
        "company": {
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "company",
                "type": "object"
              }
            ]
          },
          "runAfter": {
            "Lookup_Lead_created": [
              "Succeeded"
            ],
            "HTTP": [
              "Succeeded",
              "Failed"
            ]
          },
          "metadata": {
            "operationMetadataId": "5ab62c9e-4268-4f01-96fc-231733c673b7"
          }
        },
        "Clearbit_stateorprovince": {
          "type": "InitializeVariable",
          "description": "This must be declared outside of the conditional elements.",
          "inputs": {
            "variables": [
              {
                "name": "clearbit stateorprovince",
                "type": "string",
                "value": "@{if(\r\n    empty(\r\n        variables('company')?['stateorprovince']\r\n    ),\r\n    variables('person')?['stateorprovince'],\r\n    variables('company')?['stateorprovince']\r\n)}"
              }
            ]
          },
          "runAfter": {
            "Error_404_or_422": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "35d55826-9924-4ef0-a779-fd887ced1cc0"
          }
        },
        "Update_Lead_stateorprovince": {
          "type": "OpenApiConnection",
          "description": "Allow action to fail gracefully and continue should there be no Clearbit state data or lookup fails using Clearbit data. Clearbit lists England as a province and England will not be found in our dtatabase.",
          "inputs": {
            "parameters": {
              "entityName": "leads",
              "recordId": "@triggerOutputs()?['body/leadid']",
              "item/revops_StateorProvince@odata.bind": "/@{outputs('stateorprovince_EntitySetName')}"
            },
            "host": {
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
              "operationId": "UpdateRecord",
              "connectionName": "shared_commondataserviceforapps-2"
            }
          },
          "runAfter": {
            "countryCode_not_empty_or_null": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "aa440044-bbd6-4b37-a770-383708ab0e65"
          }
        },
        "GICSCode_not_empty_or_null": {
          "type": "If",
          "expression": {
            "and": [
              {
                "greater": [
                  "@length(variables('company')?['gicscode'])",
                  0
                ]
              }
            ]
          },
          "actions": {
            "Get_channel": {
              "type": "OpenApiConnection",
              "inputs": {
                "parameters": {
                  "entityName": "revops_gicsmappings",
                  "$select": "revops_channel",
                  "$filter": "revops_gicscode eq '@{variables('company')?['gicscode']}'"
                },
                "host": {
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                  "operationId": "ListRecords",
                  "connectionName": "shared_commondataserviceforapps-2"
                }
              },
              "metadata": {
                "operationMetadataId": "68ffbfc0-acbe-4e6c-8de9-e1e65fc84e9b"
              }
            },
            "channel_data": {
              "type": "Compose",
              "inputs": "@outputs('Get_channel')?['body/value']?[0]",
              "runAfter": {
                "Get_channel": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "af3affdb-3869-4019-814e-3831523944f2"
              }
            },
            "channel_choice_value": {
              "type": "Compose",
              "inputs": "@outputs('channel_data')?['revops_channel']",
              "runAfter": {
                "channel_data": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "8dd830bd-7192-4ad3-9fc1-7c0599dac151"
              }
            }
          },
          "else": {
            "actions": {}
          },
          "runAfter": {
            "Clearbit_stateorprovince": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "d4eb0568-2f50-47cc-83e9-f6c74578dc63"
          }
        }
      },
      "outputs": {}
    },
    "templateName": null
  },
  "schemaVersion": "1.0.0.0"
}