AIDocumentation/_Exports/revopsflows_1_28_0_1/Workflows/GTWGetCheck-Ins-1A3834B4-ABDD-EE11-904C-0022486DC4EB.json
{
  "properties": {
    "connectionReferences": {
      "shared_commondataservice_1": {
        "runtimeSource": "invoker",
        "connection": {
          "connectionReferenceLogicalName": "revops_sharedcommondataservice_43c48"
        },
        "api": {
          "name": "shared_commondataservice"
        }
      },
      "shared_commondataserviceforapps_1": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "revops_sharedcommondataserviceforapps_84bd5"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        },
        "dynamicscrmonline.organizationName": {
          "defaultValue": "",
          "type": "String"
        },
        "dynamicscrmonline.entityName": {
          "defaultValue": "",
          "type": "String"
        }
      },
      "triggers": {
        "manual": {
          "splitOn": "@triggerBody()['rows']",
          "metadata": {
            "operationMetadataId": "6f78d07b-e6f5-42cd-a888-48ac806550d1"
          },
          "type": "Request",
          "kind": "ApiConnection",
          "inputs": {
            "schema": {
              "type": "object",
              "properties": {
                "rows": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "entity": {
                        "type": "object",
                        "properties": {
                          "msevtmgt_eventid": {
                            "title": "Event",
                            "type": "string",
                            "format": "guid"
                          }
                        },
                        "required": [
                          "msevtmgt_eventid"
                        ]
                      }
                    },
                    "required": [
                      "entity"
                    ]
                  }
                }
              },
              "required": [
                "rows"
              ]
            },
            "host": {
              "connection": {
                "name": "@parameters('$connections')['shared_commondataservice_1']['connectionId']"
              }
            },
            "operationId": "GetOnNewItems_V2",
            "parameters": {
              "dataset": "default.cds",
              "table": "msevtmgt_events"
            }
          }
        }
      },
      "actions": {
        "Initialize_Webinar_Token": {
          "runAfter": {
            "Parse_JSON": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "2456b042-d752-4242-9fa1-1374727d3167"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "Webinar_Token",
                "type": "string",
                "value": "@body('Parse_JSON')?['access_token']"
              }
            ]
          }
        },
        "Initialize_client_id": {
          "runAfter": {
            "Initialize_Webinar_Token": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "8a512126-741e-4c3e-b43b-afd451176f16"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "client_id",
                "type": "string",
                "value": "998ce17e-b1a1-400c-84e9-e25ba0db4424"
              }
            ]
          }
        },
        "Initialize_organizers": {
          "runAfter": {
            "Initialize_client_id": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "de171152-93a5-429f-9024-32f2be72e751"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "organizerKey",
                "type": "string",
                "value": "@outputs('Get_Event_Details')?['body/revops_organizerkey']"
              }
            ]
          }
        },
        "Initialize_Webinar": {
          "runAfter": {
            "Initialize_organizers": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "030c55fc-a9c0-4bf8-b11f-475faa12c2c8"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "webinarKey",
                "type": "string",
                "value": "@outputs('Get_Event_Details')?['body/revops_webinarkey']"
              }
            ]
          }
        },
        "Get_Event_Details": {
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "ab670bc6-7685-4a58-8935-6a77587069f9"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps_1",
              "operationId": "GetItem",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "msevtmgt_events",
              "recordId": "@triggerBody()?['entity']?['msevtmgt_eventid']"
            },
            "authentication": {
              "type": "Raw",
              "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"
            }
          }
        },
        "Initialize_Session_Key": {
          "runAfter": {
            "Initialize_Webinar": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "f00fe6cc-4cf7-4238-b444-a30de4f622c7"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "sessionKey",
                "type": "string"
              }
            ]
          }
        },
        "HTTP_-_Get_session": {
          "runAfter": {
            "Initialize_Session_Key": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "30df2153-6375-4694-8bff-d02020bc84a6"
          },
          "type": "Http",
          "inputs": {
            "method": "GET",
            "uri": "https://api.getgo.com/G2W/rest/v2/organizers/@{variables('organizerKey')}/webinars/@{variables('webinarKey')}/sessions",
            "headers": {
              "Authorization": "@variables('Webinar_Token')"
            }
          }
        },
        "Collection_of_SESSIONS_in_JSON_format": {
          "runAfter": {
            "HTTP_-_Get_session": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "87c22b47-1192-45f0-9da1-01f90ccd58f2"
          },
          "type": "ParseJson",
          "inputs": {
            "content": "@body('HTTP_-_Get_session')",
            "schema": {
              "type": "object",
              "properties": {
                "_embedded": {
                  "type": "object",
                  "properties": {
                    "sessionInfoResources": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "sessionKey": {
                            "type": "string"
                          },
                          "webinarKey": {
                            "type": "string"
                          },
                          "webinarName": {
                            "type": "string"
                          },
                          "startTime": {
                            "type": "string"
                          },
                          "endTime": {
                            "type": "string"
                          },
                          "registrantsAttended": {
                            "type": "integer"
                          },
                          "registrantCount": {
                            "type": "integer"
                          },
                          "accountKey": {
                            "type": "string"
                          },
                          "creatingOrganizerKey": {
                            "type": "string"
                          },
                          "creatingOrganizerName": {
                            "type": "string"
                          },
                          "startingOrganizerKey": {
                            "type": "string"
                          },
                          "startingOrganizerName": {
                            "type": "string"
                          },
                          "totalPollCount": {
                            "type": "integer"
                          },
                          "timeZone": {
                            "type": "string"
                          },
                          "experienceType": {
                            "type": "string"
                          },
                          "webinarID": {
                            "type": "string"
                          },
                          "buildNumber": {
                            "type": "integer"
                          },
                          "webinarType": {
                            "type": "integer"
                          },
                          "numRegLinkClicks": {
                            "type": "integer"
                          },
                          "numOpenedInvitations": {
                            "type": "integer"
                          },
                          "includeCertificate": {
                            "type": "boolean"
                          }
                        },
                        "required": [
                          "sessionKey",
                          "webinarKey",
                          "webinarName",
                          "startTime",
                          "endTime",
                          "registrantsAttended",
                          "registrantCount",
                          "accountKey",
                          "creatingOrganizerKey",
                          "creatingOrganizerName",
                          "startingOrganizerKey",
                          "startingOrganizerName",
                          "totalPollCount",
                          "timeZone",
                          "experienceType",
                          "webinarID",
                          "buildNumber",
                          "webinarType",
                          "numRegLinkClicks",
                          "numOpenedInvitations",
                          "includeCertificate"
                        ]
                      }
                    }
                  }
                },
                "page": {
                  "type": "object",
                  "properties": {
                    "size": {
                      "type": "integer"
                    },
                    "totalElements": {
                      "type": "integer"
                    },
                    "totalPages": {
                      "type": "integer"
                    },
                    "number": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          }
        },
        "HTTP_-_REFRESH_TOKEN": {
          "runAfter": {
            "Get_Event_Details": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "38956e6b-f8cb-4033-9de3-cc01e2462acb"
          },
          "type": "Http",
          "inputs": {
            "method": "POST",
            "uri": "https://authentication.logmeininc.com/oauth/token",
            "headers": {
              "Authorization": "Basic ZWYxZTNmOWEtNjQ5Mi00NTE1LTk3OTctYzAyMWIxZDEwMDdhOkF0T3dXTkdPZnV2S1hyT1BGbTdDZEd3Ug==",
              "Content-Type": "application/x-www-form-urlencoded"
            },
            "queries": {
              "grant_type": "refresh_token",
              "refresh_token": "eyJraWQiOiI2MjAiLCJhbGciOiJSUzUxMiJ9.eyJzYyI6ImlkZW50aXR5OiBjb2xsYWI6IGlkZW50aXR5OnNjaW0ubWUiLCJzdWIiOiI4ODA3NDc1NTMzMTgyODkyMjkzIiwiYXVkIjoiZWYxZTNmOWEtNjQ5Mi00NTE1LTk3OTctYzAyMWIxZDEwMDdhIiwib2duIjoicHdkIiwidHlwIjoiciIsImV4cCI6MTcyNjg5MDYyNiwiaWF0IjoxNzI0Mjk4NjI2LCJqdGkiOiIwZDAxMDUzNS01MDg5LTQ1MmEtYThkYy02MjEwOWNmOTIwN2QifQ.JK7IWCobbCi-eC6GkPTC_H6nJs2vEyFkPcokHU01pNHTD3pr4kxK7ka7D5GAr6iptJLUwDsp6GuNkW1E1eZvdoHdtmGd27ffQ1Mz5y-9Pccup1iIG056YRPRDVSQHvbjw_ZTzr-OBy-VLQf2HAJJYgED7vYA1oDVSq42AZBjbTFQxjXVoLx80krI1_s0IRh1FCP7esTz-BTshKtQV5QftbRAnJdgkH39-ShYg6axoKeMf0JLWLN5RaC6pTLVpmMx6vPbg0tMPwWK0CDs-qBggtZUHxA3uTrL7K0btG4aSFdVFowB2g1gUxXXWzjadmyirGBNGUYzgSlcfSpvbGxCzQ"
            }
          },
          "operationOptions": "DisableAsyncPattern, DisableAutomaticDecompression"
        },
        "Parse_JSON": {
          "runAfter": {
            "HTTP_-_REFRESH_TOKEN": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "cca10596-96a7-46e3-a4b1-23fa7761e961"
          },
          "type": "ParseJson",
          "inputs": {
            "content": "@body('HTTP_-_REFRESH_TOKEN')",
            "schema": {
              "type": "object",
              "properties": {
                "access_token": {
                  "type": "string"
                },
                "token_type": {
                  "type": "string"
                },
                "expires_in": {
                  "type": "integer"
                },
                "scope": {
                  "type": "string"
                },
                "principal": {
                  "type": "string"
                },
                "loa": {
                  "type": "integer"
                }
              }
            }
          }
        },
        "Condition_3": {
          "actions": {
            "Apply_to_each_item_in_the_SESSIONS_collection": {
              "foreach": "@body('Collection_of_SESSIONS_in_JSON_format')?['_embedded']?['sessionInfoResources']",
              "actions": {
                "Set_Session_Key": {
                  "runAfter": {},
                  "metadata": {
                    "operationMetadataId": "0cfdb5fa-f9b2-4401-af7c-d76e29a59e6c"
                  },
                  "type": "SetVariable",
                  "inputs": {
                    "name": "sessionKey",
                    "value": "@items('Apply_to_each_item_in_the_SESSIONS_collection')?['sessionKey']"
                  }
                },
                "HTTP_-_Get_session_attendees": {
                  "runAfter": {
                    "Set_Session_Key": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "179097e2-ac3b-4468-a80e-206d5ce46c2b"
                  },
                  "type": "Http",
                  "inputs": {
                    "method": "GET",
                    "uri": "https://api.getgo.com/G2W/rest/v2/organizers/@{variables('organizerKey')}/webinars/@{variables('webinarKey')}/sessions/@{variables('sessionKey')}/attendees",
                    "headers": {
                      "Authorization": "@variables('Webinar_Token')"
                    }
                  }
                },
                "Collection_of_ATTENDEES_in_JSON_format": {
                  "runAfter": {
                    "HTTP_-_Get_session_attendees": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "10aba141-1ed1-4708-8c4d-f1483e79f5c1"
                  },
                  "type": "ParseJson",
                  "inputs": {
                    "content": "@body('HTTP_-_Get_session_attendees')",
                    "schema": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "registrantKey": {
                            "type": "integer"
                          },
                          "firstName": {
                            "type": "string"
                          },
                          "lastName": {
                            "type": "string"
                          },
                          "email": {
                            "type": "string"
                          },
                          "attendanceTimeInSeconds": {
                            "type": "integer"
                          },
                          "sessionKey": {
                            "type": "integer"
                          },
                          "attendance": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "joinTime": {
                                  "type": "string"
                                },
                                "leaveTime": {
                                  "type": "string"
                                }
                              },
                              "required": [
                                "joinTime",
                                "leaveTime"
                              ]
                            }
                          }
                        },
                        "required": [
                          "registrantKey",
                          "firstName",
                          "lastName",
                          "email",
                          "attendanceTimeInSeconds",
                          "sessionKey",
                          "attendance"
                        ]
                      }
                    }
                  }
                },
                "Apply_to_each_Item_in_the_ATTENDEES_Collection": {
                  "foreach": "@body('Collection_of_ATTENDEES_in_JSON_format')",
                  "actions": {
                    "List_Event_Registrations": {
                      "runAfter": {},
                      "metadata": {
                        "operationMetadataId": "089a43e3-f5d7-4e68-8116-669aa1081c94"
                      },
                      "type": "OpenApiConnection",
                      "inputs": {
                        "host": {
                          "connectionName": "shared_commondataserviceforapps_1",
                          "operationId": "ListRecords",
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                        },
                        "parameters": {
                          "entityName": "msevtmgt_eventregistrations",
                          "$filter": "revops_registrationkey eq '@{items('Apply_to_each_Item_in_the_ATTENDEES_Collection')['registrantKey']}'",
                          "$top": 1
                        },
                        "authentication": {
                          "type": "Raw",
                          "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"
                        }
                      }
                    },
                    "Apply_to_each_2": {
                      "foreach": "@outputs('List_Event_Registrations')?['body/value']",
                      "actions": {
                        "Validate_if_Session_Registration_Exist": {
                          "runAfter": {},
                          "metadata": {
                            "operationMetadataId": "f67df78a-73ec-4fe1-8b94-e804a0cb3e35"
                          },
                          "type": "OpenApiConnection",
                          "inputs": {
                            "host": {
                              "connectionName": "shared_commondataserviceforapps_1",
                              "operationId": "ListRecords",
                              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                            },
                            "parameters": {
                              "entityName": "msevtmgt_sessionregistrations",
                              "$filter": "revops_sessionkey eq '@{variables('sessionKey')}'"
                            },
                            "authentication": {
                              "type": "Raw",
                              "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"
                            }
                          }
                        },
                        "Condition_2": {
                          "actions": {
                            "Add_Session_Registration": {
                              "runAfter": {},
                              "metadata": {
                                "operationMetadataId": "7c6c6255-a89a-4f72-8c1c-d65dede66148"
                              },
                              "type": "OpenApiConnection",
                              "inputs": {
                                "host": {
                                  "connectionName": "shared_commondataserviceforapps_1",
                                  "operationId": "CreateRecord",
                                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                                },
                                "parameters": {
                                  "entityName": "msevtmgt_sessionregistrations",
                                  "item/msevtmgt_contactid@odata.bind": "contacts\\@{items('Apply_to_each_2')?['_msevtmgt_contactid_value']}",
                                  "item/msevtmgt_SessionId@odata.bind": "msevtmgt_sessions\\@{outputs('Create_Event_Session')?['body/msevtmgt_sessionid']}",
                                  "item/msevtmgt_Event@odata.bind": "msevtmgt_events\\@{items('Apply_to_each_2')?['_msevtmgt_eventid_value']}",
                                  "item/msevtmgt_RegistrationID@odata.bind": "msevtmgt_eventregistrations\\@{items('Apply_to_each_2')?['msevtmgt_eventregistrationid']}",
                                  "item/revops_sessionkey": "@variables('sessionKey')"
                                },
                                "authentication": {
                                  "type": "Raw",
                                  "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"
                                }
                              }
                            },
                            "Add_Check-In": {
                              "runAfter": {
                                "Add_Session_Registration": [
                                  "Succeeded"
                                ]
                              },
                              "metadata": {
                                "operationMetadataId": "8fc76fbf-4106-4ea3-b8b2-e80dc5e0917a"
                              },
                              "type": "OpenApiConnection",
                              "inputs": {
                                "host": {
                                  "connectionName": "shared_commondataserviceforapps_1",
                                  "operationId": "CreateRecord",
                                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                                },
                                "parameters": {
                                  "entityName": "msevtmgt_checkins",
                                  "item/msevtmgt_checkintype": 100000000,
                                  "item/msevtmgt_RegistrationId@odata.bind": "msevtmgt_eventregistrations\\@{items('Apply_to_each_2')?['msevtmgt_eventregistrationid']}",
                                  "item/msevtmgt_Contact@odata.bind": "contacts\\@{items('Apply_to_each_2')?['_msevtmgt_contactid_value']}",
                                  "item/msevtmgt_Event@odata.bind": "msevtmgt_events\\@{items('Apply_to_each_2')?['_msevtmgt_eventid_value']}",
                                  "item/msevtmgt_name": "Webinar Check-in",
                                  "item/msevtmgt_SessionAttended@odata.bind": "msevtmgt_sessions\\@{outputs('Create_Event_Session')?['body/msevtmgt_sessionid']}",
                                  "item/msevtmgt_SessionRegistration@odata.bind": "msevtmgt_sessionregistrations\\@{outputs('Add_Session_Registration')?['body/msevtmgt_sessionregistrationid']}"
                                },
                                "authentication": {
                                  "type": "Raw",
                                  "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"
                                }
                              }
                            }
                          },
                          "runAfter": {
                            "Number_of_Session_Registrations": [
                              "Succeeded"
                            ]
                          },
                          "expression": {
                            "less": [
                              "@outputs('Number_of_Session_Registrations')",
                              1
                            ]
                          },
                          "metadata": {
                            "operationMetadataId": "9a645a9b-bc18-49d2-b6cc-09641ad749f7"
                          },
                          "type": "If"
                        },
                        "Number_of_Session_Registrations": {
                          "runAfter": {
                            "Validate_if_Session_Registration_Exist": [
                              "Succeeded"
                            ]
                          },
                          "metadata": {
                            "operationMetadataId": "b8afde77-8bae-438d-82d3-460eda6dd578"
                          },
                          "type": "Compose",
                          "inputs": "@length(outputs('Validate_if_Session_Registration_Exist')?['body/value'])"
                        }
                      },
                      "runAfter": {
                        "List_Event_Registrations": [
                          "Succeeded"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "bda4db56-3dd2-457f-80d6-61fd54c6b0d3"
                      },
                      "type": "Foreach"
                    }
                  },
                  "runAfter": {
                    "Condition": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "f95f699d-508d-4e10-9cd6-06f59aa4d745"
                  },
                  "type": "Foreach"
                },
                "Validate_if_Session_Exist": {
                  "runAfter": {
                    "Collection_of_ATTENDEES_in_JSON_format": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "67d68905-0d38-457f-9e36-85b3ef5d993d"
                  },
                  "type": "OpenApiConnection",
                  "inputs": {
                    "host": {
                      "connectionName": "shared_commondataserviceforapps_1",
                      "operationId": "ListRecords",
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                    },
                    "parameters": {
                      "entityName": "msevtmgt_sessions",
                      "$filter": "revops_sessionkey eq '@{variables('sessionKey')}'"
                    },
                    "authentication": {
                      "type": "Raw",
                      "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"
                    }
                  }
                },
                "Condition": {
                  "actions": {
                    "Create_Event_Session": {
                      "runAfter": {},
                      "metadata": {
                        "operationMetadataId": "42aa8005-dc79-4777-8bec-c7029f0844ef"
                      },
                      "type": "OpenApiConnection",
                      "inputs": {
                        "host": {
                          "connectionName": "shared_commondataserviceforapps_1",
                          "operationId": "CreateRecord",
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                        },
                        "parameters": {
                          "entityName": "msevtmgt_sessions",
                          "item/msevtmgt_endtime": "@items('Apply_to_each_item_in_the_SESSIONS_collection')?['endTime']",
                          "item/msevtmgt_Event@odata.bind": "msevtmgt_events\\@{outputs('Get_Event_Details')?['body/msevtmgt_eventid']}",
                          "item/msevtmgt_name": "@items('Apply_to_each_item_in_the_SESSIONS_collection')?['webinarName']",
                          "item/msevtmgt_starttime": "@items('Apply_to_each_item_in_the_SESSIONS_collection')?['startTime']",
                          "item/revops_sessionkey": "@items('Apply_to_each_item_in_the_SESSIONS_collection')?['sessionKey']"
                        },
                        "authentication": {
                          "type": "Raw",
                          "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"
                        }
                      }
                    }
                  },
                  "runAfter": {
                    "Number_of_Existing_Sessions": [
                      "Succeeded"
                    ]
                  },
                  "expression": {
                    "less": [
                      "@outputs('Number_of_Existing_Sessions')",
                      1
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "f48dbe6c-8d5a-43d0-bb08-1e2cc4b85cda"
                  },
                  "type": "If"
                },
                "Number_of_Existing_Sessions": {
                  "runAfter": {
                    "Validate_if_Session_Exist": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "6bce58b9-5ed3-47d9-a5d0-3141ff28796c"
                  },
                  "type": "Compose",
                  "inputs": "@length(outputs('Validate_if_Session_Exist')?['body/value'])"
                }
              },
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "efacfe76-e558-4a92-96ee-cf613b536644"
              },
              "type": "Foreach"
            }
          },
          "runAfter": {
            "Collection_of_SESSIONS_in_JSON_format": [
              "Succeeded"
            ]
          },
          "else": {
            "actions": {
              "Add_Note_on_Event": {
                "runAfter": {},
                "metadata": {
                  "operationMetadataId": "cf500db1-e5e0-46f0-a797-713670831509"
                },
                "type": "OpenApiConnection",
                "inputs": {
                  "host": {
                    "connectionName": "shared_commondataserviceforapps_1",
                    "operationId": "CreateRecord",
                    "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                  },
                  "parameters": {
                    "entityName": "annotations",
                    "item/subject": "No Sessions Found in Go To Webinar",
                    "item/notetext": "The query has returned no results for sessions",
                    "item/objectid_msevtmgt_event@odata.bind": "msevtmgt_events/@{outputs('Get_Event_Details')?['body/msevtmgt_eventid']}"
                  },
                  "authentication": {
                    "type": "Raw",
                    "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"
                  }
                }
              }
            }
          },
          "expression": {
            "greater": [
              "@body('Collection_of_SESSIONS_in_JSON_format')?['page']?['totalElements']",
              0
            ]
          },
          "metadata": {
            "operationMetadataId": "9a782fb6-abb6-4b8e-b8a1-906c1622ed03"
          },
          "type": "If"
        }
      }
    },
    "templateName": "25b2ebc7a0104063aadf51c904a6a95f"
  },
  "schemaVersion": "1.0.0.0"
}