AIDocumentation/_Exports/revopsflows_1_28_0_1/Workflows/GTWRegistrantadded-1B21A4D6-5ADA-EE11-904D-002248D5A732.json
{
  "properties": {
    "connectionReferences": {
      "shared_gotowebinar": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "revops_sharedgotowebinar_43523"
        },
        "api": {
          "name": "shared_gotowebinar"
        }
      },
      "shared_commondataserviceforapps_1": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "revops_sharedcommondataserviceforapps_84bd5"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        }
      },
      "triggers": {
        "When_a_Registration_is_CReated": {
          "metadata": {
            "operationMetadataId": "d2111e6c-e447-4f87-b327-b614f24d7dd4"
          },
          "type": "OpenApiConnectionWebhook",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps_1",
              "operationId": "SubscribeWebhookTrigger",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "subscriptionRequest/message": 1,
              "subscriptionRequest/entityname": "msevtmgt_eventregistration",
              "subscriptionRequest/scope": 4
            },
            "authentication": "@parameters('$authentication')"
          }
        }
      },
      "actions": {
        "Add_registrant": {
          "runAfter": {
            "Get_Contact_Details": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "8813aaa3-08c4-4609-b2b7-fa64f0066277"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_gotowebinar",
              "operationId": "AddRegistrant",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_gotowebinar"
            },
            "parameters": {
              "webinarKey": "@outputs('Get_Event_Details')?['body/revops_webinarkey']",
              "body/email": "@outputs('Get_Contact_Details')?['body/emailaddress1']",
              "body/firstName": "@outputs('Get_Contact_Details')?['body/firstname']",
              "body/lastName": "@outputs('Get_Contact_Details')?['body/lastname']"
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Get_Event_Details": {
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "d513a398-83fb-4122-8b52-edbb3c7405f5"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps_1",
              "operationId": "GetItem",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "msevtmgt_events",
              "recordId": "@triggerOutputs()?['body/_msevtmgt_eventid_value']"
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Get_Contact_Details": {
          "runAfter": {
            "Get_Event_Details": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "3ea55013-92ef-4f3b-9aa6-c17fca8d2d66"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps_1",
              "operationId": "GetItem",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "contacts",
              "recordId": "@triggerOutputs()?['body/_msevtmgt_contactid_value']"
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Update_GTW_Registration_Key": {
          "runAfter": {
            "Add_registrant": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "7c7231d7-544b-40f5-99c3-5746e7d19d0c"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps_1",
              "operationId": "UpdateRecord",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "msevtmgt_eventregistrations",
              "recordId": "@triggerOutputs()?['body/msevtmgt_eventregistrationid']",
              "item/revops_registrationkey": "@outputs('Add_registrant')?['body/registrantKey']",
              "item/revops_webinarurl": "@outputs('Add_registrant')?['body/joinUrl']"
            },
            "authentication": "@parameters('$authentication')"
          }
        }
      }
    },
    "templateName": ""
  },
  "schemaVersion": "1.0.0.0"
}