AIDocumentation/_Exports/revopsflows_1_28_0_1/Workflows/Lead-Resolvecontactbyemail-C6C03138-6102-EF11-9F8A-002248D5A732.json
{
  "properties": {
    "connectionReferences": {
      "shared_commondataserviceforapps_1": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "revops_sharedcommondataserviceforapps_84bd5"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        }
      },
      "triggers": {
        "When_a_lead_is_added,_modified_or_deleted": {
          "metadata": {
            "operationMetadataId": "944e6813-720c-46ac-a857-e66415586ae9"
          },
          "type": "OpenApiConnectionWebhook",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps_1",
              "operationId": "SubscribeWebhookTrigger",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "subscriptionRequest/message": 4,
              "subscriptionRequest/entityname": "lead",
              "subscriptionRequest/scope": 4,
              "subscriptionRequest/filteringattributes": "revops_existingcontact",
              "subscriptionRequest/filterexpression": "revops_existingcontact eq false and emailaddress1 ne null"
            },
            "authentication": "@parameters('$authentication')"
          }
        }
      },
      "actions": {
        "Match_Contact_by_email": {
          "actions": {
            "List_Contacts": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "92ccbf23-20fc-4119-893e-9ca393e61b05"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps_1",
                  "operationId": "ListRecords",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "contacts",
                  "fetchXml": "<fetch version=\"1.0\" output-format=\"xml-platform\" mapping=\"logical\" distinct=\"false\">\n  <entity name=\"contact\">\n    <attribute name=\"fullname\" />\n    <attribute name=\"emailaddress1\" />\n    <attribute name=\"contactid\" />\n    <order attribute=\"fullname\" descending=\"false\" />\n    <filter type=\"and\">\n      <condition attribute=\"statecode\" operator=\"eq\" value=\"0\" />\n      <condition attribute=\"emailaddress1\" operator=\"eq\" value=\"@{triggerOutputs()?['body/emailaddress1']}\" />\n    </filter>\n    <link-entity name=\"account\" from=\"accountid\" to=\"parentcustomerid\" visible=\"false\" link-type=\"outer\" alias=\"a_dc9b80f8c78146d89fd6a3b610836975\">\n      <attribute name=\"name\" />\n    </link-entity>\n  </entity>\n</fetch>"
                },
                "authentication": "@parameters('$authentication')"
              }
            },
            "Set_Number_of_Contacts": {
              "runAfter": {
                "List_Contacts": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "a5e6cb3a-6f63-4b06-bd3e-8fdc25b62154"
              },
              "type": "SetVariable",
              "inputs": {
                "name": "Number_of_contacts",
                "value": "@length(outputs('List_Contacts')?['body/value'])"
              }
            },
            "Associate_Lead_to_Contact": {
              "actions": {
                "Apply_to_each": {
                  "foreach": "@outputs('List_Contacts')?['body/value']",
                  "actions": {
                    "Update_a_row": {
                      "runAfter": {},
                      "metadata": {
                        "operationMetadataId": "dd08bb06-f6ca-4172-bc25-d5dbf0e45958"
                      },
                      "type": "OpenApiConnection",
                      "inputs": {
                        "host": {
                          "connectionName": "shared_commondataserviceforapps_1",
                          "operationId": "UpdateRecord",
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                        },
                        "parameters": {
                          "entityName": "leads",
                          "recordId": "@triggerOutputs()?['body/leadid']",
                          "item/revops_existingcontact": true,
                          "item/parentcontactid@odata.bind": "contacts\\@{items('Apply_to_each')?['contactid']}"
                        },
                        "authentication": "@parameters('$authentication')"
                      }
                    }
                  },
                  "runAfter": {},
                  "metadata": {
                    "operationMetadataId": "66b1c60c-4686-4c46-b04e-502d9239aecf"
                  },
                  "type": "Foreach"
                }
              },
              "runAfter": {
                "Set_Number_of_Contacts": [
                  "Succeeded"
                ]
              },
              "else": {
                "actions": {
                  "Select_Contacts": {
                    "runAfter": {},
                    "metadata": {
                      "operationMetadataId": "2a0e1902-9317-4174-95fc-28efb1972837"
                    },
                    "type": "Select",
                    "inputs": {
                      "from": "@outputs('List_Contacts')?['body/value']",
                      "select": {
                        "Name": "@item()?['fullname']",
                        "Email": "@item()?['emailaddress1']",
                        "Account": "@item()?['_accountid_value']"
                      }
                    }
                  },
                  "Create_HTML_table_2": {
                    "runAfter": {
                      "Select_Contacts": [
                        "Succeeded"
                      ]
                    },
                    "metadata": {
                      "operationMetadataId": "dd05e847-0505-4657-a69d-5f6a7d928efc"
                    },
                    "type": "Table",
                    "inputs": {
                      "from": "@body('Select_Contacts')",
                      "format": "HTML"
                    }
                  },
                  "Compose_2": {
                    "runAfter": {
                      "Create_HTML_table_2": [
                        "Succeeded"
                      ]
                    },
                    "metadata": {
                      "operationMetadataId": "9d9cc09f-5935-42a8-b46a-aebbef55e7a2"
                    },
                    "type": "Compose",
                    "inputs": "<style>\ntable {\n  border: 1px solid #1C6EA4;\n  background-color: #EEEEEE;\n  width: 100%;\n  text-align: left;\n  border-collapse: collapse;\n}\ntable td, table th {\n  border: 1px solid #AAAAAA;\n  padding: 3px 2px;\n}\ntable tbody td {\n  font-size: 13px;\n}\ntable thead {\n  background: #1C6EA4;\n  border-bottom: 2px solid #444444;\n}\ntable thead th {\n  font-size: 15px;\n  font-weight: bold;\n  color: #FFFFFF;\n  border-left: 2px solid #D0E4F5;\n}\ntable thead th:first-child {\n  border-left: none;\n}\n</style>"
                  },
                  "Add_Note_on_Lead_2": {
                    "runAfter": {
                      "Compose_2": [
                        "Succeeded"
                      ]
                    },
                    "metadata": {
                      "operationMetadataId": "facdd58e-ce35-4ce9-b0b1-f0e0299ebd96"
                    },
                    "type": "OpenApiConnection",
                    "inputs": {
                      "host": {
                        "connectionName": "shared_commondataserviceforapps_1",
                        "operationId": "CreateRecord",
                        "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                      },
                      "parameters": {
                        "entityName": "annotations",
                        "item/subject": "Multiple Contacts Found",
                        "item/notetext": "Multiple contacts have the same email. Please manually select the correct contact.\n\n@{outputs('Compose_2')}@{body('Create_HTML_table_2')}\n\n",
                        "item/objectid_lead@odata.bind": "leads\\@{triggerOutputs()?['body/leadid']}"
                      },
                      "authentication": "@parameters('$authentication')"
                    }
                  }
                }
              },
              "expression": {
                "lessOrEquals": [
                  "@variables('Number_of_contacts')",
                  1
                ]
              },
              "metadata": {
                "operationMetadataId": "68112b4b-43d4-456e-b314-586ce0e81b91"
              },
              "type": "If"
            }
          },
          "runAfter": {
            "Number_of_Contacts": [
              "Succeeded"
            ]
          },
          "expression": {
            "not": {
              "equals": [
                "@triggerOutputs()?['body/emailaddress1']",
                "@null"
              ]
            }
          },
          "metadata": {
            "operationMetadataId": "2cdfe478-fa98-4eb3-ab84-6a77ebf8d983"
          },
          "type": "If"
        },
        "Number_of_Contacts": {
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "d401f430-e1d8-4079-8a44-304a8938100f"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "Number_of_contacts",
                "type": "integer"
              }
            ]
          }
        }
      }
    },
    "templateName": ""
  },
  "schemaVersion": "1.0.0.0"
}