AIDocumentation/_Exports/revopsflows_1_28_0_1/Workflows/Lead-SetTerritoryonLead-26F2D8AB-5E99-EE11-BE37-000D3AF4F266.json
{
  "properties": {
    "connectionReferences": {
      "shared_commondataserviceforapps_1": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "revops_sharedcommondataserviceforapps_84bd5"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        }
      },
      "triggers": {
        "When_Lead_is_Created_or_Updated": {
          "metadata": {
            "operationMetadataId": "c27b8cad-7098-4982-a03a-266202f25186"
          },
          "type": "OpenApiConnectionWebhook",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps_1",
              "operationId": "SubscribeWebhookTrigger",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "subscriptionRequest/message": 4,
              "subscriptionRequest/entityname": "lead",
              "subscriptionRequest/scope": 4,
              "subscriptionRequest/filteringattributes": "address1_country,address1_stateorprovince,parentaccountid"
            },
            "authentication": "@parameters('$authentication')"
          }
        }
      },
      "actions": {
        "Validate_Lead_Account": {
          "actions": {
            "Get_Lead_Account": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "a2f15212-becb-4d1e-b372-29b4c60de3c6"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps_1",
                  "operationId": "GetItem",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "accounts",
                  "recordId": "@triggerOutputs()?['body/_parentaccountid_value']"
                },
                "authentication": "@parameters('$authentication')"
              }
            },
            "Validate_Account_Territory": {
              "actions": {
                "Update_Lead_with_Account_Territory": {
                  "runAfter": {},
                  "metadata": {
                    "operationMetadataId": "e3484a1d-0caa-4155-b0ff-c646256d47c8"
                  },
                  "type": "OpenApiConnection",
                  "inputs": {
                    "host": {
                      "connectionName": "shared_commondataserviceforapps_1",
                      "operationId": "UpdateRecord",
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                    },
                    "parameters": {
                      "entityName": "leads",
                      "recordId": "@triggerOutputs()?['body/leadid']",
                      "item/revops_territory@odata.bind": "territories/@{outputs('Get_Lead_Account')?['body/_territoryid_value']}"
                    },
                    "authentication": "@parameters('$authentication')"
                  }
                }
              },
              "runAfter": {
                "Get_Lead_Account": [
                  "Succeeded"
                ]
              },
              "else": {
                "actions": {
                  "Condition": {
                    "actions": {
                      "List_Territory_Region_3": {
                        "runAfter": {},
                        "metadata": {
                          "operationMetadataId": "576a9fe6-2d5e-464c-9d16-1ddadd2a7f43"
                        },
                        "type": "OpenApiConnection",
                        "inputs": {
                          "host": {
                            "connectionName": "shared_commondataserviceforapps_1",
                            "operationId": "ListRecords",
                            "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                          },
                          "parameters": {
                            "entityName": "revops_territoryregions",
                            "fetchXml": "<fetch version=\"1.0\" output-format=\"xml-platform\" mapping=\"logical\" distinct=\"false\">\n  <entity name=\"revops_territoryregion\">\n    <attribute name=\"revops_territoryregionid\" />\n    <attribute name=\"revops_name\" />\n    <attribute name=\"revops_territory\" />\n    <attribute name=\"revops_stateorprovince\" />\n    <attribute name=\"revops_country\" />\n    <order attribute=\"revops_name\" descending=\"false\" />\n    <filter type=\"and\">\n      <condition attribute=\"statecode\" operator=\"eq\" value=\"0\" />\n    </filter>\n    <link-entity name=\"revops_stateorprovince\" from=\"revops_stateorprovinceid\" to=\"revops_stateorprovince\" link-type=\"inner\" alias=\"ac\">\n      <filter type=\"and\">\n        <condition attribute=\"revops_name\" operator=\"eq\" value=\"@{triggerOutputs()?['body/address1_stateorprovince']}\" />\n      </filter>\n    </link-entity>\n    <link-entity name=\"revops_country\" from=\"revops_countryid\" to=\"revops_country\" link-type=\"inner\" alias=\"ad\">\n      <filter type=\"and\">\n        <condition attribute=\"revops_name\" operator=\"eq\" value=\"@{triggerOutputs()?['body/address1_country']}\" />\n      </filter>\n    </link-entity>\n  </entity>\n</fetch>",
                            "$top": 1
                          },
                          "authentication": "@parameters('$authentication')"
                        }
                      },
                      "Apply_to_each_3": {
                        "foreach": "@outputs('List_Territory_Region_3')?['body/value']",
                        "actions": {
                          "Get_Territory_Details_3": {
                            "runAfter": {},
                            "metadata": {
                              "operationMetadataId": "cb161efc-2836-4267-920c-3b2daa0b90e1"
                            },
                            "type": "OpenApiConnection",
                            "inputs": {
                              "host": {
                                "connectionName": "shared_commondataserviceforapps_1",
                                "operationId": "GetItem",
                                "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                              },
                              "parameters": {
                                "entityName": "territories",
                                "recordId": "@items('Apply_to_each_3')?['_revops_territory_value']"
                              },
                              "authentication": "@parameters('$authentication')"
                            }
                          },
                          "Update_Lead_3": {
                            "runAfter": {
                              "Get_Territory_Details_3": [
                                "Succeeded"
                              ]
                            },
                            "metadata": {
                              "operationMetadataId": "2ec63cd6-4ee1-4577-a6e8-bbe044303750"
                            },
                            "type": "OpenApiConnection",
                            "inputs": {
                              "host": {
                                "connectionName": "shared_commondataserviceforapps_1",
                                "operationId": "UpdateRecord",
                                "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                              },
                              "parameters": {
                                "entityName": "leads",
                                "recordId": "@triggerOutputs()?['body/leadid']",
                                "item/revops_territory@odata.bind": "territories/@{outputs('Get_Territory_Details_3')?['body/territoryid']}"
                              },
                              "authentication": "@parameters('$authentication')"
                            }
                          }
                        },
                        "runAfter": {
                          "List_Territory_Region_3": [
                            "Succeeded"
                          ]
                        },
                        "metadata": {
                          "operationMetadataId": "0f68fa1b-0feb-4e46-b62d-e13b04b81a43"
                        },
                        "type": "Foreach"
                      }
                    },
                    "runAfter": {},
                    "else": {
                      "actions": {
                        "List_Territory_Region_4": {
                          "runAfter": {},
                          "metadata": {
                            "operationMetadataId": "576a9fe6-2d5e-464c-9d16-1ddadd2a7f43"
                          },
                          "type": "OpenApiConnection",
                          "inputs": {
                            "host": {
                              "connectionName": "shared_commondataserviceforapps_1",
                              "operationId": "ListRecords",
                              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                            },
                            "parameters": {
                              "entityName": "revops_territoryregions",
                              "fetchXml": "<fetch version=\"1.0\" output-format=\"xml-platform\" mapping=\"logical\" distinct=\"false\">\n  <entity name=\"revops_territoryregion\">\n    <attribute name=\"revops_territoryregionid\" />\n    <attribute name=\"revops_name\" />\n    <attribute name=\"revops_territory\" />\n    <attribute name=\"revops_stateorprovince\" />\n    <attribute name=\"revops_country\" />\n    <order attribute=\"revops_name\" descending=\"false\" />\n    <filter type=\"and\">\n      <condition attribute=\"statecode\" operator=\"eq\" value=\"0\" />\n    </filter>\n    <link-entity name=\"revops_country\" from=\"revops_countryid\" to=\"revops_country\" link-type=\"inner\" alias=\"ag\">\n      <filter type=\"and\">\n        <condition attribute=\"revops_name\" operator=\"eq\" value=\"@{triggerOutputs()?['body/address1_country']}\" />\n      </filter>\n    </link-entity>\n  </entity>\n</fetch>",
                              "$top": 1
                            },
                            "authentication": "@parameters('$authentication')"
                          }
                        },
                        "Apply_to_each_4": {
                          "foreach": "@outputs('List_Territory_Region_4')?['body/value']",
                          "actions": {
                            "Get_Territory_Details_4": {
                              "runAfter": {},
                              "metadata": {
                                "operationMetadataId": "cb161efc-2836-4267-920c-3b2daa0b90e1"
                              },
                              "type": "OpenApiConnection",
                              "inputs": {
                                "host": {
                                  "connectionName": "shared_commondataserviceforapps_1",
                                  "operationId": "GetItem",
                                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                                },
                                "parameters": {
                                  "entityName": "territories",
                                  "recordId": "@items('Apply_to_each_4')?['_revops_territory_value']"
                                },
                                "authentication": "@parameters('$authentication')"
                              }
                            },
                            "Update_Lead_4": {
                              "runAfter": {
                                "Get_Territory_Details_4": [
                                  "Succeeded"
                                ]
                              },
                              "metadata": {
                                "operationMetadataId": "2ec63cd6-4ee1-4577-a6e8-bbe044303750"
                              },
                              "type": "OpenApiConnection",
                              "inputs": {
                                "host": {
                                  "connectionName": "shared_commondataserviceforapps_1",
                                  "operationId": "UpdateRecord",
                                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                                },
                                "parameters": {
                                  "entityName": "leads",
                                  "recordId": "@triggerOutputs()?['body/leadid']",
                                  "item/revops_territory@odata.bind": "territories/@{outputs('Get_Territory_Details_4')?['body/territoryid']}"
                                },
                                "authentication": "@parameters('$authentication')"
                              }
                            }
                          },
                          "runAfter": {
                            "List_Territory_Region_4": [
                              "Succeeded"
                            ]
                          },
                          "metadata": {
                            "operationMetadataId": "0f68fa1b-0feb-4e46-b62d-e13b04b81a43"
                          },
                          "type": "Foreach"
                        }
                      }
                    },
                    "expression": {
                      "or": [
                        {
                          "equals": [
                            "@triggerOutputs()?['body/address1_country']",
                            "United States"
                          ]
                        },
                        {
                          "equals": [
                            "@triggerOutputs()?['body/address1_country']",
                            "Canada"
                          ]
                        }
                      ]
                    },
                    "metadata": {
                      "operationMetadataId": "c5defffb-0ac8-4481-8196-16986378f26b"
                    },
                    "type": "If"
                  }
                }
              },
              "expression": {
                "not": {
                  "equals": [
                    "@outputs('Get_Lead_Account')?['body/_territoryid_value']",
                    "@null"
                  ]
                }
              },
              "metadata": {
                "operationMetadataId": "84596c70-b62c-47a9-b531-3b4277d98685"
              },
              "type": "If"
            }
          },
          "runAfter": {},
          "else": {
            "actions": {
              "Validate_Country": {
                "actions": {
                  "List_Territory_Region": {
                    "runAfter": {},
                    "metadata": {
                      "operationMetadataId": "576a9fe6-2d5e-464c-9d16-1ddadd2a7f43"
                    },
                    "type": "OpenApiConnection",
                    "inputs": {
                      "host": {
                        "connectionName": "shared_commondataserviceforapps_1",
                        "operationId": "ListRecords",
                        "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                      },
                      "parameters": {
                        "entityName": "revops_territoryregions",
                        "fetchXml": "<fetch version=\"1.0\" output-format=\"xml-platform\" mapping=\"logical\" distinct=\"false\">\n  <entity name=\"revops_territoryregion\">\n    <attribute name=\"revops_territoryregionid\" />\n    <attribute name=\"revops_name\" />\n    <attribute name=\"revops_territory\" />\n    <attribute name=\"revops_stateorprovince\" />\n    <attribute name=\"revops_country\" />\n    <order attribute=\"revops_name\" descending=\"false\" />\n    <filter type=\"and\">\n      <condition attribute=\"statecode\" operator=\"eq\" value=\"0\" />\n    </filter>\n    <link-entity name=\"revops_stateorprovince\" from=\"revops_stateorprovinceid\" to=\"revops_stateorprovince\" link-type=\"inner\" alias=\"ac\">\n      <filter type=\"and\">\n        <condition attribute=\"revops_name\" operator=\"eq\" value=\"@{triggerOutputs()?['body/address1_stateorprovince']}\" />\n      </filter>\n    </link-entity>\n    <link-entity name=\"revops_country\" from=\"revops_countryid\" to=\"revops_country\" link-type=\"inner\" alias=\"ad\">\n      <filter type=\"and\">\n        <condition attribute=\"revops_name\" operator=\"eq\" value=\"@{triggerOutputs()?['body/address1_country']}\" />\n      </filter>\n    </link-entity>\n  </entity>\n</fetch>",
                        "$top": 1
                      },
                      "authentication": "@parameters('$authentication')"
                    }
                  },
                  "Apply_to_each": {
                    "foreach": "@outputs('List_Territory_Region')?['body/value']",
                    "actions": {
                      "Get_Territory_Details": {
                        "runAfter": {},
                        "metadata": {
                          "operationMetadataId": "cb161efc-2836-4267-920c-3b2daa0b90e1"
                        },
                        "type": "OpenApiConnection",
                        "inputs": {
                          "host": {
                            "connectionName": "shared_commondataserviceforapps_1",
                            "operationId": "GetItem",
                            "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                          },
                          "parameters": {
                            "entityName": "territories",
                            "recordId": "@items('Apply_to_each')?['_revops_territory_value']"
                          },
                          "authentication": "@parameters('$authentication')"
                        }
                      },
                      "Update_Lead": {
                        "runAfter": {
                          "Get_Territory_Details": [
                            "Succeeded"
                          ]
                        },
                        "metadata": {
                          "operationMetadataId": "2ec63cd6-4ee1-4577-a6e8-bbe044303750"
                        },
                        "type": "OpenApiConnection",
                        "inputs": {
                          "host": {
                            "connectionName": "shared_commondataserviceforapps_1",
                            "operationId": "UpdateRecord",
                            "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                          },
                          "parameters": {
                            "entityName": "leads",
                            "recordId": "@triggerOutputs()?['body/leadid']",
                            "item/revops_territory@odata.bind": "territories/@{outputs('Get_Territory_Details')?['body/territoryid']}"
                          },
                          "authentication": "@parameters('$authentication')"
                        }
                      }
                    },
                    "runAfter": {
                      "List_Territory_Region": [
                        "Succeeded"
                      ]
                    },
                    "metadata": {
                      "operationMetadataId": "0f68fa1b-0feb-4e46-b62d-e13b04b81a43"
                    },
                    "type": "Foreach"
                  }
                },
                "runAfter": {},
                "else": {
                  "actions": {
                    "List_Territory_Region_2": {
                      "runAfter": {},
                      "metadata": {
                        "operationMetadataId": "576a9fe6-2d5e-464c-9d16-1ddadd2a7f43"
                      },
                      "type": "OpenApiConnection",
                      "inputs": {
                        "host": {
                          "connectionName": "shared_commondataserviceforapps_1",
                          "operationId": "ListRecords",
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                        },
                        "parameters": {
                          "entityName": "revops_territoryregions",
                          "fetchXml": "<fetch version=\"1.0\" output-format=\"xml-platform\" mapping=\"logical\" distinct=\"false\">\n  <entity name=\"revops_territoryregion\">\n    <attribute name=\"revops_territoryregionid\" />\n    <attribute name=\"revops_name\" />\n    <attribute name=\"revops_territory\" />\n    <attribute name=\"revops_stateorprovince\" />\n    <attribute name=\"revops_country\" />\n    <order attribute=\"revops_name\" descending=\"false\" />\n    <filter type=\"and\">\n      <condition attribute=\"statecode\" operator=\"eq\" value=\"0\" />\n    </filter>\n    <link-entity name=\"revops_country\" from=\"revops_countryid\" to=\"revops_country\" link-type=\"inner\" alias=\"ag\">\n      <filter type=\"and\">\n        <condition attribute=\"revops_name\" operator=\"eq\" value=\"@{triggerOutputs()?['body/address1_country']}\" />\n      </filter>\n    </link-entity>\n  </entity>\n</fetch>",
                          "$top": 1
                        },
                        "authentication": "@parameters('$authentication')"
                      }
                    },
                    "Apply_to_each_2": {
                      "foreach": "@outputs('List_Territory_Region_2')?['body/value']",
                      "actions": {
                        "Get_Territory_Details_2": {
                          "runAfter": {},
                          "metadata": {
                            "operationMetadataId": "cb161efc-2836-4267-920c-3b2daa0b90e1"
                          },
                          "type": "OpenApiConnection",
                          "inputs": {
                            "host": {
                              "connectionName": "shared_commondataserviceforapps_1",
                              "operationId": "GetItem",
                              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                            },
                            "parameters": {
                              "entityName": "territories",
                              "recordId": "@items('Apply_to_each_2')?['_revops_territory_value']"
                            },
                            "authentication": "@parameters('$authentication')"
                          }
                        },
                        "Update_Lead_2": {
                          "runAfter": {
                            "Get_Territory_Details_2": [
                              "Succeeded"
                            ]
                          },
                          "metadata": {
                            "operationMetadataId": "2ec63cd6-4ee1-4577-a6e8-bbe044303750"
                          },
                          "type": "OpenApiConnection",
                          "inputs": {
                            "host": {
                              "connectionName": "shared_commondataserviceforapps_1",
                              "operationId": "UpdateRecord",
                              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                            },
                            "parameters": {
                              "entityName": "leads",
                              "recordId": "@triggerOutputs()?['body/leadid']",
                              "item/revops_territory@odata.bind": "territories/@{outputs('Get_Territory_Details_2')?['body/territoryid']}"
                            },
                            "authentication": "@parameters('$authentication')"
                          }
                        }
                      },
                      "runAfter": {
                        "List_Territory_Region_2": [
                          "Succeeded"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "0f68fa1b-0feb-4e46-b62d-e13b04b81a43"
                      },
                      "type": "Foreach"
                    }
                  }
                },
                "expression": {
                  "or": [
                    {
                      "equals": [
                        "@triggerOutputs()?['body/address1_country']",
                        "United States of America"
                      ]
                    },
                    {
                      "equals": [
                        "@triggerOutputs()?['body/address1_country']",
                        "Canada"
                      ]
                    }
                  ]
                },
                "metadata": {
                  "operationMetadataId": "c5defffb-0ac8-4481-8196-16986378f26b"
                },
                "type": "If"
              }
            }
          },
          "expression": {
            "not": {
              "equals": [
                "@triggerOutputs()?['body/_parentaccountid_value']",
                "@null"
              ]
            }
          },
          "metadata": {
            "operationMetadataId": "cf422878-a5d1-4aae-9ea2-0795faaca790"
          },
          "type": "If"
        }
      }
    },
    "templateName": ""
  },
  "schemaVersion": "1.0.0.0"
}