AIDocumentation/_Exports/revopsflows_1_28_0_1/Workflows/LinkCumulusAccountstoParentAccounts-50C55434-3D1C-EF11-840B-002248D5A732.json
{
  "properties": {
    "connectionReferences": {
      "shared_commondataserviceforapps_1": {
        "impersonation": {},
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "revops_sharedcommondataserviceforapps_84bd5"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      },
      "shared_commondataserviceforapps": {
        "impersonation": {},
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "new_sharedcommondataserviceforapps_24695"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      },
      "shared_office365": {
        "runtimeSource": "invoker",
        "connection": {
          "connectionReferenceLogicalName": "new_sharedoffice365_e85d3"
        },
        "api": {
          "name": "shared_office365"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        }
      },
      "triggers": {
        "manual": {
          "metadata": {
            "operationMetadataId": "8b60146b-4e5f-4c1f-ba55-e3d2ec09a071"
          },
          "type": "Request",
          "kind": "Button",
          "inputs": {
            "schema": {
              "type": "object",
              "properties": {},
              "required": []
            }
          }
        }
      },
      "actions": {
        "List_Cumulus_Accounts": {
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "36d715f5-4d2c-4199-a16b-3ddbe6191674"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
              "connectionName": "shared_commondataserviceforapps_1",
              "operationId": "ListRecords"
            },
            "parameters": {
              "entityName": "revops_cumulusaccounts",
              "$select": "revops_domain, revops_cumulusaccountid, revops_account, revops_email",
              "$filter": "revops_account eq null"
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Account_Count": {
          "runAfter": {
            "List_Cumulus_Accounts": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "4ec297cc-592c-4c7b-b775-2517d9d7ef5d"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "AccountCount",
                "type": "integer"
              }
            ]
          }
        },
        "Apply_to_each": {
          "foreach": "@outputs('List_Cumulus_Accounts')?['body/value']",
          "actions": {
            "List_Accounts": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "fdb521c6-eb0a-4870-aae1-2ca6191172bc"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                  "connectionName": "shared_commondataserviceforapps_1",
                  "operationId": "ListRecords"
                },
                "parameters": {
                  "entityName": "accounts",
                  "$select": "revops_domain, accountid",
                  "$filter": "revops_domain eq '@{items('Apply_to_each')?['revops_domain']}'"
                },
                "authentication": "@parameters('$authentication')"
              }
            },
            "Set_count_of_Accounts": {
              "runAfter": {
                "Set_Email_Domain": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "552658c7-fbb7-41f0-9b1a-5f8620d97c15"
              },
              "type": "SetVariable",
              "inputs": {
                "name": "AccountCount",
                "value": "@length(outputs('List_Accounts')?['body/value'])"
              }
            },
            "One_Account_Found": {
              "actions": {
                "Link_Cumulus_Account_to_Parent_Account": {
                  "runAfter": {},
                  "metadata": {
                    "operationMetadataId": "de2d569b-eff6-4c2e-8bac-4f350b368357"
                  },
                  "type": "OpenApiConnection",
                  "inputs": {
                    "host": {
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                      "connectionName": "shared_commondataserviceforapps_1",
                      "operationId": "AssociateEntities"
                    },
                    "parameters": {
                      "entityName": "accounts",
                      "recordId": "@outputs('List_Accounts')?['body/value'][0]?['accountid']",
                      "associationEntityRelationship": "revops_cumulusaccount_account_account",
                      "item/@odata.id": "@items('Apply_to_each')?['@odata.id']"
                    },
                    "authentication": "@parameters('$authentication')"
                  }
                }
              },
              "runAfter": {
                "Set_count_of_Accounts": [
                  "Succeeded"
                ]
              },
              "else": {
                "actions": {
                  "One_Account_Found_-_GD": {
                    "actions": {
                      "Link_Cumulus_Account_to_Parent_Account_-_GD": {
                        "runAfter": {},
                        "metadata": {
                          "operationMetadataId": "be2bc785-56e3-42a1-8487-2fd2b55bdb8f"
                        },
                        "type": "OpenApiConnection",
                        "inputs": {
                          "host": {
                            "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                            "connectionName": "shared_commondataserviceforapps",
                            "operationId": "AssociateEntities"
                          },
                          "parameters": {
                            "entityName": "accounts",
                            "recordId": "@outputs('List_Accounts_GD')?['body/value'][0]?['accountid']",
                            "associationEntityRelationship": "revops_cumulusaccount_account_account",
                            "item/@odata.id": "@items('Apply_to_each')?['@odata.id']"
                          },
                          "authentication": "@parameters('$authentication')"
                        }
                      }
                    },
                    "runAfter": {
                      "Set_count_of_Accounts_-_Generic_Domains": [
                        "Succeeded"
                      ]
                    },
                    "else": {
                      "actions": {
                        "Append_to_string_variable": {
                          "runAfter": {},
                          "metadata": {
                            "operationMetadataId": "c2e4c15c-e7eb-492e-a703-c06b7be90b02"
                          },
                          "type": "AppendToStringVariable",
                          "inputs": {
                            "name": "NoMatch",
                            "value": "@{items('Apply_to_each')?['revops_domain']} or @{variables('EmailDomain')}</br>"
                          }
                        }
                      }
                    },
                    "expression": {
                      "equals": [
                        "@variables('AcountCountGD')",
                        1
                      ]
                    },
                    "metadata": {
                      "operationMetadataId": "d5712958-0ce9-4712-8dfa-08f5a5745a1f"
                    },
                    "type": "If"
                  },
                  "Set_count_of_Accounts_-_Generic_Domains": {
                    "runAfter": {
                      "List_Accounts_GD": [
                        "Succeeded"
                      ]
                    },
                    "metadata": {
                      "operationMetadataId": "9f96e34a-c4dc-477c-b019-db49380eeff2"
                    },
                    "type": "SetVariable",
                    "inputs": {
                      "name": "AcountCountGD",
                      "value": "@length(outputs('List_Accounts_GD')?['body/value'])"
                    }
                  },
                  "List_Accounts_GD": {
                    "runAfter": {},
                    "metadata": {
                      "operationMetadataId": "7ea597b9-4194-4262-a847-99c1ac84dcab"
                    },
                    "type": "OpenApiConnection",
                    "inputs": {
                      "host": {
                        "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                        "connectionName": "shared_commondataserviceforapps",
                        "operationId": "ListRecords"
                      },
                      "parameters": {
                        "entityName": "accounts",
                        "$select": "revops_domain, accountid",
                        "$filter": "revops_domain eq '@{variables('EmailDomain')}'"
                      },
                      "authentication": "@parameters('$authentication')"
                    }
                  }
                }
              },
              "expression": {
                "equals": [
                  "@variables('AccountCount')",
                  1
                ]
              },
              "metadata": {
                "operationMetadataId": "2c59cdd6-9b7e-4616-8596-03d670537b82"
              },
              "type": "If"
            },
            "Set_Email_Domain": {
              "runAfter": {
                "List_Accounts": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "acf94d43-57c5-4386-bbc9-1b2a7a90bb84"
              },
              "type": "SetVariable",
              "inputs": {
                "name": "EmailDomain",
                "value": "@{replace(items('Apply_to_each')?['revops_email'], '@', '.')}"
              }
            }
          },
          "runAfter": {
            "NoMatch": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "20bf05c1-7be8-4382-84a6-5fcd3945f3e8"
          },
          "type": "Foreach"
        },
        "Email_Domain": {
          "runAfter": {
            "Account_Count": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "de9ac9c5-42fa-4d46-980f-c6399161a31f"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "EmailDomain",
                "type": "string"
              }
            ]
          }
        },
        "Account_Count_-_Generic_Domain": {
          "runAfter": {
            "Email_Domain": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "507b4566-b72b-4697-8db6-54bc2e9d6afb"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "AcountCountGD",
                "type": "integer"
              }
            ]
          }
        },
        "Send_an_email_(V2)": {
          "runAfter": {
            "Apply_to_each": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "a7aecaad-c0c4-409f-8acb-0fccc71e3c44"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_office365",
              "connectionName": "shared_office365",
              "operationId": "SendEmailV2"
            },
            "parameters": {
              "emailMessage/To": "mclement@sherweb.com;jtgousse@sherweb.com",
              "emailMessage/Subject": "Link Cumulus Accounts to Parent Accounts flow has ended",
              "emailMessage/Body": "<p>Link Cumulus Accounts to Parent Accounts flow has ended.<br>\n<br>\nList of Domains not matchesd:<br>\n@{variables('NoMatch')}</p>",
              "emailMessage/Importance": "Normal"
            },
            "authentication": {
              "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']",
              "type": "Raw"
            }
          }
        },
        "NoMatch": {
          "runAfter": {
            "Account_Count_-_Generic_Domain": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "d7d44f16-17f3-482c-b62d-5f1a7eb23ada"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "NoMatch",
                "type": "string"
              }
            ]
          }
        }
      }
    },
    "templateName": null
  },
  "schemaVersion": "1.0.0.0"
}