AIDocumentation/_Exports/revopsflows_1_28_0_1/Workflows/OrganizationCreatedorDeletedinCumulus-4426E14B-A0FA-EF11-BAE1-7C1E5206727F.json
{
  "properties": {
    "connectionReferences": {
      "shared_commondataserviceforapps": {
        "api": {
          "name": "shared_commondataserviceforapps"
        },
        "connection": {
          "connectionReferenceLogicalName": "revops_sharedcommondataserviceforapps_128e0"
        },
        "runtimeSource": "embedded"
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        },
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        }
      },
      "triggers": {
        "manual": {
          "type": "Request",
          "kind": "Http",
          "inputs": {
            "triggerAuthenticationType": "All",
            "schema": {
              "type": "object",
              "properties": {
                "event_name": {
                  "type": "string"
                },
                "organization_id": {
                  "type": "string"
                },
                "organization_name": {
                  "type": "string"
                },
                "partner_name": {
                  "type": "string"
                },
                "partner_id": {
                  "type": "string"
                },
                "partner_type": {
                  "type": "string"
                }
              }
            }
          },
          "conditions": [],
          "runtimeConfiguration": {
            "concurrency": {
              "runs": 1
            }
          },
          "metadata": {
            "operationMetadataId": "457e0929-649f-4fca-bac3-aaf8d16d40b5"
          }
        }
      },
      "actions": {
        "Switch": {
          "type": "Switch",
          "expression": "@triggerBody()?['event_name']",
          "default": {
            "actions": {}
          },
          "cases": {
            "Organization_Created": {
              "actions": {
                "Get_Cumulus_Account_by_Client_ID": {
                  "type": "OpenApiConnection",
                  "inputs": {
                    "parameters": {
                      "entityName": "revops_cumulusaccounts",
                      "$select": "revops_accountnumber",
                      "$filter": "revops_clientid eq '@{triggerBody()?['partner_id']}'",
                      "$top": 1
                    },
                    "host": {
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                      "operationId": "ListRecords",
                      "connectionName": "shared_commondataserviceforapps"
                    }
                  },
                  "metadata": {
                    "operationMetadataId": "9b268dad-c77e-47bc-aaeb-6b34c3697c70"
                  }
                },
                "Found_odata.editLink": {
                  "type": "If",
                  "expression": {
                    "and": [
                      {
                        "greaterOrEquals": [
                          "@length(outputs('Get_Cumulus_Account_by_Client_ID')?['body/value'])",
                          1
                        ]
                      }
                    ]
                  },
                  "actions": {
                    "Add_Cumulus_Organization": {
                      "type": "OpenApiConnection",
                      "inputs": {
                        "parameters": {
                          "entityName": "revops_cumulusorganizations",
                          "item/revops_cumulusaccount@odata.bind": "/@{outputs('Get_Cumulus_Account_by_Client_ID')?['body/value']?[0]?['@odata.editLink']}",
                          "item/revops_name": "@triggerBody()?['organization_name']",
                          "item/revops_id": "@triggerBody()?['organization_id']"
                        },
                        "host": {
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                          "operationId": "CreateRecord",
                          "connectionName": "shared_commondataserviceforapps"
                        }
                      },
                      "metadata": {
                        "operationMetadataId": "f3005155-d817-45ff-92d6-0a3f27eeea56"
                      }
                    }
                  },
                  "else": {
                    "actions": {
                      "Retry_Get_Cumulus_Account_by_Client_ID": {
                        "type": "OpenApiConnection",
                        "inputs": {
                          "parameters": {
                            "entityName": "revops_cumulusaccounts",
                            "$select": "revops_accountnumber",
                            "$filter": "revops_clientid eq '@{triggerBody()?['partner_id']}'",
                            "$top": 1
                          },
                          "host": {
                            "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                            "operationId": "ListRecords",
                            "connectionName": "shared_commondataserviceforapps"
                          }
                        },
                        "runAfter": {
                          "Delay": [
                            "Succeeded"
                          ]
                        },
                        "metadata": {
                          "operationMetadataId": "9b268dad-c77e-47bc-aaeb-6b34c3697c70"
                        }
                      },
                      "Found_odata.editLink_on_retry": {
                        "type": "If",
                        "expression": {
                          "and": [
                            {
                              "greaterOrEquals": [
                                "@length(outputs('Retry_Get_Cumulus_Account_by_Client_ID')?['body/value'])",
                                1
                              ]
                            }
                          ]
                        },
                        "actions": {
                          "Add_Cumulus_Organization_on_Retry": {
                            "type": "OpenApiConnection",
                            "inputs": {
                              "parameters": {
                                "entityName": "revops_cumulusorganizations",
                                "item/revops_cumulusaccount@odata.bind": "/@{outputs('Retry_Get_Cumulus_Account_by_Client_ID')?['body/value']?[0]?['@odata.editLink']}",
                                "item/revops_name": "@triggerBody()?['organization_name']",
                                "item/revops_id": "@triggerBody()?['organization_id']"
                              },
                              "host": {
                                "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                                "operationId": "CreateRecord",
                                "connectionName": "shared_commondataserviceforapps"
                              }
                            },
                            "metadata": {
                              "operationMetadataId": "f3005155-d817-45ff-92d6-0a3f27eeea56"
                            }
                          }
                        },
                        "else": {
                          "actions": {
                            "Terminate": {
                              "type": "Terminate",
                              "inputs": {
                                "runStatus": "Succeeded"
                              }
                            }
                          }
                        },
                        "runAfter": {
                          "Retry_Get_Cumulus_Account_by_Client_ID": [
                            "Succeeded"
                          ]
                        }
                      },
                      "Delay": {
                        "type": "Wait",
                        "inputs": {
                          "interval": {
                            "count": 10,
                            "unit": "Minute"
                          }
                        },
                        "metadata": {
                          "operationMetadataId": "9fe8fed4-04ac-4929-a50c-4588570e925b"
                        }
                      }
                    }
                  },
                  "runAfter": {
                    "Cumulus_Account_odata.editLink": [
                      "Succeeded"
                    ]
                  }
                },
                "Cumulus_Account_odata.editLink": {
                  "type": "Compose",
                  "inputs": "@outputs('Get_Cumulus_Account_by_Client_ID')?['body/value']?[0]?['@odata.editLink']",
                  "runAfter": {
                    "Get_Cumulus_Account_by_Client_ID": [
                      "Succeeded"
                    ]
                  }
                }
              },
              "case": "Organization Created"
            },
            "Organization_Deleted": {
              "actions": {
                "Get_Cumulus_Organization_by_ID": {
                  "type": "OpenApiConnection",
                  "inputs": {
                    "parameters": {
                      "entityName": "revops_cumulusorganizations",
                      "$select": "revops_cumulusorganizationid",
                      "$filter": "revops_id eq '@{triggerBody()?['organization_id']}'",
                      "$top": 1
                    },
                    "host": {
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                      "operationId": "ListRecords",
                      "connectionName": "shared_commondataserviceforapps"
                    }
                  },
                  "metadata": {
                    "operationMetadataId": "bd21d2e4-1116-4e6a-917d-b1917f873785"
                  }
                },
                "Deactivate_Cumulus_Organization": {
                  "type": "OpenApiConnection",
                  "inputs": {
                    "parameters": {
                      "entityName": "revops_cumulusorganizations",
                      "recordId": "@outputs('Get_Cumulus_Organization_by_ID')?['body/value']?[0]?['revops_cumulusorganizationid']",
                      "item/statecode": 1
                    },
                    "host": {
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                      "operationId": "UpdateOnlyRecord",
                      "connectionName": "shared_commondataserviceforapps"
                    }
                  },
                  "runAfter": {
                    "Get_Cumulus_Organization_by_ID": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "3475f338-2dda-49f2-9368-12877cd28d61"
                  }
                }
              },
              "case": "Organization Deleted"
            }
          },
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "c3d1faec-3d96-4986-bca8-02c0ecf5abb2"
          }
        }
      },
      "outputs": {}
    },
    "templateName": null
  },
  "schemaVersion": "1.0.0.0"
}