AIDocumentation/_Exports/revopsflows_1_28_0_1/Workflows/QueueitemreleasesetcaseOwner-6B0C257B-5941-F011-877A-7C1E52409AFE.json
{
  "properties": {
    "connectionReferences": {
      "shared_commondataserviceforapps-1": {
        "api": {
          "name": "shared_commondataserviceforapps"
        },
        "connection": {
          "connectionReferenceLogicalName": "new_sharedcommondataserviceforapps_44694"
        },
        "runtimeSource": "embedded"
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        },
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        }
      },
      "triggers": {
        "When_a_row_is_added,_modified_or_deleted": {
          "type": "OpenApiConnectionWebhook",
          "inputs": {
            "parameters": {
              "subscriptionRequest/message": 3,
              "subscriptionRequest/entityname": "queueitem",
              "subscriptionRequest/scope": 4
            },
            "host": {
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
              "operationId": "SubscribeWebhookTrigger",
              "connectionName": "shared_commondataserviceforapps-1"
            }
          },
          "conditions": [
            {
              "expression": "@and(   equals(triggerOutputs()?['body/_workerid_value'], null),   equals(triggerOutputs()?['body/objecttypecode'], 112) )"
            }
          ],
          "metadata": {
            "operationMetadataId": "762fb7a8-cd29-4135-a772-2ca5f9bccb83"
          }
        }
      },
      "actions": {
        "Delay": {
          "type": "Wait",
          "inputs": {
            "interval": {
              "count": 5,
              "unit": "Second"
            }
          },
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "b131e7ca-53b2-49de-addc-1e08bef1a274"
          }
        },
        "Get_a_row_by_ID": {
          "type": "OpenApiConnection",
          "inputs": {
            "parameters": {
              "entityName": "queueitems",
              "recordId": "@triggerOutputs()?['body/queueitemid']"
            },
            "host": {
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
              "operationId": "GetItem",
              "connectionName": "shared_commondataserviceforapps-1"
            }
          },
          "runAfter": {
            "Delay": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "e300fbb1-2fe9-4476-bdcd-0c3014e3305c"
          }
        },
        "Condition": {
          "type": "If",
          "expression": {
            "equals": [
              "@outputs('Get_a_row_by_ID')?['body/_workerid_value']",
              "@null"
            ]
          },
          "actions": {
            "Update_a_row": {
              "type": "OpenApiConnection",
              "inputs": {
                "parameters": {
                  "entityName": "incidents",
                  "recordId": "@triggerOutputs()?['body/_objectid_value']",
                  "item/ownerid@odata.bind": "/systemusers(c6fe1fdf-7423-ef11-840a-000d3af34dcf)\n"
                },
                "host": {
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                  "operationId": "UpdateOnlyRecord",
                  "connectionName": "shared_commondataserviceforapps-1"
                }
              },
              "metadata": {
                "operationMetadataId": "7d6efe08-d561-4f26-90e8-3ae13e1718db"
              }
            }
          },
          "else": {
            "actions": {}
          },
          "runAfter": {
            "Get_a_row_by_ID": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "5b58e8c1-072e-4cef-866b-462123f16e6c"
          }
        }
      }
    },
    "templateName": null
  },
  "schemaVersion": "1.0.0.0"
}