AIDocumentation/_Exports/revopsflows_1_28_0_1/Workflows/SetCustomerVerifiedResolutionValue-3D01394B-A3CB-F011-8544-7C1E52067E9E.json
{
  "properties": {
    "connectionReferences": {
      "shared_commondataserviceforapps": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "revops_sharedcommondataserviceforapps_61b07"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        }
      },
      "triggers": {
        "manual": {
          "metadata": {
            "operationMetadataId": "96f937f7-378d-40db-b91a-855f31fce398"
          },
          "type": "Request",
          "kind": "Http",
          "inputs": {
            "schema": {
              "type": "object",
              "properties": {
                "ConversationId": {
                  "type": "string"
                },
                "CustomerVerifiedResolution": {
                  "type": "string"
                }
              }
            },
            "method": "POST",
            "triggerAuthenticationType": "All"
          }
        }
      },
      "actions": {
        "List_CSAT_Responses": {
          "runAfter": {
            "Delay": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "caee9d82-8ba3-4a99-98cd-43673adb03d3"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "ListRecords",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "msdyn_customerfeedbacksurveyresponses",
              "$filter": "msdyn_regardingobjectid eq '@{triggerBody()?['ConversationId']}'"
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Condition": {
          "actions": {
            "Set_Customer_Verified_Resolution_Value_-_Yes": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "988bf800-5f96-4042-9230-670e172bce1a"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps",
                  "operationId": "UpdateOnlyRecord",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "msdyn_customerfeedbacksurveyresponses",
                  "recordId": "@outputs('List_CSAT_Responses')?['body/value'][0]?['msdyn_customerfeedbacksurveyresponseid']",
                  "item/revops_customerverifiedresolution": true
                },
                "authentication": "@parameters('$authentication')"
              }
            }
          },
          "runAfter": {
            "List_CSAT_Responses": [
              "Succeeded"
            ]
          },
          "else": {
            "actions": {
              "Set_Customer_Verified_Resolution_Value_-_No": {
                "runAfter": {},
                "metadata": {
                  "operationMetadataId": "988bf800-5f96-4042-9230-670e172bce1a"
                },
                "type": "OpenApiConnection",
                "inputs": {
                  "host": {
                    "connectionName": "shared_commondataserviceforapps",
                    "operationId": "UpdateOnlyRecord",
                    "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                  },
                  "parameters": {
                    "entityName": "msdyn_customerfeedbacksurveyresponses",
                    "recordId": "@outputs('List_CSAT_Responses')?['body/value'][0]?['msdyn_customerfeedbacksurveyresponseid']",
                    "item/revops_customerverifiedresolution": false
                  },
                  "authentication": "@parameters('$authentication')"
                }
              }
            }
          },
          "expression": {
            "equals": [
              "@triggerBody()?['CustomerVerifiedResolution']",
              "Yes"
            ]
          },
          "metadata": {
            "operationMetadataId": "1ad0b148-9564-4010-9772-ed3cf7f6096a"
          },
          "type": "If"
        },
        "Delay": {
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "7ccf1cc0-bd80-4bc6-b6bd-bcff63073a87"
          },
          "type": "Wait",
          "inputs": {
            "interval": {
              "count": 5,
              "unit": "Minute"
            }
          }
        }
      },
      "outputs": {}
    },
    "templateName": ""
  },
  "schemaVersion": "1.0.0.0"
}