AIDocumentation/_Exports/revopsflows_1_28_0_1/Workflows/UpdateLastInteraction-Email-0CBF6AF4-007D-F011-B4CC-7C1E52409AFE.json
{
  "properties": {
    "connectionReferences": {
      "shared_commondataserviceforapps_1": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "revops_sharedcommondataserviceforapps_cf5b3"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      },
      "shared_commondataserviceforapps": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "revops_sharedcommondataserviceforapps_61b07"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        }
      },
      "triggers": {
        "When_a_row_is_added,_modified_or_deleted": {
          "metadata": {
            "operationMetadataId": "aaf86e4c-bf6d-4059-bc75-1c36b9907fdd"
          },
          "type": "OpenApiConnectionWebhook",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "SubscribeWebhookTrigger",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "subscriptionRequest/message": 1,
              "subscriptionRequest/entityname": "email",
              "subscriptionRequest/scope": 4
            },
            "authentication": "@parameters('$authentication')"
          }
        }
      },
      "actions": {
        "Related_to_Case": {
          "actions": {
            "Condition": {
              "actions": {
                "Set_Email_Direction_-_Incoming": {
                  "runAfter": {},
                  "metadata": {
                    "operationMetadataId": "954e1164-6e74-4600-af29-4bdc4ce4e74c"
                  },
                  "type": "SetVariable",
                  "inputs": {
                    "name": "Email Direction",
                    "value": 234570000
                  }
                }
              },
              "runAfter": {},
              "else": {
                "actions": {
                  "Set_Email_Direction_-_Outgoing": {
                    "runAfter": {},
                    "metadata": {
                      "operationMetadataId": "7e5fff94-4431-4fe7-a73c-b8b2ce455448"
                    },
                    "type": "SetVariable",
                    "inputs": {
                      "name": "Email Direction",
                      "value": 234570001
                    }
                  }
                }
              },
              "expression": {
                "equals": [
                  "@triggerOutputs()?['body/directioncode']",
                  false
                ]
              },
              "metadata": {
                "operationMetadataId": "9537dbc9-4c69-4b7f-8d77-7aaad473ce6b"
              },
              "type": "If"
            },
            "Update_Case": {
              "runAfter": {
                "Condition": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "b7d76de5-aa0d-4fb3-bd10-5c489cd873ea"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps_1",
                  "operationId": "UpdateOnlyRecord",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "incidents",
                  "recordId": "@triggerOutputs()?['body/_regardingobjectid_value']",
                  "item/revops_lastemaildirection": "@variables('Email Direction')",
                  "item/revops_lastinteraction": 234570000
                },
                "authentication": "@parameters('$authentication')"
              }
            }
          },
          "runAfter": {
            "Initialize_variable_-_Email_Direction": [
              "Succeeded"
            ]
          },
          "expression": {
            "equals": [
              "@triggerOutputs()?['body/_regardingobjectid_type']",
              "incidents"
            ]
          },
          "metadata": {
            "operationMetadataId": "d145913a-d295-47be-aa56-189853818a36"
          },
          "type": "If"
        },
        "Initialize_variable_-_Email_Direction": {
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "67fa63a3-cb1e-404f-824e-94462520a472"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "Email Direction",
                "type": "integer"
              }
            ]
          }
        }
      },
      "outputs": {}
    },
    "templateName": ""
  },
  "schemaVersion": "1.0.0.0"
}