AIDocumentation/_Exports/revopsflows_1_28_0_1/Workflows/UpdateCurrencyExchangeRates-9B2CC09C-BCC4-F011-BBD3-7C1E52067E9E.json
{
  "properties": {
    "connectionReferences": {
      "shared_powerbi": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "revops_sharedpowerbi_7229e"
        },
        "api": {
          "name": "shared_powerbi"
        }
      },
      "shared_commondataserviceforapps_1": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "revops_sharedcommondataserviceforapps_b64f8"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        },
        "CurrencyID - USD (revops_currencyidusd)": {
          "defaultValue": "fa7e3122-0b1d-ef11-840b-002248d5a732",
          "type": "String",
          "metadata": {
            "schemaName": "revops_currencyidusd"
          }
        },
        "CurrencyID - EUR (revops_currencyideur)": {
          "defaultValue": "fa3910cd-778d-ef11-8a6a-000d3af4dd88",
          "type": "String",
          "metadata": {
            "schemaName": "revops_currencyideur"
          }
        },
        "CurrencyID - GBP (revops_currencyidgbp)": {
          "defaultValue": "1f488c51-778d-ef11-8a6a-000d3af4dd88",
          "type": "String",
          "metadata": {
            "schemaName": "revops_currencyidgbp"
          }
        }
      },
      "triggers": {
        "Recurrence": {
          "recurrence": {
            "frequency": "Day",
            "interval": 1,
            "timeZone": "Eastern Standard Time",
            "schedule": {
              "hours": [
                "2"
              ]
            }
          },
          "evaluatedRecurrence": {
            "frequency": "Day",
            "interval": 1,
            "startTime": "2025-11-20T02:00:00Z",
            "schedule": {
              "hours": [
                "2"
              ]
            }
          },
          "metadata": {
            "operationMetadataId": "5499e956-dcda-4b16-9147-c79d1924e4d8"
          },
          "type": "Recurrence"
        }
      },
      "actions": {
        "Query_Currency_Exchange_Dataset": {
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "29d33899-1732-4288-a4a4-42909ccc4223"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_powerbi",
              "operationId": "ExecuteDatasetQuery",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_powerbi"
            },
            "parameters": {
              "groupid": "fb834347-7d10-4364-9690-c70ba5bdaab5",
              "datasetid": "6802cd6f-f085-4c2f-8143-abbfbc068ca6",
              "specification/query": "EVALUATE\nVAR LatestDate =\n    CALCULATE(\n        MAX('Snapshots CurrencyExchangeRatesHistorized'[Date]),\n        'Snapshots CurrencyExchangeRatesHistorized'[FromCurrency] = \"CAD\"\n    )\n\nRETURN\nSELECTCOLUMNS(\n    FILTER(\n        'Snapshots CurrencyExchangeRatesHistorized',\n        'Snapshots CurrencyExchangeRatesHistorized'[FromCurrency] = \"CAD\"\n            && 'Snapshots CurrencyExchangeRatesHistorized'[Date] = LatestDate\n            && 'Snapshots CurrencyExchangeRatesHistorized'[ToCurrency] <> \"HUF\"\n    ),\n    \"FromCurrency\", 'Snapshots CurrencyExchangeRatesHistorized'[FromCurrency],\n    \"ToCurrency\", 'Snapshots CurrencyExchangeRatesHistorized'[ToCurrency],\n    \"Rate\", 'Snapshots CurrencyExchangeRatesHistorized'[Rate],\n    \"Date\", 'Snapshots CurrencyExchangeRatesHistorized'[Date]\n)",
              "specification/serializerSettings/includeNulls": false
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Parse_JSON": {
          "runAfter": {
            "Query_Currency_Exchange_Dataset": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "d1862462-6bac-4a8c-b15f-b41ee01c6efd"
          },
          "type": "ParseJson",
          "inputs": {
            "content": "@outputs('Query_Currency_Exchange_Dataset')?['body/firstTableRows']",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "[FromCurrency]": {
                    "type": "string"
                  },
                  "[ToCurrency]": {
                    "type": "string"
                  },
                  "[Rate]": {
                    "type": "number"
                  },
                  "[Date]": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "Filter_array_-_USD": {
          "runAfter": {
            "Parse_JSON": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "9a1ef454-0864-4ac5-b149-63f301c5a610"
          },
          "type": "Query",
          "inputs": {
            "from": "@body('Parse_JSON')",
            "where": "@equals(item()?['[ToCurrency]'], 'USD')"
          }
        },
        "Update_USD_Exchange_Rate": {
          "runAfter": {
            "Filter_array_-_USD": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "a09ea2da-e35e-4b4d-b5e8-c3f5d582092b"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps_1",
              "operationId": "UpdateOnlyRecord",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "transactioncurrencies",
              "recordId": "@parameters('CurrencyID - USD (revops_currencyidusd)')",
              "item/exchangerate": "@first(body('Filter_array_-_USD'))?['[Rate]']"
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Filter_array_-_EUR": {
          "runAfter": {
            "Parse_JSON": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "6b537e48-5a72-4ac9-9139-dcf12b08a45f"
          },
          "type": "Query",
          "inputs": {
            "from": "@body('Parse_JSON')",
            "where": "@equals(item()?['[ToCurrency]'], 'EUR')"
          }
        },
        "Update_EUR_Exchange_Rate": {
          "runAfter": {
            "Filter_array_-_EUR": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "0dd6534e-0c95-479f-a743-4401eef08fcc"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps_1",
              "operationId": "UpdateOnlyRecord",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "transactioncurrencies",
              "recordId": "@parameters('CurrencyID - EUR (revops_currencyideur)')",
              "item/exchangerate": "@first(body('Filter_array_-_EUR'))?['[Rate]']"
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Filter_array_-_GBP": {
          "runAfter": {
            "Parse_JSON": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "2f6eecd8-911f-4a1e-82ac-547e30b5b6e4"
          },
          "type": "Query",
          "inputs": {
            "from": "@body('Parse_JSON')",
            "where": "@equals(item()?['[ToCurrency]'], 'GBP')"
          }
        },
        "Update_GBP_Exchange_Rate": {
          "runAfter": {
            "Filter_array_-_GBP": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "22998028-1b35-426b-9120-09ce627e34b7"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps_1",
              "operationId": "UpdateOnlyRecord",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "transactioncurrencies",
              "recordId": "@parameters('CurrencyID - GBP (revops_currencyidgbp)')",
              "item/exchangerate": "@first(body('Filter_array_-_GBP'))?['[Rate]']"
            },
            "authentication": "@parameters('$authentication')"
          }
        }
      }
    },
    "templateName": ""
  },
  "schemaVersion": "1.0.0.0"
}