AIDocumentation/_Exports/revopsflows_1_28_0_1/Workflows/zremoveJourneyManualDCIJ-Websitecontactformsubmitt-90A1FF34-7B95-F011-B4CC-6045BDFA0630.json
{
  "properties": {
    "connectionReferences": {
      "shared_commondataserviceforapps": {
        "api": {
          "name": "shared_commondataserviceforapps"
        },
        "connection": {
          "connectionReferenceLogicalName": "revops_sharedcommondataserviceforapps_bccd6"
        },
        "runtimeSource": "embedded"
      },
      "shared_commondataserviceforapps_1": {
        "api": {
          "name": "shared_commondataserviceforapps"
        },
        "connection": {
          "connectionReferenceLogicalName": "revops_sharedcommondataserviceforapps_7ec21"
        },
        "runtimeSource": "embedded"
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        },
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        }
      },
      "triggers": {
        "manual": {
          "type": "Request",
          "kind": "ApiConnection",
          "inputs": {
            "operationId": "RecordSelected",
            "parameters": {
              "entityName": "msdynmkt_marketingformsubmissions"
            },
            "schema": {
              "type": "object",
              "properties": {
                "rows": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "entity": {
                        "properties": {
                          "_msdynmkt_createdentity_value": {
                            "title": "Linked Record (Value)",
                            "type": "string"
                          }
                        },
                        "type": "object",
                        "required": []
                      }
                    }
                  }
                }
              },
              "required": [
                "rows"
              ]
            },
            "host": {
              "connection": {
                "name": "@parameters('$connections')['shared_commondataserviceforapps']['connectionId']"
              }
            }
          },
          "splitOn": "@triggerBody()['rows']",
          "metadata": {
            "operationMetadataId": "254fdbbf-a326-4f65-befa-6ca54be85084"
          }
        }
      },
      "actions": {
        "Has_account": {
          "type": "If",
          "expression": {
            "and": [
              {
                "equals": [
                  "@body('Get_lead_by_ID')?['revops_existingaccount']",
                  "Yes"
                ]
              }
            ]
          },
          "actions": {
            "Get_account_by_ID": {
              "type": "OpenApiConnection",
              "inputs": {
                "parameters": {
                  "entityName": "accounts",
                  "recordId": "@body('Get_lead_by_ID')?['_parentaccountid_value']"
                },
                "host": {
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                  "operationId": "GetItem",
                  "connectionName": "shared_commondataserviceforapps_1"
                }
              },
              "metadata": {
                "operationMetadataId": "4750ef08-0af5-48f9-b45d-df2c3bcf06f4"
              }
            }
          },
          "else": {
            "actions": {}
          },
          "runAfter": {
            "Get_contact_by_ID": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "917691d1-613b-4db7-bbc6-46a4fedc371b"
          }
        },
        "Get_lead_by_ID": {
          "type": "OpenApiConnection",
          "inputs": {
            "parameters": {
              "entityName": "leads",
              "recordId": "@outputs('Get_created_entity_by_ID')?['body/_msdynmkt_targetlead_value']"
            },
            "host": {
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
              "operationId": "GetItem",
              "connectionName": "shared_commondataserviceforapps_1"
            }
          },
          "runAfter": {
            "Get_created_entity_by_ID": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "3b692c2e-e59e-48e1-8417-5e4974f37379"
          }
        },
        "Inquiry_Type_Support": {
          "type": "If",
          "expression": {
            "or": [
              {
                "equals": [
                  "@body('Get_lead_by_ID')?['revops_inquirytype']",
                  "Support"
                ]
              }
            ]
          },
          "actions": {
            "Add_a_case_-_support": {
              "type": "OpenApiConnection",
              "inputs": {
                "parameters": {
                  "entityName": "incidents",
                  "item/title": "Website Contact form - @{body('Get_lead_by_ID')?['emailaddress1']}",
                  "item/casetypecode": 1,
                  "item/customerid_contact@odata.bind": "/contacts(@{outputs('Get_contact_by_ID')?['body/contactid']})",
                  "item/description": "A contact form has been completed asking for support questions, they provided the following information:@{body('Get_lead_by_ID')?['description']}",
                  "item/ownerid@odata.bind": "/systemusers(c6fe1fdf-7423-ef11-840a-000d3af34dcf)",
                  "item/prioritycode": 2,
                  "item/primarycontactid@odata.bind": "/contacts(@{outputs('Get_contact_by_ID')?['body/contactid']})",
                  "item/revops_customerlanguage": "@outputs('Get_lead_by_ID')?['body/revops_languagechoice']",
                  "item/caseorigincode": 234570002,
                  "item/revops_queue@odata.bind": "/queues(17166826-85d3-ef11-8ee9-002248b07f79)",
                  "item/revops_service@odata.bind": "/revops_services(d3dc9348-2bea-ef11-9342-000d3af3534f)"
                },
                "host": {
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                  "operationId": "CreateRecord",
                  "connectionName": "shared_commondataserviceforapps_1"
                }
              },
              "metadata": {
                "operationMetadataId": "99451d48-866c-4cbb-a376-cc1961945c0b"
              }
            },
            "Create_Ticket_-_Support": {
              "type": "Http",
              "inputs": {
                "uri": "https://cloudsupportexpert.freshdesk.com/api/v2/tickets",
                "method": "POST",
                "headers": {
                  "Authorization": "Basic VlhVN0NVcERJVVRVd3FYaThYejpY",
                  "Content-Type": "application/json"
                },
                "body": {
                  "email": "@{body('Get_lead_by_ID')?['emailaddress1']}",
                  "description": "A contact form has been completed asking for Billing questions, they provided the following information:<br><br><strong>Request Description:</strong><br>@{body('Get_lead_by_ID')?['description']}<br><br><strong>Name:</strong><br>@{body('Get_lead_by_ID')?['fullname']}<br><br><strong>Language:</strong><br><br><br><strong>Email:</strong><br>@{body('Get_lead_by_ID')?['emailaddress1']}<br><br>",
                  "subject": "Website Contact form - @{body('Get_lead_by_ID')?['emailaddress1']}",
                  "status": 8,
                  "priority": 1,
                  "group_id": 67000569804,
                  "type": "Question (How-to)"
                }
              },
              "runAfter": {
                "Terminate": [
                  "Succeeded"
                ]
              },
              "runtimeConfiguration": {
                "contentTransfer": {
                  "transferMode": "Chunked"
                }
              },
              "metadata": {
                "operationMetadataId": "b7cc134c-966e-4334-aabe-619158cfaac3"
              }
            },
            "Terminate": {
              "type": "Terminate",
              "inputs": {
                "runStatus": "Succeeded"
              },
              "runAfter": {
                "Add_a_case_-_support": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "7766dcde-75ce-4363-9848-654975f88492"
              }
            }
          },
          "else": {
            "actions": {
              "Inquiry_Type_Billing_Else_Sales_Ready": {
                "type": "If",
                "expression": {
                  "and": [
                    {
                      "equals": [
                        "@body('Get_lead_by_ID')?['revops_inquirytype']",
                        "Billing"
                      ]
                    }
                  ]
                },
                "actions": {
                  "Add_a_case_-_billing": {
                    "type": "OpenApiConnection",
                    "inputs": {
                      "parameters": {
                        "entityName": "incidents",
                        "item/title": "Website Contact form - @{body('Get_lead_by_ID')?['emailaddress1']}",
                        "item/casetypecode": 1,
                        "item/customerid_contact@odata.bind": "/contacts(@{outputs('Get_contact_by_ID')?['body/contactid']})",
                        "item/description": "A contact form has been completed asking for billing questions, they provided the following information:@{body('Get_lead_by_ID')?['description']}",
                        "item/ownerid@odata.bind": "/systemusers(c6fe1fdf-7423-ef11-840a-000d3af34dcf)",
                        "item/prioritycode": 2,
                        "item/primarycontactid@odata.bind": "/contacts(@{outputs('Get_contact_by_ID')?['body/contactid']})",
                        "item/revops_customerlanguage": "@outputs('Get_lead_by_ID')?['body/revops_languagechoice']",
                        "item/caseorigincode": 234570002,
                        "item/revops_queue@odata.bind": "/queues(0adf1f37-82d3-ef11-8ee9-002248b08e41)",
                        "item/revops_service@odata.bind": "/revops_services(d3dc9348-2bea-ef11-9342-000d3af3534f)"
                      },
                      "host": {
                        "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                        "operationId": "CreateRecord",
                        "connectionName": "shared_commondataserviceforapps_1"
                      }
                    },
                    "metadata": {
                      "operationMetadataId": "99451d48-866c-4cbb-a376-cc1961945c0b"
                    }
                  },
                  "Create_Ticket_-_Billing": {
                    "type": "Http",
                    "inputs": {
                      "uri": "https://cloudsupportexpert.freshdesk.com/api/v2/tickets",
                      "method": "POST",
                      "headers": {
                        "Authorization": "Basic VlhVN0NVcERJVVRVd3FYaThYejpY",
                        "Content-Type": "application/json"
                      },
                      "body": {
                        "email": "@{body('Get_lead_by_ID')?['emailaddress1']}",
                        "description": "A contact form has been completed asking for Billing questions, they provided the following information:<br><br><strong>Request Description:</strong><br>@{body('Get_lead_by_ID')?['description']}<br><br><strong>Name:</strong><br>@{body('Get_lead_by_ID')?['fullname']}<br><br><strong>Language:</strong><br><br><br><strong>Email:</strong><br>@{body('Get_lead_by_ID')?['emailaddress1']}<br><br>",
                        "subject": "Website Contact form - @{body('Get_lead_by_ID')?['emailaddress1']}",
                        "status": 8,
                        "priority": 1,
                        "group_id": 67000569803,
                        "type": "Question (How-to)"
                      }
                    },
                    "runAfter": {
                      "Terminate_1": [
                        "Succeeded"
                      ]
                    },
                    "runtimeConfiguration": {
                      "contentTransfer": {
                        "transferMode": "Chunked"
                      }
                    },
                    "metadata": {
                      "operationMetadataId": "5f11bb77-c17c-438b-ad9b-3ae8f7649c27"
                    }
                  },
                  "Terminate_1": {
                    "type": "Terminate",
                    "inputs": {
                      "runStatus": "Succeeded"
                    },
                    "runAfter": {
                      "Add_a_case_-_billing": [
                        "Succeeded"
                      ]
                    },
                    "metadata": {
                      "operationMetadataId": "6af69510-81b0-4b23-9ef5-baae1eb4bdfe"
                    }
                  }
                },
                "else": {
                  "actions": {
                    "Condition_2": {
                      "type": "If",
                      "expression": {
                        "or": [
                          {
                            "equals": [
                              "@outputs('Get_lead_by_ID')?['body/revops_inquirytype']",
                              "Partner Sales"
                            ]
                          },
                          {
                            "equals": [
                              "@outputs('Get_lead_by_ID')?['body/revops_inquirytype']",
                              "Sales"
                            ]
                          }
                        ]
                      },
                      "actions": {
                        "Update_lead_row": {
                          "type": "OpenApiConnection",
                          "inputs": {
                            "parameters": {
                              "entityName": "leads",
                              "recordId": "@body('Get_lead_by_ID')?['leadid']",
                              "item/revops_contactsales": true
                            },
                            "host": {
                              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                              "operationId": "UpdateRecord",
                              "connectionName": "shared_commondataserviceforapps_1"
                            }
                          },
                          "metadata": {
                            "operationMetadataId": "d89d4ba3-964f-4c59-9965-950c3816f539"
                          }
                        }
                      },
                      "else": {
                        "actions": {
                          "Add_a_case_-_CST": {
                            "type": "OpenApiConnection",
                            "inputs": {
                              "parameters": {
                                "entityName": "incidents",
                                "item/title": "Website Contact form - @{body('Get_lead_by_ID')?['emailaddress1']}",
                                "item/casetypecode": 1,
                                "item/customerid_contact@odata.bind": "/contacts(@{outputs('Get_contact_by_ID')?['body/contactid']})",
                                "item/description": "A contact form has been completed. They provided the following information:@{body('Get_lead_by_ID')?['description']}",
                                "item/ownerid@odata.bind": "/systemusers(c6fe1fdf-7423-ef11-840a-000d3af34dcf)",
                                "item/prioritycode": 2,
                                "item/primarycontactid@odata.bind": "/contacts(@{outputs('Get_contact_by_ID')?['body/contactid']})",
                                "item/revops_customerlanguage": "@outputs('Get_lead_by_ID')?['body/revops_languagechoice']",
                                "item/caseorigincode": 234570002,
                                "item/revops_queue@odata.bind": "/queues(77b51644-82d3-ef11-8ee9-002248b08e41)",
                                "item/revops_service@odata.bind": "/revops_services(d3dc9348-2bea-ef11-9342-000d3af3534f)"
                              },
                              "host": {
                                "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                                "operationId": "CreateRecord",
                                "connectionName": "shared_commondataserviceforapps_1"
                              }
                            },
                            "metadata": {
                              "operationMetadataId": "99451d48-866c-4cbb-a376-cc1961945c0b"
                            }
                          },
                          "Create_Ticket_-_CST": {
                            "type": "Http",
                            "inputs": {
                              "uri": "https://cloudsupportexpert.freshdesk.com/api/v2/tickets",
                              "method": "POST",
                              "headers": {
                                "Authorization": "Basic VlhVN0NVcERJVVRVd3FYaThYejpY",
                                "Content-Type": "application/json"
                              },
                              "body": {
                                "email": "@{body('Get_lead_by_ID')?['emailaddress1']}",
                                "description": "A lead has asked to be contacted via a contact form on the website, they provided the following information:<br><br><strong>Description:</strong><br>@{body('Get_lead_by_ID')?['description']}<br><br><strong>Marketing Topic:</strong><br>@{body('Get_lead_by_ID')?['revops_marketingtopic']}<br><br><strong>Lead Name:</strong><br>@{body('Get_lead_by_ID')?['fullname']}<br><br><strong>Language:</strong><br><br><br><strong>Company Name:</strong><br>@{body('Get_account_by_ID')?['name']}<br><br><strong>Lead Email:</strong><br>@{body('Get_lead_by_ID')?['emailaddress1']}<br><br><strong>Lead Phone:</strong><br>@{body('Get_lead_by_ID')?['telephone1']}<br><br><strong>Province/State:</strong><br>@{body('Get_account_by_ID')?['address1_stateorprovince']} | @{body('Get_lead_by_ID')?['address1_stateorprovince']}<br><br><strong>Territory Segment:</strong><br>@{body('Get_account_by_ID')?['_territoryid_value']} | @{body('Get_lead_by_ID')?['_revops_territory_value']}<br><br><strong>Account channel:</strong><br>@{body('Get_account_by_ID')?['revops_channel']} | @{body('Get_lead_by_ID')?['revops_channel']}<br><br>",
                                "subject": "Website Contact form - @{body('Get_lead_by_ID')?['emailaddress1']}",
                                "status": 8,
                                "priority": 1,
                                "group_id": 67000569810,
                                "type": "Question (How-to)"
                              }
                            },
                            "runAfter": {
                              "Terminate_2": [
                                "Succeeded"
                              ]
                            },
                            "runtimeConfiguration": {
                              "contentTransfer": {
                                "transferMode": "Chunked"
                              }
                            },
                            "metadata": {
                              "operationMetadataId": "f1dcdc1d-8bb3-4a39-aef8-1810021c2345"
                            }
                          },
                          "Terminate_2": {
                            "type": "Terminate",
                            "inputs": {
                              "runStatus": "Succeeded"
                            },
                            "runAfter": {
                              "Add_a_case_-_CST": [
                                "Succeeded"
                              ]
                            },
                            "metadata": {
                              "operationMetadataId": "01efe011-2ab9-41be-9ebe-4d1e9b419bcb"
                            }
                          }
                        }
                      },
                      "metadata": {
                        "operationMetadataId": "6ffc3eb9-be60-4c19-9e9a-5a1b5d3c1d5f"
                      }
                    }
                  }
                },
                "metadata": {
                  "operationMetadataId": "0a2b88e7-1a18-4edd-b34f-f9cd113d2177"
                }
              }
            }
          },
          "runAfter": {
            "Has_account": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "b4abf8c7-33dc-4b75-8013-f525b90f34de"
          }
        },
        "Get_contact_by_ID": {
          "type": "OpenApiConnection",
          "inputs": {
            "parameters": {
              "entityName": "contacts",
              "recordId": "@outputs('Get_lead_by_ID')?['body/_parentcontactid_value']"
            },
            "host": {
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
              "operationId": "GetItem",
              "connectionName": "shared_commondataserviceforapps_1"
            }
          },
          "runAfter": {
            "Get_lead_by_ID": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "af898bc5-a4d3-4176-813a-514dd23ca766"
          }
        },
        "Get_created_entity_by_ID": {
          "type": "OpenApiConnection",
          "inputs": {
            "parameters": {
              "entityName": "msdynmkt_createdentitylinks",
              "recordId": "@triggerBody()?['entity']['_msdynmkt_createdentity_value']"
            },
            "host": {
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
              "operationId": "GetItem",
              "connectionName": "shared_commondataserviceforapps"
            }
          },
          "runAfter": {}
        }
      },
      "description": "For Contact us and Contact us sales pages"
    },
    "templateName": null
  },
  "schemaVersion": "1.0.0.0"
}