RevOps-Analysts/Documentation/Flows/Account created in Cumulus/Account created in Cumulus.json
{
    "properties": {
        "connectionReferences": {
            "shared_commondataserviceforapps-1": {
                "runtimeSource": "embedded",
                "connection": {
                    "connectionReferenceLogicalName": "new_sharedcommondataserviceforapps_af1b5"
                },
                "api": {
                    "name": "shared_commondataserviceforapps"
                }
            },
            "shared_commondataserviceforapps": {
                "runtimeSource": "embedded",
                "connection": {
                    "connectionReferenceLogicalName": "new_sharedcommondataserviceforapps_86fd5"
                },
                "api": {
                    "name": "shared_commondataserviceforapps"
                }
            },
            "shared_visualstudioteamservices-1": {
                "runtimeSource": "embedded",
                "connection": {
                    "connectionReferenceLogicalName": "revops_sharedvisualstudioteamservices_af01a"
                },
                "api": {
                    "name": "shared_visualstudioteamservices"
                }
            },
            "shared_servicebus_2": {
                "runtimeSource": "embedded",
                "connection": {
                    "connectionReferenceLogicalName": "revops_sharedservicebus_1091a"
                },
                "api": {
                    "name": "shared_servicebus"
                }
            },
            "shared_servicebus_1": {
                "runtimeSource": "embedded",
                "connection": {
                    "connectionReferenceLogicalName": "revops_sharedservicebus_b5c89"
                },
                "api": {
                    "name": "shared_servicebus"
                }
            },
            "shared_commondataserviceforapps-2": {
                "runtimeSource": "embedded",
                "connection": {
                    "connectionReferenceLogicalName": "revops_sharedcommondataserviceforapps_bccd6"
                },
                "api": {
                    "name": "shared_commondataserviceforapps"
                }
            }
        },
        "definition": {
            "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
            "contentVersion": "1.0.0.0",
            "parameters": {
                "$connections": {
                    "defaultValue": {},
                    "type": "Object"
                },
                "$authentication": {
                    "defaultValue": {},
                    "type": "SecureObject"
                }
            },
            "triggers": {
                "manual": {
                    "metadata": {
                        "operationMetadataId": "dc684a51-d860-41d8-a347-b76d0621e25d"
                    },
                    "type": "Request",
                    "kind": "Http",
                    "inputs": {
                        "schema": {
                            "type": "object",
                            "properties": {
                                "event_name": {
                                    "type": "string"
                                },
                                "account_type": {
                                    "type": "string"
                                },
                                "name": {
                                    "type": "string"
                                },
                                "domain": {
                                    "type": "string"
                                },
                                "id": {
                                    "type": "string"
                                },
                                "address1_line1": {
                                    "type": "string"
                                },
                                "address1_city": {
                                    "type": "string"
                                },
                                "address1_stateorprovince": {
                                    "type": "string"
                                },
                                "address1_postalcode": {
                                    "type": "string"
                                },
                                "address1_country": {
                                    "type": "string"
                                },
                                "firstname": {
                                    "type": "string"
                                },
                                "lastname": {
                                    "type": "string"
                                },
                                "emailaddress1": {
                                    "type": "string"
                                },
                                "telephone1": {
                                    "type": "string"
                                },
                                "language": {
                                    "type": "string"
                                },
                                "userid": {
                                    "type": "string"
                                },
                                "strategic_node_name": {
                                    "type": "string"
                                },
                                "subsidiary_id": {
                                    "type": "string"
                                }
                            }
                        },
                        "method": "POST",
                        "triggerAuthenticationType": "All"
                    }
                }
            },
            "actions": {
                "List_Accounts": {
                    "runAfter": {
                        "SystemUserID": [
                            "Succeeded"
                        ]
                    },
                    "metadata": {
                        "operationMetadataId": "74764617-3849-4833-857d-127d5cca47d6"
                    },
                    "type": "OpenApiConnection",
                    "inputs": {
                        "host": {
                            "connectionName": "shared_commondataserviceforapps-1",
                            "operationId": "ListRecords",
                            "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                        },
                        "parameters": {
                            "entityName": "accounts",
                            "$filter": "revops_domain eq '@{triggerBody()?['domain']}'",
                            "$orderby": "modifiedon desc\n"
                        },
                        "authentication": "@parameters('$authentication')"
                    }
                },
                "List_Cumulus_Accounts": {
                    "runAfter": {
                        "Number_of_Accounts_Check": [
                            "Succeeded"
                        ]
                    },
                    "metadata": {
                        "operationMetadataId": "5200ddd5-4517-4936-931f-70b2d5342c6d"
                    },
                    "type": "OpenApiConnection",
                    "inputs": {
                        "host": {
                            "connectionName": "shared_commondataserviceforapps-1",
                            "operationId": "ListRecords",
                            "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                        },
                        "parameters": {
                            "entityName": "revops_cumulusaccounts",
                            "$filter": "revops_clientid eq '@{triggerBody()?['id']}'\n"
                        },
                        "authentication": "@parameters('$authentication')"
                    }
                },
                "Number_of_Cumulus__Accounts": {
                    "runAfter": {
                        "List_Cumulus_Accounts": [
                            "Succeeded"
                        ]
                    },
                    "metadata": {
                        "operationMetadataId": "ed0c8dcb-94db-415c-966f-0f2f37e8ebea"
                    },
                    "type": "InitializeVariable",
                    "inputs": {
                        "variables": [
                            {
                                "name": "Number of Cumulus Accounts",
                                "type": "integer",
                                "value": "@length(outputs('List_Cumulus_Accounts')?['body/value'])"
                            }
                        ]
                    }
                },
                "Number_of_Accounts": {
                    "runAfter": {
                        "AccountURL": [
                            "Succeeded"
                        ]
                    },
                    "metadata": {
                        "operationMetadataId": "e37b1782-2792-49ab-9cde-1b1cadf4dc2c"
                    },
                    "type": "InitializeVariable",
                    "inputs": {
                        "variables": [
                            {
                                "name": "Number of Accounts",
                                "type": "integer",
                                "value": "@length(outputs('List_Accounts')?['body/value'])"
                            }
                        ]
                    }
                },
                "List_Contacts": {
                    "runAfter": {
                        "Number_of_Cumulus__Accounts": [
                            "Succeeded"
                        ]
                    },
                    "metadata": {
                        "operationMetadataId": "796336eb-82b6-4730-ae9c-48a8e3eefbfe"
                    },
                    "type": "OpenApiConnection",
                    "inputs": {
                        "host": {
                            "connectionName": "shared_commondataserviceforapps-1",
                            "operationId": "ListRecords",
                            "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                        },
                        "parameters": {
                            "entityName": "contacts",
                            "$filter": "emailaddress1 eq '@{triggerBody()?['emailaddress1']}'",
                            "$orderby": "modifiedon desc\n"
                        },
                        "authentication": "@parameters('$authentication')"
                    }
                },
                "Number_of_Contacts": {
                    "runAfter": {
                        "List_Contacts": [
                            "Succeeded"
                        ]
                    },
                    "metadata": {
                        "operationMetadataId": "812d797c-ebe5-4623-996e-3acef8e2ceba"
                    },
                    "type": "InitializeVariable",
                    "inputs": {
                        "variables": [
                            {
                                "name": "Number of Contacts",
                                "type": "integer",
                                "value": "@length(outputs('List_Contacts')?['body/value'])"
                            }
                        ]
                    }
                },
                "List_Cumulus_Users": {
                    "runAfter": {
                        "Number_of_Leads_-_Sales_Ready": [
                            "Succeeded"
                        ]
                    },
                    "metadata": {
                        "operationMetadataId": "08734494-cc18-4d98-b76a-5374095f2e1c"
                    },
                    "type": "OpenApiConnection",
                    "inputs": {
                        "host": {
                            "connectionName": "shared_commondataserviceforapps-1",
                            "operationId": "ListRecords",
                            "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                        },
                        "parameters": {
                            "entityName": "revops_cumulususers",
                            "$filter": "revops_userid eq @{triggerBody()?['userid']}"
                        },
                        "authentication": "@parameters('$authentication')"
                    }
                },
                "Number_of_Cumulus_Users": {
                    "runAfter": {
                        "List_Cumulus_Users": [
                            "Succeeded"
                        ]
                    },
                    "metadata": {
                        "operationMetadataId": "7bea7351-36fe-4df2-b42f-671cdc43af95"
                    },
                    "type": "InitializeVariable",
                    "inputs": {
                        "variables": [
                            {
                                "name": "Number of Cumulus Users",
                                "type": "integer",
                                "value": "@length(outputs('List_Cumulus_Users')?['body/value'])"
                            }
                        ]
                    }
                },
                "List_Leads": {
                    "runAfter": {
                        "Number_of_Contacts": [
                            "Succeeded"
                        ]
                    },
                    "metadata": {
                        "operationMetadataId": "664fed97-69f1-4832-b30c-21563bf212fd"
                    },
                    "type": "OpenApiConnection",
                    "inputs": {
                        "host": {
                            "connectionName": "shared_commondataserviceforapps-1",
                            "operationId": "ListRecords",
                            "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                        },
                        "parameters": {
                            "entityName": "leads",
                            "$filter": "emailaddress1 eq '@{triggerBody()?['emailaddress1']}'",
                            "$orderby": "modifiedon desc\n"
                        },
                        "authentication": "@parameters('$authentication')"
                    }
                },
                "Number_of_Leads": {
                    "runAfter": {
                        "List_Leads": [
                            "Succeeded"
                        ]
                    },
                    "metadata": {
                        "operationMetadataId": "1252b286-63c8-4826-b1c4-ebbbd328727f"
                    },
                    "type": "InitializeVariable",
                    "inputs": {
                        "variables": [
                            {
                                "name": "Number of Leads",
                                "type": "integer",
                                "value": "@length(outputs('List_Leads')?['body/value'])"
                            }
                        ]
                    }
                },
                "LeadsContact": {
                    "runAfter": {
                        "Number_of_Opportunities": [
                            "Succeeded"
                        ]
                    },
                    "metadata": {
                        "operationMetadataId": "827718b6-9cfc-49bc-9270-e59c7c631b68"
                    },
                    "type": "InitializeVariable",
                    "inputs": {
                        "variables": [
                            {
                                "name": "LeadsContact",
                                "type": "string"
                            }
                        ]
                    }
                },
                "List_Domains": {
                    "runAfter": {
                        "Number_of_Cumulus_Users": [
                            "Succeeded"
                        ]
                    },
                    "metadata": {
                        "operationMetadataId": "9660c3e0-7a06-4f45-88b0-ccfc00e51c7a"
                    },
                    "type": "OpenApiConnection",
                    "inputs": {
                        "host": {
                            "connectionName": "shared_commondataserviceforapps",
                            "operationId": "ListRecords",
                            "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                        },
                        "parameters": {
                            "entityName": "revops_domains",
                            "$filter": "revops_domain eq '@{triggerBody()?['domain']}'"
                        },
                        "authentication": "@parameters('$authentication')"
                    }
                },
                "Number_of_Domains": {
                    "runAfter": {
                        "List_Domains": [
                            "Succeeded"
                        ]
                    },
                    "metadata": {
                        "operationMetadataId": "b2479408-ee87-4a41-a217-ff4d1beb4459"
                    },
                    "type": "InitializeVariable",
                    "inputs": {
                        "variables": [
                            {
                                "name": "Number of Domains",
                                "type": "integer",
                                "value": "@length(outputs('List_Domains')?['body/value'])"
                            }
                        ]
                    }
                },
                "Matching_Domain": {
                    "actions": {
                        "Multiple_Domain_Match": {
                            "actions": {
                                "Duplicate_detected_in_Domain_table": {
                                    "runAfter": {},
                                    "metadata": {
                                        "operationMetadataId": "442b4ee1-ba9f-46d3-9130-3be7b60e621c"
                                    },
                                    "type": "OpenApiConnection",
                                    "inputs": {
                                        "host": {
                                            "connectionName": "shared_visualstudioteamservices-1",
                                            "operationId": "CreateWorkItem",
                                            "apiId": "/providers/Microsoft.PowerApps/apis/shared_visualstudioteamservices"
                                        },
                                        "parameters": {
                                            "account": "Revenue-Operations",
                                            "project": "RevOps - Analysts",
                                            "type": "User Story",
                                            "workItem/title": "Cumulus Account creation - Duplicate in Domain table",
                                            "workItem/description": "&lt;p&gt;The Cumulus Account creation flow has detected a duplicate domain in the Domains table.&lt;br&gt;\n&lt;br&gt;\nDuplicate domain:&lt;br&gt;\n@{triggerBody()?['domain']}&lt;br&gt;\n&lt;br&gt;\nWe need to verify if this is a potential Generic domain. If it is, modify the type in the Domains table and change all CRM accounts with this domain to the emailprefix.domain.com format.&lt;/p&gt;"
                                        },
                                        "authentication": "@parameters('$authentication')"
                                    }
                                }
                            },
                            "runAfter": {},
                            "else": {
                                "actions": {
                                    "Generic_or_Franchise_Check": {
                                        "actions": {
                                            "Set_GenericDomainFormat": {
                                                "runAfter": {},
                                                "metadata": {
                                                    "operationMetadataId": "2ab05ac3-8d5b-4520-a8bc-62fe88b8dea6"
                                                },
                                                "type": "SetVariable",
                                                "inputs": {
                                                    "name": "Generic Domain Format",
                                                    "value": "@{replace(triggerBody()?['emailaddress1'], '@', '.')}"
                                                }
                                            },
                                            "List_Accounts_GenericDomainFormat": {
                                                "runAfter": {
                                                    "Set_GenericDomainFormat": [
                                                        "Succeeded"
                                                    ]
                                                },
                                                "metadata": {
                                                    "operationMetadataId": "74764617-3849-4833-857d-127d5cca47d6"
                                                },
                                                "type": "OpenApiConnection",
                                                "inputs": {
                                                    "host": {
                                                        "connectionName": "shared_commondataserviceforapps-1",
                                                        "operationId": "ListRecords",
                                                        "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                                                    },
                                                    "parameters": {
                                                        "entityName": "accounts",
                                                        "$filter": "revops_domain eq '@{variables('Generic Domain Format')}'"
                                                    },
                                                    "authentication": "@parameters('$authentication')"
                                                }
                                            },
                                            "Set_Number_of_Accounts": {
                                                "runAfter": {
                                                    "List_Accounts_GenericDomainFormat": [
                                                        "Succeeded"
                                                    ]
                                                },
                                                "metadata": {
                                                    "operationMetadataId": "857f6d21-8c12-477b-92ff-33f907a8d566"
                                                },
                                                "type": "SetVariable",
                                                "inputs": {
                                                    "name": "Number of Accounts",
                                                    "value": "@length(outputs('List_Accounts_GenericDomainFormat')?['body/value'])"
                                                }
                                            },
                                            "Matching_Account_GenericDomainFormat": {
                                                "actions": {
                                                    "Set_AccountID_Value_-_GenericDomainFormat": {
                                                        "runAfter": {},
                                                        "metadata": {
                                                            "operationMetadataId": "c217d70f-927c-40ff-886b-ebb592a3105b"
                                                        },
                                                        "type": "SetVariable",
                                                        "inputs": {
                                                            "name": "AccountID",
                                                            "value": "@{outputs('List_Accounts_GenericDomainFormat')?['body/value'][0]?['accountid']}"
                                                        }
                                                    },
                                                    "Set_AccountURL_value_to_Matching_Account": {
                                                        "runAfter": {
                                                            "Set_AccountID_Value_-_GenericDomainFormat": [
                                                                "Succeeded"
                                                            ]
                                                        },
                                                        "metadata": {
                                                            "operationMetadataId": "ff43613d-32d8-42aa-95ea-36164a895b84"
                                                        },
                                                        "type": "SetVariable",
                                                        "inputs": {
                                                            "name": "AccountURL",
                                                            "value": "@{outputs('List_Accounts_GenericDomainFormat')?['body/value'][0]?['@odata.id']}"
                                                        }
                                                    }
                                                },
                                                "runAfter": {
                                                    "Set_Number_of_Accounts": [
                                                        "Succeeded"
                                                    ]
                                                },
                                                "else": {
                                                    "actions": {
                                                        "Set_Domain_-_GenericDomainFormat": {
                                                            "runAfter": {},
                                                            "metadata": {
                                                                "operationMetadataId": "8d5309e4-3b5b-48dc-b556-d3af4982e77a"
                                                            },
                                                            "type": "SetVariable",
                                                            "inputs": {
                                                                "name": "Domain Value",
                                                                "value": "@variables('Generic Domain Format')"
                                                            }
                                                        }
                                                    }
                                                },
                                                "expression": {
                                                    "greaterOrEquals": [
                                                        "@variables('Number of Accounts')",
                                                        1
                                                    ]
                                                },
                                                "metadata": {
                                                    "operationMetadataId": "a2701603-5f3b-4265-8c47-9c6573acf584"
                                                },
                                                "type": "If"
                                            }
                                        },
                                        "runAfter": {},
                                        "expression": {
                                            "or": [
                                                {
                                                    "equals": [
                                                        "@outputs('List_Domains')?['body/value'][0]?['revops_type']",
                                                        234570000
                                                    ]
                                                },
                                                {
                                                    "equals": [
                                                        "@outputs('List_Domains')?['body/value'][0]?['revops_type']",
                                                        234570001
                                                    ]
                                                }
                                            ]
                                        },
                                        "metadata": {
                                            "operationMetadataId": "1001ced6-c7fd-479c-afc3-a8ae6b705cc5"
                                        },
                                        "type": "If"
                                    }
                                }
                            },
                            "expression": {
                                "greater": [
                                    "@variables('Number of Domains')",
                                    1
                                ]
                            },
                            "metadata": {
                                "operationMetadataId": "6a44318d-30e3-498a-b0e0-57f31edb6e4a"
                            },
                            "type": "If"
                        }
                    },
                    "runAfter": {
                        "IV_Cumulus_signup": [
                            "Succeeded"
                        ]
                    },
                    "else": {
                        "actions": {
                            "Add_Domain": {
                                "runAfter": {},
                                "metadata": {
                                    "operationMetadataId": "9ab5732c-9159-42db-acb9-1dfa83525c92"
                                },
                                "type": "OpenApiConnection",
                                "inputs": {
                                    "host": {
                                        "connectionName": "shared_commondataserviceforapps-1",
                                        "operationId": "CreateRecord",
                                        "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                                    },
                                    "parameters": {
                                        "entityName": "revops_domains",
                                        "item/revops_domain": "@triggerBody()?['domain']",
                                        "item/revops_type": 234570002
                                    },
                                    "authentication": "@parameters('$authentication')"
                                }
                            }
                        }
                    },
                    "expression": {
                        "greater": [
                            "@variables('Number of Domains')",
                            0
                        ]
                    },
                    "metadata": {
                        "operationMetadataId": "240aebe8-73d8-4590-b809-bea48f98c52a"
                    },
                    "type": "If"
                },
                "Matching_Contact": {
                    "actions": {
                        "Multiple_Matching_Contacts": {
                            "actions": {
                                "Duplicate_Contact_Warning": {
                                    "runAfter": {},
                                    "metadata": {
                                        "operationMetadataId": "995496f6-cded-4143-a89a-b17bf4e44de2"
                                    },
                                    "type": "OpenApiConnection",
                                    "inputs": {
                                        "host": {
                                            "connectionName": "shared_visualstudioteamservices-1",
                                            "operationId": "CreateWorkItem",
                                            "apiId": "/providers/Microsoft.PowerApps/apis/shared_visualstudioteamservices"
                                        },
                                        "parameters": {
                                            "account": "Revenue-Operations",
                                            "project": "RevOps - Analysts",
                                            "type": "Bug",
                                            "workItem/title": "Cumulus Account created flow detected a duplicate Contact",
                                            "workItem/description": "&lt;p&gt;&lt;strong&gt;Segment Info&lt;/strong&gt;&lt;br&gt;\n&lt;br&gt;\n&lt;strong&gt;Name:&lt;/strong&gt;&lt;br&gt;\n@{triggerBody()?['name']}&lt;br&gt;\n&lt;strong&gt;Domain:&lt;/strong&gt;&lt;br&gt;\n@{triggerBody()?['domain']}&lt;br&gt;\n&lt;strong&gt;id:&lt;/strong&gt;&lt;br&gt;\n@{triggerBody()?['id']}&lt;br&gt;\n&lt;strong&gt;Email:&lt;/strong&gt;&lt;br&gt;\n@{triggerBody()?['emailaddress1']}&lt;br&gt;\n&lt;strong&gt;Userid:&lt;/strong&gt;&lt;br&gt;\n@{triggerBody()?['userid']}&lt;/p&gt;"
                                        },
                                        "authentication": "@parameters('$authentication')"
                                    }
                                },
                                "Terminate_-_Duplicate_Contact": {
                                    "runAfter": {
                                        "Duplicate_Contact_Warning": [
                                            "Succeeded"
                                        ]
                                    },
                                    "metadata": {
                                        "operationMetadataId": "a32839fb-f9fd-4d96-96d6-6b3ed0999b36"
                                    },
                                    "type": "Terminate",
                                    "inputs": {
                                        "runStatus": "Failed",
                                        "runError": {
                                            "message": "Duplicate Contact found"
                                        }
                                    }
                                }
                            },
                            "runAfter": {},
                            "else": {
                                "actions": {
                                    "Set_LeadsContact_to_matching_Contact": {
                                        "runAfter": {},
                                        "metadata": {
                                            "operationMetadataId": "bb6aaee3-7513-4c38-8f24-ed4304afeee4"
                                        },
                                        "type": "SetVariable",
                                        "inputs": {
                                            "name": "LeadsContact",
                                            "value": "@{outputs('List_Contacts')?['body/value'][0]?['contactid']}"
                                        }
                                    },
                                    "Link_Cumulus_User_to_Matching_Contact": {
                                        "runAfter": {
                                            "Link_Matching_Contact_to_Parent_Account": [
                                                "Succeeded"
                                            ]
                                        },
                                        "metadata": {
                                            "operationMetadataId": "36713cb7-2fb9-4f23-bc26-1fba3b380e08"
                                        },
                                        "type": "OpenApiConnection",
                                        "inputs": {
                                            "host": {
                                                "connectionName": "shared_commondataserviceforapps-1",
                                                "operationId": "AssociateEntities",
                                                "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                                            },
                                            "parameters": {
                                                "entityName": "contacts",
                                                "recordId": "@outputs('List_Contacts')?['body/value'][0]?['contactid']",
                                                "associationEntityRelationship": "revops_cumulususer_contact_contact",
                                                "item/@odata.id": "@outputs('Create_Cumulus_User')?['body/@odata.id']"
                                            },
                                            "authentication": "@parameters('$authentication')"
                                        }
                                    },
                                    "Set_Matching_Contact_as_Primary_Contact_on_Parent_Account": {
                                        "runAfter": {
                                            "Set_CumulusSignupMethod": [
                                                "Succeeded"
                                            ]
                                        },
                                        "metadata": {
                                            "operationMetadataId": "eabb6cf6-b5d4-4084-91f7-5caa541d01a0"
                                        },
                                        "type": "OpenApiConnection",
                                        "inputs": {
                                            "host": {
                                                "connectionName": "shared_commondataserviceforapps-1",
                                                "operationId": "AssociateEntities",
                                                "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                                            },
                                            "parameters": {
                                                "entityName": "contacts",
                                                "recordId": "@outputs('List_Contacts')?['body/value'][0]?['contactid']",
                                                "associationEntityRelationship": "account_primary_contact",
                                                "item/@odata.id": "@variables('AccountURL')"
                                            },
                                            "authentication": "@parameters('$authentication')"
                                        }
                                    },
                                    "Link_Matching_Contact_to_Parent_Account": {
                                        "runAfter": {
                                            "Set_Matching_Contact_as_Primary_Contact_on_Parent_Account": [
                                                "Succeeded"
                                            ]
                                        },
                                        "metadata": {
                                            "operationMetadataId": "629966b3-d345-47ea-b5b2-372d22eb454f"
                                        },
                                        "type": "OpenApiConnection",
                                        "inputs": {
                                            "host": {
                                                "connectionName": "shared_commondataserviceforapps-1",
                                                "operationId": "AssociateEntities",
                                                "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                                            },
                                            "parameters": {
                                                "entityName": "accounts",
                                                "recordId": "@variables('AccountID')",
                                                "associationEntityRelationship": "contact_customer_accounts",
                                                "item/@odata.id": "@outputs('List_Contacts')?['body/value'][0]?['@odata.id']"
                                            },
                                            "authentication": "@parameters('$authentication')"
                                        }
                                    },
                                    "Set_CumulusSignupMethod": {
                                        "runAfter": {
                                            "Set_LeadsContact_to_matching_Contact": [
                                                "Succeeded"
                                            ]
                                        },
                                        "metadata": {
                                            "operationMetadataId": "67c206ff-c9af-4720-bd94-7dfef034eb96"
                                        },
                                        "type": "SetVariable",
                                        "inputs": {
                                            "name": "CumulusSignupMethod",
                                            "value": "Assisted"
                                        }
                                    }
                                }
                            },
                            "expression": {
                                "and": [
                                    {
                                        "greater": [
                                            "@variables('Number of Contacts')",
                                            1
                                        ]
                                    }
                                ]
                            },
                            "metadata": {
                                "operationMetadataId": "dbc828d2-7708-4dca-a719-1fa6bef61577"
                            },
                            "type": "If"
                        }
                    },
                    "runAfter": {
                        "Matching_Cumulus_User": [
                            "Succeeded"
                        ]
                    },
                    "else": {
                        "actions": {
                            "Create_Contact": {
                                "runAfter": {},
                                "metadata": {
                                    "operationMetadataId": "0ff885fb-a0a5-4885-afe6-d2331610e823"
                                },
                                "type": "OpenApiConnection",
                                "inputs": {
                                    "host": {
                                        "connectionName": "shared_commondataserviceforapps-1",
                                        "operationId": "CreateRecord",
                                        "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                                    },
                                    "parameters": {
                                        "entityName": "contacts",
                                        "item/lastname": "@triggerBody()?['lastname']",
                                        "item/address1_city": "@triggerBody()?['address1_city']",
                                        "item/address1_line1": "@triggerBody()?['address1_line1']",
                                        "item/address1_postalcode": "@triggerBody()?['address1_postalcode']",
                                        "item/emailaddress1": "@triggerBody()?['emailaddress1']",
                                        "item/firstname": "@triggerBody()?['firstname']",
                                        "item/address1_country": "@triggerBody()?['address1_country']",
                                        "item/ownerid@odata.bind": "/systemusers(@{variables('SystemUserID')})"
                                    },
                                    "authentication": "@parameters('$authentication')"
                                }
                            },
                            "Set_LeadsContact_to_created_Contact": {
                                "runAfter": {
                                    "Link_Cumulus_User_to_Contact": [
                                        "Succeeded"
                                    ]
                                },
                                "metadata": {
                                    "operationMetadataId": "61812861-45fb-4a17-b661-9e881dcfeb15"
                                },
                                "type": "SetVariable",
                                "inputs": {
                                    "name": "LeadsContact",
                                    "value": "@outputs('Create_Contact')?['body/contactid']"
                                }
                            },
                            "Link_Cumulus_User_to_Contact": {
                                "runAfter": {
                                    "Create_Contact": [
                                        "Succeeded"
                                    ]
                                },
                                "metadata": {
                                    "operationMetadataId": "942fedc6-0fd4-4c06-b5c0-cc73e571a7d7"
                                },
                                "type": "OpenApiConnection",
                                "inputs": {
                                    "host": {
                                        "connectionName": "shared_commondataserviceforapps-1",
                                        "operationId": "AssociateEntities",
                                        "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                                    },
                                    "parameters": {
                                        "entityName": "contacts",
                                        "recordId": "@body('Create_Contact')?['contactid']",
                                        "associationEntityRelationship": "revops_cumulususer_contact_contact",
                                        "item/@odata.id": "@body('Create_Cumulus_User')?['@odata.id']"
                                    },
                                    "authentication": "@parameters('$authentication')"
                                }
                            },
                            "Set_Created_Contact_as_Primary_Contact_on_Parent_Account": {
                                "runAfter": {
                                    "Set_LeadsContact_to_created_Contact": [
                                        "Succeeded"
                                    ]
                                },
                                "metadata": {
                                    "operationMetadataId": "851f8e09-782b-4952-9b62-4b424c900333"
                                },
                                "type": "OpenApiConnection",
                                "inputs": {
                                    "host": {
                                        "connectionName": "shared_commondataserviceforapps-1",
                                        "operationId": "AssociateEntities",
                                        "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                                    },
                                    "parameters": {
                                        "entityName": "contacts",
                                        "recordId": "@outputs('Create_Contact')?['body/contactid']",
                                        "associationEntityRelationship": "account_primary_contact",
                                        "item/@odata.id": "@variables('AccountURL')"
                                    },
                                    "authentication": "@parameters('$authentication')"
                                }
                            },
                            "Link_Created_Contact_to_Parent_Account": {
                                "runAfter": {
                                    "Set_Created_Contact_as_Primary_Contact_on_Parent_Account": [
                                        "Succeeded"
                                    ]
                                },
                                "metadata": {
                                    "operationMetadataId": "0d1a4da3-7f45-4057-acb4-a31dd7d4d5d6"
                                },
                                "type": "OpenApiConnection",
                                "inputs": {
                                    "host": {
                                        "connectionName": "shared_commondataserviceforapps-1",
                                        "operationId": "AssociateEntities",
                                        "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                                    },
                                    "parameters": {
                                        "entityName": "accounts",
                                        "recordId": "@variables('AccountID')",
                                        "associationEntityRelationship": "contact_customer_accounts",
                                        "item/@odata.id": "@outputs('Create_Contact')?['body/@odata.id']"
                                    },
                                    "authentication": "@parameters('$authentication')"
                                }
                            },
                            "Set_CumulusSignupMethod2": {
                                "runAfter": {
                                    "Link_Created_Contact_to_Parent_Account": [
                                        "Succeeded"
                                    ]
                                },
                                "metadata": {
                                    "operationMetadataId": "c3e4ec2a-68d0-4366-add0-692ff3046380"
                                },
                                "type": "SetVariable",
                                "inputs": {
                                    "name": "CumulusSignupMethod",
                                    "value": "Self-served"
                                }
                            }
                        }
                    },
                    "expression": {
                        "and": [
                            {
                                "greaterOrEquals": [
                                    "@variables('Number of Contacts')",
                                    1
                                ]
                            }
                        ]
                    },
                    "metadata": {
                        "operationMetadataId": "9e1826f6-e723-47d4-9443-ec24e7137558"
                    },
                    "type": "If"
                },
                "Matching_Cumulus_User": {
                    "actions": {
                        "Duplicate_Cumulus_User_Warning": {
                            "runAfter": {},
                            "metadata": {
                                "operationMetadataId": "9596db75-410c-46ad-9ce7-d8628cd9087c"
                            },
                            "type": "OpenApiConnection",
                            "inputs": {
                                "host": {
                                    "connectionName": "shared_visualstudioteamservices-1",
                                    "operationId": "CreateWorkItem",
                                    "apiId": "/providers/Microsoft.PowerApps/apis/shared_visualstudioteamservices"
                                },
                                "parameters": {
                                    "account": "Revenue-Operations",
                                    "project": "RevOps - Analysts",
                                    "type": "Bug",
                                    "workItem/title": "Cumulus Account created flow detected a duplicate Cumulus User",
                                    "workItem/description": "&lt;p&gt;&lt;strong&gt;Segment Info&lt;/strong&gt;&lt;br&gt;\n&lt;br&gt;\n&lt;strong&gt;Name:&lt;/strong&gt;&lt;br&gt;\n@{triggerBody()?['name']}&lt;br&gt;\n&lt;strong&gt;Domain:&lt;/strong&gt;&lt;br&gt;\n@{triggerBody()?['domain']}&lt;br&gt;\n&lt;strong&gt;id:&lt;/strong&gt;&lt;br&gt;\n@{triggerBody()?['id']}&lt;br&gt;\n&lt;strong&gt;Email:&lt;/strong&gt;&lt;br&gt;\n@{triggerBody()?['emailaddress1']}&lt;br&gt;\n&lt;strong&gt;Userid:&lt;/strong&gt;&lt;br&gt;\n@{triggerBody()?['userid']}&lt;/p&gt;"
                                },
                                "authentication": "@parameters('$authentication')"
                            }
                        },
                        "Terminate_-_Duplicate_Cumulus_User": {
                            "runAfter": {
                                "Duplicate_Cumulus_User_Warning": [
                                    "Succeeded"
                                ]
                            },
                            "metadata": {
                                "operationMetadataId": "877f17ba-1ace-4b4e-a8a3-00bc29073217"
                            },
                            "type": "Terminate",
                            "inputs": {
                                "runStatus": "Failed",
                                "runError": {
                                    "message": "Duplicate Cumulus User found"
                                }
                            }
                        }
                    },
                    "runAfter": {
                        "Link_Cumulus_Account_to_Parent_Account": [
                            "Succeeded"
                        ]
                    },
                    "else": {
                        "actions": {
                            "Create_Cumulus_User": {
                                "runAfter": {},
                                "metadata": {
                                    "operationMetadataId": "42186042-af58-497a-8035-16e5dd2a0fef"
                                },
                                "type": "OpenApiConnection",
                                "inputs": {
                                    "host": {
                                        "connectionName": "shared_commondataserviceforapps-1",
                                        "operationId": "CreateRecord",
                                        "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                                    },
                                    "parameters": {
                                        "entityName": "revops_cumulususers",
                                        "item/revops_name": "@triggerBody()?['name']",
                                        "item/revops_cumulususerid": "@triggerBody()?['userid']",
                                        "item/revops_email": "@triggerBody()?['emailaddress1']",
                                        "item/revops_integrationsource": 234570001,
                                        "item/ownerid@odata.bind": "/systemusers(@{variables('SystemUserID')})"
                                    },
                                    "authentication": "@parameters('$authentication')"
                                }
                            },
                            "Link_Cumulus_User_to_Cumulus_Account": {
                                "runAfter": {
                                    "Create_Cumulus_User": [
                                        "Succeeded"
                                    ]
                                },
                                "metadata": {
                                    "operationMetadataId": "ef2d8903-39d7-421e-8dd5-0bb36fdf3d14"
                                },
                                "type": "OpenApiConnection",
                                "inputs": {
                                    "host": {
                                        "connectionName": "shared_commondataserviceforapps-1",
                                        "operationId": "AssociateEntities",
                                        "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                                    },
                                    "parameters": {
                                        "entityName": "revops_cumulusaccounts",
                                        "recordId": "@outputs('Create_Cumulus_Account')?['body/revops_cumulusaccountid']",
                                        "associationEntityRelationship": "revops_cumulususer_cumulusaccount_revops_cumulusaccount",
                                        "item/@odata.id": "@body('Create_Cumulus_User')?['@odata.id']"
                                    },
                                    "authentication": "@parameters('$authentication')"
                                }
                            }
                        }
                    },
                    "expression": {
                        "and": [
                            {
                                "greaterOrEquals": [
                                    "@variables('Number of Cumulus Users')",
                                    1
                                ]
                            }
                        ]
                    },
                    "metadata": {
                        "operationMetadataId": "b3e055b9-4dba-4917-a766-9504b072f643"
                    },
                    "type": "If"
                },
                "Matching_Account": {
                    "actions": {
                        "Multiple_Matching_Accounts": {
                            "actions": {
                                "Duplicate_Accounts_Warning": {
                                    "runAfter": {},
                                    "metadata": {
                                        "operationMetadataId": "328a4275-c4ce-4551-8ab9-242e7f30479a"
                                    },
                                    "type": "OpenApiConnection",
                                    "inputs": {
                                        "host": {
                                            "connectionName": "shared_visualstudioteamservices-1",
                                            "operationId": "CreateWorkItem",
                                            "apiId": "/providers/Microsoft.PowerApps/apis/shared_visualstudioteamservices"
                                        },
                                        "parameters": {
                                            "account": "Revenue-Operations",
                                            "project": "RevOps - Analysts",
                                            "type": "Bug",
                                            "workItem/title": "Cumulus Account created flow detected a duplicate Account",
                                            "workItem/description": "&lt;p&gt;&lt;strong&gt;Segment Info&lt;br&gt;\n&lt;br&gt;\nName:&lt;br&gt;\n&lt;/strong&gt;&lt;strong&gt;@{triggerBody()?['name']}&lt;/strong&gt;&lt;strong&gt;&lt;br&gt;\nDomain:&lt;br&gt;\n&lt;/strong&gt;&lt;strong&gt;@{triggerBody()?['domain']}&lt;/strong&gt;&lt;strong&gt;&lt;br&gt;\nid:&lt;br&gt;\n&lt;/strong&gt;&lt;strong&gt;@{triggerBody()?['id']}&lt;/strong&gt;&lt;strong&gt;&lt;br&gt;\nEmail:&lt;br&gt;\n&lt;/strong&gt;&lt;strong&gt;@{triggerBody()?['emailaddress1']}&lt;/strong&gt;&lt;strong&gt;&lt;br&gt;\nUserid:&lt;br&gt;\n&lt;/strong&gt;&lt;strong&gt;@{triggerBody()?['userid']}&lt;/strong&gt;&lt;strong&gt;&lt;/strong&gt;&lt;/p&gt;"
                                        },
                                        "authentication": "@parameters('$authentication')"
                                    }
                                },
                                "Terminate_-_Duplicate_Account": {
                                    "runAfter": {
                                        "Duplicate_Accounts_Warning": [
                                            "Succeeded"
                                        ]
                                    },
                                    "metadata": {
                                        "operationMetadataId": "91532d00-b31b-49de-adf5-2115fa6aaa5a"
                                    },
                                    "type": "Terminate",
                                    "inputs": {
                                        "runStatus": "Failed",
                                        "runError": {
                                            "message": "Duplicate Account found"
                                        }
                                    }
                                }
                            },
                            "runAfter": {},
                            "else": {
                                "actions": {
                                    "Check_Environment": {
                                        "actions": {
                                            "Send_message_to_test.xtkl.crm.daemon_-_Production": {
                                                "runAfter": {},
                                                "metadata": {
                                                    "operationMetadataId": "ea66944e-c0e2-4dd1-8b1a-2b5f33a137c4"
                                                },
                                                "type": "OpenApiConnection",
                                                "inputs": {
                                                    "host": {
                                                        "connectionName": "shared_servicebus_2",
                                                        "operationId": "SendMessage",
                                                        "apiId": "/providers/Microsoft.PowerApps/apis/shared_servicebus"
                                                    },
                                                    "parameters": {
                                                        "entityName": "xtkl.messaging.facade",
                                                        "message/ContentData": "{\n  \"ClientId\": \"@{outputs('Create_Cumulus_Account')?['body/revops_clientid']}\", \n  \"AccountManagerId\": \"@{outputs('Get_Account')?['body/_ownerid_value']}\"\n}",
                                                        "message/ContentType": "application/json",
                                                        "message/Properties": {
                                                            "MT-MessageType": "urn:message:Xtkl.Messaging.Facade.AzureServiceBus.Daemon.Contracts:AccountManagerAssignedToClient"
                                                        },
                                                        "systemProperties": "None"
                                                    },
                                                    "authentication": "@parameters('$authentication')"
                                                }
                                            }
                                        },
                                        "runAfter": {
                                            "Get_Account": [
                                                "Succeeded"
                                            ]
                                        },
                                        "else": {
                                            "actions": {
                                                "Send_message_to_test.xtkl.crm.daemon_-_Staging": {
                                                    "runAfter": {},
                                                    "metadata": {
                                                        "operationMetadataId": "ea66944e-c0e2-4dd1-8b1a-2b5f33a137c4"
                                                    },
                                                    "type": "OpenApiConnection",
                                                    "inputs": {
                                                        "host": {
                                                            "connectionName": "shared_servicebus_1",
                                                            "operationId": "SendMessage",
                                                            "apiId": "/providers/Microsoft.PowerApps/apis/shared_servicebus"
                                                        },
                                                        "parameters": {
                                                            "entityName": "xtkl.messaging.facade",
                                                            "message/ContentData": "{\n  \"ClientId\": \"@{outputs('Create_Cumulus_Account')?['body/revops_clientid']}\", \n  \"AccountManagerId\": \"@{outputs('Get_Account')?['body/_ownerid_value']}\"\n}",
                                                            "message/ContentType": "application/json",
                                                            "message/Properties": {
                                                                "MT-MessageType": "urn:message:Xtkl.Messaging.Facade.AzureServiceBus.Daemon.Contracts:AccountManagerAssignedToClient"
                                                            },
                                                            "systemProperties": "None"
                                                        },
                                                        "authentication": "@parameters('$authentication')"
                                                    }
                                                }
                                            }
                                        },
                                        "expression": {
                                            "and": [
                                                {
                                                    "equals": [
                                                        "@variables('Current Environment')",
                                                        "prod"
                                                    ]
                                                }
                                            ]
                                        },
                                        "metadata": {
                                            "operationMetadataId": "925e02d8-0222-48fc-afdc-58fbee950583"
                                        },
                                        "type": "If"
                                    },
                                    "Get_Account": {
                                        "runAfter": {},
                                        "metadata": {
                                            "operationMetadataId": "db3328d6-c5b0-4df2-9237-e680369c615a"
                                        },
                                        "type": "OpenApiConnection",
                                        "inputs": {
                                            "host": {
                                                "connectionName": "shared_commondataserviceforapps",
                                                "operationId": "GetItem",
                                                "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                                            },
                                            "parameters": {
                                                "entityName": "accounts",
                                                "recordId": "@variables('AccountID')"
                                            },
                                            "authentication": "@parameters('$authentication')"
                                        }
                                    }
                                }
                            },
                            "expression": {
                                "and": [
                                    {
                                        "greater": [
                                            "@variables('Number of Accounts')",
                                            1
                                        ]
                                    }
                                ]
                            },
                            "metadata": {
                                "operationMetadataId": "43136f74-d577-447b-9835-4d1c615be304"
                            },
                            "type": "If"
                        }
                    },
                    "runAfter": {
                        "Matching_Cumulus_Account": [
                            "Succeeded"
                        ]
                    },
                    "else": {
                        "actions": {
                            "Create_Account": {
                                "runAfter": {},
                                "metadata": {
                                    "operationMetadataId": "17712aaf-c389-43c4-ab95-ca89d65cd922"
                                },
                                "type": "OpenApiConnection",
                                "inputs": {
                                    "host": {
                                        "connectionName": "shared_commondataserviceforapps-1",
                                        "operationId": "CreateRecord",
                                        "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                                    },
                                    "parameters": {
                                        "entityName": "accounts",
                                        "item/name": "@triggerBody()?['name']",
                                        "item/address1_city": "@triggerBody()?['address1_city']",
                                        "item/address1_country": "@triggerBody()?['address1_country']",
                                        "item/address1_stateorprovince": "@triggerBody()?['address1_stateorprovince']",
                                        "item/address1_line1": "@triggerBody()?['address1_line1']",
                                        "item/address1_postalcode": "@triggerBody()?['address1_postalcode']",
                                        "item/revops_domain": "@variables('Domain Value')",
                                        "item/revops_cumulusid": "@triggerBody()?['id']",
                                        "item/emailaddress1": "@triggerBody()?['emailaddress1']",
                                        "item/ownerid@odata.bind": "/systemusers(@{variables('SystemUserID')})"
                                    },
                                    "authentication": "@parameters('$authentication')"
                                }
                            },
                            "Set_AccountID_value_to_Created_Account": {
                                "runAfter": {
                                    "Create_Account": [
                                        "Succeeded"
                                    ]
                                },
                                "metadata": {
                                    "operationMetadataId": "633a3eb7-3969-4bbb-83b6-dc8c72098e11"
                                },
                                "type": "SetVariable",
                                "inputs": {
                                    "name": "AccountID",
                                    "value": "@outputs('Create_Account')?['body/accountid']"
                                }
                            },
                            "Set_AccountURL_value_to_Created_Account": {
                                "runAfter": {
                                    "Set_AccountID_value_to_Created_Account": [
                                        "Succeeded"
                                    ]
                                },
                                "metadata": {
                                    "operationMetadataId": "5d4001a9-a1bf-4c64-8ea7-e1711ec55c3f"
                                },
                                "type": "SetVariable",
                                "inputs": {
                                    "name": "AccountURL",
                                    "value": "@outputs('Create_Account')?['body/@odata.id']"
                                }
                            }
                        }
                    },
                    "expression": {
                        "and": [
                            {
                                "greaterOrEquals": [
                                    "@variables('Number of Accounts')",
                                    1
                                ]
                            }
                        ]
                    },
                    "metadata": {
                        "operationMetadataId": "31393b7a-df86-4c0b-8613-109e778f201d"
                    },
                    "type": "If"
                },
                "GenericDomainFormat": {
                    "runAfter": {
                        "LeadsContact": [
                            "Succeeded"
                        ]
                    },
                    "metadata": {
                        "operationMetadataId": "1d26b98b-0900-49d5-9599-b2f0ebc3573f"
                    },
                    "type": "InitializeVariable",
                    "inputs": {
                        "variables": [
                            {
                                "name": "Generic Domain Format",
                                "type": "string"
                            }
                        ]
                    }
                },
                "DomainValue": {
                    "runAfter": {
                        "GenericDomainFormat": [
                            "Succeeded"
                        ]
                    },
                    "metadata": {
                        "operationMetadataId": "dc5b907e-7622-4ea6-b050-c8e518d1a7d2"
                    },
                    "type": "InitializeVariable",
                    "inputs": {
                        "variables": [
                            {
                                "name": "Domain Value",
                                "type": "string",
                                "value": "@triggerBody()?['domain']"
                            }
                        ]
                    }
                },
                "Number_of_Accounts_Check": {
                    "actions": {
                        "Set_AccountID_Value": {
                            "runAfter": {},
                            "metadata": {
                                "operationMetadataId": "2041807d-5775-4539-a123-a93ba4bcc15e"
                            },
                            "type": "SetVariable",
                            "inputs": {
                                "name": "AccountID",
                                "value": "@outputs('List_Accounts')?['body/value'][0]?['accountid']"
                            }
                        },
                        "Set_AccountURL_Value": {
                            "runAfter": {
                                "Set_AccountID_Value": [
                                    "Succeeded"
                                ]
                            },
                            "metadata": {
                                "operationMetadataId": "1e46d262-5ef1-4184-902e-36fb140d8542"
                            },
                            "type": "SetVariable",
                            "inputs": {
                                "name": "AccountURL",
                                "value": "@{outputs('List_Accounts')?['body/value'][0]?['@odata.id']}"
                            }
                        }
                    },
                    "runAfter": {
                        "Number_of_Accounts": [
                            "Succeeded"
                        ]
                    },
                    "expression": {
                        "greater": [
                            "@variables('Number of Accounts')",
                            0
                        ]
                    },
                    "metadata": {
                        "operationMetadataId": "dc4818dd-be1f-47f0-86f5-ae4767f9d9a3"
                    },
                    "type": "If"
                },
                "AccountID": {
                    "runAfter": {
                        "List_Accounts": [
                            "Succeeded"
                        ]
                    },
                    "metadata": {
                        "operationMetadataId": "79079cd2-28f9-44a3-8e8a-78e1eac8085a"
                    },
                    "type": "InitializeVariable",
                    "inputs": {
                        "variables": [
                            {
                                "name": "AccountID",
                                "type": "string"
                            }
                        ]
                    }
                },
                "List_Users": {
                    "runAfter": {},
                    "metadata": {
                        "operationMetadataId": "3eba32b7-5470-4ec9-9a8e-46bb7a02df5e"
                    },
                    "type": "OpenApiConnection",
                    "inputs": {
                        "host": {
                            "connectionName": "shared_commondataserviceforapps-1",
                            "operationId": "ListRecords",
                            "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                        },
                        "parameters": {
                            "entityName": "systemusers",
                            "$select": "lastname",
                            "$filter": "lastname eq 'ISC-DYN-10001-SVC-Dynamics365ObjectsOwner'"
                        },
                        "authentication": "@parameters('$authentication')"
                    }
                },
                "SystemUserID": {
                    "runAfter": {
                        "Current_Environment": [
                            "Succeeded"
                        ]
                    },
                    "metadata": {
                        "operationMetadataId": "3474b5ef-0989-48a4-9949-1240d62b190f"
                    },
                    "type": "InitializeVariable",
                    "inputs": {
                        "variables": [
                            {
                                "name": "SystemUserID",
                                "type": "string",
                                "value": "@{outputs('List_Users')?['body/value'][0]?['systemuserid']}"
                            }
                        ]
                    }
                },
                "AccountURL": {
                    "runAfter": {
                        "AccountID": [
                            "Succeeded"
                        ]
                    },
                    "metadata": {
                        "operationMetadataId": "91fbc7e6-093c-459c-81c4-a1022f8c1fe2"
                    },
                    "type": "InitializeVariable",
                    "inputs": {
                        "variables": [
                            {
                                "name": "AccountURL",
                                "type": "string"
                            }
                        ]
                    }
                },
                "Matching_Leads": {
                    "actions": {
                        "For_each_Lead_in_List_Leads": {
                            "foreach": "@outputs('List_Leads')?['body/value']",
                            "actions": {
                                "Link_created_or_matching_Account_to_Leads": {
                                    "runAfter": {
                                        "Link_created_or_matching_Contact_to_Leads": [
                                            "Succeeded"
                                        ]
                                    },
                                    "metadata": {
                                        "operationMetadataId": "65273699-6d71-48a5-821b-1e0c43c17852"
                                    },
                                    "type": "OpenApiConnection",
                                    "inputs": {
                                        "host": {
                                            "connectionName": "shared_commondataserviceforapps-1",
                                            "operationId": "AssociateEntities",
                                            "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                                        },
                                        "parameters": {
                                            "entityName": "accounts",
                                            "recordId": "@variables('AccountID')",
                                            "associationEntityRelationship": "lead_parent_account",
                                            "item/@odata.id": "@items('For_each_Lead_in_List_Leads')?['@odata.id']"
                                        },
                                        "authentication": "@parameters('$authentication')"
                                    }
                                },
                                "Link_created_or_matching_Contact_to_Leads": {
                                    "runAfter": {},
                                    "metadata": {
                                        "operationMetadataId": "3278979f-8d10-4df9-98fe-615361ad545a"
                                    },
                                    "type": "OpenApiConnection",
                                    "inputs": {
                                        "host": {
                                            "connectionName": "shared_commondataserviceforapps-1",
                                            "operationId": "AssociateEntities",
                                            "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                                        },
                                        "parameters": {
                                            "entityName": "contacts",
                                            "recordId": "@variables('LeadsContact')",
                                            "associationEntityRelationship": "lead_parent_contact",
                                            "item/@odata.id": "@items('For_each_Lead_in_List_Leads')?['@odata.id']"
                                        },
                                        "authentication": "@parameters('$authentication')"
                                    }
                                }
                            },
                            "runAfter": {},
                            "metadata": {
                                "operationMetadataId": "f3b25bef-3dbb-4720-b005-8494fe41304d"
                            },
                            "type": "Foreach"
                        },
                        "List_Leads_-_Sales_Ready": {
                            "runAfter": {
                                "For_each_Lead_in_List_Leads": [
                                    "Succeeded"
                                ]
                            },
                            "metadata": {
                                "operationMetadataId": "664fed97-69f1-4832-b30c-21563bf212fd"
                            },
                            "type": "OpenApiConnection",
                            "inputs": {
                                "host": {
                                    "connectionName": "shared_commondataserviceforapps-1",
                                    "operationId": "ListRecords",
                                    "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                                },
                                "parameters": {
                                    "entityName": "leads",
                                    "$filter": "emailaddress1 eq '@{triggerBody()?['emailaddress1']}' and msdyncrm_salesready eq true"
                                },
                                "authentication": "@parameters('$authentication')"
                            }
                        },
                        "Matching_Leads_-_Sales_Ready": {
                            "actions": {
                                "Assign_Account_to_Lead_Owner": {
                                    "runAfter": {},
                                    "metadata": {
                                        "operationMetadataId": "fad7eab2-1781-427d-80d9-2d087c6469d3"
                                    },
                                    "type": "OpenApiConnection",
                                    "inputs": {
                                        "host": {
                                            "connectionName": "shared_commondataserviceforapps-1",
                                            "operationId": "UpdateRecord",
                                            "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                                        },
                                        "parameters": {
                                            "entityName": "accounts",
                                            "recordId": "@variables('AccountID')",
                                            "item/ownerid@odata.bind": "/systemusers(@{outputs('List_Leads_-_Sales_Ready')?['body/value'][0]?['_ownerid_value']})"
                                        },
                                        "authentication": "@parameters('$authentication')"
                                    }
                                }
                            },
                            "runAfter": {
                                "Set_Number_of_Leads_-_Sales_Ready": [
                                    "Succeeded"
                                ]
                            },
                            "expression": {
                                "and": [
                                    {
                                        "greaterOrEquals": [
                                            "@variables('Number of Leads - Sales Ready')",
                                            1
                                        ]
                                    }
                                ]
                            },
                            "metadata": {
                                "operationMetadataId": "a2d78246-5457-49f7-bc9d-3b8ea5dc1961"
                            },
                            "type": "If"
                        },
                        "Set_Number_of_Leads_-_Sales_Ready": {
                            "runAfter": {
                                "List_Leads_-_Sales_Ready": [
                                    "Succeeded"
                                ]
                            },
                            "metadata": {
                                "operationMetadataId": "ff9ea600-361e-4587-86f1-83bc32a00396"
                            },
                            "type": "SetVariable",
                            "inputs": {
                                "name": "Number of Leads - Sales Ready",
                                "value": "@length(outputs('List_Leads_-_Sales_Ready')?['body/value'])"
                            }
                        }
                    },
                    "runAfter": {
                        "Matching_Contact": [
                            "Succeeded"
                        ]
                    },
                    "expression": {
                        "greaterOrEquals": [
                            "@variables('Number of Leads')",
                            1
                        ]
                    },
                    "metadata": {
                        "operationMetadataId": "9a08de5f-884d-42f2-b95b-e13f64899747"
                    },
                    "type": "If"
                },
                "Number_of_Opportunities": {
                    "runAfter": {
                        "Number_of_Domains": [
                            "Succeeded"
                        ]
                    },
                    "metadata": {
                        "operationMetadataId": "3cccc2d0-b1a8-43a5-9387-c2a5f62b1581"
                    },
                    "type": "InitializeVariable",
                    "inputs": {
                        "variables": [
                            {
                                "name": "Number of Opportunities",
                                "type": "integer"
                            }
                        ]
                    }
                },
                "Matching_Opportunities": {
                    "actions": {
                        "Owner_Type_Parent": {
                            "runAfter": {},
                            "metadata": {
                                "operationMetadataId": "9424e13b-286d-4fa4-bbbf-aa8a8f961602"
                            },
                            "type": "Compose",
                            "inputs": "@outputs('List_Opportunities')?['body/value'][0]?['_ownerid_value@Microsoft.Dynamics.CRM.lookuplogicalname']"
                        },
                        "Owner_Exists_-_Check_Parent": {
                            "actions": {
                                "Owner_Type_is_User": {
                                    "actions": {
                                        "Assign_Account_to_Opp_Owner_User_Parent": {
                                            "runAfter": {},
                                            "metadata": {
                                                "operationMetadataId": "ab5bc3ff-cac9-4cd9-a7eb-eb896927df13"
                                            },
                                            "type": "OpenApiConnection",
                                            "inputs": {
                                                "host": {
                                                    "connectionName": "shared_commondataserviceforapps-2",
                                                    "operationId": "UpdateOnlyRecord",
                                                    "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                                                },
                                                "parameters": {
                                                    "entityName": "accounts",
                                                    "recordId": "@variables('AccountID')",
                                                    "item/ownerid@odata.bind": "/systemusers(@{outputs('List_Opportunities')?['body/value'][0]?['_ownerid_value']})"
                                                },
                                                "authentication": "@parameters('$authentication')"
                                            }
                                        }
                                    },
                                    "runAfter": {},
                                    "else": {
                                        "actions": {
                                            "Owner_Type_is_Team": {
                                                "actions": {
                                                    "Assign_Account_to_Opp_Owner_Team_Parent": {
                                                        "runAfter": {},
                                                        "metadata": {
                                                            "operationMetadataId": "6774cbbe-0cae-4cec-b96c-c87a1da01c21"
                                                        },
                                                        "type": "OpenApiConnection",
                                                        "inputs": {
                                                            "host": {
                                                                "connectionName": "shared_commondataserviceforapps-2",
                                                                "operationId": "UpdateOnlyRecord",
                                                                "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                                                            },
                                                            "parameters": {
                                                                "entityName": "accounts",
                                                                "recordId": "@variables('AccountID')",
                                                                "item/ownerid@odata.bind": "/teams(@{outputs('List_Opportunities')?['body/value'][0]?['_ownerid_value']})"
                                                            },
                                                            "authentication": "@parameters('$authentication')"
                                                        }
                                                    }
                                                },
                                                "runAfter": {},
                                                "expression": {
                                                    "and": [
                                                        {
                                                            "equals": [
                                                                "@outputs('Owner_Type_Parent')",
                                                                "team"
                                                            ]
                                                        }
                                                    ]
                                                },
                                                "metadata": {
                                                    "operationMetadataId": "3b80991b-4e6f-4b94-a188-e188f487dac8"
                                                },
                                                "type": "If"
                                            }
                                        }
                                    },
                                    "expression": {
                                        "and": [
                                            {
                                                "equals": [
                                                    "@outputs('Owner_Type_Parent')",
                                                    "systemuser"
                                                ]
                                            }
                                        ]
                                    },
                                    "metadata": {
                                        "operationMetadataId": "345e7410-9030-4d1b-9d71-9117ef731401"
                                    },
                                    "type": "If"
                                }
                            },
                            "runAfter": {
                                "Owner_Type_Parent": [
                                    "Succeeded"
                                ]
                            },
                            "expression": {
                                "and": [
                                    {
                                        "not": {
                                            "equals": [
                                                "@outputs('List_Opportunities')?['body/value'][0]?['_ownerid_value']",
                                                "@null"
                                            ]
                                        }
                                    },
                                    {
                                        "not": {
                                            "equals": [
                                                "@outputs('List_Opportunities')?['body/value'][0]?['_ownerid_value']",
                                                ""
                                            ]
                                        }
                                    }
                                ]
                            },
                            "metadata": {
                                "operationMetadataId": "74ffe129-56a2-47ea-9bad-58e330e11169"
                            },
                            "type": "If"
                        }
                    },
                    "runAfter": {
                        "Set_Number_of_Opportunities": [
                            "Succeeded"
                        ]
                    },
                    "else": {
                        "actions": {
                            "List_Opportunities_with_Matching_Domain": {
                                "runAfter": {},
                                "metadata": {
                                    "operationMetadataId": "160bb51d-87ec-4e62-998e-fea2a290a869"
                                },
                                "type": "OpenApiConnection",
                                "inputs": {
                                    "host": {
                                        "connectionName": "shared_commondataserviceforapps-1",
                                        "operationId": "ListRecords",
                                        "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                                    },
                                    "parameters": {
                                        "entityName": "opportunities",
                                        "fetchXml": "&lt;fetch version=\"1.0\" output-format=\"xml-platform\" mapping=\"logical\" distinct=\"false\"&gt;\n  &lt;entity name=\"opportunity\"&gt;\n    &lt;attribute name=\"name\" /&gt;\n    &lt;attribute name=\"opportunityid\" /&gt;\n    &lt;attribute name=\"ownerid\" /&gt;\n    &lt;attribute name=\"statecode\" /&gt;\n    &lt;attribute name=\"actualclosedate\" /&gt;\n    \n    &lt;order attribute=\"modifiedon\" descending=\"true\" /&gt;\n    &lt;filter type=\"and\"&gt;\n      &lt;filter type=\"or\"&gt;\n        &lt;condition attribute=\"statecode\" operator=\"eq\" value=\"0\" /&gt;\n        &lt;filter type=\"and\"&gt;\n          &lt;condition attribute=\"statecode\" operator=\"eq\" value=\"1\" /&gt;\n          &lt;condition attribute=\"actualclosedate\" operator=\"on-or-after\" value=\"@{formatDateTime(addDays(utcNow(), -30), 'yyyy-MM-dd')}\" /&gt;\n        &lt;/filter&gt;\n      &lt;/filter&gt;\n    &lt;/filter&gt;\n    &lt;link-entity name=\"contact\" from=\"contactid\" to=\"parentcontactid\" link-type=\"inner\" alias=\"contact\"&gt;\n      &lt;filter type=\"and\"&gt;\n        &lt;condition attribute=\"emailaddress1\" operator=\"like\" value=\"%@{triggerBody()?['domain']}%\" /&gt;\n      &lt;/filter&gt;\n    &lt;/link-entity&gt;\n  &lt;/entity&gt;\n&lt;/fetch&gt;"
                                    },
                                    "authentication": "@parameters('$authentication')"
                                }
                            },
                            "Opportunities_with_Matching_Domain": {
                                "actions": {
                                    "Owner_Type_Domain": {
                                        "runAfter": {},
                                        "metadata": {
                                            "operationMetadataId": "32242523-55d4-44b9-9bcb-a4ef00190d4b"
                                        },
                                        "type": "Compose",
                                        "inputs": "@outputs('List_Opportunities_with_Matching_Domain')?['body/value'][0]?['_ownerid_value@Microsoft.Dynamics.CRM.lookuplogicalname']"
                                    },
                                    "Owner_Exists": {
                                        "actions": {
                                            "Owner_Type_Domain_User": {
                                                "actions": {
                                                    "Assign_Account_to_Opp_Owner_-_Matching_Domain_User": {
                                                        "runAfter": {},
                                                        "metadata": {
                                                            "operationMetadataId": "f6ce1bbb-35e9-41b3-a8ef-b8385331060f"
                                                        },
                                                        "type": "OpenApiConnection",
                                                        "inputs": {
                                                            "host": {
                                                                "connectionName": "shared_commondataserviceforapps-1",
                                                                "operationId": "UpdateOnlyRecord",
                                                                "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                                                            },
                                                            "parameters": {
                                                                "entityName": "accounts",
                                                                "recordId": "@variables('AccountID')",
                                                                "item/ownerid@odata.bind": "/systemusers(@{outputs('List_Opportunities_with_Matching_Domain')?['body/value'][0]?['_ownerid_value']})"
                                                            },
                                                            "authentication": "@parameters('$authentication')"
                                                        }
                                                    }
                                                },
                                                "runAfter": {},
                                                "else": {
                                                    "actions": {
                                                        "Owner_Type_Domain_Team": {
                                                            "actions": {
                                                                "Assign_Account_to_Opp_Owner_-_Matching_Domain_Team": {
                                                                    "runAfter": {},
                                                                    "metadata": {
                                                                        "operationMetadataId": "f6ce1bbb-35e9-41b3-a8ef-b8385331060f"
                                                                    },
                                                                    "type": "OpenApiConnection",
                                                                    "inputs": {
                                                                        "host": {
                                                                            "connectionName": "shared_commondataserviceforapps-1",
                                                                            "operationId": "UpdateOnlyRecord",
                                                                            "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                                                                        },
                                                                        "parameters": {
                                                                            "entityName": "accounts",
                                                                            "recordId": "@variables('AccountID')",
                                                                            "item/ownerid@odata.bind": "/teams(@{outputs('List_Opportunities_with_Matching_Domain')?['body/value'][0]?['_ownerid_value']})"
                                                                        },
                                                                        "authentication": "@parameters('$authentication')"
                                                                    }
                                                                }
                                                            },
                                                            "runAfter": {},
                                                            "expression": {
                                                                "and": [
                                                                    {
                                                                        "equals": [
                                                                            "@outputs('Owner_Type_Domain')",
                                                                            "team"
                                                                        ]
                                                                    }
                                                                ]
                                                            },
                                                            "metadata": {
                                                                "operationMetadataId": "0af23e5d-0766-4dd0-81fd-10614660606a"
                                                            },
                                                            "type": "If"
                                                        }
                                                    }
                                                },
                                                "expression": {
                                                    "and": [
                                                        {
                                                            "equals": [
                                                                "@outputs('Owner_Type_Domain')",
                                                                "systemuser"
                                                            ]
                                                        }
                                                    ]
                                                },
                                                "metadata": {
                                                    "operationMetadataId": "a3931dac-83a7-4a33-915c-b19d4e3d20c4"
                                                },
                                                "type": "If"
                                            }
                                        },
                                        "runAfter": {
                                            "Owner_Type_Domain": [
                                                "Succeeded"
                                            ]
                                        },
                                        "expression": {
                                            "and": [
                                                {
                                                    "not": {
                                                        "equals": [
                                                            "@outputs('List_Opportunities_with_Matching_Domain')?['body/value'][0]?['_ownerid_value']",
                                                            "@null"
                                                        ]
                                                    }
                                                },
                                                {
                                                    "not": {
                                                        "equals": [
                                                            "@outputs('List_Opportunities_with_Matching_Domain')?['body/value'][0]?['_ownerid_value']",
                                                            ""
                                                        ]
                                                    }
                                                }
                                            ]
                                        },
                                        "metadata": {
                                            "operationMetadataId": "98e87211-f5d6-46dc-8eeb-7ca082f0f5f3"
                                        },
                                        "type": "If"
                                    }
                                },
                                "runAfter": {
                                    "List_Opportunities_with_Matching_Domain": [
                                        "Succeeded"
                                    ]
                                },
                                "expression": {
                                    "and": [
                                        {
                                            "greaterOrEquals": [
                                                "@length(outputs('List_Opportunities_with_Matching_Domain')?['body/value'])",
                                                1
                                            ]
                                        }
                                    ]
                                },
                                "metadata": {
                                    "operationMetadataId": "b08dad97-2f95-4d00-bb56-e96a52a4f26b"
                                },
                                "type": "If"
                            }
                        }
                    },
                    "expression": {
                        "and": [
                            {
                                "greaterOrEquals": [
                                    "@variables('Number of Opportunities')",
                                    1
                                ]
                            }
                        ]
                    },
                    "metadata": {
                        "operationMetadataId": "3e4078f5-5106-4efa-9fd1-d84420f12e99"
                    },
                    "type": "If"
                },
                "IV_Cumulus_signup": {
                    "runAfter": {
                        "DomainValue": [
                            "Succeeded"
                        ]
                    },
                    "metadata": {
                        "operationMetadataId": "71cbbbf2-07df-4c7b-800d-433d124f68ac"
                    },
                    "type": "InitializeVariable",
                    "inputs": {
                        "variables": [
                            {
                                "name": "CumulusSignupMethod",
                                "type": "string"
                            }
                        ]
                    }
                },
                "Current_Environment": {
                    "runAfter": {
                        "List_Users": [
                            "Succeeded"
                        ]
                    },
                    "metadata": {
                        "operationMetadataId": "cce2c040-a998-4d19-8756-4dcd666381db"
                    },
                    "type": "InitializeVariable",
                    "inputs": {
                        "variables": [
                            {
                                "name": "Current Environment",
                                "type": "string",
                                "value": "@{split(split(split(outputs('List_Users')?['body']['@odata.context'], 'https://')[1], '.crm')[0], '-')[1]}"
                            }
                        ]
                    }
                },
                "Link_Cumulus_Account_to_Parent_Account": {
                    "runAfter": {
                        "Matching_Account": [
                            "Succeeded"
                        ]
                    },
                    "metadata": {
                        "operationMetadataId": "7da68ef5-2bad-4ce7-b33f-1135121e5ee2"
                    },
                    "type": "OpenApiConnection",
                    "inputs": {
                        "host": {
                            "connectionName": "shared_commondataserviceforapps-1",
                            "operationId": "AssociateEntities",
                            "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                        },
                        "parameters": {
                            "entityName": "accounts",
                            "recordId": "@variables('AccountID')",
                            "associationEntityRelationship": "revops_cumulusaccount_account_account",
                            "item/@odata.id": "@body('Create_Cumulus_Account')?['@odata.id']"
                        },
                        "authentication": "@parameters('$authentication')"
                    }
                },
                "Matching_Cumulus_Account": {
                    "actions": {
                        "Duplicate_Cumulus_Account_Warning": {
                            "runAfter": {},
                            "metadata": {
                                "operationMetadataId": "3138e137-0f9d-4241-9c83-136367ee6538"
                            },
                            "type": "OpenApiConnection",
                            "inputs": {
                                "host": {
                                    "connectionName": "shared_visualstudioteamservices-1",
                                    "operationId": "CreateWorkItem",
                                    "apiId": "/providers/Microsoft.PowerApps/apis/shared_visualstudioteamservices"
                                },
                                "parameters": {
                                    "account": "Revenue-Operations",
                                    "project": "RevOps - Analysts",
                                    "type": "Bug",
                                    "workItem/title": "Cumulus Account created flow detected a duplicate Cumulus Account",
                                    "workItem/description": "&lt;p&gt;&lt;strong&gt;Segment Info&lt;/strong&gt;&lt;br&gt;\n&lt;br&gt;\n&lt;strong&gt;Name:&lt;/strong&gt;&lt;br&gt;\n@{triggerBody()?['name']}&lt;br&gt;\n&lt;strong&gt;Domain:&lt;/strong&gt;&lt;br&gt;\n@{triggerBody()?['domain']}&lt;br&gt;\n&lt;strong&gt;id:&lt;/strong&gt;&lt;br&gt;\n@{triggerBody()?['id']}&lt;br&gt;\n&lt;strong&gt;Email:&lt;/strong&gt;&lt;br&gt;\n@{triggerBody()?['emailaddress1']}&lt;br&gt;\n&lt;strong&gt;Userid:&lt;/strong&gt;&lt;br&gt;\n@{triggerBody()?['userid']}&lt;/p&gt;"
                                },
                                "authentication": "@parameters('$authentication')"
                            }
                        },
                        "Terminate_-_Duplicate_Cumulus_Account": {
                            "runAfter": {
                                "Duplicate_Cumulus_Account_Warning": [
                                    "Succeeded"
                                ]
                            },
                            "metadata": {
                                "operationMetadataId": "c19a4c7b-432f-4b85-8e48-5ab1d4eb1f3a"
                            },
                            "type": "Terminate",
                            "inputs": {
                                "runStatus": "Failed",
                                "runError": {
                                    "message": "Duplicate Cumulus Account found"
                                }
                            }
                        }
                    },
                    "runAfter": {
                        "Matching_Domain": [
                            "Succeeded"
                        ]
                    },
                    "else": {
                        "actions": {
                            "Create_Cumulus_Account": {
                                "runAfter": {},
                                "metadata": {
                                    "operationMetadataId": "4738d1a0-8b8f-4f72-bf63-07589bc9e77d"
                                },
                                "type": "OpenApiConnection",
                                "inputs": {
                                    "host": {
                                        "connectionName": "shared_commondataserviceforapps-1",
                                        "operationId": "CreateRecord",
                                        "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                                    },
                                    "parameters": {
                                        "entityName": "revops_cumulusaccounts",
                                        "item/revops_name": "@triggerBody()?['name']",
                                        "item/revops_city": "@triggerBody()?['address1_city']",
                                        "item/revops_clientid": "@triggerBody()?['id']",
                                        "item/revops_clientnode": "@triggerBody()?['strategic_node_name']",
                                        "item/revops_clienttype": "@triggerBody()?['account_type']",
                                        "item/revops_country": "@triggerBody()?['address1_country']",
                                        "item/revops_domain": "@triggerBody()?['domain']",
                                        "item/revops_email": "@triggerBody()?['emailaddress1']",
                                        "item/ownerid@odata.bind": "/systemusers(@{variables('SystemUserID')})",
                                        "item/revops_phone": "@triggerBody()?['telephone1']",
                                        "item/revops_province": "@triggerBody()?['address1_stateorprovince']",
                                        "item/revops_subsidiaryid": "@triggerBody()?['subsidiary_id']",
                                        "item/revops_zipcode": "@triggerBody()?['address1_postalcode']"
                                    },
                                    "authentication": "@parameters('$authentication')"
                                }
                            }
                        }
                    },
                    "expression": {
                        "and": [
                            {
                                "greaterOrEquals": [
                                    "@variables('Number of Cumulus Accounts')",
                                    1
                                ]
                            }
                        ]
                    },
                    "metadata": {
                        "operationMetadataId": "11252318-1e78-4237-ae9f-7f986b2bd249"
                    },
                    "type": "If"
                },
                "Number_of_Leads_-_Sales_Ready": {
                    "runAfter": {
                        "Number_of_Leads": [
                            "Succeeded"
                        ]
                    },
                    "metadata": {
                        "operationMetadataId": "1252b286-63c8-4826-b1c4-ebbbd328727f"
                    },
                    "type": "InitializeVariable",
                    "inputs": {
                        "variables": [
                            {
                                "name": "Number of Leads - Sales Ready",
                                "type": "integer"
                            }
                        ]
                    }
                },
                "Add_cumulus_signup_custom_activity": {
                    "runAfter": {
                        "Update_Contact_for_Onboarding_Trigger": [
                            "Succeeded"
                        ]
                    },
                    "metadata": {
                        "operationMetadataId": "89a034bf-62c4-4127-8f26-5fcc359cce6a"
                    },
                    "type": "OpenApiConnection",
                    "inputs": {
                        "host": {
                            "connectionName": "shared_commondataserviceforapps-1",
                            "operationId": "CreateRecord",
                            "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                        },
                        "parameters": {
                            "entityName": "revops_cumulussignups",
                            "item/subject": "Cumulus Sign-up for @{triggerBody()?['domain']}",
                            "item/revops_cumulusaccount_revops_cumulussignup@odata.bind": "/revops_cumulusaccounts(@{outputs('Create_Cumulus_Account')?['body/revops_cumulusaccountid']})",
                            "item/description": "This account signed up in Cumulus",
                            "item/ownerid_revops_cumulussignup@odata.bind": "/systemusers(@{variables('SystemUserID')})",
                            "item/regardingobjectid_account_revops_cumulussignup@odata.bind": "/accounts(@{variables('AccountID')})"
                        },
                        "authentication": "@parameters('$authentication')"
                    }
                },
                "List_Opportunities": {
                    "runAfter": {
                        "Add_cumulus_signup_custom_activity": [
                            "Succeeded"
                        ]
                    },
                    "metadata": {
                        "operationMetadataId": "453c0743-5e6f-4761-bd36-6cc991377195"
                    },
                    "type": "OpenApiConnection",
                    "inputs": {
                        "host": {
                            "connectionName": "shared_commondataserviceforapps-1",
                            "operationId": "ListRecords",
                            "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                        },
                        "parameters": {
                            "entityName": "opportunities",
                            "$filter": "_parentaccountid_value eq '@{variables('AccountID')}' and (statecode eq 0 or (statecode eq 1 and actualclosedate ge @{formatDateTime(addDays(utcNow(), -30), 'yyyy-MM-dd')}))",
                            "$orderby": "modifiedon desc\n"
                        },
                        "authentication": "@parameters('$authentication')"
                    }
                },
                "Set_Number_of_Opportunities": {
                    "runAfter": {
                        "List_Opportunities": [
                            "Succeeded"
                        ]
                    },
                    "metadata": {
                        "operationMetadataId": "9d2efa52-688b-47f9-81bd-fd6db9a26036"
                    },
                    "type": "SetVariable",
                    "inputs": {
                        "name": "Number of Opportunities",
                        "value": "@length(outputs('List_Opportunities')?['body/value'])"
                    }
                },
                "Update_Contact_for_Onboarding_Trigger": {
                    "runAfter": {
                        "Matching_Leads": [
                            "Succeeded"
                        ]
                    },
                    "metadata": {
                        "operationMetadataId": "bdbe0539-551b-409d-893f-91a8c1bde64f"
                    },
                    "type": "OpenApiConnection",
                    "inputs": {
                        "host": {
                            "connectionName": "shared_commondataserviceforapps-1",
                            "operationId": "UpdateRecord",
                            "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                        },
                        "parameters": {
                            "entityName": "contacts",
                            "recordId": "@variables('LeadsContact')",
                            "item/revops_cumulussignupmethod": "@variables('CumulusSignupMethod')"
                        },
                        "authentication": "@parameters('$authentication')"
                    }
                }
            },
            "outputs": {}
        },
        "templateName": ""
    },
    "schemaVersion": "1.0.0.0"
}