RevOps-Analysts/Documentation/Flows/enrichaccount-oncreate/flow.schema.json
{
  "properties": {
    "connectionReferences": {
      "shared_commondataserviceforapps-2": {
        "api": {
          "name": "shared_commondataserviceforapps"
        },
        "connection": {
          "connectionReferenceLogicalName": "revops_sharedcommondataserviceforapps_0a1fe"
        },
        "runtimeSource": "embedded"
      },
      "shared_keyvault": {
        "api": {
          "name": "shared_keyvault"
        },
        "connection": {
          "connectionReferenceLogicalName": "revops_AzureKeyVaultServicePrincipal2025"
        },
        "runtimeSource": "embedded"
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        },
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        }
      },
      "triggers": {
        "Account_created": {
          "type": "OpenApiConnectionWebhook",
          "inputs": {
            "parameters": {
              "subscriptionRequest/message": 1,
              "subscriptionRequest/entityname": "account",
              "subscriptionRequest/scope": 4,
              "subscriptionRequest/name": "2d4ec9f4-5832-ef11-8e4e-6045bdcd5e2a"
            },
            "host": {
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
              "operationId": "SubscribeWebhookTrigger",
              "connectionName": "shared_commondataserviceforapps-2"
            }
          },
          "metadata": {
            "operationMetadataId": "294cc900-6bd2-4d00-89bc-2f71215cb142"
          }
        }
      },
      "actions": {
        "Get_secret": {
          "type": "OpenApiConnection",
          "inputs": {
            "parameters": {
              "secretName": "ClearbitAPIKey"
            },
            "host": {
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_keyvault",
              "operationId": "GetSecret",
              "connectionName": "shared_keyvault"
            }
          },
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "75f961b1-85e3-4530-8bca-7231a0aabf85"
          }
        },
        "HTTP": {
          "type": "Http",
          "inputs": {
            "uri": "https://person-stream.clearbit.com/v2/combined/find?email=@{triggerBody()?['emailaddress1']}",
            "method": "GET",
            "headers": {
              "Accept": "*/*",
              "Accept-Encoding": "gzip, deflate, br",
              "Authorization": "Bearer @{outputs('Get_secret')?['body/value']}"
            }
          },
          "runAfter": {
            "Get_secret": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "44822037-4d0c-4256-bbb6-0848e7ba138c"
          }
        },
        "Lookup_Account_created": {
          "type": "OpenApiConnection",
          "inputs": {
            "parameters": {
              "entityName": "accounts",
              "recordId": "@triggerBody()?['accountid']"
            },
            "host": {
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
              "operationId": "GetItem",
              "connectionName": "shared_commondataserviceforapps-2"
            }
          },
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "783c675c-23e2-4ea6-b351-4589b346ee5e"
          }
        },
        "company": {
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "company",
                "type": "object"
              }
            ]
          },
          "runAfter": {
            "Lookup_Account_created": [
              "Succeeded"
            ],
            "HTTP": [
              "Succeeded",
              "Failed"
            ]
          },
          "metadata": {
            "operationMetadataId": "77816c92-56b3-49f6-9c21-abc8bbff342b"
          }
        },
        "Error_404_or_422": {
          "type": "If",
          "expression": {
            "or": [
              {
                "equals": [
                  "@outputs('HTTP')?['statusCode']",
                  404
                ]
              },
              {
                "equals": [
                  "@outputs('HTTP')?['statusCode']",
                  422
                ]
              }
            ]
          },
          "actions": {
            "Clearbit_data_not_found_or_invalid_domain": {
              "type": "Terminate",
              "inputs": {
                "runStatus": "Succeeded"
              },
              "runAfter": {
                "Update_Clearbit_fields_on_Account": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "cb7a30d5-9fae-4fc7-aa62-1e44211f9293"
              }
            },
            "Update_Clearbit_fields_on_Account": {
              "type": "OpenApiConnection",
              "inputs": {
                "parameters": {
                  "entityName": "accounts",
                  "recordId": "@body('Lookup_Account_created')?['accountid']",
                  "item/revops_clearbitenrichedat": "@{utcNow()}",
                  "item/revops_clearbitstatus": "@outputs('HTTP')?['statusCode']"
                },
                "host": {
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                  "operationId": "UpdateRecord",
                  "connectionName": "shared_commondataserviceforapps-2"
                }
              },
              "metadata": {
                "operationMetadataId": "e4121582-7228-4a53-8707-b06d4a1f83c9"
              }
            }
          },
          "else": {
            "actions": {
              "Parse_company": {
                "type": "ParseJson",
                "inputs": {
                  "content": "@body('HTTP')?['company']",
                  "schema": {
                    "company": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "anyOf": [
                            {
                              "type": "string"
                            },
                            {
                              "type": "null"
                            }
                          ]
                        },
                        "name": {
                          "anyOf": [
                            {
                              "type": "string"
                            },
                            {
                              "type": "null"
                            }
                          ]
                        },
                        "legalName": {
                          "anyOf": [
                            {
                              "type": "string"
                            },
                            {
                              "type": "null"
                            }
                          ]
                        },
                        "domain": {
                          "anyOf": [
                            {
                              "type": "string"
                            },
                            {
                              "type": "null"
                            }
                          ]
                        },
                        "domainAliases": {
                          "type": "array",
                          "items": {
                            "anyOf": [
                              {
                                "type": "string"
                              },
                              {
                                "type": "null"
                              }
                            ]
                          }
                        },
                        "site": {
                          "type": "object",
                          "properties": {
                            "phoneNumbers": {
                              "type": "array"
                            },
                            "emailAddresses": {
                              "type": "array"
                            }
                          }
                        },
                        "category": {
                          "type": "object",
                          "properties": {
                            "sector": {
                              "anyOf": [
                                {
                                  "type": "string"
                                },
                                {
                                  "type": "null"
                                }
                              ]
                            },
                            "industryGroup": {
                              "anyOf": [
                                {
                                  "type": "string"
                                },
                                {
                                  "type": "null"
                                }
                              ]
                            },
                            "industry": {
                              "anyOf": [
                                {
                                  "type": "string"
                                },
                                {
                                  "type": "null"
                                }
                              ]
                            },
                            "subIndustry": {
                              "anyOf": [
                                {
                                  "type": "string"
                                },
                                {
                                  "type": "null"
                                }
                              ]
                            },
                            "gicsCode": {
                              "anyOf": [
                                {
                                  "type": "string"
                                },
                                {
                                  "type": "null"
                                }
                              ]
                            },
                            "sicCode": {
                              "anyOf": [
                                {
                                  "type": "string"
                                },
                                {
                                  "type": "null"
                                }
                              ]
                            },
                            "sic4Codes": {
                              "type": "array",
                              "items": {
                                "anyOf": [
                                  {
                                    "type": "string"
                                  },
                                  {
                                    "type": "null"
                                  }
                                ]
                              }
                            },
                            "naicsCode": {
                              "anyOf": [
                                {
                                  "type": "string"
                                },
                                {
                                  "type": "null"
                                }
                              ]
                            },
                            "naics6Codes": {
                              "type": "array",
                              "items": {
                                "anyOf": [
                                  {
                                    "type": "string"
                                  },
                                  {
                                    "type": "null"
                                  }
                                ]
                              }
                            },
                            "naics6Codes2022": {
                              "type": "array",
                              "items": {
                                "anyOf": [
                                  {
                                    "type": "string"
                                  },
                                  {
                                    "type": "null"
                                  }
                                ]
                              }
                            }
                          }
                        },
                        "tags": {
                          "type": "array",
                          "items": {
                            "anyOf": [
                              {
                                "type": "string"
                              },
                              {
                                "type": "null"
                              }
                            ]
                          }
                        },
                        "description": {
                          "anyOf": [
                            {
                              "type": "string"
                            },
                            {
                              "type": "null"
                            }
                          ]
                        },
                        "foundedYear": {
                          "anyOf": [
                            {
                              "type": "integer"
                            },
                            {
                              "type": "null"
                            }
                          ]
                        },
                        "location": {
                          "anyOf": [
                            {
                              "type": "string"
                            },
                            {
                              "type": "null"
                            }
                          ]
                        },
                        "timeZone": {
                          "anyOf": [
                            {
                              "type": "string"
                            },
                            {
                              "type": "null"
                            }
                          ]
                        },
                        "utcOffset": {
                          "anyOf": [
                            {
                              "type": "integer"
                            },
                            {
                              "type": "null"
                            }
                          ]
                        },
                        "geo": {
                          "type": "object",
                          "properties": {
                            "streetNumber": {
                              "anyOf": [
                                {
                                  "type": "string"
                                },
                                {
                                  "type": "null"
                                }
                              ]
                            },
                            "streetName": {
                              "anyOf": [
                                {
                                  "type": "string"
                                },
                                {
                                  "type": "null"
                                }
                              ]
                            },
                            "subPremise": {
                              "anyOf": [
                                {
                                  "type": "string"
                                },
                                {
                                  "type": "null"
                                }
                              ]
                            },
                            "streetAddress": {
                              "anyOf": [
                                {
                                  "type": "string"
                                },
                                {
                                  "type": "null"
                                }
                              ]
                            },
                            "city": {
                              "anyOf": [
                                {
                                  "type": "string"
                                },
                                {
                                  "type": "null"
                                }
                              ]
                            },
                            "postalCode": {
                              "anyOf": [
                                {
                                  "type": "string"
                                },
                                {
                                  "type": "null"
                                }
                              ]
                            },
                            "state": {
                              "anyOf": [
                                {
                                  "type": "string"
                                },
                                {
                                  "type": "null"
                                }
                              ]
                            },
                            "stateCode": {
                              "anyOf": [
                                {
                                  "type": "string"
                                },
                                {
                                  "type": "null"
                                }
                              ]
                            },
                            "country": {
                              "anyOf": [
                                {
                                  "type": "string"
                                },
                                {
                                  "type": "null"
                                }
                              ]
                            },
                            "countryCode": {
                              "anyOf": [
                                {
                                  "type": "string"
                                },
                                {
                                  "type": "null"
                                }
                              ]
                            },
                            "lat": {
                              "anyOf": [
                                {
                                  "type": "number"
                                },
                                {
                                  "type": "null"
                                }
                              ]
                            },
                            "lng": {
                              "anyOf": [
                                {
                                  "type": "number"
                                },
                                {
                                  "type": "null"
                                }
                              ]
                            }
                          }
                        },
                        "logo": {
                          "anyOf": [
                            {
                              "type": "string"
                            },
                            {
                              "type": "null"
                            }
                          ]
                        },
                        "facebook": {
                          "type": "object",
                          "properties": {
                            "handle": {
                              "anyOf": [
                                {
                                  "type": "string"
                                },
                                {
                                  "type": "null"
                                }
                              ]
                            },
                            "likes": {
                              "anyOf": [
                                {
                                  "type": "integer"
                                },
                                {
                                  "type": "null"
                                }
                              ]
                            }
                          }
                        },
                        "linkedin": {
                          "type": "object",
                          "properties": {
                            "handle": {
                              "anyOf": [
                                {
                                  "type": "string"
                                },
                                {
                                  "type": "null"
                                }
                              ]
                            }
                          }
                        },
                        "twitter": {
                          "type": "object",
                          "properties": {
                            "handle": {
                              "anyOf": [
                                {
                                  "type": "string"
                                },
                                {
                                  "type": "null"
                                }
                              ]
                            },
                            "id": {
                              "anyOf": [
                                {
                                  "type": "string"
                                },
                                {
                                  "type": "null"
                                }
                              ]
                            },
                            "bio": {
                              "anyOf": [
                                {
                                  "type": "string"
                                },
                                {
                                  "type": "null"
                                }
                              ]
                            },
                            "followers": {
                              "anyOf": [
                                {
                                  "type": "integer"
                                },
                                {
                                  "type": "null"
                                }
                              ]
                            },
                            "following": {
                              "anyOf": [
                                {
                                  "type": "integer"
                                },
                                {
                                  "type": "null"
                                }
                              ]
                            },
                            "location": {
                              "anyOf": [
                                {
                                  "type": "string"
                                },
                                {
                                  "type": "null"
                                }
                              ]
                            },
                            "site": {
                              "anyOf": [
                                {
                                  "type": "string"
                                },
                                {
                                  "type": "null"
                                }
                              ]
                            },
                            "avatar": {
                              "anyOf": [
                                {
                                  "type": "string"
                                },
                                {
                                  "type": "null"
                                }
                              ]
                            }
                          }
                        },
                        "crunchbase": {
                          "type": "object",
                          "properties": {
                            "handle": {
                              "anyOf": [
                                {
                                  "type": "string"
                                },
                                {
                                  "type": "null"
                                }
                              ]
                            }
                          }
                        },
                        "emailProvider": {
                          "anyOf": [
                            {
                              "type": "boolean"
                            },
                            {
                              "type": "null"
                            }
                          ]
                        },
                        "type": {
                          "anyOf": [
                            {
                              "type": "string"
                            },
                            {
                              "type": "null"
                            }
                          ]
                        },
                        "ticker": {
                          "anyOf": [
                            {
                              "type": "string"
                            },
                            {
                              "type": "null"
                            }
                          ]
                        },
                        "identifiers": {
                          "type": "object",
                          "properties": {
                            "usEIN": {
                              "anyOf": [
                                {
                                  "type": "string"
                                },
                                {
                                  "type": "null"
                                }
                              ]
                            },
                            "usCIK": {
                              "anyOf": [
                                {
                                  "type": "string"
                                },
                                {
                                  "type": "null"
                                }
                              ]
                            }
                          }
                        },
                        "phone": {
                          "anyOf": [
                            {
                              "type": "string"
                            },
                            {
                              "type": "null"
                            }
                          ]
                        },
                        "metrics": {
                          "type": "object",
                          "properties": {
                            "alexaUsRank": {
                              "anyOf": [
                                {
                                  "type": "integer"
                                },
                                {
                                  "type": "null"
                                }
                              ]
                            },
                            "alexaGlobalRank": {
                              "anyOf": [
                                {
                                  "type": "integer"
                                },
                                {
                                  "type": "null"
                                }
                              ]
                            },
                            "trafficRank": {
                              "anyOf": [
                                {
                                  "type": "string"
                                },
                                {
                                  "type": "null"
                                }
                              ]
                            },
                            "employees": {
                              "anyOf": [
                                {
                                  "type": "integer"
                                },
                                {
                                  "type": "null"
                                }
                              ]
                            },
                            "employeesRange": {
                              "anyOf": [
                                {
                                  "type": "string"
                                },
                                {
                                  "type": "null"
                                }
                              ]
                            },
                            "marketCap": {
                              "anyOf": [
                                {
                                  "type": "integer"
                                },
                                {
                                  "type": "null"
                                }
                              ]
                            },
                            "raised": {
                              "anyOf": [
                                {
                                  "type": "integer"
                                },
                                {
                                  "type": "null"
                                }
                              ]
                            },
                            "annualRevenue": {
                              "anyOf": [
                                {
                                  "type": "integer"
                                },
                                {
                                  "type": "null"
                                }
                              ]
                            },
                            "estimatedAnnualRevenue": {
                              "anyOf": [
                                {
                                  "type": "string"
                                },
                                {
                                  "type": "null"
                                }
                              ]
                            },
                            "fiscalYearEnd": {
                              "anyOf": [
                                {
                                  "type": "integer"
                                },
                                {
                                  "type": "null"
                                }
                              ]
                            }
                          }
                        },
                        "indexedAt": {
                          "anyOf": [
                            {
                              "type": "string"
                            },
                            {
                              "type": "null"
                            }
                          ]
                        },
                        "tech": {
                          "type": "array",
                          "items": {
                            "anyOf": [
                              {
                                "type": "string"
                              },
                              {
                                "type": "null"
                              }
                            ]
                          }
                        },
                        "techCategories": {
                          "type": "array",
                          "items": {
                            "anyOf": [
                              {
                                "type": "string"
                              },
                              {
                                "type": "null"
                              }
                            ]
                          }
                        },
                        "parent": {
                          "type": "object",
                          "properties": {
                            "domain": {
                              "anyOf": [
                                {
                                  "type": "string"
                                },
                                {
                                  "type": "null"
                                }
                              ]
                            }
                          }
                        },
                        "ultimateParent": {
                          "type": "object",
                          "properties": {
                            "domain": {
                              "anyOf": [
                                {
                                  "type": "string"
                                },
                                {
                                  "type": "null"
                                }
                              ]
                            }
                          }
                        }
                      }
                    }
                  }
                },
                "metadata": {
                  "operationMetadataId": "5543c928-8886-498e-8673-40be604bb048"
                }
              },
              "Parse_company_success": {
                "type": "If",
                "expression": {
                  "and": [
                    {
                      "not": {
                        "equals": [
                          "@body('HTTP')?['company']",
                          "@null"
                        ]
                      }
                    }
                  ]
                },
                "actions": {
                  "Get_country_and_subdivision_GUIDs": {
                    "type": "Scope",
                    "actions": {
                      "Country_data_available": {
                        "type": "If",
                        "expression": {
                          "and": [
                            {
                              "not": {
                                "equals": [
                                  "@body('Parse_company')?['geo']?['countryCode']",
                                  "@null"
                                ]
                              }
                            },
                            {
                              "equals": [
                                "@empty(body('Parse_company')?['geo']?['countryCode'])",
                                "@false"
                              ]
                            }
                          ]
                        },
                        "actions": {
                          "Get_Country": {
                            "type": "OpenApiConnection",
                            "inputs": {
                              "parameters": {
                                "entityName": "revops_countries",
                                "$select": "revops_countryid, revops_name",
                                "$filter": "revops_isocountrycode eq '@{body('Parse_company')?['geo']?['countryCode']}'",
                                "$top": 1
                              },
                              "host": {
                                "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                                "operationId": "ListRecords",
                                "connectionName": "shared_commondataserviceforapps-2"
                              }
                            },
                            "metadata": {
                              "operationMetadataId": "856efe67-afb5-46c9-83c5-1c1d20ab8569"
                            }
                          }
                        },
                        "else": {
                          "actions": {}
                        },
                        "metadata": {
                          "operationMetadataId": "8d5aa967-d995-4898-96b1-844499a2d464"
                        }
                      },
                      "Subdivision_data_available": {
                        "type": "If",
                        "expression": {
                          "and": [
                            {
                              "or": [
                                {
                                  "not": {
                                    "equals": [
                                      "@body('Parse_company')?['geo']?['stateCode']",
                                      "@null"
                                    ]
                                  }
                                },
                                {
                                  "equals": [
                                    "@empty(body('Parse_company')?['geo']?['stateCode'])",
                                    "@false"
                                  ]
                                }
                              ]
                            }
                          ]
                        },
                        "actions": {
                          "Get_Subdivision": {
                            "type": "OpenApiConnection",
                            "inputs": {
                              "parameters": {
                                "entityName": "revops_stateorprovinces",
                                "$select": "revops_stateorprovinceid, revops_name",
                                "$filter": "revops_iso3166_2 eq '@{body('Parse_company')?['geo']?['countryCode']}-@{body('Parse_company')?['geo']?['stateCode']}'",
                                "$top": 1
                              },
                              "host": {
                                "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                                "operationId": "ListRecords",
                                "connectionName": "shared_commondataserviceforapps-2"
                              }
                            },
                            "metadata": {
                              "operationMetadataId": "d155c079-0cc9-43f3-8c05-fcf6128ade98"
                            }
                          }
                        },
                        "else": {
                          "actions": {}
                        },
                        "runAfter": {
                          "Country_data_available": [
                            "Succeeded"
                          ]
                        },
                        "metadata": {
                          "operationMetadataId": "052a3116-aa19-4839-8277-f9d7fd961933"
                        }
                      },
                      "Set_geo": {
                        "type": "SetVariable",
                        "inputs": {
                          "name": "geo",
                          "value": {
                            "countryguid": "@{outputs('Get_Country')?['body/value']?[0]?['revops_countryid']}",
                            "subdivisionguid": "@{outputs('Get_Subdivision')?['body/value']?[0]?['revops_stateorprovinceid']}"
                          }
                        },
                        "runAfter": {
                          "Subdivision_data_available": [
                            "Succeeded",
                            "Failed",
                            "Skipped",
                            "TimedOut"
                          ],
                          "Country_data_available": [
                            "Succeeded"
                          ]
                        },
                        "metadata": {
                          "operationMetadataId": "f79eccd6-87b3-407d-8655-67efa0e801dc"
                        }
                      }
                    },
                    "metadata": {
                      "operationMetadataId": "e74c212d-e770-4f17-bd7d-d7351d401d0e"
                    }
                  },
                  "Set_company": {
                    "type": "SetVariable",
                    "inputs": {
                      "name": "company",
                      "value": {
                        "domain": "@{body('Parse_company')?['domain']}",
                        "logo": "@{body('Parse_company')?['logo']}",
                        "address": "@{body('Parse_company')?['geo']?['streetAddress']}",
                        "city": "@{body('Parse_company')?['geo']?['city']}",
                        "stateorprovince": "@{body('Parse_company')?['geo']?['statecode']}",
                        "subdivisionguid": "@{variables('geo')?['subdivisionguid']}",
                        "countrycode": "@{body('Parse_company')?['geo']?['countryCode']}",
                        "countryguid": "@{variables('geo')?['countryguid']}",
                        "postalcode": "@{body('Parse_company')?['geo']?['postalCode']}",
                        "lat": "@{body('Parse_company')?['geo']?['lat']}",
                        "lng": "@{body('Parse_company')?['geo']?['lng']}",
                        "legalname": "@{body('Parse_company')?['legalName']}",
                        "description": "@{body('Parse_company')?['description']}",
                        "annualrevenue": "@{body('Parse_company')?['metrics']?['annualRevenue']}",
                        "estimatedannualrevenue": "@{body('Parse_company')?['metrics']?['estimatedAnnualRevenue']}",
                        "foundedyear": "@{body('Parse_company')?['foundedYear']}",
                        "sector": "@{body('Parse_company')?['category']?['sector']}",
                        "industry": "@{body('Parse_company')?['category']?['industry']}",
                        "subindustry": "@{body('Parse_company')?['category']?['subIndustry']}",
                        "industrygroup": "@{body('Parse_company')?['category']?['industryGroup']}",
                        "employees": "@{body('Parse_company')?['metrics']?['employees']}",
                        "employeesrange": "@{body('Parse_company')?['metrics']?['employeesRange']}",
                        "gicscode": "@{body('Parse_company')?['category']?['gicsCode']}",
                        "siccode": "@{body('Parse_company')?['category']?['sicCode']}",
                        "companylinkedin": "@{body('Parse_company')?['linkedin']?['handle']}"
                      }
                    },
                    "runAfter": {
                      "Get_country_and_subdivision_GUIDs": [
                        "Succeeded"
                      ]
                    },
                    "metadata": {
                      "operationMetadataId": "10b6ec78-5385-4be4-a523-efba82444250"
                    }
                  },
                  "GICSCode_not_empty_or_null": {
                    "type": "If",
                    "expression": {
                      "and": [
                        {
                          "greater": [
                            "@length(variables('company')?['gicscode'])",
                            0
                          ]
                        }
                      ]
                    },
                    "actions": {
                      "Get_channel": {
                        "type": "OpenApiConnection",
                        "description": "GICS numeric codes are mapped to standard industry definitions in the revops_gicsmapping table.",
                        "inputs": {
                          "parameters": {
                            "entityName": "revops_gicsmappings",
                            "$select": "revops_channel",
                            "$filter": "revops_gicscode eq '@{variables('company')?['gicscode']}'"
                          },
                          "host": {
                            "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                            "operationId": "ListRecords",
                            "connectionName": "shared_commondataserviceforapps-2"
                          }
                        },
                        "metadata": {
                          "operationMetadataId": "68ffbfc0-acbe-4e6c-8de9-e1e65fc84e9b"
                        }
                      },
                      "channel_data": {
                        "type": "Compose",
                        "inputs": "@outputs('Get_channel')?['body/value']?[0]",
                        "runAfter": {
                          "Get_channel": [
                            "Succeeded"
                          ]
                        },
                        "metadata": {
                          "operationMetadataId": "af3affdb-3869-4019-814e-3831523944f2"
                        }
                      },
                      "channel_choice_value": {
                        "type": "Compose",
                        "inputs": "@outputs('channel_data')?['revops_channel']",
                        "runAfter": {
                          "channel_data": [
                            "Succeeded"
                          ]
                        },
                        "metadata": {
                          "operationMetadataId": "8dd830bd-7192-4ad3-9fc1-7c0599dac151"
                        }
                      },
                      "Update_Clearbit_fields_on_Account_-_clear_status": {
                        "type": "OpenApiConnection",
                        "inputs": {
                          "parameters": {
                            "entityName": "accounts",
                            "recordId": "@body('Lookup_Account_created')?['accountid']",
                            "item/revops_channel": "@outputs('channel_choice_value')",
                            "item/revops_clearbitenrichmentdetail": "@null"
                          },
                          "host": {
                            "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                            "operationId": "UpdateRecord",
                            "connectionName": "shared_commondataserviceforapps-2"
                          }
                        },
                        "runAfter": {
                          "channel_choice_value": [
                            "Succeeded"
                          ]
                        },
                        "metadata": {
                          "operationMetadataId": "e4121582-7228-4a53-8707-b06d4a1f83c9"
                        }
                      }
                    },
                    "else": {
                      "actions": {
                        "Update_Clearbit_Enrichment_Detail_-_empty_GICS": {
                          "type": "OpenApiConnection",
                          "inputs": {
                            "parameters": {
                              "entityName": "accounts",
                              "recordId": "@body('Lookup_Account_created')?['accountid']",
                              "item/revops_clearbitenrichmentdetail": "GICS Code not available"
                            },
                            "host": {
                              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                              "operationId": "UpdateRecord",
                              "connectionName": "shared_commondataserviceforapps-2"
                            }
                          },
                          "metadata": {
                            "operationMetadataId": "e4121582-7228-4a53-8707-b06d4a1f83c9"
                          }
                        }
                      }
                    },
                    "runAfter": {
                      "Set_company": [
                        "Succeeded"
                      ]
                    },
                    "metadata": {
                      "operationMetadataId": "d4eb0568-2f50-47cc-83e9-f6c74578dc63"
                    }
                  },
                  "Enrich_Account": {
                    "type": "OpenApiConnection",
                    "description": "Account table does not have country, state/province fields as lookups.",
                    "inputs": {
                      "parameters": {
                        "entityName": "accounts",
                        "recordId": "@body('Lookup_Account_created')?['accountid']",
                        "item/address1_city": "@{if(\r\n    or(\r\n        empty(body('Lookup_Account_created')?['address1_city']),\r\n        equals(body('Lookup_Account_created')?['address1_city'], null)\r\n    ),\r\n    if(\r\n        equals(\r\n            body('Parse_company')?['geo']?['city'],\r\n            null\r\n        ),\r\n        null,\r\n        body('Parse_company')?['geo']?['city']\r\n    ),\r\n    body('Lookup_Account_created')?['address1_city']\r\n)}",
                        "item/address1_country": "@{if(\r\n    or(\r\n        empty(body('Lookup_Account_created')?['address1_country']),\r\n        equals(body('Lookup_Account_created')?['address1_country'], null)\r\n    ),\r\n    if(\r\n        equals(\r\n            body('Parse_company')?['geo']?['country'],\r\n            null\r\n        ),\r\n        null,\r\n        body('Parse_company')?['geo']?['country']\r\n    ),\r\n    body('Lookup_Account_created')?['address1_country']\r\n)}",
                        "item/address1_stateorprovince": "@{if(\r\n    or(\r\n        empty(body('Lookup_Account_created')?['address1_stateorprovince']),\r\n        equals(body('Lookup_Account_created')?['address1_stateorprovince'], null)\r\n    ),\r\n    if(\r\n        equals(\r\n            body('Parse_company')?['geo']?['state'],\r\n            null\r\n        ),\r\n        null,\r\n        body('Parse_company')?['geo']?['state']\r\n    ),\r\n    body('Lookup_Account_created')?['address1_stateorprovince']\r\n)}",
                        "item/address1_line1": "@{if(\r\n    or(\r\n        empty(body('Lookup_Account_created')?['address1_line1']),\r\n        equals(body('Lookup_Account_created')?['address1_line1'], null)\r\n    ),        \r\n    if(\r\n        equals(\r\n            body('Parse_company')?['geo']?['streetAddress'],\r\n            null\r\n        ),\r\n        null,\r\n        body('Parse_company')?['geo']?['streetAddress']\r\n    ),\r\n    body('Lookup_Account_created')?['address1_line1']\r\n)}",
                        "item/address1_postalcode": "@{if(\r\n    or(\r\n        empty(body('Lookup_Account_created')?['address1_postalcode']),\r\n        equals(body('Lookup_Account_created')?['address1_postalcode'], null)\r\n    ),\r\n    if(\r\n        equals(\r\n            body('Parse_company')?['geo']?['postalCode'],\r\n            null\r\n        ),\r\n        null,\r\n        body('Parse_company')?['geo']?['postalCode']\r\n    ),\r\n    body('Lookup_Account_created')?['address1_postalcode']\r\n)}",
                        "item/revenue": "@if(\r\n    or(\r\n        empty(variables('company')?['annualrevenue']),\r\n        equals(\r\n            variables('company')?['annualrevenue'],\r\n            null\r\n        )\r\n    ),\r\n    null,\r\n    variables('company')?['annualrevenue']\r\n)",
                        "item/revops_domain": "@{variables('company')?['domain']}",
                        "item/telephone1": "@{if(\r\n    equals(\r\n        body('Parse_company')?['phone'],\r\n        null\r\n    ),\r\n    '',\r\n    replace(replace(replace(replace(body('Parse_company')?['phone'], '-', ''), '(', ''), ')', ''), '.', '')\r\n)}",
                        "item/address1_latitude": "@if(\r\n    equals(\r\n        body('Parse_company')?['geo']?['lat'],\r\n        null\r\n    ),\r\n    null,\r\n    body('Parse_company')?['geo']?['lat']\r\n)",
                        "item/address1_longitude": "@if(\r\n    equals(\r\n        body('Parse_company')?['geo']?['lng'],\r\n        null\r\n    ),\r\n    null,\r\n    body('Parse_company')?['geo']?['lng']\r\n)",
                        "item/revops_enricheddescription": "@{variables('company')?['description']}",
                        "item/revops_clearbitenrichedat": "@{utcNow()}",
                        "item/revops_clearbitindexedat": "@{if(\r\n    equals(\r\n        body('Parse_company')?['indexedAt'],\r\n        null\r\n    ), \r\n    null, \r\n    body('Parse_company')?['indexedAt']\r\n)}",
                        "item/revops_enrichedindustry": "@{variables('company')?['industry']}",
                        "item/revops_clearbitstatus": "@outputs('HTTP')?['statusCode']",
                        "item/revops_companylinkedinhandle": "@variables('company')?['companylinkedin']",
                        "item/revops_country@odata.bind": "@if(\r\n    or(\r\n        empty(body('Lookup_Account_created')?['revops_country']),\r\n        equals(body('Lookup_Account_created')?['revops_country'], null)\r\n    ),\r\n    if(\r\n        or(\r\n            equals(variables('company')?['countryguid'], null),\r\n            empty(variables('company')?['countryguid'])\r\n        ),\r\n        null,\r\n        concat('/revops_countries(', variables('company')?['countryguid'], ')')\r\n    ),\r\n    body('Lookup_Account_created')?['revops_country']\r\n)",
                        "item/revops_employeesrange": "@{variables('company')?['employeesrange']}",
                        "item/revops_estimatedannualrevenue": "@variables('company')?['estimatedannualrevenue']",
                        "item/revops_foundedyear": "@if(\r\n    or(\r\n        empty(variables('company')?['foundedYear']),\r\n        equals(\r\n            variables('company')?['foundedYear'],\r\n            null\r\n        )\r\n    ),\r\n    null,\r\n    variables('company')?['foundedYear']\r\n)",
                        "item/revops_gicscode": "@{variables('company')?['gicscode']}",
                        "item/revops_industrygroup": "@{variables('company')?['industrygroup']}",
                        "item/revops_iso3166alpha2countrycode": "@if(\r\n    or(\r\n        empty(body('Lookup_Account_created')?['revops_iso3166alpha2countrycode']),\r\n        equals(body('Lookup_Account_created')?['revops_iso3166alpha2countrycode'], null)\r\n    ),\r\n    if(\r\n        equals(\r\n            body('Parse_company')?['geo']?['country'],\r\n            null\r\n        ),\r\n        null,\r\n        body('Parse_company')?['geo']?['countrycode']\r\n    ),\r\n    body('Lookup_Account_created')?['revops_iso3166alpha2countrycode']\r\n)",
                        "item/revops_iso3166_2subdivisioncode": "@if(\r\n    or(\r\n        empty(body('Lookup_Account_created')?['revops_iso3166_2subdivisioncode']),\r\n        equals(body('Lookup_Account_created')?['revops_iso3166_2subdivisioncode'], null)\r\n    ),\r\n    if(\r\n        and(\r\n            not(equals(variables('company')?['countrycode'], null)),\r\n            not(empty(variables('company')?['countrycode'])),\r\n            not(equals(variables('company')?['stateorprovince'], null)),\r\n            not(empty(variables('company')?['stateorprovince']))\r\n        ),\r\n        concat(variables('company')?['countrycode'], '-', variables('company')?['stateorprovince']),\r\n        null\r\n    ),\r\n    concat(variables('company')?['countrycode'], '-', body('Lookup_Account_created')?['revops_iso3166_2subdivisioncode'])\r\n)",
                        "item/revops_logo": "@{variables('company')?['logo']}",
                        "item/revops_noemployees": "@if(\r\n    empty(\r\n        variables('company')?['employees']\r\n    ), \r\n    null,\r\n    variables('company')?['employees']\r\n)",
                        "item/revops_sector": "@{variables('company')?['sector']}",
                        "item/sic": "@{variables('company')?['siccode']}",
                        "item/revops_stateorprovince@odata.bind": "@if(\r\n    or(\r\n        empty(body('Lookup_Account_created')?['revops_stateorprovince']),\r\n        equals(body('Lookup_Account_created')?['revops_stateorprovince'], null)\r\n    ),\r\n    if(\r\n        or(\r\n            equals(variables('company')?['subdivisionguid'], null),\r\n            empty(variables('company')?['subdivisionguid'])\r\n        ),\r\n        null,\r\n        concat('/revops_stateorprovinces(', variables('company')?['subdivisionguid'], ')')\r\n    ),\r\n    body('Lookup_Account_created')?['revops_stateorprovince']\r\n)",
                        "item/revops_subindustry": "@{variables('company')?['subindustry']}"
                      },
                      "host": {
                        "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                        "operationId": "UpdateRecord",
                        "connectionName": "shared_commondataserviceforapps-2"
                      }
                    },
                    "runAfter": {
                      "Set_company": [
                        "Succeeded"
                      ]
                    },
                    "metadata": {
                      "operationMetadataId": "e4121582-7228-4a53-8707-b06d4a1f83c9"
                    }
                  }
                },
                "else": {
                  "actions": {
                    "Update_Clearbit_fields_on_Account_no_company_data": {
                      "type": "OpenApiConnection",
                      "inputs": {
                        "parameters": {
                          "entityName": "accounts",
                          "recordId": "@body('Lookup_Account_created')?['accountid']",
                          "item/revops_clearbitenrichedat": "@{utcNow()}",
                          "item/revops_clearbitenrichmentdetail": "Company data empty",
                          "item/revops_clearbitstatus": "@outputs('HTTP')?['statusCode']"
                        },
                        "host": {
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                          "operationId": "UpdateRecord",
                          "connectionName": "shared_commondataserviceforapps-2"
                        }
                      },
                      "metadata": {
                        "operationMetadataId": "e4121582-7228-4a53-8707-b06d4a1f83c9"
                      }
                    }
                  }
                },
                "runAfter": {
                  "Parse_company": [
                    "Succeeded",
                    "Failed"
                  ]
                },
                "metadata": {
                  "operationMetadataId": "b1b9016e-bf3a-44cf-bbc4-972c6937ea83"
                }
              }
            }
          },
          "runAfter": {
            "geo": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "a1419993-e17f-45ac-a7f8-6506df0eefc9"
          }
        },
        "Terminate": {
          "type": "Terminate",
          "inputs": {
            "runStatus": "Succeeded"
          },
          "runAfter": {
            "Error_404_or_422": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "b14822c2-ab90-4ac0-83b7-f43f141ac459"
          }
        },
        "geo": {
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "geo",
                "type": "object",
                "value": {}
              }
            ]
          },
          "runAfter": {
            "company": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "bd007841-84c0-4558-aa56-f02aea9fd73f"
          }
        }
      },
      "outputs": {}
    },
    "templateName": null
  },
  "schemaVersion": "1.0.0.0"
}