RevOps-Analysts/Documentation/Flows/cumulususercreated/flow.schema.json
{
  "properties": {
    "connectionReferences": {
      "shared_commondataserviceforapps": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "revops_sharedcommondataserviceforapps_61b07"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      },
      "shared_commondataserviceforapps_1": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "revops_sharedcommondataserviceforapps_84bd5"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        }
      },
      "triggers": {
        "When_a_row_is_added,_modified_or_deleted": {
          "metadata": {
            "operationMetadataId": "b228786c-3cc3-48ec-be0b-41593eb1552e"
          },
          "type": "OpenApiConnectionWebhook",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "SubscribeWebhookTrigger",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "subscriptionRequest/message": 1,
              "subscriptionRequest/entityname": "revops_cumulususer",
              "subscriptionRequest/scope": 4,
              "subscriptionRequest/filterexpression": "revops_integrationsource eq 234570000"
            },
            "authentication": "@parameters('$authentication')"
          }
        }
      },
      "actions": {
        "Contact_Count": {
          "runAfter": {
            "Get_Cumulus_Account": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "25797ad6-e611-44d7-8c51-ab69aac5dd18"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "ContactCount",
                "type": "integer"
              }
            ]
          }
        },
        "List_Contacts": {
          "runAfter": {
            "LinkedAccount": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "6219e847-cf27-4bce-bed1-f867ca5afac9"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "ListRecords",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "contacts",
              "$filter": "emailaddress1 eq '@{triggerOutputs()?['body/revops_email']}'"
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Set_variable_-_Contact_Count": {
          "runAfter": {
            "List_Contacts": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "1f359382-9250-43a4-becb-d42a0cf05d13"
          },
          "type": "SetVariable",
          "inputs": {
            "name": "ContactCount",
            "value": "@length(outputs('List_Contacts')?['body/value'])"
          }
        },
        "Matching_Contact": {
          "actions": {
            "Multiple_Matching_Contacts": {
              "actions": {},
              "runAfter": {},
              "else": {
                "actions": {
                  "Link_Cumulus_User_to_Matching_Contact": {
                    "runAfter": {},
                    "metadata": {
                      "operationMetadataId": "53fbcb76-82b6-4ff0-a0e0-aaabdb55d951"
                    },
                    "type": "OpenApiConnection",
                    "inputs": {
                      "host": {
                        "connectionName": "shared_commondataserviceforapps_1",
                        "operationId": "AssociateEntities",
                        "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                      },
                      "parameters": {
                        "entityName": "contacts",
                        "recordId": "@outputs('List_Contacts')?['body/value'][0]?['contactid']",
                        "associationEntityRelationship": "revops_cumulususer_contact_contact",
                        "item/@odata.id": "@outputs('Get_Cumulus_User')?['body/@odata.id']"
                      },
                      "authentication": "@parameters('$authentication')"
                    }
                  },
                  "Account_linked_to_Matching_Contact": {
                    "actions": {},
                    "runAfter": {
                      "Set_LinkedAccount": [
                        "Succeeded"
                      ]
                    },
                    "else": {
                      "actions": {
                        "Link_Account_to_Matching_Contact": {
                          "runAfter": {},
                          "metadata": {
                            "operationMetadataId": "624c1510-ab79-4605-bc70-6a0df2c57d81"
                          },
                          "type": "OpenApiConnection",
                          "inputs": {
                            "host": {
                              "connectionName": "shared_commondataserviceforapps",
                              "operationId": "AssociateEntities",
                              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                            },
                            "parameters": {
                              "entityName": "accounts",
                              "recordId": "@outputs('Get_Cumulus_Account')?['body/_revops_account_value']",
                              "associationEntityRelationship": "contact_customer_accounts",
                              "item/@odata.id": "@outputs('List_Contacts')?['body/value'][0]?['@odata.id']"
                            },
                            "authentication": "@parameters('$authentication')"
                          }
                        }
                      }
                    },
                    "expression": {
                      "not": {
                        "equals": [
                          "@variables('LinkedAccount')",
                          "@null"
                        ]
                      }
                    },
                    "metadata": {
                      "operationMetadataId": "53ea9f75-9592-4630-8859-551b5a713f5a"
                    },
                    "type": "If"
                  },
                  "Set_LinkedAccount": {
                    "runAfter": {
                      "Link_Cumulus_User_to_Matching_Contact": [
                        "Succeeded"
                      ]
                    },
                    "metadata": {
                      "operationMetadataId": "5dd6bc6e-08b9-4c96-a750-d7d9a85c14b5"
                    },
                    "type": "SetVariable",
                    "inputs": {
                      "name": "LinkedAccount",
                      "value": "@{outputs('List_Contacts')?['body/value'][0]?['parentcustomerid_value']}"
                    }
                  }
                }
              },
              "expression": {
                "greater": [
                  "@variables('ContactCount')",
                  1
                ]
              },
              "metadata": {
                "operationMetadataId": "50fda55d-6580-4c0d-9a11-2d1016fe5939"
              },
              "type": "If"
            }
          },
          "runAfter": {
            "Set_variable_-_Contact_Count": [
              "Succeeded"
            ]
          },
          "else": {
            "actions": {
              "Create_Contact": {
                "runAfter": {},
                "metadata": {
                  "operationMetadataId": "411bcc0f-bb48-4365-99ef-e9502024f7a8"
                },
                "type": "OpenApiConnection",
                "inputs": {
                  "host": {
                    "connectionName": "shared_commondataserviceforapps",
                    "operationId": "CreateRecord",
                    "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                  },
                  "parameters": {
                    "entityName": "contacts",
                    "item/lastname": "@outputs('Get_Cumulus_User')?['body/revops_lastname']",
                    "item/emailaddress1": "@outputs('Get_Cumulus_User')?['body/revops_email']",
                    "item/firstname": "@outputs('Get_Cumulus_User')?['body/revops_firstname']",
                    "item/ownerid@odata.bind": "/systemusers(@{variables('SystemUserID')})"
                  },
                  "authentication": "@parameters('$authentication')"
                }
              },
              "Link_Cumulus_User_to_Created_Contact": {
                "runAfter": {
                  "Create_Contact": [
                    "Succeeded"
                  ]
                },
                "metadata": {
                  "operationMetadataId": "8c61e0ac-c244-4b78-8175-2805662ff21a"
                },
                "type": "OpenApiConnection",
                "inputs": {
                  "host": {
                    "connectionName": "shared_commondataserviceforapps",
                    "operationId": "AssociateEntities",
                    "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                  },
                  "parameters": {
                    "entityName": "contacts",
                    "recordId": "@outputs('Create_Contact')?['body/contactid']",
                    "associationEntityRelationship": "revops_cumulususer_contact_contact",
                    "item/@odata.id": "@outputs('Get_Cumulus_User')?['body/@odata.id']"
                  },
                  "authentication": "@parameters('$authentication')"
                }
              },
              "Link_Account_to_Created_Contact": {
                "runAfter": {
                  "Link_Cumulus_User_to_Created_Contact": [
                    "Succeeded"
                  ]
                },
                "metadata": {
                  "operationMetadataId": "ad1c3e73-dd4e-46d7-9b5e-425d641c356c"
                },
                "type": "OpenApiConnection",
                "inputs": {
                  "host": {
                    "connectionName": "shared_commondataserviceforapps",
                    "operationId": "AssociateEntities",
                    "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                  },
                  "parameters": {
                    "entityName": "accounts",
                    "recordId": "@outputs('Get_Cumulus_Account')?['body/_revops_account_value']",
                    "associationEntityRelationship": "contact_customer_accounts",
                    "item/@odata.id": "@outputs('Create_Contact')?['body/@odata.id']"
                  },
                  "authentication": "@parameters('$authentication')"
                }
              }
            }
          },
          "expression": {
            "greaterOrEquals": [
              "@variables('ContactCount')",
              1
            ]
          },
          "metadata": {
            "operationMetadataId": "0c97dbae-d0f0-4cfc-8ded-e327ce924273"
          },
          "type": "If"
        },
        "Get_Cumulus_User": {
          "runAfter": {
            "SystemUserID": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "9082ce30-dd45-445c-a66d-a7350ea34c90"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "GetItem",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "revops_cumulususers",
              "recordId": "@triggerOutputs()?['body/revops_cumulususerid']"
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "LinkedAccount": {
          "runAfter": {
            "Contact_Count": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "2947e64d-7a05-4c27-9149-198404efae8e"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "LinkedAccount",
                "type": "string"
              }
            ]
          }
        },
        "Get_Cumulus_Account": {
          "runAfter": {
            "Get_Cumulus_User": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "2749c1cf-495d-480b-a698-088a79d55542"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "GetItem",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "revops_cumulusaccounts",
              "recordId": "@outputs('Get_Cumulus_User')?['body/_revops_cumulusaccount_value']"
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "List_Users": {
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "3eba32b7-5470-4ec9-9a8e-46bb7a02df5e"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "ListRecords",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "systemusers",
              "$select": "lastname",
              "$filter": "lastname eq 'ISC-DYN-10001-SVC-Dynamics365ObjectsOwner'"
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "SystemUserID": {
          "runAfter": {
            "List_Users": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "3474b5ef-0989-48a4-9949-1240d62b190f"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "SystemUserID",
                "type": "string",
                "value": "@{outputs('List_Users')?['body/value'][0]?['systemuserid']}"
              }
            ]
          }
        }
      }
    },
    "templateName": ""
  },
  "schemaVersion": "1.0.0.0"
}