RevOps-Analysts/Documentation/Flows/incompletecart/flow.schema.json
{
  "properties": {
    "connectionReferences": {
      "shared_commondataserviceforapps": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "revops_sharedcommondataserviceforapps_61b07"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      },
      "shared_commondataserviceforapps_1": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "revops_sharedcommondataserviceforapps_84bd5"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        }
      },
      "triggers": {
        "manual": {
          "metadata": {
            "operationMetadataId": "8674fb29-d155-4c4c-b7b3-0effcc9338c1"
          },
          "type": "Request",
          "kind": "Http",
          "inputs": {
            "schema": {
              "type": "object",
              "properties": {
                "channel": {
                  "type": "string"
                },
                "company_name": {
                  "type": "string"
                },
                "domain": {
                  "type": "string"
                },
                "address1_line1": {
                  "type": "string"
                },
                "address1_city": {
                  "type": "string"
                },
                "address1_stateorprovince": {
                  "type": "string"
                },
                "address1_postalcode": {
                  "type": "string"
                },
                "address1_country": {
                  "type": "string"
                },
                "firstname": {
                  "type": "string"
                },
                "lastname": {
                  "type": "string"
                },
                "emailaddress1": {
                  "type": "string"
                },
                "telephone1": {
                  "type": "string"
                },
                "language": {
                  "type": "string"
                }
              }
            },
            "method": "POST",
            "triggerAuthenticationType": "All"
          }
        }
      },
      "actions": {
        "Required_Fields": {
          "actions": {
            "List_Leads": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "d33b76ce-bdb8-405d-9198-09bb246bf43e"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps",
                  "operationId": "ListRecords",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "leads",
                  "$filter": "subject eq 'Incomplete Signup - @{triggerBody()?['emailaddress1']}'"
                },
                "authentication": "@parameters('$authentication')"
              }
            },
            "Duplicate_Check": {
              "actions": {
                "Language_Check": {
                  "actions": {
                    "Set_Language_-_French": {
                      "runAfter": {},
                      "metadata": {
                        "operationMetadataId": "9b4cc513-61a1-4488-9640-3ebd2d1411f2"
                      },
                      "type": "SetVariable",
                      "inputs": {
                        "name": "Language",
                        "value": 234570001
                      }
                    }
                  },
                  "runAfter": {},
                  "else": {
                    "actions": {
                      "Set_Language_-_English": {
                        "runAfter": {},
                        "metadata": {
                          "operationMetadataId": "0a68d953-0032-4875-b649-f5ee961fa2ba"
                        },
                        "type": "SetVariable",
                        "inputs": {
                          "name": "Language",
                          "value": 234570000
                        }
                      }
                    }
                  },
                  "expression": {
                    "contains": [
                      "@triggerBody()?['language']",
                      "fr"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "7fd77737-e88c-49f6-b823-494362ea4490"
                  },
                  "type": "If"
                },
                "List_Users": {
                  "runAfter": {
                    "Language_Check": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "e8a0c935-ee4f-4a5f-9179-519d1692eb9c"
                  },
                  "type": "OpenApiConnection",
                  "inputs": {
                    "host": {
                      "connectionName": "shared_commondataserviceforapps_1",
                      "operationId": "ListRecords",
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                    },
                    "parameters": {
                      "entityName": "systemusers",
                      "$select": "lastname",
                      "$filter": "lastname eq 'ISC-DYN-10001-SVC-Dynamics365ObjectsOwner'"
                    },
                    "authentication": "@parameters('$authentication')"
                  }
                },
                "Create_Lead": {
                  "runAfter": {
                    "List_Users": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "c40ababb-ed01-4c8d-bf13-d16247050894"
                  },
                  "type": "OpenApiConnection",
                  "inputs": {
                    "host": {
                      "connectionName": "shared_commondataserviceforapps_1",
                      "operationId": "CreateRecord",
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                    },
                    "parameters": {
                      "entityName": "leads",
                      "item/emailaddress1": "@triggerBody()?['emailaddress1']",
                      "item/subject": "Incomplete Signup - @{triggerBody()?['emailaddress1']}",
                      "item/address1_city": "@triggerBody()?['address1_city']",
                      "item/companyname": "@triggerBody()?['company_name']",
                      "item/address1_country": "@triggerBody()?['address1_country']",
                      "item/firstname": "@triggerBody()?['firstname']",
                      "item/lastname": "@triggerBody()?['lastname']",
                      "item/leadsourcecode": 234570001,
                      "item/address1_stateorprovince": "@triggerBody()?['address1_stateorprovince']",
                      "item/address1_line1": "@triggerBody()?['address1_line1']",
                      "item/address1_postalcode": "@triggerBody()?['address1_postalcode']",
                      "item/revops_accounttype": "@triggerBody()?['account_type']",
                      "item/address1_telephone1": "@triggerBody()?['telephone1']",
                      "item/revops_assignmentmethod": 930580002,
                      "item/revops_channel": 283040001,
                      "item/revops_domain": "@triggerBody()?['domain']",
                      "item/revops_languagechoice": "@variables('Language')",
                      "item/revops_leadtype": 283040001,
                      "item/ownerid@odata.bind": "/systemusers(@{outputs('List_Users')?['body/value'][0]?['systemuserid']})",
                      "item/msdyncrm_salesready": true
                    },
                    "authentication": "@parameters('$authentication')"
                  }
                }
              },
              "runAfter": {
                "List_Leads": [
                  "Succeeded"
                ]
              },
              "expression": {
                "less": [
                  "@length(outputs('List_Leads')?['body/value'])",
                  1
                ]
              },
              "metadata": {
                "operationMetadataId": "885d9ed8-1512-470d-bb32-1b9a5355721e"
              },
              "type": "If"
            }
          },
          "runAfter": {
            "Number_of_Leads": [
              "Succeeded"
            ]
          },
          "expression": {
            "and": [
              {
                "greater": [
                  "@length(coalesce(triggerBody()?['firstname'], ''))",
                  1
                ]
              },
              {
                "greater": [
                  "@length(coalesce(triggerBody()?['lastname'], ''))",
                  1
                ]
              },
              {
                "greater": [
                  "@length(coalesce(triggerBody()?['company_name'], ''))",
                  1
                ]
              },
              {
                "greater": [
                  "@length(coalesce(triggerBody()?['emailaddress1'], ''))",
                  1
                ]
              },
              {
                "greater": [
                  "@length(coalesce(triggerBody()?['address1_stateorprovince'], ''))",
                  1
                ]
              },
              {
                "greater": [
                  "@length(coalesce(triggerBody()?['address1_country'], ''))",
                  1
                ]
              }
            ]
          },
          "metadata": {
            "operationMetadataId": "bb51c327-554e-40fc-99e4-31e112427b83"
          },
          "type": "If"
        },
        "Language": {
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "ece1f9fd-57bf-4a4f-9534-acc931ab56a8"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "Language",
                "type": "integer"
              }
            ]
          }
        },
        "Number_of_Leads": {
          "runAfter": {
            "Language": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "00b706c8-cfdb-4cd9-88f9-082de0f3f69b"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "Number of Leads",
                "type": "string"
              }
            ]
          }
        }
      },
      "outputs": {}
    },
    "templateName": ""
  },
  "schemaVersion": "1.0.0.0"
}