RevOps-Analysts/Documentation/Flows/p2ptransferpopulationfromcase/flow.schema.json
{
  "properties": {
    "connectionReferences": {
      "shared_commondataserviceforapps-1": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "revops_sharedcommondataserviceforapps_88e45"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        },
        "ISC Object owner (revops_iscbjectowner)": {
          "defaultValue": "2aefc302-dbb3-ee11-a569-000d3a09cde5",
          "type": "String",
          "metadata": {
            "schemaName": "revops_iscbjectowner",
            "description": "User, Owner ISC-Object-Owner"
          }
        }
      },
      "triggers": {
        "New_Case_from_P2P_Transfer": {
          "metadata": {
            "operationMetadataId": "fc1832b9-6863-4608-97b5-dc8c8a123a84"
          },
          "type": "OpenApiConnectionWebhook",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps-1",
              "operationId": "SubscribeWebhookTrigger",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "subscriptionRequest/message": 1,
              "subscriptionRequest/entityname": "incident",
              "subscriptionRequest/scope": 4
            },
            "authentication": "@parameters('$authentication')"
          },
          "conditions": [
            {
              "expression": "@not(empty(triggerBody()?['revops_transferorgs']))"
            }
          ]
        }
      },
      "actions": {
        "Parse_JSON": {
          "runAfter": {
            "Get_Competitor_ID": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "e3fc84ec-a1b7-4d14-931f-23360ca9a0c5"
          },
          "type": "ParseJson",
          "inputs": {
            "content": "@triggerOutputs()?['body/revops_transferorgs']",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          }
        },
        "For_each": {
          "foreach": "@outputs('Parse_JSON')['body']",
          "actions": {
            "Get_Cumulus_Org": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "16f34192-9c31-4824-bbdb-f8f565bdcfb5"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps-1",
                  "operationId": "GetItem",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "revops_cumulusorganizations",
                  "recordId": "@items('For_each')"
                },
                "authentication": "@parameters('$authentication')"
              }
            },
            "Get_Platform_Settings": {
              "runAfter": {
                "Get_Cumulus_Org": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "76a40813-a8c3-48e5-9779-1cc732d032d4"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps-1",
                  "operationId": "ListRecords",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "revops_platformsettingses",
                  "$filter": "revops_organizationid eq '@{outputs('Get_Cumulus_Org')?['body/revops_id']}'",
                  "$top": 1
                },
                "authentication": "@parameters('$authentication')"
              }
            },
            "For_each_1": {
              "foreach": "@outputs('Get_Competitor_ID')?['body/value']",
              "actions": {
                "For_each_2": {
                  "foreach": "@outputs('Get_Platform_Settings')?['body/value']",
                  "actions": {
                    "Add_P2P_transfer_to_transfer_Table": {
                      "runAfter": {},
                      "metadata": {
                        "operationMetadataId": "d2ac7bd5-b9eb-49d2-a8a0-a743e438cb0f"
                      },
                      "type": "OpenApiConnection",
                      "inputs": {
                        "host": {
                          "connectionName": "shared_commondataserviceforapps-1",
                          "operationId": "CreateRecord",
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                        },
                        "parameters": {
                          "entityName": "revops_transfers",
                          "item/revops_case@odata.bind": "/incidents(@{triggerOutputs()?['body/incidentid']})",
                          "item/revops_competitor@odata.bind": "/competitors(@{triggerOutputs()?['body/_revops_losingcompetitor_value']})",
                          "item/revops_name": "@outputs('Get_Cumulus_Org')?['body/revops_name']",
                          "item/revops_competitorid@odata.bind": "/revops_competitortransferids(@{items('For_each_1')?['revops_competitortransferidid']})",
                          "item/revops_cumulusaccount@odata.bind": "/revops_cumulusaccounts(@{triggerOutputs()?['body/_revops_cumulusaccount_value']})",
                          "item/revops_cumulusorganization@odata.bind": "/revops_cumulusorganizations(@{outputs('Get_Cumulus_Org')?['body/revops_cumulusorganizationid']})",
                          "item/revops_microsoftid": "@items('For_each_2')?['revops_tenantid']",
                          "item/revops_partnercenterurl": "@{items('For_each_2')?['revops_partnercenterurl']}/Transfers",
                          "item/revops_platformsettings@odata.bind": "/revops_platformsettingses(@{items('For_each_2')?['revops_platformsettingsid']})",
                          "item/revops_readyfortransfer": false,
                          "item/revops_transferworkload": "@triggerOutputs()?['body/revops_transferworkload']"
                        },
                        "authentication": "@parameters('$authentication')"
                      }
                    }
                  },
                  "runAfter": {},
                  "metadata": {
                    "operationMetadataId": "16db1742-a65b-4f9d-9dea-adaead75986e"
                  },
                  "type": "Foreach"
                }
              },
              "runAfter": {
                "Get_Platform_Settings": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "12136dfd-8606-4835-860f-cd26e97a6a24"
              },
              "type": "Foreach"
            }
          },
          "runAfter": {
            "Parse_JSON": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "f21e274c-a4d5-4fc9-9195-3e4ddd1ee834"
          },
          "type": "Foreach",
          "runtimeConfiguration": {
            "concurrency": {
              "repetitions": 20
            }
          }
        },
        "Get_Competitor": {
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "2f8993a8-39b6-4f79-b289-d33282826335"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps-1",
              "operationId": "GetItem",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "competitors",
              "recordId": "@triggerOutputs()?['body/_revops_losingcompetitor_value']"
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Get_Competitor_ID": {
          "runAfter": {
            "Get_Competitor": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "00108955-33f9-4420-8c2f-ea91e41f4af8"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps-1",
              "operationId": "ListRecords",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "revops_competitortransferids",
              "$filter": "_revops_competitor_value eq @{triggerOutputs()?['body/_revops_losingcompetitor_value']}\n   and contains(revops_transfertype,'234570000')\n   and _revops_region_value eq @{triggerOutputs()?['body/_revops_competitorregion_value']}\n   and statecode eq 0",
              "$top": 1
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Update_Case_Owner": {
          "runAfter": {
            "For_each": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "49d9f868-4aba-4668-9bfb-f0dde6a5e6e1"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps-1",
              "operationId": "UpdateOnlyRecord",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "incidents",
              "recordId": "@triggerOutputs()?['body/incidentid']",
              "item/ownerid@odata.bind": "/systemusers(@{parameters('ISC Object owner (revops_iscbjectowner)')})"
            },
            "authentication": "@parameters('$authentication')"
          }
        }
      }
    },
    "templateName": ""
  },
  "schemaVersion": "1.0.0.0"
}