AIDocumentation/Flows/day0-cumulusces/flow.schema.json
{
  "properties": {
    "connectionReferences": {
      "shared_commondataserviceforapps": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "new_sharedcommondataserviceforapps_c5511"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        }
      },
      "triggers": {
        "Recurrence": {
          "recurrence": {
            "frequency": "Week",
            "interval": 1,
            "timeZone": "Eastern Standard Time",
            "schedule": {
              "weekDays": [
                "Monday",
                "Thursday"
              ],
              "hours": [
                "10"
              ]
            }
          },
          "metadata": {
            "operationMetadataId": "7b9247bb-0de7-435a-95cb-eb24ec4241a2"
          },
          "type": "Recurrence"
        }
      },
      "actions": {
        "List_rows_-_customer_voice_survey_responses": {
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "23d5cfc8-dfb5-467c-a9eb-ae3ffa7507cb"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "ListRecords",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "msfp_surveyresponses",
              "$filter": "_msfp_surveyid_value eq bc48df11-c849-ef11-acce-6045bd5efebd"
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "For_each": {
          "foreach": "@outputs('List_rows_-_customer_voice_survey_responses')?['body/value']",
          "actions": {
            "Condition_respondent_null": {
              "actions": {
                "Parse_JSON": {
                  "runAfter": {},
                  "metadata": {
                    "operationMetadataId": "496319f3-f78c-4f87-96ab-3ea8333c5106"
                  },
                  "type": "ParseJson",
                  "inputs": {
                    "content": "@items('For_each')?['msfp_embedcontextparameters']",
                    "schema": {
                      "type": "object",
                      "properties": {
                        "EmbedContextParameters": {
                          "type": "object",
                          "properties": {
                            "First Name": {
                              "type": "string"
                            },
                            "Last Name": {
                              "type": "string"
                            },
                            "locale": {
                              "type": "string"
                            },
                            "Email": {
                              "type": "string"
                            },
                            "UserID": {
                              "type": "string"
                            },
                            "companyname": {
                              "type": "string"
                            }
                          }
                        }
                      }
                    }
                  }
                },
                "Compose_-_get_userid": {
                  "runAfter": {
                    "Parse_JSON": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "afc91a3e-2fd9-4cd2-a28f-d5d0bd7a4116"
                  },
                  "type": "Compose",
                  "inputs": "@body('Parse_JSON')?['EmbedContextParameters']?['UserID']"
                },
                "List_rows_-_cumulus_users": {
                  "runAfter": {
                    "Compose_-_get_userid": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "6c8fde77-7974-4de6-9ab1-14f2a9b0c63c"
                  },
                  "type": "OpenApiConnection",
                  "inputs": {
                    "host": {
                      "connectionName": "shared_commondataserviceforapps",
                      "operationId": "ListRecords",
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                    },
                    "parameters": {
                      "entityName": "revops_cumulususers",
                      "$filter": "revops_useraccountid eq @{body('Parse_JSON')?['EmbedContextParameters']?['UserID']}",
                      "$orderby": "revops_useraccountid desc",
                      "$top": 1
                    },
                    "authentication": "@parameters('$authentication')"
                  }
                },
                "List_rows_-_Contacts": {
                  "runAfter": {
                    "List_rows_-_cumulus_users": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "8e0cd417-fb90-4260-a430-e6ac1543cbb0"
                  },
                  "type": "OpenApiConnection",
                  "inputs": {
                    "host": {
                      "connectionName": "shared_commondataserviceforapps",
                      "operationId": "ListRecords",
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                    },
                    "parameters": {
                      "entityName": "contacts",
                      "$filter": "emailaddress1 eq '@{first(outputs('List_rows_-_Cumulus_Users')?['body/value'])?['revops_email']}'\n",
                      "$orderby": "modifiedon desc",
                      "$top": 1
                    },
                    "authentication": "@parameters('$authentication')"
                  }
                },
                "For_each_1": {
                  "foreach": "@outputs('List_rows_-_Contacts')?['body/value']",
                  "actions": {
                    "Update_a_row_-_survey_CES": {
                      "runAfter": {},
                      "metadata": {
                        "operationMetadataId": "58465893-6dea-4af5-9b0c-63c77c72585d"
                      },
                      "type": "OpenApiConnection",
                      "inputs": {
                        "host": {
                          "connectionName": "shared_commondataserviceforapps",
                          "operationId": "UpdateOnlyRecord",
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                        },
                        "parameters": {
                          "entityName": "msfp_surveyresponses",
                          "recordId": "@items('For_each')?['activityid']",
                          "item/msfp_respondent": "@items('For_each_1')?['fullname']",
                          "item/msfp_respondentemailaddress": "@items('For_each_1')?['emailaddress1']"
                        },
                        "authentication": "@parameters('$authentication')"
                      }
                    }
                  },
                  "runAfter": {
                    "List_rows_-_Contacts": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "028fc41e-c775-4ab9-b0c9-f94a9dc5bfd9"
                  },
                  "type": "Foreach"
                }
              },
              "runAfter": {},
              "expression": {
                "or": [
                  {
                    "equals": [
                      "@items('For_each')?['msfp_respondentemailaddress']",
                      "@null"
                    ]
                  },
                  {
                    "equals": [
                      "@items('For_each')?['msfp_respondent']",
                      "@null"
                    ]
                  }
                ]
              },
              "metadata": {
                "operationMetadataId": "763bbde1-bbd6-4130-9ad4-7c572a7b87cb"
              },
              "type": "If"
            }
          },
          "runAfter": {
            "List_rows_-_customer_voice_survey_responses": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "cceb7e4c-e45f-4c3c-b44c-a3ba5b946e63"
          },
          "type": "Foreach"
        }
      }
    },
    "templateName": ""
  },
  "schemaVersion": "1.0.0.0"
}