RevOps-Analysts/Documentation/Flows/linkcumulususerstocontact/flow.schema.json
{
  "properties": {
    "connectionReferences": {
      "shared_commondataserviceforapps_1": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "revops_sharedcommondataserviceforapps_84bd5"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      },
      "shared_commondataserviceforapps": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "new_sharedcommondataserviceforapps_24695"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        }
      },
      "triggers": {
        "manual": {
          "metadata": {
            "operationMetadataId": "241eca6a-7e48-423b-98cb-f39be875fb9f"
          },
          "type": "Request",
          "kind": "Button",
          "inputs": {
            "schema": {
              "type": "object",
              "properties": {},
              "required": []
            }
          }
        }
      },
      "actions": {
        "List_Cumulus_Users": {
          "runAfter": {
            "SystemUserID": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "4984f159-ea22-4dd7-92a3-4d7f71e6dea6"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps_1",
              "operationId": "ListRecords",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "revops_cumulususers",
              "$filter": "revops_contact eq null"
            },
            "authentication": {
              "type": "Raw",
              "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"
            }
          }
        },
        "Apply_to_each": {
          "foreach": "@outputs('List_Cumulus_Users')?['body/value']",
          "actions": {
            "List_Contacts": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "878254cd-e9f0-4152-8320-3db2c978fb3e"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps_1",
                  "operationId": "ListRecords",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "contacts",
                  "$filter": "emailaddress1 eq '@{items('Apply_to_each')?['revops_email']}'"
                },
                "authentication": {
                  "type": "Raw",
                  "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"
                }
              }
            },
            "Matching_Contact": {
              "actions": {
                "Multiple_Matching_Contacts": {
                  "actions": {},
                  "runAfter": {},
                  "else": {
                    "actions": {
                      "Link_Cumulus_User_to_Matching_Contact": {
                        "runAfter": {},
                        "metadata": {
                          "operationMetadataId": "53fbcb76-82b6-4ff0-a0e0-aaabdb55d951"
                        },
                        "type": "OpenApiConnection",
                        "inputs": {
                          "host": {
                            "connectionName": "shared_commondataserviceforapps_1",
                            "operationId": "AssociateEntities",
                            "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                          },
                          "parameters": {
                            "entityName": "contacts",
                            "recordId": "@outputs('List_Contacts')?['body/value'][0]?['contactid']",
                            "associationEntityRelationship": "revops_cumulususer_contact_contact",
                            "item/@odata.id": "@items('Apply_to_each')?['@odata.id']"
                          },
                          "authentication": {
                            "type": "Raw",
                            "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"
                          }
                        }
                      }
                    }
                  },
                  "expression": {
                    "greater": [
                      "@variables('ContactCount')",
                      1
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "50fda55d-6580-4c0d-9a11-2d1016fe5939"
                  },
                  "type": "If"
                }
              },
              "runAfter": {
                "Get_Cumulus_Account": [
                  "Succeeded"
                ]
              },
              "else": {
                "actions": {
                  "Create_Contact": {
                    "runAfter": {},
                    "metadata": {
                      "operationMetadataId": "411bcc0f-bb48-4365-99ef-e9502024f7a8"
                    },
                    "type": "OpenApiConnection",
                    "inputs": {
                      "host": {
                        "connectionName": "shared_commondataserviceforapps",
                        "operationId": "CreateRecord",
                        "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                      },
                      "parameters": {
                        "entityName": "contacts",
                        "item/lastname": "@items('Apply_to_each')?['revops_lastname']",
                        "item/emailaddress1": "@items('Apply_to_each')?['revops_email']",
                        "item/firstname": "@items('Apply_to_each')?['revops_firstname']",
                        "item/ownerid@odata.bind": "/systemusers(@{variables('SystemUserID')})"
                      },
                      "authentication": {
                        "type": "Raw",
                        "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"
                      }
                    }
                  },
                  "Link_Cumulus_User_to_Created_Contact": {
                    "runAfter": {
                      "Create_Contact": [
                        "Succeeded"
                      ]
                    },
                    "metadata": {
                      "operationMetadataId": "8c61e0ac-c244-4b78-8175-2805662ff21a"
                    },
                    "type": "OpenApiConnection",
                    "inputs": {
                      "host": {
                        "connectionName": "shared_commondataserviceforapps",
                        "operationId": "AssociateEntities",
                        "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                      },
                      "parameters": {
                        "entityName": "contacts",
                        "recordId": "@outputs('Create_Contact')?['body/contactid']",
                        "associationEntityRelationship": "revops_cumulususer_contact_contact",
                        "item/@odata.id": "@items('Apply_to_each')?['@odata.id']"
                      },
                      "authentication": {
                        "type": "Raw",
                        "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"
                      }
                    }
                  },
                  "Link_Account_to_Created_Contact": {
                    "runAfter": {
                      "Link_Cumulus_User_to_Created_Contact": [
                        "Succeeded"
                      ]
                    },
                    "metadata": {
                      "operationMetadataId": "ad1c3e73-dd4e-46d7-9b5e-425d641c356c"
                    },
                    "type": "OpenApiConnection",
                    "inputs": {
                      "host": {
                        "connectionName": "shared_commondataserviceforapps",
                        "operationId": "AssociateEntities",
                        "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                      },
                      "parameters": {
                        "entityName": "accounts",
                        "recordId": "@outputs('Get_Cumulus_Account')?['body/_revops_account_value']",
                        "associationEntityRelationship": "contact_customer_accounts",
                        "item/@odata.id": "@body('Create_Contact')?['@odata.id']"
                      },
                      "authentication": {
                        "type": "Raw",
                        "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"
                      }
                    }
                  }
                }
              },
              "expression": {
                "and": [
                  {
                    "greaterOrEquals": [
                      "@variables('ContactCount')",
                      1
                    ]
                  }
                ]
              },
              "metadata": {
                "operationMetadataId": "9694c87b-0d69-4d51-9edc-0dce84cd2256"
              },
              "type": "If"
            },
            "Get_Cumulus_Account": {
              "runAfter": {
                "Set_variable": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "08e3e2dd-0ab1-4cc7-8138-71d7c82e4b5b"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps",
                  "operationId": "GetItem",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "revops_cumulusaccounts",
                  "recordId": "@items('Apply_to_each')?['_revops_cumulusaccount_value']"
                },
                "authentication": {
                  "type": "Raw",
                  "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"
                }
              }
            },
            "Set_variable": {
              "runAfter": {
                "List_Contacts": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "4c8c43f8-cc20-4fb0-8e78-28d8c145a3b4"
              },
              "type": "SetVariable",
              "inputs": {
                "name": "ContactCount",
                "value": "@length(outputs('List_Contacts')?['body/value'])"
              }
            }
          },
          "runAfter": {
            "Contact_Count": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "543fc815-b871-4873-beb2-cf8dae8aabe6"
          },
          "type": "Foreach"
        },
        "Contact_Count": {
          "runAfter": {
            "List_Cumulus_Users": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "9269a600-c482-4628-b25d-79260d8f9561"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "ContactCount",
                "type": "integer"
              }
            ]
          }
        },
        "List_Users": {
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "3eba32b7-5470-4ec9-9a8e-46bb7a02df5e"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "ListRecords",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "systemusers",
              "$select": "lastname",
              "$filter": "lastname eq 'ISC-DYN-10001-SVC-Dynamics365ObjectsOwner'"
            },
            "authentication": {
              "type": "Raw",
              "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"
            }
          }
        },
        "SystemUserID": {
          "runAfter": {
            "List_Users": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "3474b5ef-0989-48a4-9949-1240d62b190f"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "SystemUserID",
                "type": "string",
                "value": "@{outputs('List_Users')?['body/value'][0]?['systemuserid']}"
              }
            ]
          }
        }
      }
    },
    "templateName": ""
  },
  "schemaVersion": "1.0.0.0"
}